{% extends "layout.html" %}

{% block pageTitle %}
  Teaching Vacancies Prototype Kit - Prototypes
{% endblock %}

{% block main %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h1 class="govuk-heading-l">Sign in to Teaching Vacancies</h1>
                
                <h2 class="govuk-heading-m">To find a job</h2>
                <p class="govuk-body">Intro text here</p>
                {{ govukButton({
                    text: "Continue as a job seeker",
                    href: "#",
                    classes: "govuk-!-margin-bottom-0"
                }) }}

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">To advertise/manage jobs</h2>
                <p class="govuk-body">Intro text here</p>
                {{ govukButton({
                    text: "Continue as an admin",
                    href: "/prototypes/journey/dfe-sign-in.html",
                    classes: "govuk-!-margin-bottom-0"
                }) }}

            </div>	

            <div class="govuk-grid-column-one-third-from-desktop">
                <h2 class="govuk-heading-m">Create an account</h2>
            </div>

        </div>

    </main>
</div>
{% endblock %}
