{% extends "layout_gds-basic.html" %}

{% block pageTitle %}
  Prototype start
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Creating alerts for jobs (Jobseeker)</h1>
        <h5 class="govuk-heading-s">Usability test - September 2020</h5>

        <h3 class="govuk-heading-s">Task 1</h3>
        <p>Search for a teaching job</p>
        <a href="service-start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start prototype
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>

        <!--
        <h3 class="govuk-heading-m">Task 2</h3>
        <p>Arrive from 3rd-party source</p>
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start prototype
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>
        -->

        <h4 class="govuk-heading-s">All pages</h4>
        <!-- <p>Task 1</p> -->
        <ul>
            <li><a href="service-start">Service start</a></li> 
            <li><a href="search-results">Search results</a></li>
            <li><a href="listing-1">Job listing</a></li>
            <li><a href="create-1">Create job alert</a></li>
            <li><a href="create-success-email">Create success (email)</a></li>
            <li><a href="create-success-sms">Create success (sms)</a></li>
            <li><a href="email-confirmation">Alert confirmation (email)</a></li>
            <li><a href="sms-confirmation">Alert confirmation (sms)</a></li>
            <li><a href="email-alert">Job alert (email)</a></li>
            <li><a href="sms-alert">Job alert (sms)</a></li>
            <li><a href="manage-1">Manage alert</a></li>
            <li><a href="manage-edit">Edit alert criteria</a></li>
            <li><a href="manage-1.html">Manage success (email)</a></li>
        </ul>
        <!-- <p>Task 2</p> -->

    </div>

    <div class="govuk-grid-column-one-third">


    </div>

</div>

{% endblock %}
