{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "index",
      serviceName: serviceName,
      serviceUrl: "index",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "a-start",
        text: "Find a teaching job"
      },
      {
        href: "#",
        text: "List a teaching job"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Edit alert criteria</h1>
    </div>
</div>

<div class="govuk-grid-row">

    <!-- Main content START -->
    <div class="govuk-grid-column-three-quarters">

        <!-- FORM Start -->
        <form class="" action="manage-1" method="post">

            <!-- START Keyword -->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="keywords">Keywords</label>
                <input
                    class="govuk-input govuk-!-width-two-thirds"
                    id="keywords"
                    name="keywords"
                    type="text"
                    placeholder="{{ data['keywords'] }}"
                />
            </div>
            <!-- END Keyword -->

            <!-- START Location -->
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <label class="govuk-label govuk-label--m" for="location">Location</label>
                    <input
                        class="govuk-input govuk-!-width-one-half"
                        id="location"
                        name="location"
                        type="text"
                        placeholder="{{ data['location'] }}"
                    />
                    <p class="govuk-!-margin-bottom-0">
                        or <a href="#">use current location</a>
                    </p>
                </fieldset>
            </div>
            <!-- END Location -->

            <div class="govuk-inset-text distance-inset govuk-!-margin-bottom-6">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                        Within a radius of
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                        <option value="">5 miles</option>
                        <option value="" selected="selected">10 miles</option>
                        <option value="">20 miles</option>
                        <option value="">30 miles</option>
                        <option value="">40 miles</option>
                        <option value="">50 miles</option>
                    </select>
                </div>
            </div>

            <!-- ROLE START -->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="subject">
                    Job role
                </label>
                <!-- <span id="subject-hint" class="govuk-hint">
                    What subject(s) will the teacher focus on?
                </span> -->
                <!-- SELECTIONS start -->
                <div class="options-container-noSearch">
                    <!-- checkstart -->
                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="role1" name="roles" type="checkbox" value="role 1">
                            <label class="govuk-label govuk-checkboxes__label" for="role1">
                                Teacher
                            </label>
                        </div>
                    </div>
                    <!-- check end -->
                    <!-- checkstart -->
                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="role2" name="roles" type="checkbox" value="role 2">
                            <label class="govuk-label govuk-checkboxes__label" for="role2">
                                Leadership
                            </label>
                        </div>
                    </div>
                    <!-- check end -->
                    <!-- checkstart -->
                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="role3" name="roles" type="checkbox" value="role 3">
                            <label class="govuk-label govuk-checkboxes__label" for="role3">
                                Suitable for NQT's
                            </label>
                        </div>
                    </div>
                    <!-- check end -->
                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="role4" name="roles" type="checkbox" value="role 4">
                            <label class="govuk-label govuk-checkboxes__label" for="role4">
                                SEN Specialist
                            </label>
                        </div>
                    </div>
                    <!-- check end -->
                </div>
                <!-- SELECTIONS end -->
            </div>
            <!-- ROLE END -->

            <!-- EDUCATION PHASE START -->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="subject">
                    Education phase
                </label>
                <!-- <span id="subject-hint" class="govuk-hint">
                    What subject(s) will the teacher focus on?
                </span> -->
                <!-- SELECTIONS start -->
                <div class="options-container-noSearch">
                    <!-- checkstart -->
                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="phase1" name="phase" type="checkbox" value="phase 1">
                            <label class="govuk-label govuk-checkboxes__label" for="phase1">
                                Primary
                            </label>
                        </div>
                    </div>
                    <!-- check end -->
                    <!-- checkstart -->
                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="phase2" name="phase" type="checkbox" value="phase 2">
                            <label class="govuk-label govuk-checkboxes__label" for="phase2">
                                Secondary
                            </label>
                        </div>
                    </div>
                    <!-- check end -->
                    <!-- checkstart -->
                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="phase3" name="phase" type="checkbox" value="phase 3">
                            <label class="govuk-label govuk-checkboxes__label" for="phase3">
                                All through
                            </label>
                        </div>
                    </div>
                    <!-- check end -->
                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="phase4" name="phase" type="checkbox" value="phase 4">
                            <label class="govuk-label govuk-checkboxes__label" for="phase4">
                                Sixteen plus
                            </label>
                        </div>
                    </div>
                    <!-- check end -->
                </div>
                <!-- SELECTIONS end -->
            </div>
            <!-- EDUCATION PHASE END -->

            <!-- WORKING PATTERN START -->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="subject">
                    Working pattern
                </label>
                <!-- <span id="subject-hint" class="govuk-hint">
                    What subject(s) will the teacher focus on?
                </span> -->
                <!-- SELECTIONS start -->
                <div class="options-container-noSearch">
                    <!-- checkstart -->
                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="pattern1" name="pattern" type="checkbox" value="pattern 1">
                            <label class="govuk-label govuk-checkboxes__label" for="pattern1">
                                Full time
                            </label>
                        </div>
                    </div>
                    <!-- check end -->
                    <!-- checkstart -->
                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="pattern2" name="pattern" type="checkbox" value="pattern 2">
                            <label class="govuk-label govuk-checkboxes__label" for="pattern2">
                                Part time
                            </label>
                        </div>
                    </div>
                    <!-- check end -->
                    <!-- checkstart -->
                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="pattern3" name="pattern" type="checkbox" value="pattern 3">
                            <label class="govuk-label govuk-checkboxes__label" for="pattern3">
                                Job share
                            </label>
                        </div>
                    </div>
                    <!-- check end -->
                </div>
                <!-- SELECTIONS end -->
            </div>
            <!-- WORKING PATTERN END -->

            <button class="govuk-button" data-module="govuk-button">Save changes</button>
            <br>
            <a href="#">Cancel</a>

        </form>
        <!-- FORM End -->

    </div>
    <!-- Main content END -->

    <!-- Sidebar START -->
    <div class="govuk-grid-column-one-quarter">

    </div>
    <!-- Sidebar END -->

</div>

{% endblock %}
