{% if data.realFooter == '1' %}
  {% set items = [{
      href: "#",
      text: "Get help or report a problem"
    },{
      href: "#",
      text: "Give feedback"
    }, {
      href: "#",
      text: "Cookies"
    },
    {
      href: "#",
      text: "Privacy policy"
    },
    {
      href: "#",
      text: "Terms and conditions"
    },
    {
      href: "#",
      text: "Accessibililtiy"
    }] %}
  {% set html = '<a href="?realFooter=0">Turn off real footer</a>' %}
{% else %}
  {% set items = [{
    href: "https://govuk-prototype-kit.herokuapp.com/",
    text: "GOV.UK Prototype Kit " + releaseVersion
  },
  {
    href: '/account/sign-in-as-profile',
    text: 'Sign in as profile'
  },
  {
    href: "/prototype-admin/clear-data",
    text: "Clear data"
  }] %}
  {% set html = '<a href="?realFooter=1">Turn on real footer</a>' %}
{% endif %}

{# {{ govukFooter({
  meta: {
    items: items,
    visuallyHiddenTitle: "Footer links"
  }
}) }} #}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  navigation: [
    {
      title: "Jobs by category",
      width: "one-third",
      items: [{
        href: "/jobs-by-type-of-school-and-role",
        text: "Jobs by type of school and role"
      },
      {
        href: "/landing",
        text: "School and teaching jobs by location"
      },
      {
        href: "/landing",
        text: "Teaching jobs by subject"
      }]
    },
    {
      title: "Job seekers",
      width: "one-third",
      items: [
        {
          href: "/account/sign-in",
          text: "Sign in"
        },
        {
          href: "#",
          text: "Writing a personal statement"
        }
      ]
    },
    {
      title: "Hiring staff",
      width: "one-third",
      items: [{
        href: "#",
        text: "Sign in"
      },
      {
        href: "#",
        text: "School hiring guides"
      }]
    }
  ],
  meta: {
    items: items,
    html:  html
  }
}) }}