{% if user %}

    {% set navigationItems = [{
        href: "/profile",
        text: "Your profile",
        active: primaryNavId == 'profile'
      } if user.accountType == 'teaching',
      {
        href: "/account",
        text: "Your account",
        active: primaryNavId == 'account'
      }, {
        href: "/account/sign-out",
        text: "Sign out"
      }]
    %}

{% else %}
  {% set navigationItems = [{
      href: "/account/new",
      text: "Create account"
    }, {
      href: "/account/sign-in",
      text: "Sign in"
    }]
  %}

{% endif %}

{{ govukHeader({
  containerClasses: "govuk-width-container",
  navigationLabel: "Account menu",
  "navigationClasses": "govuk-header__navigation--end",
  "productName": serviceName,
  "navigation": navigationItems
}) }}
