{% if user %}
  {% set navigationItems = [{
      href: "/profile",
      text: "Profile",
      active: primaryNavId == 'profile'
    },
    {
      href: "/account",
      text: "Account",
      active: primaryNavId == 'account'
    }, {
      href: "/account/sign-out",
      text: "Sign out"
    }]
  %}

{% else %}
  {% set navigationItems = [{
      href: "/account/new",
      text: "Create account"
    }, {
      href: "/account/sign-in",
      text: "Sign in"
    }]
  %}
{% endif %}

{{ govukHeader({
  containerClasses: "govuk-width-container",
  navigationLabel: "Account menu",
  "navigationClasses": "govuk-header__navigation--end",
  "productName": serviceName,
  "navigation": navigationItems
}) }}
