<div id="itt-banner" class="itt-banner" style="background-color: #f3f2f1; border-top:1px solid #b1b4b6}">
    <div class="govuk-width-container">
        <div class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h1 class="govuk-heading-l">
                        Hey [name], welcome to Teaching Vacancies
                    </h1>
                    <p class="govuk-body-l">
                        We are a DFE service dedicated to getting teachers jobs. We can send jobs to your email, so when the next [primary teacher] jobs come up in your area we can let you know!
                    </p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <img style="max-width:80%; float:right; height: auto; border:1px solid #b1b4b6;" decoding="async" class="gdsc-image-card__image" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/get-help-applying-for-teaching-jobs.jpg" alt="A wide photo of a classroom full of smiling children sat down looking up at the camera.">
                </div>
            </div>
        </div>
    </div>
</div>
