
  {% set countOfMatch = 0 %}
  
  {% if data['filter-role'] %}  {% set filterRole %} {{data['filter-role'] }} {% endset %} {% set countOfMatch = countOfMatch + 1 %} {% else %} {% set filterRole %}{% endset %} {% endif %}
  {% if data['filter-phase'] %}  {% set filterPhase %} {{data['filter-phase'] }} {% endset %} {% set countOfMatch = countOfMatch + 1 %} {% else %} {% set filterPhase %}{% endset %} {% endif %}
  {% if data['filter-suitability'] %}  {% set filterSuitability %} {{ data['filter-suitability'] }} {% endset %} {% set countOfMatch = countOfMatch + 1 %} {% else %}  {% set filterSuitability %}{% endset %} {% endif %}
  {% if data['filter-workingPatterns'] %}  {% set filterPatterns %} {{data['filter-workingPatterns'] }} {% endset %} {% set countOfMatch = countOfMatch + 1 %} {% else %} {% set filterPatterns %}{% endset %} {% endif %}
  {% if data['filter-keyStages'] %}  {% set filterStages %} {{data['filter-keyStages'] }} {% endset %} {% set countOfMatch = countOfMatch + 1 %} {% else %} {% set filterStages %}{% endset %} {% endif %}
  {% if data['filter-quick'] %}  {% set filterQuick %} {{data['filter-quick'] }} {% endset %} {% set countOfMatch = countOfMatch + 1 %} {% else %} {% set filterQuick %}{% endset %} {% endif %}
  {% if data['filter-international'] %}  {% set filterInternational %}Skilled Worker visas can be sponsored{% endset %} {% set countOfMatch = countOfMatch + 1 %} {% else %} {% set filterInternational %}{% endset %} {% endif %}

{% set filterOptionsHtml %}

    <section>

    <div class="govuk-form-group filter-bottom govuk-!-margin-top-0">
        <fieldset class="govuk-fieldset govuk-checkboxes--small">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-bottom-0">
              Job type
            </legend>
            <ul class="govuk-checkboxes gem-c-checkboxes__list" data-module="govuk-checkboxes">
                <li class="govuk-checkboxes__item" data-testid="job-name">
                    <input {% if 'Teaching and Lecturing' in filterRole %}checked{% endif %} type="checkbox" name="filter-role" class="govuk-checkboxes__input" id="job-teaching-assistant" value="Teaching and Lecturing">
                    <label class="govuk-label govuk-checkboxes__label" for="job-teaching-assistant">Teaching and lecturing</label>
                </li>
                
                <li class="govuk-checkboxes__item" data-testid="job-name">
                    <input {% if 'Support' in filterRole  %}checked{% endif %} type="checkbox" name="filter-role" class="govuk-checkboxes__input" id="job-learning-support" value="Support">
                    <label class="govuk-label govuk-checkboxes__label" for="job-learning-support">
                        Support
                    </label>
                </li>
                
                <li class="govuk-checkboxes__item" data-testid="job-name">
                    <input {% if 'SEN' in filterRole  %}checked{% endif %}  type="checkbox" name="filter-role" class="govuk-checkboxes__input" id="job-admin" value="SEN">
                    <label class="govuk-label govuk-checkboxes__label" for="job-admin">
                        SEN
                    </label>
                </li>

                <li class="govuk-checkboxes__item" data-testid="job-name">
                    <input {% if 'Leadership' in filterRole  %}checked{% endif %}  type="checkbox" name="filter-role" class="govuk-checkboxes__input" id="job-catering" value="Leadership">
                    <label class="govuk-label govuk-checkboxes__label" for="job-catering">
                        Leadership
                    </label>
                </li>

                <li class="govuk-checkboxes__item" data-testid="job-name">
                    <input {% if 'Vocational' in filterRole  %}checked{% endif %}  type="checkbox" name="filter-role" class="govuk-checkboxes__input" id="job-it" value="Vocational">
                    <label class="govuk-label govuk-checkboxes__label" for="job-it">
                        Vocational
                    </label>
                </li>
                
            </ul>
        </fieldset>
    </div>


    </section>

    <div class="govuk-form-group filter-bottom govuk-!-margin-top-4">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Education phase
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">


            {% if data ['optionPrototype'] !== 'c' %}

            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filter-phase-6" name="filter-phase" type="checkbox" value="Secondary school">
                <label class="govuk-label govuk-checkboxes__label" for="filter-phase-6">
                  Secondary school
                </label>
              </div>

            {% endif %}

            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filter-phase-6" name="filter-phase" type="checkbox" value="Sixth form">
                <label class="govuk-label govuk-checkboxes__label" for="filter-phase-6">
                  Sixth form
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filter-phase-2" name="filter-phase" type="checkbox" value="Further education">
                <label class="govuk-label govuk-checkboxes__label" for="filter-phase-2">
                  Further education
                </label>
              </div>
             
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filter-phase-3" name="filter-phase" type="checkbox" value="Higher education">
                <label class="govuk-label govuk-checkboxes__label" for="filter-phase-3">
                  Higher education
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="filter-phase" name="filter-phase" type="checkbox" value="Adult">
                <label class="govuk-label govuk-checkboxes__label" for="filter-phase">
                  Adult
                </label>
              </div>
             
            
            </div>
          </fieldset>
      </div>


    <div class="govuk-!-margin-top-">

        {{ govukCheckboxes({
            idPrefix: "filter-organisation",
            name: "filter-organisation",
            classes: "govuk-checkboxes--small filter-bottom",
            fieldset: {
            legend: {
                text: "Organisation type",
                classes: "govuk-fieldset__legend--s"
            }
            },
            items: [{
                value: 'Schools',
                text: 'Schools'
            },
            {
                value: 'Colleges',
                text:'Colleges'
            },
            {
                value: 'Academy',
                text:'Academy'
            }
            ]
        }) }}

    </div>













    <div class="govuk-!-margin-top-4">


        {% if data['keywords'] in ['ks1', 'KS1','ks2', 'KS2','primary', 'Primary', 'Primary school', 'primary school', 'nursery', 'Nursery', 'Nursery school', 'nursery school'] %}

        {% else %}

        {{ appCheckboxFilter({
            idPrefix: "subjects",
            name: "filters[subjects]",
            classes: "govuk-checkboxes--small",
            legend: {
                text: "Subject",
                classes: "govuk-fieldset__legend--s"
            },
            items: [
                { value: "Accountancy and finance", text: "Accountancy and finance", checked: checked("['filters']['subjects']", "Accountancy and finance") },
                { value: "Aeronautical engineering", text: "Aeronautical engineering", checked: checked("['filters']['subjects']", "Aeronautical engineering") },
                { value: "Agriculture/horticulture/land-based studies", text: "Agriculture/horticulture/land-based studies", checked: checked("['filters']['subjects']", "Agriculture/horticulture/land-based studies") },
                { value: "Animal care", text: "Animal care", checked: checked("['filters']['subjects']", "Animal care") },
                { value: "Art", text: "Art", checked: checked("['filters']['subjects']", "Art") },
                { value: "Art history", text: "Art history", checked: checked("['filters']['subjects']", "Art history") },
                { value: "Biochemistry", text: "Biochemistry", checked: checked("['filters']['subjects']", "Biochemistry") },
                { value: "Biology", text: "Biology", checked: checked("['filters']['subjects']", "Biology") },
                { value: "British sign language", text: "British sign language", checked: checked("['filters']['subjects']", "British sign language") },
                { value: "Building and construction", text: "Building and construction", checked: checked("['filters']['subjects']", "Building and construction") },
                { value: "Business studies", text: "Business studies", checked: checked("['filters']['subjects']", "Business studies") },
                { value: "Catering", text: "Catering", checked: checked("['filters']['subjects']", "Catering") },
                { value: "Chemistry", text: "Chemistry", checked: checked("['filters']['subjects']", "Chemistry") },
                { value: "Children's development and learning", text: "Children's development and learning", checked: checked("['filters']['subjects']", "Children's development and learning") },
                { value: "Civil engineering", text: "Civil engineering", checked: checked("['filters']['subjects']", "Civil engineering") },
                { value: "Class teacher", text: "Class teacher", checked: checked("['filters']['subjects']", "Class teacher") },
                { value: "Classics", text: "Classics", checked: checked("['filters']['subjects']", "Classics") },
                { value: "Computer science", text: "Computer science", checked: checked("['filters']['subjects']", "Computer science") },
                { value: "Counselling", text: "Counselling", checked: checked("['filters']['subjects']", "Counselling") },
                { value: "Creative arts", text: "Creative arts", checked: checked("['filters']['subjects']", "Creative arts") },
                { value: "Criminology", text: "Criminology", checked: checked("['filters']['subjects']", "Criminology") },
                { value: "Customer service", text: "Customer service", checked: checked("['filters']['subjects']", "Customer service") },
                { value: "Design and technology", text: "Design and technology", checked: checked("['filters']['subjects']", "Design and technology") },
                { value: "Drama", text: "Drama", checked: checked("['filters']['subjects']", "Drama") },
                { value: "Early years", text: "Early years", checked: checked("['filters']['subjects']", "Early years") },
                { value: "Early years care and education", text: "Early years care and education", checked: checked("['filters']['subjects']", "Early years care and education") },
                { value: "Economics", text: "Economics", checked: checked("['filters']['subjects']", "Economics") },
                { value: "Education", text: "Education", checked: checked("['filters']['subjects']", "Education") },
                { value: "Electrical engineering", text: "Electrical engineering", checked: checked("['filters']['subjects']", "Electrical engineering") },
                { value: "Electrical installation", text: "Electrical installation", checked: checked("['filters']['subjects']", "Electrical installation") },
                { value: "Electronics", text: "Electronics", checked: checked("['filters']['subjects']", "Electronics") },
                { value: "Employability", text: "Employability", checked: checked("['filters']['subjects']", "Employability") },
                { value: "Engineering", text: "Engineering", checked: checked("['filters']['subjects']", "Engineering") },
                { value: "Engineering and technology", text: "Engineering and technology", checked: checked("['filters']['subjects']", "Engineering and technology") },
                { value: "English", text: "English", checked: checked("['filters']['subjects']", "English") },
                { value: "English as a foreign language", text: "English as a foreign language", checked: checked("['filters']['subjects']", "English as a foreign language") },
                { value: "English as a second or other language", text: "English as a second or other language", checked: checked("['filters']['subjects']", "English as a second or other language") },
                { value: "Esports", text: "Esports", checked: checked("['filters']['subjects']", "Esports") },
                { value: "Fabrication and welding", text: "Fabrication and welding", checked: checked("['filters']['subjects']", "Fabrication and welding") },
                { value: "Farming", text: "Farming", checked: checked("['filters']['subjects']", "Farming") },
                { value: "Food technology", text: "Food technology", checked: checked("['filters']['subjects']", "Food technology") },
                { value: "Foundation studies", text: "Foundation studies", checked: checked("['filters']['subjects']", "Foundation studies") },
                { value: "French", text: "French", checked: checked("['filters']['subjects']", "French") },
                { value: "Functional skills", text: "Functional skills", checked: checked("['filters']['subjects']", "Functional skills") },
                { value: "Games design", text: "Games design", checked: checked("['filters']['subjects']", "Games design") },
                { value: "General studies", text: "General studies", checked: checked("['filters']['subjects']", "General studies") },
                { value: "Geography", text: "Geography", checked: checked("['filters']['subjects']", "Geography") },
                { value: "Graphic design", text: "Graphic design", checked: checked("['filters']['subjects']", "Graphic design") },
                { value: "Hair and beauty", text: "Hair and beauty", checked: checked("['filters']['subjects']", "Hair and beauty") },
                { value: "Health and social care", text: "Health and social care", checked: checked("['filters']['subjects']", "Health and social care") },
                { value: "History", text: "History", checked: checked("['filters']['subjects']", "History") },
                { value: "Hotel, catering and travel", text: "Hotel, catering and travel", checked: checked("['filters']['subjects']", "Hotel, catering and travel") },
                { value: "Humanities", text: "Humanities", checked: checked("['filters']['subjects']", "Humanities") },
                { value: "ICT", text: "ICT", checked: checked("['filters']['subjects']", "ICT") },
                { value: "Land and property management", text: "Land and property management", checked: checked("['filters']['subjects']", "Land and property management") },
                { value: "Languages", text: "Languages", checked: checked("['filters']['subjects']", "Languages") },
                { value: "Latin", text: "Latin", checked: checked("['filters']['subjects']", "Latin") },
                { value: "Leadership and management", text: "Leadership and management", checked: checked("['filters']['subjects']", "Leadership and management") },
                { value: "Learning and development", text: "Learning and development", checked: checked("['filters']['subjects']", "Learning and development") },
                { value: "Literacy", text: "Literacy", checked: checked("['filters']['subjects']", "Literacy") },
                { value: "Logistics", text: "Logistics", checked: checked("['filters']['subjects']", "Logistics") },
                { value: "Mathematics", text: "Mathematics", checked: checked("['filters']['subjects']", "Mathematics") },
                { value: "Mechanical engineering", text: "Mechanical engineering", checked: checked("['filters']['subjects']", "Mechanical engineering") },
                { value: "Media studies", text: "Media studies", checked: checked("['filters']['subjects']", "Media studies") },
                { value: "Modern foreign languages", text: "Modern foreign languages", checked: checked("['filters']['subjects']", "Modern foreign languages") },
                { value: "Motor vehicle", text: "Motor vehicle", checked: checked("['filters']['subjects']", "Motor vehicle") },
                { value: "Music", text: "Music", checked: checked("['filters']['subjects']", "Music") },
                { value: "People management", text: "People management", checked: checked("['filters']['subjects']", "People management") },
                { value: "Performing arts", text: "Performing arts", checked: checked("['filters']['subjects']", "Performing arts") },
                { value: "Personal, social and health education", text: "Personal, social and health education", checked: checked("['filters']['subjects']", "Personal, social and health education") },
                { value: "Philosophy", text: "Philosophy", checked: checked("['filters']['subjects']", "Philosophy") },
                { value: "Photography", text: "Photography", checked: checked("['filters']['subjects']", "Photography") },
                { value: "Physical education", text: "Physical education", checked: checked("['filters']['subjects']", "Physical education") },
                { value: "Physics", text: "Physics", checked: checked("['filters']['subjects']", "Physics") },
                { value: "Plumbing and heating", text: "Plumbing and heating", checked: checked("['filters']['subjects']", "Plumbing and heating") },
                { value: "Politics", text: "Politics", checked: checked("['filters']['subjects']", "Politics") },
                { value: "Primary/general", text: "Primary/general", checked: checked("['filters']['subjects']", "Primary/general") },
                { value: "Public services", text: "Public services", checked: checked("['filters']['subjects']", "Public services") },
                { value: "Religious education", text: "Religious education", checked: checked("['filters']['subjects']", "Religious education") },
                { value: "Science", text: "Science", checked: checked("['filters']['subjects']", "Science") },
                { value: "SEN", text: "SEN", checked: checked("['filters']['subjects']", "SEN") },
                { value: "Sociology", text: "Sociology", checked: checked("['filters']['subjects']", "Sociology") },
                { value: "Spanish", text: "Spanish", checked: checked("['filters']['subjects']", "Spanish") },
                { value: "Sport and leisure", text: "Sport and leisure", checked: checked("['filters']['subjects']", "Sport and leisure") },
                { value: "Sports science", text: "Sports science", checked: checked("['filters']['subjects']", "Sports science") },
                { value: "Tourism", text: "Tourism", checked: checked("['filters']['subjects']", "Tourism") },
                { value: "Welsh", text: "Welsh", checked: checked("['filters']['subjects']", "Welsh") },
                { value: "Woodworking, joinery and carpentry", text: "Woodworking, joinery and carpentry", checked: checked("['filters']['subjects']", "Woodworking, joinery and carpentry") }
            ]
            }) }}

        {% endif %}


    </div> 


        {{ govukCheckboxes({
          idPrefix: "filter-workingPatterns",
          name: "filter-workingPatterns",
          classes: "govuk-checkboxes--small ",
          fieldset: {
            legend: {
              text: "Working pattern",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [{
            value: 'Full time',
            text: 'Full time'
          }, {
            value: 'Part time',
            text: 'Part time'
          },{
            value: 'Term time only',
            text: 'Term time only'
          }
          ]
        }) }}

{% endset %}



















<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filters</h2>
    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    
    {% if filterRole.length or filterPhase.length or filterSuitability.length or filterStages.length or filterPatterns.length or filterQuick.length or filterInternational.length %} 

        <div class="app-filter__selected">
        <div class="app-filter__selected-heading">
            <div class="app-filter__heading-title" style="width:100%; ">
            <p class="govuk-body govuk-!-margin-bottom-1" style="float:left; ">Selected filters</p>
            <p class="govuk-body" style="float:right; "><a class="govuk-link govuk-link--no-visited-state" href="/clear-filters">Clear filters</a></p>
            </div>
        </div>

            {% if filterInternational.length %}
            
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Visa sponsorship</h3>
                <ul class="app-filter-tags">
                {% if 'Skilled Worker visas can be sponsored' in filterInternational %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Only show jobs with visa sponsorship
                    </a></li>
                {% endif %}
                </ul>

            {% endif %}

            {% if filterRole.length %}
            
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Job role</h3>
                <ul class="app-filter-tags">

                <!-- // teaching and leadership -->

                {% if 'Teaching and Lecturing' in filterRole %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Teaching and Lecturing</a></li>
                {% endif %}
                {% if 'Support' in filterRole %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Support</a></li>
                {% endif %}
                {% if 'SEN' in filterRole %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>SEN</a></li>
                {% endif %}
                {% if 'Leadership' in filterRole %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Leadership</a></li>
                {% endif %}
                {% if 'Vocational' in filterRole %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Vocational</a></li>
                {% endif %}
               
                </ul>
            {% endif %}

            {% if filterPhase.length %}
            
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Education phase</h3>
                <ul class="app-filter-tags">
                {% if 'Nursery school' in filterPhase %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Nursery school</a></li>
                {% endif %}
                {% if 'Primary school' in filterPhase %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Primary school</a></li>
                {% endif %}
                {% if 'Middle school' in filterPhase %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Middle school</a></li>
                {% endif %}
                {% if 'Secondary school' in filterPhase %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Secondary school</a></li>
                {% endif %}
                {% if 'Sixth form or college' in filterPhase %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Sixth form or college</a></li>
                {% endif %}
                {% if 'Through school' in filterPhase %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Through school</a></li>
                {% endif %}
                </ul>

            {% endif %}

            
            {% if filterSuitability.length %}
            
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Suitability for early career teachers (ECT)</h3>
                <ul class="app-filter-tags">
                {% if 'Suitable for ECTs' in filterSuitability %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Suitable for ECTs</a></li>
                {% endif %}
                {% if 'Not suitable for ECTs' in filterSuitability %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Not suitable for ECTs</a></li>
                {% endif %}
                </ul>

            {% endif %}

            {% if filterStages.length %}
            
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Key stage</h3>
                <ul class="app-filter-tags">
                {% if 'Early years' in filterStages %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Early years</a></li>
                {% endif %}
                {% if 'Key stage 1' in filterStages %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>KS1</a></li>
                {% endif %}
                {% if 'Key stage 2' in filterStages %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>KS2</a></li>
                {% endif %}
                {% if 'Key stage 3' in filterStages %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>KS3</a></li>
                {% endif %}
                {% if 'Key stage 4' in filterStages %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>KS4</a></li>
                {% endif %}
                {% if 'Key stage 5' in filterStages %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>KS5</a></li>
                {% endif %}
                </ul>

            {% endif %}

            {% if filterPatterns.length %}
            
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Working patterns</h3>
                <ul class="app-filter-tags">
                {% if 'Full time' in filterPatterns %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Full time</a></li>
                {% endif %}
                {% if 'Part time' in filterPatterns %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Part time</a></li>
                {% endif %}
                </ul>

            {% endif %}

            {% if filterQuick.length %}
            
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Application method</h3>
                <ul class="app-filter-tags">
                {% if 'Apply online' in filterQuick %} 
                    <li><a class="app-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>Only show quick apply jobs</a></li>
                {% endif %}
                </ul>

            {% endif %}


        </div>

    {% endif %}

    <div class="app-filter__options">
      <form id="filter" method="get" action="/search/fe" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{filterOptionsHtml | safe}}
      </form>
    </div>
  </div>
</div>
