{% set filterOptionsHtml %}

{% if user.profile.roles %}
  {% set userRoles =  user.profile.roles %}
{% else %}
  {% set userRoles = '' %}
{% endif %}

<div class="govuk-form-group">
		<fieldset class="govuk-fieldset">
			<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Role</legend>
			<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
				<div class="govuk-checkboxes__item">
					<input {% if 'Teacher' in userRoles %} checked {% endif %} class="govuk-checkboxes__input" id="filters[role]" name="filters[role]" type="checkbox" value="Teacher"> <label class="govuk-label govuk-checkboxes__label" for="filters[role]">Teacher</label>
				</div>
				<div class="govuk-checkboxes__item">
					<input {% if 'Headteacher, deputy or assistant headteacher' in userRoles %} checked {% endif %} class="govuk-checkboxes__input" id="filters[role]-2" name="filters[role]" type="checkbox" value="Headteacher, deputy or assistant headteacher"> <label class="govuk-label govuk-checkboxes__label" for="filters[role]-2">Headteacher, deputy or assistant headteacher</label>
				</div>
				<div class="govuk-checkboxes__item">
					<input {% if 'Head of year, department, curriculum or phase' in userRoles %} checked {% endif %} class="govuk-checkboxes__input" id="filters[role]-3" name="filters[role]" type="checkbox" value="Head of year, department, curriculum or phase"> <label class="govuk-label govuk-checkboxes__label" for="filters[role]-3">Head of year, department, curriculum or phase</label>
				</div>
				<div class="govuk-checkboxes__item">
					<input {% if 'Teaching assistant' in userRoles %} checked {% endif %} class="govuk-checkboxes__input" id="filters[role]-4" name="filters[role]" type="checkbox" value="Teaching assistant"> <label class="govuk-label govuk-checkboxes__label" for="filters[role]-4">Teaching assistant</label>
				</div>
				<div class="govuk-checkboxes__item">
					<input {% if 'Learning support, cover supervisor or tutor' in userRoles %} checked {% endif %} class="govuk-checkboxes__input" id="filters[role]-5" name="filters[role]" type="checkbox" value="Learning support, cover supervisor or tutor"> <label class="govuk-label govuk-checkboxes__label" for="filters[role]-5">Learning support, cover supervisor or tutor</label>
				</div>
				<div class="govuk-checkboxes__item">
					<input {% if 'SENDCo (special educational needs and disabilities coordinator)' in userRoles %} checked {% endif %} class="govuk-checkboxes__input" id="filters[role]-6" name="filters[role]" type="checkbox" value="SENDCo (special educational needs and disabilities coordinator)"> <label class="govuk-label govuk-checkboxes__label" for="filters[role]-6">SENDCo (special educational needs and disabilities coordinator)</label>
				</div>
			</div>
		</fieldset>
	</div>

  {% if user.profile.subjects %}
    {% set userSubjects =  user.profile.subjects %}
    {% set userSubjects = userSubjects | string %}
  {% else %}
    {% set userSubjects = '' %}
  {% endif %}

  <div class="app-checkbox-filter govuk-checkboxes--small app-checkbox-filter--enhanced" id="subjects">
		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Subject</legend>
				<div class="app-checkbox-filter__container" style="height: 354.333px;">
					<div class="govuk-checkboxes app-checkbox-filter__container-inner">
						<div class="govuk-checkboxes__item">
							<input {% if 'Accounting' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Accounting"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Accounting</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">
								Includes Finance and accounting
							</div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Art and design' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Art and design"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Art and design</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Biology' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Biology"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Biology</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Business studies' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Business studies"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Business studies</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Chemistry' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Chemistry"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Chemistry</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Citizenship' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Citizenship"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Citizenship</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Classics' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Classics"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Classics</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">
								Includes Latin
							</div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Computing' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Computing"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Computing</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">
								Includes Computer science, Information technology, and ICT
							</div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Dance' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Dance"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Dance</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Design and technology' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Design and technology"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Design and technology</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">
								Includes Product design, Textiles and Systems and control
							</div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Drama' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Drama"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Drama</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">
								Includes Theatre studies and Performing arts
							</div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Economics' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Economics"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Economics</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Engineering' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Engineering"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Engineering</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'English' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="English"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">English</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">
								Includes English language and literature
							</div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Food Technology' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Food Technology"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Food Technology</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">
								Includes Hospitality and catering
							</div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'French' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="French"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">French</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Geography' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Geography"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Geography</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'German' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="German"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">German</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Health and social care' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Health and social care"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Health and social care</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'History' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="History"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">History</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Humanities' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Humanities"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Humanities</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'ICT' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="ICT"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">ICT</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Law' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Law"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Law</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Mandarin' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Mandarin"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Mandarin</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Mathematics' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Mathematics"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Mathematics</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Media studies' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Media studies"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Media studies</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Music' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Music"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Music</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Philosophy' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Philosophy"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Philosophy</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Physical education' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Physical education"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Physical education</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Physics' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Physics"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Physics</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Politics' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Politics"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Politics</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Psychology' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Psychology"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Psychology</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Religious education' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Religious education"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Religious education</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">
								Includes religious studies
							</div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Relationships and sex education' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Relationships and sex education"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Relationships and sex education</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Science' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Science"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Science</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Social sciences' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Social sciences"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Social sciences</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Sociology' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Sociology"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Sociology</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Spanish' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Spanish"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Spanish</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
						<div class="govuk-checkboxes__item">
							<input {% if 'Statistics' in userSubjects %} checked {% endif %} class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Statistics"> <label class="govuk-label govuk-checkboxes__label" for="subjects-">Statistics</label>
							<div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="govuk-visually-hidden" id="subjects-checkboxes-status" role="status">
			39 options found, 1 selected
		</div>
	</div>

{{ govukCheckboxes({
  idPrefix: "filters[suitability]",
  name: "filters[suitability]",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Suitability for early career teachers (ECT)",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [{
    value: 'Suitable for ECTs',
    text: 'Suitable for ECTs'
  }, {
    value: 'Not suitable for ECTs',
    text: 'Not suitable for ECTs'
  }]
}) }}

{% if user.profile.phases %}
  {% set userPhases =  user.profile.phases %}
{% else %}
  {% set userPhases = '' %}
{% endif %}

<div class="govuk-form-group">
	<fieldset class="govuk-fieldset">
		<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Phase of education</legend>
		<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
			<div class="govuk-checkboxes__item">
				<input {% if 'Nursery school' in userPhases %} checked {% endif %} class="govuk-checkboxes__input" id="filters[phase]" name="filters[phase]" type="checkbox" value="Nursery school"> <label class="govuk-label govuk-checkboxes__label" for="filters[phase]">Nursery school</label>
			</div>
			<div class="govuk-checkboxes__item">
				<input {% if 'Primary school' in userPhases %} checked {% endif %}  class="govuk-checkboxes__input" id="filters[phase]-2" name="filters[phase]" type="checkbox" value="Primary school"> <label class="govuk-label govuk-checkboxes__label" for="filters[phase]-2">Primary school</label>
			</div>
			<div class="govuk-checkboxes__item">
				<input {% if 'Middle school' in userPhases %} checked {% endif %} class="govuk-checkboxes__input" id="filters[phase]-3" name="filters[phase]" type="checkbox" value="Middle school"> <label class="govuk-label govuk-checkboxes__label" for="filters[phase]-3">Middle school</label>
			</div>
			<div class="govuk-checkboxes__item">
				<input {% if 'Secondary school' in userPhases %} checked {% endif %} class="govuk-checkboxes__input" id="filters[phase]-4" name="filters[phase]" type="checkbox" value="Secondary school"> <label class="govuk-label govuk-checkboxes__label" for="filters[phase]-4">Secondary school</label>
			</div>
			<div class="govuk-checkboxes__item">
				<input {% if 'Sixth form or college' in userPhases %} checked {% endif %} class="govuk-checkboxes__input" id="filters[phase]-5" name="filters[phase]" type="checkbox" value="Sixth form or college"> <label class="govuk-label govuk-checkboxes__label" for="filters[phase]-5">Sixth form or college</label>
			</div>
			<div class="govuk-checkboxes__item">
				<input {% if 'Through school' in userPhases %} checked {% endif %} class="govuk-checkboxes__input" id="filters[phase]-6" name="filters[phase]" type="checkbox" value="Through school"> <label class="govuk-label govuk-checkboxes__label" for="filters[phase]-6">Through school</label>
			</div>
		</div>
	</fieldset>
</div>

{% if user.profile.keyStages %}
  {% set userStage =  user.profile.keyStages %}
{% else %}
  {% set userStage = '' %}
{% endif %}

<div class="govuk-form-group">
	<fieldset class="govuk-fieldset">
		<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Key stage</legend>
		<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
			<div class="govuk-checkboxes__item">
				<input {% if 'Early years' in userStage %} checked {% endif %} class="govuk-checkboxes__input" id="filters[keyStages]" name="filters[keyStages]" type="checkbox" value="Early years"> <label class="govuk-label govuk-checkboxes__label" for="filters[keyStages]">Early years</label>
			</div>
			<div class="govuk-checkboxes__item">
				<input {% if 'Key stage 1' in userStage %} checked {% endif %} class="govuk-checkboxes__input" id="filters[keyStages]-2" name="filters[keyStages]" type="checkbox" value="KS1"> <label class="govuk-label govuk-checkboxes__label" for="filters[keyStages]-2">KS1</label>
			</div>
			<div class="govuk-checkboxes__item">
				<input {% if 'Key stage 2' in userStage %} checked {% endif %} class="govuk-checkboxes__input" id="filters[keyStages]-3" name="filters[keyStages]" type="checkbox" value="KS2"> <label class="govuk-label govuk-checkboxes__label" for="filters[keyStages]-3">KS2</label>
			</div>
			<div class="govuk-checkboxes__item">
				<input {% if 'Key stage 3' in userStage %} checked {% endif %} class="govuk-checkboxes__input" id="filters[keyStages]-4" name="filters[keyStages]" type="checkbox" value="KS3"> <label class="govuk-label govuk-checkboxes__label" for="filters[keyStages]-4">KS3</label>
			</div>
			<div class="govuk-checkboxes__item">
				<input {% if 'Key stage 4' in userStage %} checked {% endif %} class="govuk-checkboxes__input" id="filters[keyStages]-5" name="filters[keyStages]" type="checkbox" value="KS4"> <label class="govuk-label govuk-checkboxes__label" for="filters[keyStages]-5">KS4</label>
			</div>
			<div class="govuk-checkboxes__item">
				<input {% if 'Key stage 5' in userStage %} checked {% endif %} class="govuk-checkboxes__input" id="filters[keyStages]-6" name="filters[keyStages]" type="checkbox" value="KS5"> <label class="govuk-label govuk-checkboxes__label" for="filters[keyStages]-6">KS5</label>
			</div>
		</div>
	</fieldset>
</div>


{% if user.profile.workingPatterns %}
  {% set userPattern =  user.profile.workingPatterns %}
{% else %}
  {% set userPattern = '' %}
{% endif %}

<div class="govuk-form-group">
	<fieldset class="govuk-fieldset">
		<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Working pattern</legend>
		<div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
			<div class="govuk-checkboxes__item">
				<input {% if 'Full time' in userPattern %} checked {% endif %} class="govuk-checkboxes__input" id="filters[workingPatterns]" name="filters[workingPatterns]" type="checkbox" value="Full time"> <label class="govuk-label govuk-checkboxes__label" for="filters[workingPatterns]">Full time</label>
			</div>
			<div class="govuk-checkboxes__item">
				<input {% if 'Part time' in userPattern %} checked {% endif %} class="govuk-checkboxes__input" id="filters[workingPatterns]-2" name="filters[workingPatterns]" type="checkbox" value="Part time"> <label class="govuk-label govuk-checkboxes__label" for="filters[workingPatterns]-2">Part time</label>
			</div>
		</div>
	</fieldset>
</div>




{{ govukCheckboxes({
  idPrefix: "filters[quick]",
  name: "filters[quick]",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Application method",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [{
    value: 'Apply directly online',
    text: 'Apply directly online',
    hint: {
      text: 'Saves your information to make further applications quicker'
    }
  }]
}) }}


{% endset %}

<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filters</h2>


    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    {% if user %}
      <div class="app-filter__selected">


        <div class="filters-component__remove">

      		<div class="filters-component__remove__heading">
      			<div class="govuk-body filters-component__remove__heading-title govuk-!-margin-bottom-0">
      				Selected filters
      			</div><a class="govuk-link" href="/jobs?skip_strip_checkboxes=true">Clear filters</a>
      		</div>

      		<div class="filters-component__remove-groups">

            {% if user.profile.roles %}
            <div class="filters-component__remove-group">
              <h4 class="govuk-heading-s">Job role</h4>
              <ul class="filters-component__remove-tags">

                {% for role in user.profile.roles %}
        					<li>
        						<a class="govuk-link govuk-link--no-underline govuk-link--text-colour filters-component__remove-tags__tag icon icon--left icon--cross" href="#"><span class="govuk-visually-hidden">Remove this filter</span>{{role}}</a>
        					</li>
                {% endfor %}

              </ul>
            </div>
            {% endif %}

              <!-- // roles -->

            {% if user.profile.subjects %}
              {% set userSubjects =  user.profile.subjects %}
              {% set userSubjects = userSubjects | string %}

              <div class="filters-component__remove-group">
                <h4 class="govuk-heading-s">Subjects</h4>
                <ul class="filters-component__remove-tags">

                {% set list1 = userSubjects.split(',') %}

                {% for item in list1 %}
        					<li>
        						<a class="govuk-link govuk-link--no-underline govuk-link--text-colour filters-component__remove-tags__tag icon icon--left icon--cross" href="#"><span class="govuk-visually-hidden">Remove this filter</span>{{item}}</a>
        					</li>
                {% endfor %}

                </ul>
              </div>
            {% endif %}

            <!-- // subjects -->

            {% if user.profile.phases %}
            <div class="filters-component__remove-group">
              <h4 class="govuk-heading-s">Education phase</h4>
              <ul class="filters-component__remove-tags">

                {% for role in user.profile.phases %}
        					<li>
        						<a class="govuk-link govuk-link--no-underline govuk-link--text-colour filters-component__remove-tags__tag icon icon--left icon--cross" href="#"><span class="govuk-visually-hidden">Remove this filter</span>{{role}}</a>
        					</li>
                {% endfor %}

              </ul>
            </div>
            {% endif %}

            {% if user.profile.workingPatterns %}
            <div class="filters-component__remove-group">
              <h4 class="govuk-heading-s">Working pattern</h4>
              <ul class="filters-component__remove-tags">

                {% for role in user.profile.workingPatterns %}
        					<li>
        						<a class="govuk-link govuk-link--no-underline govuk-link--text-colour filters-component__remove-tags__tag icon icon--left icon--cross" href="#"><span class="govuk-visually-hidden">Remove this filter</span>{{role}}</a>
        					</li>
                {% endfor %}

              </ul>
            </div>
            {% endif %}


      	   </div>

         </div>

      </div>
    {% endif %}
    <div class="app-filter__options">
      <form method="get" action="/jobs" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{filterOptionsHtml | safe}}
      </form>
    </div>
  </div>
</div>
