{% set filterOptionsHtml %}


  {{ govukCheckboxes({
    idPrefix: "filter-international",
    name: "filter-international",
    classes: "govuk-checkboxes--small filter-bottom",
    fieldset: {
      legend: {
        text: "Visa sponsorship",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'International',
      text: 'Only show jobs with visa sponsorship'
    }]
  }) }}

  <h3 class="govuk-heading-s">Job type</h3>

  {{ govukCheckboxes({
    idPrefix: "filter-role",
    name: "filter-role",
    classes: "govuk-checkboxes--small roles-checkboxes",
    fieldset: {
      legend: {
        text: "Teaching & leadership",
        classes: "govuk-fieldset__legend--s roles-header"
      }
    },
    items: [{
      value: 'Teacher',
      text: 'Teacher'
    }, {
      value: 'Head of year or phase',
      text: 'Head of year or phase'
    }, {
      value: 'Head of department or curriculum',
      text: 'Head of department or curriculum'
    }, {
      value: 'Assistant headteacher',
      text: 'Assistant headteacher'
    }, {
      value: 'Deputy headteacher',
      text: 'Deputy headteacher'
    }, {
      value: 'Headteacher',
      text: 'Headteacher'
    }, {
      value: 'SENDCo (special educational needs and disabilities coordinator)',
      text: 'SENDCo (special educational needs and disabilities coordinator)'
    }, {
      value: 'Other leadership roles',
      text: 'Other leadership roles'
    }]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filter-role",
    name: "filter-role",
    classes: "govuk-checkboxes--small roles-checkboxes",
    fieldset: {
      legend: {
        text: "Teaching support",
        classes: "govuk-fieldset__legend--s roles-header"
      }
    },
    items: [{
      value: 'Teaching assistant',
      text: 'Teaching assistant'
    }, {
      value: 'HLTA (Higher level teaching assistant)',
      text: 'HLTA (Higher level teaching assistant)'
    }, {
      value: 'Learning support or cover supervisor',
      text: 'Learning support or cover supervisor'
    }, {
      value: 'Other support roles',
      text: 'Other support roles'
    }]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filter-role",
    name: "filter-role",
    classes: "govuk-checkboxes--small roles-checkboxes filter-bottom",
    fieldset: {
      legend: {
        text: "Non-teaching support",
        classes: "govuk-fieldset__legend--s roles-header"
      }
    },
    items: [{
      value: 'Administration, HR, data and finance',
      text: 'Administration, HR, data and finance'
    }, {
      value: 'Catering, cleaning and site management',
      text: 'Catering, cleaning and site management'
    }, {
      value: 'IT support',
      text: 'IT support'
    }]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filter-phase",
    name: "filter-phase",
    classes: "govuk-checkboxes--small filter-bottom",
    fieldset: {
      legend: {
        text: "Education phase",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Nursery school',
      text: 'Nursery school'
    }, {
      value: 'Primary school',
      text: 'Primary school'
    }, {
      value: 'Middle school',
      text: 'Middle school'
    }, {
      value: 'Secondary school',
      text: 'Secondary school'
    }, {
      value: 'Sixth form or college',
      text: 'Sixth form or college'
    }, {
      value: 'Through school',
      text: 'Through school'
    }]
  }) }}

  {{ appCheckboxFilter({
    idPrefix: "filter-subjects",
    name: "filter-subjects",
    classes: "govuk-checkboxes--small",
    legend: {
      text: "Subject",
      classes: "govuk-fieldset__legend--s"
    },
    items: [
      {
        value: "Accounting",
        text: "Accounting",
        hint: {
          text: 'Includes Finance and accounting'
        },
        checked: checked("['filters']['subjects']", "Accounting")
      },
      {
        value: "Art and design",
        text: "Art and design",
        checked: checked("['filters']['subjects']", "Art and design")
      },
      {
        value: "Biology",
        text: "Biology",
        checked: checked("['filters']['subjects']", "Biology")
      },
      {
        value: "Business studies",
        text: "Business studies",
        checked: checked("['filters']['subjects']", "Business studies")
      },
      {
        value: "Chemistry",
        text: "Chemistry",
        checked: checked("['filters']['subjects']", "Chemistry")
      },
      {
        value: "Citizenship",
        text: "Citizenship",
        checked: checked("['filters']['subjects']", "Citizenship")
      },
      {
        value: "Classics",
        text: "Classics",
        hint: {
          text: 'Includes Latin'
        },
        checked: checked("['filters']['subjects']", "Classics")
      },
      {
        value: "Computing",
        text: "Computing",
        hint: {
          text: 'Includes Computer science, Information technology, and ICT'
        },
        checked: checked("['filters']['subjects']", "Computing")
      },
      {
        value: "Dance",
        text: "Dance",
        checked: checked("['filters']['subjects']", "Dance")
      },
      {
        value: "Design and technology",
        text: "Design and technology",
        hint: {
          text: 'Includes Product design, Textiles and Systems and control'
        },
        checked: checked("['filters']['subjects']", "Design and technology")
      },
      {
        value: "Drama",
        text: "Drama",
        hint: {
          text: 'Includes Theatre studies and Performing arts'
        },
        checked: checked("['filters']['subjects']", "Drama")
      },
      {
        value: "Economics",
        text: "Economics",
        checked: checked("['filters']['subjects']", "Economics")
      },
      {
        value: "Engineering",
        text: "Engineering",
        checked: checked("['filters']['subjects']", "Engineering")
      },
      {
        value: "English",
        text: "English",
        hint: {
          text: 'Includes English language and literature'
        },
        checked: checked("['filters']['subjects']", "English")
      },
      {
        value: "Food Technology",
        text: "Food Technology",
        hint: {
          text: 'Includes Hospitality and catering'
        },
        checked: checked("['filters']['subjects']", "Food Technology")
      },
      {
        value: "French",
        text: "French",
        checked: checked("['filters']['subjects']", "French")
      },
      {
        value: "Geography",
        text: "Geography",
        checked: checked("['filters']['subjects']", "Geography")
      },
      {
        value: "German",
        text: "German",
        checked: checked("['filters']['subjects']", "German")
      },
      {
        value: "Health and social care",
        text: "Health and social care",
        checked: checked("['filters']['subjects']", "Health and social care")
      },
      {
        value: "History",
        text: "History",
        checked: checked("['filters']['subjects']", "History")
      },
      {
        value: "Humanities",
        text: "Humanities",
        checked: checked("['filters']['subjects']", "Humanities")
      },
      {
        value: "ICT",
        text: "ICT",
        checked: checked("['filters']['subjects']", "ICT")
      },
      {
        value: "Law",
        text: "Law",
        checked: checked("['filters']['subjects']", "Law")
      },
      {
        value: "Mandarin",
        text: "Mandarin",
        checked: checked("['filters']['subjects']", "Mandarin")
      },
      {
        value: "Mathematics",
        text: "Mathematics",
        checked: checked("['filters']['subjects']", "Mathematics")
      },
      {
        value: "Media studies",
        text: "Media studies",
        checked: checked("['filters']['subjects']", "Media studies")
      },
      {
        value: "Music",
        text: "Music",
        checked: checked("['filters']['subjects']", "Music")
      },
      {
        value: "Philosophy",
        text: "Philosophy",
        checked: checked("['filters']['subjects']", "Philosophy")
      },
      {
        value: "Physical education",
        text: "Physical education",
        checked: checked("['filters']['subjects']", "Physical education")
      },
      {
        value: "Physics",
        text: "Physics",
        checked: checked("['filters']['subjects']", "Physics")
      },
      {
        value: "Politics",
        text: "Politics",
        checked: checked("['filters']['subjects']", "Politics")
      },
      {
        value: "Psychology",
        text: "Psychology",
        checked: checked("['filters']['subjects']", "Psychology")
      },
      {
        value: "Religious education",
        text: "Religious education",
        hint: {
          text: 'Includes religious studies'
        },
        checked: checked("['filters']['subjects']", "Religious education")
      },
      {
        value: "Relationships and sex education",
        text: "Relationships and sex education",
        checked: checked("['filters']['subjects']", "Relationships and sex education")
      },
      {
        value: "Science",
        text: "Science",
        checked: checked("['filters']['subjects']", "Science")
      },
      {
        value: "Social sciences",
        text: "Social sciences",
        checked: checked("['filters']['subjects']", "Social sciences")
      },
      {
        value: "Sociology",
        text: "Sociology",
        checked: checked("['filters']['subjects']", "Sociology")
      },
      {
        value: "Spanish",
        text: "Spanish",
        checked: checked("['filters']['subjects']", "Spanish")
      },
      {
        value: "Statistics",
        text: "Statistics",
        checked: checked("['filters']['subjects']", "Statistics")
      }
    ]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filter-suitability",
    name: "filter-suitability",
    classes: "govuk-checkboxes--small filter-bottom",
    fieldset: {
      legend: {
        text: "Suitability for early career teachers (ECT)",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Suitable for ECTs',
      text: 'Suitable for ECTs'
    }]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filter-organisation",
    name: "filter-organisation",
    classes: "govuk-checkboxes--small filter-bottom",
    fieldset: {
      legend: {
        text: "Organisation type",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Academy',
      text: 'Academy',
      hint: {
        text: 'includes free schools'
      }
    },
    {
      value: 'Local authority maintained schools',
      text:'Local authority maintained schools'
    }
    ]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filter-school",
    name: "filter-school",
    classes: "govuk-checkboxes--small filter-bottom",
    fieldset: {
      legend: {
        text: "School type",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Faith school',
      text: 'Faith school'
    },
    {
      value: 'Special school',
      text:'Special school'
    }
    ]
  }) }}


  {{ govukCheckboxes({
    idPrefix: "filter-workingPatterns",
    name: "filter-workingPatterns",
    classes: "govuk-checkboxes--small filter-bottom",
    fieldset: {
      legend: {
        text: "Working pattern",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Full time',
      text: 'Full time'
    }, {
      value: 'Part time',
      text: 'Part time'
    }]
  }) }}
  
  {{ govukCheckboxes({
    idPrefix: "filter-quick",
    name: "filter-quick",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Application method",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Apply online',
      text: 'Only show quick apply jobs',
      hint: {
        text: 'Apply for jobs simply and quickly using your profile'
      }
    }]
  }) }}

{% endset %}

<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filters</h2>
    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    {% if selectedFilters %}
      <div class="app-filter__selected">
        <div class="app-filter__selected-heading">
          <div class="app-filter__heading-title">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h2>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/applications/remove-all-filters">Clear filters</a></p>
          </div>
        </div>
        {% for category in selectedFilters.categories %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
          <ul class="app-filter-tags">
            {% for item in category.items %}
              <li><a class="app-filter__tag" href="{{item.href}}"><span class="govuk-visually-hidden">Remove this filter</span> {{item.text}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
    <div class="app-filter__options">
      <form id="filter" method="get" action="/search/applications" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{filterOptionsHtml | safe}}
      </form>
    </div>
  </div>
</div>
