<div id="itt-banner" class="primary-banner" style="background-color: #f3f2f1; border-top:1px solid #b1b4b6; border-bottom:1px solid #dedede;">
    <div class="govuk-width-container">
        <div class="govuk-main-wrapper itt-banner-form" style="padding-bottom:20px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop">
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-6 mobile-full-width-heading">
                        Find a supporting role in a school
                    </h1>
                    <h1 class="govuk-heading-m govuk-!-margin-bottom-6 mobile-full-width-heading">
                      Find your next role in school support here. Explore opportunities to make a difference. Start your search today!
                    </h1>
                </div>
                <div class="govuk-grid-column-one-half-from-desktop">
                    <img class="landing-2" src="public/images/banner/support_staff_banner.png"/>
                </div>
            </div>
        </div>
    </div>
</div>

