{{ appPrimaryNavigation({
  items: [
    {
      href: "/jobs",
      text: "Jobs",
      active: primaryNavId == 'jobs'
    },
    {
      href: "/schools",
      text: "Schools",
      active: primaryNavId == 'schools'
    },
    {
      href: "/application",
      text: "Applications",
      active: primaryNavId == 'applications'
    } if user,
    {
      href: "#",
      text: "Job alerts",
      active: primaryNavId == 'alerts'
    } if user and 1==2
  ]
}) if pageId != 'start'}}
