{% set filterOptionsHtml %}

  {{ govukCheckboxes({
    idPrefix: "filters[phase]",
    name: "filters[phase]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Phase of education",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Nursery school',
      text: 'Nursery school'
    }, {
      value: 'Primary school',
      text: 'Primary school'
    }, {
      value: 'Middle school',
      text: 'Middle school'
    }, {
      value: 'Secondary school',
      text: 'Secondary school'
    }, {
      value: 'Sixth form or college',
      text: 'Sixth form or college'
    }, {
      value: 'Through school',
      text: 'Through school'
    }]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filters[keyStages]",
    name: "filters[keyStages]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Key stage",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Early years',
      text: 'Early years'
    }, {
      value: 'KS1',
      text: 'KS1'
    }, {
      value: 'KS2',
      text: 'KS2'
    }, {
      value: 'KS3',
      text: 'KS3'
    }, {
      value: 'KS4',
      text: 'KS4'
    }, {
      value: 'KS5',
      text: 'KS5'
    }]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filters[special]",
    name: "filters[special]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Special school",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Special school',
      text: 'Special school'
    }]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filters[jobs]",
    name: "filters[jobs]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Job availablility",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Has jobs',
      text: 'Has jobs'
    }, {
      value: 'Does not have any jobs',
      text: 'Does not have any jobs'
    }]
  }) }}

{% endset %}

<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    {% if selectedFilters %}
      <div class="app-filter__selected">
        <div class="app-filter__selected-heading">
          <div class="app-filter__heading-title">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h2>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/applications/remove-all-filters">Clear filters</a></p>
          </div>
        </div>
        {% for category in selectedFilters.categories %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
          <ul class="app-filter-tags">
            {% for item in category.items %}
              <li><a class="app-filter__tag" href="{{item.href}}"><span class="govuk-visually-hidden">Remove this filter</span> {{item.text}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
    <div class="app-filter__options">
      <form method="get" action="/applications" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{filterOptionsHtml | safe}}
      </form>
    </div>
  </div>
</div>
