
{% extends "layout_email.njk" %}

{% set title = 'How you sign in to Teaching Vacancies has changed' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <p class="govuk-body">You will now need to sign in to Teaching Vacancies through GOV.UK One Login.</p>

      <p class="govuk-body">GOV.UK One Login is replacing all other ways to sign in to services on GOV.UK.</p>

      <h2 class="govuk-heading-m">
        If you do not have a GOV.UK One Login account
      </h2>

      <p>Create an account using the same email address as your Teaching Vacancies account to save your existing account details.</p>

      <h2 class="govuk-heading-m">
        If you have a GOV.UK One Login account
      </h2>

      <p>If your GOV.UK One Login account uses the same email address as your Teaching Vacancies account, your information will automatically be saved.</p>

      <p>If it uses a different email address, you'll be able to transfer your information after signing in.</p>

      <form method="post">

        {{ govukButton({
          text: 'Sign in or create a GOV.UK One Login account'
        }) }}

      </form>

    </div>
  

  </div>

{% endblock %}
