
{% extends "layout.njk" %}

{% set primaryNavId = 'account' %}
{% set title = 'Your account' %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}
      </h1>

      <h2 class="govuk-heading-m">
        Change your sign in details
      </h2>

      <p>You use your GOV.UK One Login to sign in to Teaching Vacancies.</p>

      <p>You can change these details in your GOV.UK One Login:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>email address</li>
        <li>password</li>
        <li>how you get security codes to sign in</li>
      </ul>

      <p><a class="govuk-link--no-visited-state" href="https://home.account.gov.uk/settings">Change your sign in details in your GOV.UK One Login</a>.</p>

      <h2 class="govuk-heading-m">
        Can't find your old application details?
      </h2>

      <p>If you had a Teaching Vacancies account using a different email address to your GOV.UK One Login account, your old application details will not automatically be saved.</p>
      
      <p>You can <a class="govuk-link--no-visited-state" href="/onelogin/journey/import">request to transfer your old account details to your new account</a>.</p>

     
    
      <h2 class="govuk-heading-m">
       Delete account
      </h2>

      <p>Select delete account to remove all your data on Teaching Vacancies.</p>

      <p><a class="govuk-link--no-visited-state" href="/onelogin/journey/import">Delete account</a></p>

    </div>
  </div>

{% endblock %}
