
{% extends "layout.njk" %}

{% set title = 'How to prepare for GOV.UK One Login' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>

        <p class="govuk-body-l">GOV.UK One Login has will be replacing Teaching Vacancies accounts on [date].</p>

        <h2 class="govuk-heading-m">What is GOV.UK One Login</h2>

        <p>Over time, GOV.UK One Login will replace all other ways to sign in to services on GOV.UK, including Government Gateway.</p>

        <p>If you need a GOV.UK One Login to use a service, and you do not already have one, you’ll be able to create one when you first use that service.</p>

        <h2 class="govuk-heading-m">How to prepare for GOV.UK One Login</h2>

        <p>The best way to prepare your account is to ensure the email address on your current Teaching Vacancies account will be the same as the email you are likely to use or are using on a GOV.UK One Login account.</p>

        <p>You can change your email on your account page once logged in.</p>

        <p>If you create a OneLogin account with the same email address you signed up with on Teaching Vacancies prior to [date], your account data will be imported automatically.</p>

        <h3 class="govuk-heading-s">Importing your data into your GOV.UK One Login account if you use a different email address</h3>

        <p>If you decide to use a different email address for your GOV.UK One Login account to the one you used for Teaching Vacancies, you will be given the option to request an import once you've setup a new account with GOV.UK One Login.</p>

        <p>This will require you to have access to the email address you signed up to Teaching Vacancies with to confirm you have access to your old account.</p>




    </div>

  
  </div>

{% endblock %}
