
{% extends "layout.njk" %}

{% set title = "One Login designs" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            {{title}}
        </h1>

        <p>All designs so far for One Login work. These are likely to change over time, but this index page will keep track of all the designs and link to them.</p>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Concept
                </dt>
                <dd class="govuk-summary-list__value">
                    &#128213; Early stage concepts
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Refining
                </dt>
                <dd class="govuk-summary-list__value">
                    &#128217; Iterating the design
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Done
                </dt>
                <dd class="govuk-summary-list__value">
                    &#128215; Done, signed off on
                </dd>
            </div>
        </dl>


        <h2 class="govuk-heading-m">
            Phase 1: before launch
        </h2>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/onelogin/emails/one">Initial Notify email</a> &#128213;
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/emails/two">Urgency Notify email</a> &#128213;
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/advice_before">Advice page before switch</a> &#128213;
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/notifications">Notifications for people logged in</a> &#128213;
            </li>
        </ul>

        

        <h2 class="govuk-heading-m">
            Phase 2: Launched
        </h2>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/onelogin/create">Create account page</a> &#128213;
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/login">Log in to service page</a> &#128213;
            </li>
            <li>
                <a class="govuk-link" href="#">Notify email of change?</a> &#128213;
            </li>
        </ul>

       

        <h2 class="govuk-heading-m">
            Phase 3: One Login journey & Account merging
        </h2>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/onelogin/start">GOV.UK One Login end journey (taken from user journey site)</a> &#128213;
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/journey/match">Account DOES match page (if using same email as previous TV account)</a> &#128213;
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/journey/nomatch">Email DOES NOT match an old account</a> &#128213;
            </li>
        </ul>

        <h2 class="govuk-heading-m">
            Phase 4: After launch
        </h2>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/onelogin/advice">Advice page after switch</a> &#128213;
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/account">Your account (start of import account journey)</a> &#128213;
            </li>
        </ul>

    </div>


  </div>

{% endblock %}
