
{% extends "layout.njk" %}

{% set title = "One Login designs" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            {{title}}
        </h1>

        <p>All designs so far for One Login work. These are likely to change over time, but this index page will keep track of all the designs and link to them.</p>

        <h2 class="govuk-heading-m">
            Phase 1: before launch
        </h2>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/onelogin/emails/one">Initial Notify email</a>
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/emails/two">Urgency Notify email</a>
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/advice_before">Advice page before switch</a>
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/notifications">Notifications for people logged in</a>
            </li>
        </ul>

        

        <h2 class="govuk-heading-m">
            Phase 2: Launched
        </h2>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/onelogin/create">Create account page</a>
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/login">Log in to service page</a>
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/start">GOV.UK One Login end journey (taken from user journey site)</a>
            </li>
        </ul>

       

        <h2 class="govuk-heading-m">
            Phase 3: After launch
        </h2>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/onelogin/advice">Advice page after switch</a>
            </li>
            <li>
                <a class="govuk-link" href="/onelogin/account">Your account (with import button design)</a>
            </li>
        </ul>

    </div>


  </div>

{% endblock %}
