
{% extends "layout.njk" %}

{% set title = 'Jobseeker sign in' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            How you sign in has changed
          </h3>
          <p class="govuk-body">GOV.UK One Login is replacing all other ways to sign in to services on GOV.UK.</p>
          
          <p class="govuk-body">Sign in to or create a GOV.UK One Login account to save and apply for jobs on Teaching Vacancies.</p>
        </div>
      </div>

      <h2 class="govuk-heading-m">
        If you do not have a GOV.UK One Login account
      </h2>

      <p>Create an account using the same email address as your Teaching Vacancies account to save your past account details.</p>

      <h2 class="govuk-heading-m">
        If you have a GOV.UK One Login account
      </h2>

      <p>If your GOV.UK One Login account uses the same email address as your Teaching Vacancies account, your information will automatically be saved.</p>

      <p>If it uses a different email address, you'll be able to transfer your information after signing in.</p>

      <form method="post">

        {{ govukButton({
          text: 'Continue to GOV.UK One Login'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
