{% extends "layout-hs.html" %}

{% block pageTitle %}
    T / HS / Drafts
{% endblock %}

<!-- {% set bodyClasses = "bespoke-width" %} -->

{% block main %}

<!-- START SUB-NAVIGATION -->
<div class="full-BGstrip" style="background-color:#f3f2f1;">
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper govuk-!-padding-0">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <!-- START ALERT SUCCESS -->
                    <div class="tvs-alert alert-js-success govuk-!-margin-bottom-0 govuk-!-margin-top-4">
                        <svg class="alert-icon"  width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.9375 0L9.75 12L4.0625 6.4L0 10.4L9.75 20L26 4L21.9375 0Z" fill="#006435"/></svg>
                        <!-- <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Alert title</h4> -->
                        <p class="govuk-body">Thank you for your feedback on applying through Teaching Vacancies</p>
                    </div>
                    <!-- END ALERT SUCCESS -->

                    {% include "includes/hiring-staff/acc-drafts.html" %}

                </div>
            </div>
        </main>
        
    </div>
</div>
<!-- END SUB-NAVIGATION -->

<!-- START TABLE -->
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l table-title-number">Draft jobs <span>(8)</span></h2>
                <!-- <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-6" data-module="govuk-button">Show filters</a> -->
            </div>
        </div>

        <!-- START ACTIVE TABLE -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <!-- <caption class="govuk-table__caption">Dates and amounts</caption> -->
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Job title</th>
                            <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state"> Date started</a></th>
                            <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state">Last updated</a></th>
                            <th scope="col" class="govuk-table__header">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state">This is a long job title</a></th>
                            <td class="govuk-table__cell">03 February 2021 at 09:00am</td>
                            <td class="govuk-table__cell">03 February 2021 at 09:00am</td>
                            <td class="govuk-table__cell">
                                <ul class="table-actions-list govuk-!-margin-0 govuk-!-padding-0">
                                    <li><a href="#">Edit listing</a></li>
                                    <li><a href="#">Copy listing</a></li>
                                    <li><a href="#">Delete</a></li>
                                </ul> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
        <!-- END ACTIVE TABLE -->
        
    </main>
</div>
<!-- END TABLE -->

{% endblock %}

{% block content %}

<!-- Removed content from here to create bespoke header, overwrite 'main' block -->

{% endblock %}
