{% extends "layout-js.html" %}

{% block pageTitle %}
T / HS / Application
{% endblock %}

<!-- {% set bodyClasses = "bespoke-width" %} -->

{% block main %}

<!-- START BESPOKE MAST 1-->
<div class="full-BGstrip" style="background-color:#f3f2f1;">
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-4">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-padding-top-2">

                    <div class="govuk-breadcrumbs govuk-!-margin-bottom-6 govuk-!-margin-top-1">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="#">Active jobs</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="#">This is a long teaching job name</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                Joanna Bloggs
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <span class="govuk-caption-l">This is the job listing name</span>
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Joanna Bloggs</h2>
                </div>
                
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half govuk-!-margin-bottom-2">
                    <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-margin-right-1 govuk-!-display-inline-block">Application status</p> 
                    <span class="acc-tag acc-tag__review">Review</span>
                </div>

                <div class="govuk-grid-column-one-half mast-buttons">
                    <!-- <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">Download PDF</button> -->
                </div>
            </div>
        </main>
        
    </div>
</div>
<!-- END BESPOKE MAST 1 -->

<!-- START CONTENT -->
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">

            <!-- START Main content -->
            <div class="govuk-grid-column-two-thirds">

                <a class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Shortlist</a>
                <a class="govuk-button govuk-button--warning govuk-!-margin-right-1" data-module="govuk-button">Reject</a>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">PDF version</button>

                <h2 class="govuk-heading-m">Contact details</h2>
                <!-- START ALERT CALLOUT -->
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            candidate-name@email-address.com
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Phone
                        </dt>
                        <dd class="govuk-summary-list__value">
                            020 675 2454
                        </dd>
                    </div>
                </dl>
                <!-- END ALERT CALLOUT -->

                <!-- START docs -->
                <div class="supp-docs govuk-!-margin-bottom-9">
                    <div class="supp-docs-title">
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Personal statement</h4>
                    </div>
                    <div class="supp-docs-content">
                        <ul class="personal-statement">
                            <li><a href="#" class="document-link">personal-statement.doc</a> 3mb</li>
                        </ul>
                        <p class="govuk-body govuk-!-margin-bottom-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum alias nesciunt aliquam eaque eum. Dolor excepturi cum, provident alias repudiandae natus amet voluptas, quod eaque similique voluptatem voluptatibus! Reprehenderit, nihil?</p>
                    </div>
                </div>
                <!-- END docs -->

                <!-- START Table section 1 -->
                <h2 class="govuk-heading-m">Personal details</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Sarah Philips
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                            5 January 1978
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact information
                        </dt>
                        <dd class="govuk-summary-list__value">
                            72 Guild Street
                            <br>London
                            <br>SE23 6FH
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p>07700 900457</p>
                            <p>sarah.phillips@example.com</p>
                        </dd>
                    </div>
                </dl>
                <!-- END Table section 1 -->

                <!-- START Table section 2 -->
                <h2 class="govuk-heading-m">Personal details</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Sarah Philips
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="#">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                            5 January 1978
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="#">
                                Change
                                <span class="govuk-visually-hidden"> date of birth</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact information
                        </dt>
                        <dd class="govuk-summary-list__value">
                            72 Guild Street
                            <br>London
                            <br>SE23 6FH
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="#">
                                Change
                                <span class="govuk-visually-hidden"> contact information</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p>07700 900457</p>
                            <p>sarah.phillips@example.com</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a href="#">
                                Change
                                <span class="govuk-visually-hidden"> contact details</span>
                            </a>
                        </dd>
                    </div>
                </dl>
                <!-- END Table section 2 -->

            </div>
            <!-- END Main content -->

            <!-- START Sidebar -->
            <div class="govuk-grid-column-one-third">
                <aside class="app-related-items">
                    <h2 class="govuk-heading-m" id="subsection-title">Timeline</h2>
                </aside>
                <aside class="dates">
                    <ul class="test-timeline govuk-!-margin-bottom-0">
                        <li class="test-timeline__item">
                            <h3 class="test-timeline__title govuk-heading-s">
                                Status change
                            </h3>
                            <p class="test-timeline__by">30 July 2020</p>
                        </li>
                        <li class="test-timeline__item">
                            <h3 class="test-timeline__title govuk-heading-s">
                                Application submitted
                            </h3>
                            <p class="test-timeline__by">02 March 2020 at 09:12 am</p>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- Sidebar END -->

        </div>
    </main>
</div>
<!-- END CONTENT -->

{% endblock %}

{% block content %}

<!-- Removed content from here to create bespoke header, overwrite 'main' block -->

{% endblock %}