

/*
-------------------------------------------------------------
GLOBAL STYLES
-------------------------------------------------------------
*/
div.tvs-alert {

    box-sizing: border-box;
    padding: 15px !important;
    margin-bottom: 20px;

    .alert-icon {
        float: left;
        margin-right: 10px;
    }

    .alert-dismiss {
        float: right;
    }

    p {
        margin: 0;
        padding-left: 35px;
    }
    
}

/*
-------------------------------------------------------------
ALERT TYPES
-------------------------------------------------------------
*/
div.alert-js-info {
    background: rgba(0, 94, 165, 0.1);
    border: 5px solid #005EA5; 
}

div.alert-js-success {
    background :#ffffff;
    border: 5px solid #00703c;
}

div.alert-js-warning {
    background :#ffffff;
    border: 5px solid #d4351c;
}

div.alert-js-callout {
    background :#ffffff;
    border: 5px solid #b1b4b6;

    p {
        padding:0 !important;
    }
}

div.alert-js-empty {
    background :#F8F8F8;
    border: 5px dashed #b1b4b6;
    padding: 25px !important;

    p {
        padding:0 !important;
    }
}

div.alert-js-callout2 {
    background :#ffffff;
    border: 5px solid #005EA5;

    p {
        padding:0 !important;
    }
}

.govuk-panel--confirmation {
    h1 {
        color: #ffffff;
    }
}

div.alert-interruption {

    background-color:#1d70b8;
    padding: 60px;

    h2, p {
        color: #ffffff !important;
    }
}

@media (max-width: 40.0625em) {
    div.alert-interruption {
        padding: 30px;
    }
}