/*
------------------------------------------------------------
HiRiNG STAFF APPLICATION MAST
------------------------------------------------------------
*/

section.data-block {
    background-color: saddlebrown;
    color: white;
    display: block;
    padding: 1em;

    span {
        color: white;
    }
    h4 {
        font-weight: 400;
    }

    &.bg-shortlist {
        background-color:#28a197;
    }
    &.bg-reject {
        background-color: #0b0c0c;
    }
    &.bg-review {
        background-color:#f47738;
    }
}

span.acc-tag {
    text-transform: uppercase;
    font-weight:700;
    background-color: red;
    font-size: 16px;
    display:inline-block;
    padding: 3px 6px 3px 6px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.acc-tag__nodecision {
        color: white;
        background-color: #505a5f;
    }
    &.acc-tag__filled {
        color: white;
        background-color: #00703c;
    }
    &.acc-tag__shortlist {
        color: white;
        background-color: #28a197;
    }
    &.acc-tag__review {
        color: white;
        background-color: #f47738;
    }
    &.acc-tag__reject {
        color: white;
        background-color: #0b0c0c;
    }
    &.acc-tag__withdrawn {
        color: white;
        background-color: #b1b4b6;
    }
    &.acc-tag__draft {
        color: white;
        background-color: #505a5f;
    }
}

.mast-subData {
    span {
        &.deadline {
            color: #d4351c;
            font-weight: 700;
        }
    }
}

/*
    Right aligned buttons on account screens
*/

.mast-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
@media (min-width: 40.0625em) {
    .mast-buttons {
        button {
            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
}

/*
------------------------------------------------------------
ACCOUNT VIEWS
------------------------------------------------------------
*/

ul.table-actions-list {
    list-style-type: none;
}

h2.table-title-number {
    span {
        font-weight: 400 !important;
    }
}

/*
------------------------------------------------------------
PERSONAL STATEMENT
------------------------------------------------------------
*/

ul.personal-statement {
    margin:0;
    padding: 0;
    list-style-type: none;

    li {
        margin-bottom: 10px;
        font-size: 1.1875rem;
        line-height: 1.31579;

        &:last-child {
            margin-bottom: 0;
        }

        .document-link {
            background-image: url(/public/images/hsjan20/icon-document.svg);
            background-repeat: no-repeat;
            background-size:20px 18px;
            background-position: 0 50%;
            padding-left: 25px;
        }
    }
}

/*
------------------------------------------------------------
DASHBOARD TABLE ACCTION BUTTONS (00-acc-applicants)
------------------------------------------------------------
*/

.moj-action-bar__filter {
    position: relative;
    margin-right: 10px;
    padding-right: 12px;
}
.moj-action-bar__filter::after {
    content: "";
    background-color: #b1b4b6;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
}