/*
------------------------------------------------------------
ACCOUNT SUB-NAVIGATION
------------------------------------------------------------
*/

ul.acc-navigation__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  li.acc-navigation__list-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 50px;
    // padding: 0 15px;
    // float: left;
    display: inline-block;
    line-height: 50px;

    a {
      font-weight: 700;
      text-decoration: none;
      font-size: 1.1875rem;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  li.acc-navigation__list-item + * {
    margin-left: govuk-spacing(3);
  }

  li.app-navigation__list-item--current {
    border-bottom: 4px solid #1d70b8;

    a {
      color: #0b0c0c;
    }
  }
  
}

ul.acc-navigation__list--has-border {
  border-bottom: 1px solid $govuk-border-colour;
}

@media (max-width: 40.0625em) {
  ul.acc-navigation__list {
    li.acc-navigation__list-item {
      float: none;
      height: 40px;
      line-height: 40px;
    }

    li.app-navigation__list-item--current {
      border-bottom: 0;
      border-left: 4px solid #1d70b8;
    }
  }
}

.acc-username {
  display: inline-block;

  span {
    font-weight: normal;
  }
}

/*
------------------------------------------------------------
ACCOUNT SECTIONS
------------------------------------------------------------
*/

.acc-applications__table {
  font-size: 16px;

  span.name-listing {
    font-weight: 400;
  }
  span.accepting {
    font-weight: 700;
    color: #00703c;
  }
  span.passed {
    font-weight: 700;
    color: #d4351c;
  }
}

div.flex-grid {
  display: flex;
  border-bottom: 1px solid #b1b4b6;
  justify-content: space-between;
  margin-bottom: 15px;

  .col {
    width: 33.333%;

    span.accepting {
      font-weight: 700;
      color: #00703c;
    }
    span.passed {
      font-weight: 700;
      color: #d4351c;
    }
    ul.table-actions-list {
        text-align: right;
    }
  }
}

@media (max-width: 400px) {
  div.flex-grid {
    display: block;

    .col {
      width: 100%;
      margin: 0 0 10px 0;

      ul.table-actions-list {
        text-align: left;
      }
    }
  }
}

/*
------------------------------------------------------------
EDUCATION + QUALIFICATIONS
------------------------------------------------------------
*/

.qualification {
  box-sizing: border-box;
  background: #ffffff;
  border: 5px solid #f3f2f1;

  .qualification-title {
    h4 {
      background-color: #f3f2f1;
      padding: 5px 15px 10px 15px !important;
    }
  }
  .qualification-content {
    padding: 15px !important;
  }
}

/*
------------------------------------------------------------
PERSONAL STATEMENT
------------------------------------------------------------
*/

.supp-docs {
  box-sizing: border-box;
  background: #ffffff;
  border: 5px solid #005ea5;

  .supp-docs-title {
    h4 {
      background-color: #005ea5;
      color: white;
      padding: 5px 15px 10px 15px !important;
    }
  }
  .supp-docs-content {
    padding: 15px !important;
  }
}