/*
------------------------------------------------------------
GLOBAL
------------------------------------------------------------
*/

body {
    font-family: "GDS Transport", "nta", Arial, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.govuk-header__container {
    border-color: #F47738;
    
    .dfe-sign-in & {
        border-color: $govuk-brand-colour;
    }
}

/*
------------------------------------------------------------
COMMON PAGE ELEMENTS
------------------------------------------------------------
*/

/* Used above page titles in slight grey */
.mast-subHeading {
    color: #505a5f;
    font-weight: 400;
}

/* Required stylin for forms */
.form-required {
    font-weight: 400;
    color:#d4351c;
}

/* Full blue strip typography overrides */
.bg-full-blue {

    background-color:#1d70b8 ;

    span, h2, a.govuk-back-link, div.govuk-breadcrumbs {
        color: white !important;
    }

    a.govuk-back-link:focus {
        color: black !important;
    }


}

/*
------------------------------------------------------------
HIRING STAFF WIDTH OVERRIDES
------------------------------------------------------------
*/

/*
Overwrite global page width in layout-js.html
bodyClasses macro
*/
@media (min-width: 1020px) {
    .govuk-width-container-hs { 

        /* Header row */
        .govuk-header {
            .govuk-width-container {
                max-width: 1200px;
            }
        }

        /* Content row with full BG strip */
        .full-BGstrip {
            .govuk-width-container {
                max-width: 1200px;
            }
        }

        /* Content row */
        .govuk-width-container {
            max-width: 1200px;
        }

        /*Footer */
        .govuk-footer {
            .govuk-width-container {
                max-width: 1200px;
            }
        }
    }
}

/*
------------------------------------------------------------
JOBSEEKER WIDTH OVERRIDES
------------------------------------------------------------
*/

/*
Overwrite global page width in layout-js.html
bodyClasses macro
*/
@media (min-width: 1020px) {
    .govuk-width-container-js { 

        /* Header row */
        .govuk-header {
            .govuk-width-container {
                max-width: 1020px;
            }
        }

        /* Content row with full BG strip */
        .full-BGstrip {
            .govuk-width-container {
                max-width: 1020px;
            }
        }

        /* Content row */
        .govuk-width-container {
            max-width: 1020px;
        }

        /*Footer */
        .govuk-footer {
            .govuk-width-container {
                max-width: 1020px;
            }
        }
    }
}

/*
------------------------------------------------------------
HIDE FOR MOBILE HACKS
------------------------------------------------------------
*/

/*
Job advert - contents list
*/

.visually-hidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.mobile-hide { display: none; }
.mobile-show { display: none;}

@media (max-width: 40.0625em) {
    .mobile-show { display: block;}

}
@media (min-width: 40.0625em) {
    .mobile-hide { display: block; }
}

/* (max-width: 600px) = change when window is 600px wide or less (Mobile) */
/* (min-width: 600px) = change when window is 600px wide or more (Desktop) */

/*
------------------------------------------------------------
DESIGN SYSTEM
------------------------------------------------------------
*/

nav.app-navigation {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #f8f8f8;

    .app-navigation__list {
        position: relative;
        left: -15px;
        margin: 0;
        padding: 0;
        list-style: none;

        .app-navigation__list-item {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
            position: relative;
            height: 50px;
            padding: 0 15px;
            float: left;
            line-height: 50px;

            .app-navigation__link {
                font-weight: 700;
                text-decoration: none;
            }
        }

        .app-navigation__list-item--current {
            border-bottom: 4px solid #1d70b8;
        }
    }
}

// @media (min-width: 40.0625em) {
// .app-navigation {
//     font-size: 19px;
//     font-size: 1.1875rem;
//     line-height: 1.31579;
// }
// }

nav.app-subnav {
    // margin-bottom: 100px;
    padding: 0 15px 0 0;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 400;

    ul.app-subnav__section {
        margin: 0 0 20px;
        padding: 0;
        list-style-type: none;

        li.app-subnav__section-item {
            margin-bottom: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 14px;

            &.app-subnav__section-item--current {
                // margin-left: -14px;
                padding-left: 10px !important;
                border-left: 4px solid #1d70b8;
                background-color: #fff;

                a.app-subnav__link {
                    font-weight: bold;
                }
            }

            a {
                padding: 2px 0;
                text-decoration: none;
            }
        }
    }
}

// @media (min-width: 40.0625em) {}
// .app-subnav {
//     font-size: 16px;
//     font-size: 1rem;
//     line-height: 1.25;
// }
// }