.app-card-container {
  
  @include govuk-media-query($from: 800px) {
    display: flex;

    & > div {
      width: 25%;
      padding: 0 15px
    }

    & > div:first-child {
      padding-left: 0;
    }
    
    & > div:last-child {
      padding-right: 0;
    }
  }
  
}

.app-image-card {
  margin-bottom: govuk-spacing(4);

  h3 {
    color: inherit;
  }

  .govuk-hint {
    display: block;
    margin: 0;
    text-decoration: none;
  }

  a {
    display: block;
    text-decoration: none;

    h3 {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 0.1em;
    }
  }

  a:focus {
    background-color: transparent;
    box-shadow: none;

    h3 {
      background-color: $govuk-focus-colour;
      color: $govuk-focus-text-colour;
      box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
      text-decoration: none;
    }
  }

  img {
    margin-bottom: govuk-spacing(1);
  }

  @include govuk-media-query($until: 799px) {
    margin-bottom: govuk-spacing(4);
  }
  
  @include govuk-media-query($from: 400px, $until: 800px) {
    a {
      display: flex;
      align-items: flex-start;
    }

    img {
      margin-right: govuk-spacing(3);
      width: 35%;
    }
    
    .app-image-card__content {
      flex: 1;
    }
  }
}