
.app-job-listing-card {
  display: block;
  justify-content: space-between;
  padding: govuk-spacing(3) 0;

  &:not(:first-child) {
    border-top: 1px solid $govuk-border-colour;
  }

  .col {
    width: 100%;
    margin-bottom: govuk-spacing(3);

    span.accepting {
      font-weight: bold;
      // color: $govuk-success-colour;
      color: red;
    }

    span.passed {
      font-weight: bold;
      // color: $govuk-error-colour;
      color: green;
    }

    ul.table-actions-list {
        text-align: right;
    }
  }

  @include govuk-media-query($from: tablet) {
    display: flex;

    .col {
      width: 33.333%;
    }
  }
}
