
// flex-header is a generic helper class to distribute objects  

.app-job-listing-actions,
.flex-header {
  display: block;

  .govuk-button-group {
    margin-bottom: govuk-spacing(0);
  }

  .govuk-button {
    margin-bottom: govuk-spacing(4);
  }

  // * + * {
  //   align-self: flex-start;
  // }

  @include govuk-media-query($from: tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
