
.govuk-grid-row.full-width-bg-white {
  background-color: #ffffff;
}

.sub-nav .tabs {
  list-style: none;
  padding: 0;
  border: 1px solid #B1B4B6;
  font-size: 24px;
  font-weight: bold;
}

 @media all and (min-width: 48em) {
	 .tabs {
		 display: table;
		 width: 100%;
		//  height: 40px;
	}
}

 .tabs li:first-child {
	 border-top: 0;
}
 @media all and (min-width: 48em) {
	 .tabs li {
      text-align: center;
      display: table-cell;
      width: 25%;
      vertical-align: middle;
      padding: 30px 0;
      /* left padding should compensate for arrow width */
      margin: 0;
      border: 1px solid #B1B4B6;

	}
}
	
 .tabs li a {
	 color: #0B0C0C;
	 text-decoration: none;
	 border: none;
	 display: block;
}
 .tabs li:hover {
	 background-color:#F3F2F1;
  //  border: 2px solid#1D70B8; 
}

.tabs li a:focus {
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.tabs a:hover::before {
  color: #ffffff;
  background-color:#1D70B8;
}

 
 .tabs li.active {
	 background-color:#1D70B8;
	 color: white;
}
 
 .tabs li.active a {
	 color: white;
}

.tabs {
  counter-reset: counter-any-name;
}

.tabs a {
  position: relative;
}

.tabs a::before {
  counter-increment: counter-any-name;
  content: counter(counter-any-name);
  position: absolute;
  left: 1.6em;
  top: -0.4em;
  background: #ffffff;
  color: #0B0C0C;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #B1B4B6;
  box-sizing: border-box;
}





 
