
.govuk-header__container {
    border-color: #F47738;
}
/*
------------------------------------------------------------
SEARCH RESULTS
------------------------------------------------------------
*/


.side-search {
    background-color:#DEE0E2;
    padding: 15px;

    button.govuk-button {
        margin-bottom: 0;
        width: 100%;
    }
}

div.search-alert {

    background-color: #005EA5;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.2);

    svg { 
        float:left;
    }

    p {
        color: white;
        padding-left: 30px !important;
    }

    a {
        color: white;

        &:active {
            color: black;
        }
        &:focus {
            color: black;
        }
    }
}

/* Responsive mobile */
@media (max-width: 40.0625em) {

    div.search-alert {

        p {
            padding-left: 30px !important;
            font-size: 19px;
        }
    
    }

    div.results-top {
        border-bottom: 5px solid #dee0e2;
    }
    
}

/*
Filters
*/

div.filter-desktop {

    h3.filter-heading {

        svg {
            float: left;
            padding-top: 1px;
        }
        
    }

    div.govuk-accordion {

        .govuk-accordion__section {

            .govuk-accordion__section-header {

                
        
                h4.govuk-accordion__section-heading {
        
                    button.govuk-accordion__section-button {
                        font-size: 19px;
                    }
                }
            }

            .govuk-accordion__section-content {

            }
        }
        .first-section {
            border-top: 1px solid #b1b4b6;
        }

    }

    

    .options-container-noSearch {
        border: 5px solid #dee0e2;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 300px;
        padding: 5px 15px 5px 15px;
        border-left: 5px solid #dee0e2;
        border-right: 5px solid #dee0e2;
        border-bottom: 5px solid #dee0e2;

        
    }

    .accordion-default-content-1 {
        padding: 0;
    }
    
}

/* Responsive mobile */
@media (max-width: 40.0625em) {

    div.filter-desktop {
        display: none;
    }

}

/*
------------------------------------------------------------
JOB LISTING
------------------------------------------------------------
*/


/*

@media (min-width: 1020px)
.govuk-width-container {
    margin: 0 auto;
}

.govuk-width-container {
    max-width: 960px;
    margin: 0 15px;
}

@media (min-width: 40.0625em)
.govuk-main-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}
.govuk-main-wrapper {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

*/
ul.listing-actions {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    li {
        font-size: 19px;
        list-style: none;
        border-bottom: 3px solid #F47738;
        padding-bottom: 10px !important;
        font-weight: bold;

        svg {
            float: left;
        }

        a {
            padding-left: 10px !important;
            text-decoration: none;

            &:visited {
                color: #005EA5;
            }
        }
    }
}

ul.similar-nearby {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 19px;

    li {
        list-style: none;
        border-left: 6px solid #F47738;
        padding: 10px 0 10px 10px;

        a {
            display: block;
            margin-bottom: 5px !important;
            
        }
        span.sjn-name {
            display: block;
            font-size: 16px;
            font-weight: bold;

        }
        span.sjn-address {
            display: block;
            font-size: 16px;

        }
    }
}

p.nearby-link {

    a {
        padding-left: 10px;
    }
    svg {
        float: left;
    }
}

@media (max-width: 40.0625em) {

    ul.listing-actions {
    grid-template-columns: repeat(1, 1fr);
    }

    ul.similar-nearby {

        grid-template-columns: repeat(1, 1fr);
    }
}

/*
------------------------------------------------------------
CREATE AN ALERT
------------------------------------------------------------
*/

section.criteria-highlight {

    border: 5px solid #bfc1c3;
    box-sizing: border-box;

    ul {
        list-style: none;

        li {
            span {
                font-weight: bold;
            }
        }
    }
}

/*
------------------------------------------------------------
EMAILs
------------------------------------------------------------
*/

.email-width {
    .govuk-width-container {
        max-width: 600px;
    }
}

.email-section {

    border-bottom: 1px #6F777B solid;

    &:first-of-type {
        border-top: 1px #6F777B solid;
    }

    &:last-of-type {
        border-bottom: none;
    }
}