
/*
---------- Search form ------------------------------
*/

form.start-search {
    background-color: $govuk-link-colour;
    padding: 20px 20px 0px 20px;
    margin-bottom: 30px;

    h1 { color: #FFF; }
    .label-blue { color: #FFF; font-weight: bold; }
    div.start-show-more {margin-bottom: 20px;}
    a#toggle { color: #FFF; margin-bottom: 20px;}
    a#toggle:focus { color: #000; }
    a { color: #FFF; }
    p { color: #FFF; }

    .govuk-fieldset {

        .commute-input {
            margin-bottom: 10px;
        }

        .commute-inset {
            margin-bottom: 20px;
        }
    }

}

div#expand {
    display: none;
}

/*
.input-location {
    width: 66.66% !important;
}

.input-radius {
    margin-right: 0;
    width: 29% !important;

    select#radius {
        height: 40px;
        border: none;
        font-size: 19px;
        width: 100%;
    }
}
*/

@media (max-width: 40.0625em) {
    /*
    .input-location {
        width: 65% !important;
        margin-right:5px;
    }
    .input-radius {
        width: 32% !important;
        font-size: 16px;
    }
    */
}


.regions-list {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
    list-style-type: none;
    padding: 0;

    li {
        font-size: 19px;
        font-weight: 700;
        padding-bottom: .263em;
        margin-top: .263em;
        display: inline-block;
        width: 100%;

        a {
            text-decoration: none;
            text-transform: none;
        }
    }
}

@media (max-width: 40.0625em) {
    .regions-list {
        -moz-column-count: 1;
        -moz-column-gap: 30px;
        -webkit-column-count: 1;
        -webkit-column-gap: 30px;
        column-count: 1;
        column-gap: 30px;
    }
}
