.app-timeline-item {
  display: block;
  border-top: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(2);
  
  .app-timeline-item__content {
    padding: govuk-spacing(3);
    margin-top: govuk-spacing(3);
    background-color: govuk-colour("light-grey");
  }
  
  p:last-child {
    margin: 0;
  }
  
}

.app-timeline-item + .app-timeline-item {
  margin-top: govuk-spacing(7);
}