// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/autocomplete";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// ----------------------------------------------------------  
// Helpers
// ----------------------------------------------------------

@import "helpers/show-hide-at-breakpoint";

// ----------------------------------------------------------  
// Overrides
// ----------------------------------------------------------

@import "overrides/body";
@import "overrides/moj-header";
@import "overrides/moj-nav";
@import "overrides/header";
@import "overrides/notification-banner";

// ----------------------------------------------------------  
// TVS Components and Templates
// ----------------------------------------------------------

@import "bespoke/global";
@import "bespoke/account-creation";
@import "bespoke/alerts";
@import "bespoke/alt-search-form";
@import "bespoke/applicant-card";
@import "bespoke/application-hs";
@import "bespoke/application-hs";
@import "bespoke/application-js";
@import "bespoke/callout-card";
@import "bespoke/create-listing";
@import "bespoke/dash-list";
@import "bespoke/detail-component";
@import "bespoke/interview-card";
@import "bespoke/image-card";
@import "bespoke/job-listing";
@import "bespoke/job-listing-actions";
@import "bespoke/job-listing-card";
@import "bespoke/notes-item";
@import "bespoke/search-results";
@import "bespoke/service-start";
@import "bespoke/sidebar";
@import "bespoke/single-job-action-bar";
@import "bespoke/timeline";
@import "bespoke/timeline-item";

// ----------------------------------------------------------  
// Prototype specific (to sort)
// ----------------------------------------------------------  

// Commute - October 2019
@import "legacy/filters";

// Hiring Staff - January 2020
@import "legacy/create-job";

// Search Prototype - February 2020
@import "legacy/search-bespoke";

// MAT Prototype - March 2020
@import "legacy/mat-march20";

// MAT Prototype - April 2020
@import "legacy/mat-apr20";

// MAT Prototype - July 2020
@import "legacy/mat-jul20";

// MAT Prototype - July 2020
@import "legacy/jul-job-alerts";

// Application Prototype - October 2020