// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

$app-images-path: "/public/images/";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
// Import local component styles
@import "app/views/components/all.scss";
@import "filter-layout";

// utilities
@import "utilities/hidden";

.govuk-header {
  border-bottom: 10px solid #1d70b8;
}

.govuk-header__logo {
  @include govuk-media-query($from: tablet) {
    width: 45%;
  }
}

.govuk-header__content {
  @include govuk-media-query($from: tablet) {
    width: 55%;
  }
}

.app-panel {
  background-color: govuk-colour('light-grey');
  padding: govuk-spacing(3) govuk-spacing(3);
  margin-bottom: govuk-spacing(6);

  .govuk-summary-list {
    margin-bottom: 0;
  }
}

h1 .govuk-tag {
  vertical-align: middle;
  white-space: nowrap;
}

.app-inset--highlight {
  border-color: govuk-colour('blue');

  a {
    font-weight: bold;
  }
}

.app-profile__section {
  // background: lightblue;
  margin-bottom: govuk-spacing(5);
  padding-bottom: govuk-spacing(5);

  h3 {
    margin-top: govuk-spacing(4)
  }

  &--first {
    margin-top: govuk-spacing(8);
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.app-phase-banner {
  border-bottom: 0;
}

.app-schools {
  margin-bottom: govuk-spacing(4);
}

.app-schools__item {
  border-bottom: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(4);

  &:first-of-type {
    padding-top: 0;
  }

  h2 {
    margin-bottom: govuk-spacing(1);
  }

  p {
    margin-bottom: govuk-spacing(1);
  }

  .govuk-summary-list {
    @include govuk-font(16);
    margin-bottom: 0;
  }

  .govuk-summary-list__key, .govuk-summary-list__value {
    padding-bottom: govuk-spacing(0);
  }
}

.app-search-form {
  background: govuk-colour('light-grey');
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(4);

  .govuk-button {
    margin-bottom: 0;
  }

  .govuk-form-group {
    margin-bottom: govuk-spacing(4);
  }
}




.app-jobs {
  margin-bottom: govuk-spacing(4);
}

.app-jobs__item {
  border-bottom: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(4);

  &:first-of-type {
    padding-top: 0;
  }

  h2 {
    margin-bottom: govuk-spacing(1);
  }

  p {
    margin-bottom: govuk-spacing(1);
  }

  .govuk-summary-list {
    @include govuk-font(16);
    margin-bottom: 0;
  }

  .govuk-summary-list__key, .govuk-summary-list__value {
    padding-bottom: govuk-spacing(0);
  }
}

.app-list {
  margin-bottom: govuk-spacing(6);
}

.app-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(3);

  &--first {
    padding-top: 0;
  }

}

.app-qualification-group {

  h2, h3 {
    padding-top: govuk-spacing(6);
  }

  &--first {
    h2, h3 {
      padding-top: 0;
    }
  }
}

.app-qualifications-group__org-year {
  margin-bottom: govuk-spacing(3);
}

.app-summary-list--compact {
  @include govuk-font(16);
  margin-bottom: 0;

  .govuk-summary-list__key, .govuk-summary-list__value {
    padding-bottom: govuk-spacing(0);
  }

  @include govuk-media-query($from: tablet) {
    .govuk-summary-list__key {
      width: 37%;
    }
  }
}

.app-prose {
  ul:not([class]) {
    @extend %govuk-list;
    @extend %govuk-list--bullet;
    max-width: 40rem;
  }
}

hr {
  border-top: 1px solid govuk-colour('mid-grey');
  margin-bottom: govuk-spacing(6);
}
