// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

$app-images-path: "/public/images/";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
// Import local component styles
@import "app/views/components/all.scss";

.govuk-header {
  border-bottom: 10px solid #1d70b8;
}

.govuk-header__logo {
  @include govuk-media-query($from: tablet) {
    width: 45%;
  }
}

.govuk-header__content {
  @include govuk-media-query($from: tablet) {
    width: 55%;
  }
}

.app-panel {
  background-color: govuk-colour('light-grey');
  padding: govuk-spacing(3) govuk-spacing(3);
  margin-bottom: govuk-spacing(6);

  .govuk-summary-list {
    margin-bottom: 0;
  }
}

h1 .govuk-tag {
  vertical-align: middle;
  white-space: nowrap;
}

.app-inset--highlight {
  border-color: govuk-colour('blue');

  a {
    font-weight: bold;
  }
}

.app-profile__section {
  // background: lightgray;
  margin-bottom: govuk-spacing(5);
  padding-bottom: govuk-spacing(5);

  h3 {
    margin-top: govuk-spacing(4)
  }

  &:first-of-type {
    margin-top: govuk-spacing(8);
  }
}

.app-phase-banner {
  border-bottom: 0;
}