
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Phases' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          Job preferences
        </span>
        {{title}}
      {% endset %}


      <form method="post" novalidate="">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
            <h1 class="govuk-fieldset__heading"><legend class="govuk-fieldset__legend govuk-fieldset__legend--l"><span class="govuk-caption-l">Job preferences</span> Phases</legend></h1><legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input checked class="govuk-checkboxes__input" id="profile[phases]" name="profile[phases]" type="checkbox" value="Primary"> 
                <label class="govuk-label govuk-checkboxes__label" for="profile[phases]">Primary (ages 3 to 11)</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="profile[phases]-2" name="profile[phases]" type="checkbox" value="Middle"> 
                <label class="govuk-label govuk-checkboxes__label" for="profile[phases]-2">Middle (ages typically 9 to 13)</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="profile[phases]-3" name="profile[phases]" type="checkbox" value="Secondary"> 
                <label class="govuk-label govuk-checkboxes__label" for="profile[phases]-3">Secondary (ages 11 to 16)</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="profile[phases]-4" name="profile[phases]" type="checkbox" value="Sixth form or college"> 
                <label class="govuk-label govuk-checkboxes__label" for="profile[phases]-4">Sixth form or college (ages 16 to 18)</label>
              </div>
            </div>
          </fieldset>
        </div><button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <p><a href="/profile">Cancel</a></p>
      </form>

    </div>
  </div>

{% endblock %}
