
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Key stages' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-xl">
          Job preferences
        </span>
        {{title}}
      {% endset %}

      <form method="post" novalidate="">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading"><span class="govuk-caption-xl">Job preferences</span> Key stages</legend></h1></legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="profile[keyStages]" name="profile[keyStages]" type="checkbox" value="Early years" aria-describedby="early-years-hint"> 
                <label class="govuk-label govuk-checkboxes__label" for="profile[keyStages]">Early years (ages 0 to 5)</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="profile[keyStages]-2" name="profile[keyStages]" type="checkbox" value="Key stage 1" aria-describedby="KS1-years-hint">
                <label class="govuk-label govuk-checkboxes__label" for="profile[keyStages]-2">Key stage 1 (ages 5 to 7)</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="profile[keyStages]-3" name="profile[keyStages]" type="checkbox" value="Key stage 2" aria-describedby="KS2-years-hint">
                <label class="govuk-label govuk-checkboxes__label" for="profile[keyStages]-3">Key stage 2 (ages 7 to 11)</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="profile[keyStages]-4" name="profile[keyStages]" type="checkbox" value="Key stage 3" aria-describedby="KS3-years-hint">
                <label class="govuk-label govuk-checkboxes__label" for="profile[keyStages]-4">Key stage 3 (ages 11 to 14)</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="profile[keyStages]-5" name="profile[keyStages]" type="checkbox" value="Key stage 4" aria-describedby="KS4-years-hint">
                <label class="govuk-label govuk-checkboxes__label" for="profile[keyStages]-5">Key stage 4 (ages 14 to 16)</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="profile[keyStages]-6" name="profile[keyStages]" type="checkbox" value="Key stage 5" aria-describedby="KS5-years-hint">
                <label class="govuk-label govuk-checkboxes__label" for="profile[keyStages]-6">Key stage 5 (ages 16 to 18)</label>
              </div>
            </div>
          </fieldset>
        </div><button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <p><a href="/profile">Cancel</a></p>
      </form>

    </div>
  </div>

{% endblock %}
