{% extends "layout.njk" %}

{% set heading = 'Locations' %}
{% set caption = 'Job preferences' %}

{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

{% set htmlContent = "<h2 class=\"govuk-heading-m\">" + flash + "</h2>" %}
{% if 'alert' in flash %}
  {% set htmlContent = htmlContent + "<p>hello</p>" %}
{% endif %}


  {{ govukNotificationBanner({
    html: htmlContent,
    type: "success",
    icon: false
  }) if flash and flash.length }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      </h1>

      <form action="/profile/job-preferences/location-check" method="post">

      {% if user.profile.allEnglandYes == 'Yes' %}

       {{ govukRadios({
          idPrefix: "all-of-england",
          name: "all-of-england",
          fieldset: {
            legend: {
              text: "Location setting",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Show profile to schools across England",
              checked: true
            },
            {
              value: "No",
              text: "Show profile to schools in specific locations",
              hint:{
                text:'Enter multiple locations with a search radius around cities, towns and postcodes.'
              }
            }
          ]
        }) }}

      {% else %}


        <h2 class="govuk-heading-m">Locations added</h2>

        <div class="app-list">

          {% for key, location in profile.locations %}

            <div class="app-list__item">
              <div class="app-page-header govuk-!-margin-bottom-0">
                <div class="app-page-header__title">
                  <h2 class="govuk-heading-s">Location {{ loop.index }}</h2>
                </div>
                <div class="app-page-header__actions">
                  <div class="app-button-menu">
                    <div class="app-button-menu__wrapper">
                      <a class="app-button-menu__item govuk-link" href="location">Change</a> <a class="app-button-menu__item govuk-link" href="location-delete-last">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              <p class="govuk-!-margin-bottom-0 govuk-!-margin-top0">{{location.location}} ({{location.radius}})</p>
            </div>
            
          {% endfor %}
         
        </div>
<!--
        <div class="govuk-inset-text">

          <p class="">
            Select set location to across England if you are open to relocating for jobs across England.
          </p>

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Set location to across England
          </button>

        </div>
-->
        {{ govukRadios({
          idPrefix: "profile[addAnotherLocation]",
          name: "profile[addAnotherLocation]",
          fieldset: {
            legend: {
              text: "Do you want to add another location?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            },
            {
              divider: "or"
            },
            {
              value: "England",
              text: "Set location preference to across England",
              hint: {
                text: "This will remove all other locations and show your profile to all schools across England with relevant jobs."
              }
            }
          ]
        }) }} 

       


      {% endif %}


       {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
      
      <p><a href="#">Cancel</a></p>

    </div>
  </div>

{% endblock %}
