
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Location' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">
          Job preferences
        </span>
        {{title}}
      </h1>



      <form method="post" novalidate>

        {{ govukInput({
          id: "profile[location]",
          name: "profile[location]",
          label: {
            text: "Location",
            classes: 'govuk-label--m'
          },
          value: location
        }) }}

        {{ govukRadios({
          idPrefix: "profile[radius]",
          name: "profile[radius]",
          fieldset: {
            legend: {
              text: "Search radius",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: searchRadiusOptions
        }) }}

        {{ govukRadios({
          name: "profile-alert",
          fieldset: {
            legend: {
              text: "Do you want to set up a job alert for this location?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Job alerts provide a convenient way to receive email notifications when new jobs are posted."
          },
          items: [
            {
              value: "daily",
              text: "Yes daily, at 3pm"
            },
            {
              value: "weekly",
              text: "Yes weekly, at 6pm on Fridays"
            },
            {
              divider: "or"
            },
            {
              value: "no",
              text: "No, I don't want to set up a job alert"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        <p><a href="/profile">Cancel</a></p>
      </form>

    </div>
  </div>

{% endblock %}
