
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Location' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" novalidate>

         <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="all-of-england-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-xl">
                    Job preferences
                </span>
                <h1 class="govuk-fieldset__heading">
                    Are you interested in jobs across England? 
                </h1>
                </legend>
                
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="all-of-england" name="all-of-england" type="radio" value="Yes" data-aria-controls="conditional-all-of-england">
                        <label class="govuk-label govuk-radios__label" for="all-of-england">
                            Yes, I am willing to relocate across England to work
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-all-of-england">
                        <p class="govuk-body">This will show your profile to all relevant roles across England.</p>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="all-of-england-2" name="all-of-england" type="radio" value="No" data-aria-controls="conditional-all-of-england-2">
                        <label class="govuk-label govuk-radios__label" for="all-of-england-2">
                            No, I am looking for roles in specific locations
                        </label>
                        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            This will allow you to select multiple locations with a search radius around cities, towns and postcodes.
                        </div>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-all-of-england-2">
                        <p class="govuk-body">Your profile will only be shown to schools relevant to your location preferences.</p>
                    </div>
                </div>
            </fieldset>
            </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

        <p><a href="/profile">Cancel</a></p>
      </form>

    </div>
  </div>

{% endblock %}
