{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Skills and experience' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        {{title}}
      {% endset %}

      <form method="post" novalidate>

        {{ govukTextarea({
          id: "profile[experience]",
          name: "profile[experience]",
          label: {
            html: h1,
            isPageHeading: true,
            classes: 'govuk-label--l'
          },
          value: profile.experience
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        <p><a href="/profile">Cancel</a></p>

      </form>

    </div>
  </div>

{% endblock %}
