{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Do you want to provide a phone number?' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Personal details
      </span>
      {% set h1 %}
        {{title}}
      {% endset %}


      <form method="post" novalidate>

        {% set phone %}
          {{ govukInput({
            id: "profile[phoneNumber]",
            name: "profile[phoneNumber]",
            label: {
              text: "Phone number",
              classes: 'govuk-label--s'
            },
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-input--width-20",
            value: user.profile.phoneNumber
          }) }}
        {% endset %}

        {# {% set options[0].conditional = { html: phone } %} #}

        {{ govukRadios({
          idPrefix: "profile[providePhoneNumber]",
          name: "profile[providePhoneNumber]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [{
            value: options[0].value,
            text: options[0].text,
            checked: options[0].checked,
            conditional: {
              html: phone
            }
          }, {
            value: options[1].value,
            text: options[1].text,
            checked: options[1].checked
          }]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          id: "phone_button"
        }) }}

        <p><a href="/profile">Cancel</a></p>

      </form>

    </div>
  </div>

{% endblock %}
