{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Do you need a skilled worker visa to work in the UK?' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Personal details
      </span>
      {% set h1 %}
        {{title}}
      {% endset %}


      <form method="post" novalidate>

        {% set hintCode %}
          <div id="right-to-work-hint" class="govuk-hint">
             If you need a skilled worker visa you will also need a job that can sponsor you.
          </div>
        {% endset %}

         {% set UKHintCode %}
          <div id="right-to-work-hint" class="govuk-hint">
            This includes a pre-existing right to work in the UK, such as settled or pre-settled status under the EU Settlement Scheme or indefinite leave to remain in the UK.
          </div>
        {% endset %}

        {{ govukRadios({
          idPrefix: "profile[provideWork]",
          name: "profile[provideWork]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint:{
            html:hintCode
          },
          items: [{
            value: 'Yes, I am looking for a teaching sponsorship',
            text: "Yes, I am looking for a teaching sponsorship",
            checked: options[0].checked
          }, {
            value: 'no',
            text: "No, I can already work in the UK without a visa",
            checked: options[1].checked,
            hint:{
              html:UKHintCode
            }
          },{
            value: 'other',
            text: "No, I am eligible to work in the UK via another type of visa",
            checked: options[2].checked
          }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes:"next-location-6"
        }) }}

        <p><a href="/profile">Cancel</a></p>

      </form>

    </div>
  </div>

{% endblock %}
