
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'About you' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      {{profile | log}}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do you have experience teaching a key stage?"
            },
            value: {
              html: profile.hasExperienceWithKeyStages
            },
            actions: {
              items: [
                {
                  href: "/profile/about/key-stages",
                  text: "Change",
                  visuallyHiddenText: "if you have experience teaching a key stage"
                }
              ]
            }
          },
          {
            key: {
              text: "Key stages"
            },
            value: {
              text: profile.experiencedKeyStages | join(', ')
            },
            actions: {
              items: [
                {
                  href: "/profile/about/key-stages",
                  text: "Change",
                  visuallyHiddenText: "Key stages"
                }
              ]
            }
          } if profile.hasExperienceWithKeyStages == 'Yes',
          {
            key: {
              text: "Do you have experience teaching a subject?"
            },
            value: {
              html: profile.hasExperienceWithSubjects
            },
            actions: {
              items: [
                {
                  href: "/profile/about/subjects",
                  text: "Change",
                  visuallyHiddenText: "if you have experience teaching a subject"
                }
              ]
            }
          },
          {
            key: {
              text: "Subjects"
            },
            value: {
              text: profile.experiencedSubjects | join(', ')
            },
            actions: {
              items: [
                {
                  href: "/profile/about/subjects",
                  text: "Change",
                  visuallyHiddenText: "Key stages"
                }
              ]
            }
          } if profile.hasExperienceWithSubjects == 'Yes',
          {
            key: {
              text: "About you"
            },
            value: {
              html: profile.about | nl2br
            },
            actions: {
              items: [
                {
                  href: "/profile/about",
                  text: "Change",
                  visuallyHiddenText: "About you"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Return to profile",
        href: "/profile"
      }) }}

    </div>
  </div>

{% endblock %}
