
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Jobseeker guides' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Jobseeker guides
      </h1>

      <p>Get advice from expereinced teacher and school leaders on applying for your teaching role.</p>


    </div>
  </div>




  <div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/support-for-practitioners">
				<div class="hf-card-container">
					<img alt="Health and wellbeing thumbnail" class="full-width-image" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/find-a-teaching-job.jpg">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">Find a teaching role at the right school</h3>
					</div>
				</div></a>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/areas-of-learning">
				<div class="hf-card-container">
					<img alt="Health and wellbeing thumbnail" class="full-width-image" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/find-a-teaching-job.jpg">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">Write a great teaching job application in 5 steps</h3>
					</div>
				</div></a>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/health-and-wellbeing">
				<div class="hf-card-container">
					<img alt="Health and wellbeing thumbnail" class="full-width-image" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/find-a-teaching-job.jpg">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">How to write a teacher personal statement</h3>
					</div>
				</div></a>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/support-for-practitioners">
				<div class="hf-card-container">
					<img alt="Health and wellbeing thumbnail" class="full-width-image" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/find-a-teaching-job.jpg">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">Prepare for a teaching interview lesson</h3>
					</div>
				</div></a>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/areas-of-learning">
				<div class="hf-card-container">
					<img alt="Health and wellbeing thumbnail" class="full-width-image" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/find-a-teaching-job.jpg">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">How to approach a teaching job interview</h3>
					</div>
				</div></a>
			</div>
		</div>
{% endblock %}
