/*
------------------------------------------------------------
HiRiNG STAFF APPLICATION MAST
------------------------------------------------------------
*/

section.data-block {

    display: block;
    padding: 1em;

    span {
        // color: white;
    }
    h4 {
        font-weight: 400;
    }

    &.bg-shortlist {
        color: #005A30;
        background-color: #CCE2D8;

        span {
            color: #005A30;
        }
    }
    &.bg-reject {
        color: #942514;
        background-color: #F6D7D2;
        span {
            color: #942514;
        }
    }
    &.bg-review {
        color: #144E81;
        background-color: #D2E2F1;
        span {
            color: #144E81;
        }
    }
}

span.acc-tag {
    text-transform: uppercase;
    font-weight:700;
    background-color: red;
    font-size: 16px;
    display:inline-block;
    padding: 3px 6px 3px 6px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.acc-tag__nodecision {
        color: #383F43;
        background-color: #EEEFEF;
    }
    &.acc-tag__filled {
        color: white;
        background-color: #00703c;
    }
    &.acc-tag__shortlist {
        color: #005A30;
        background-color: #CCE2D8;
    }
    &.acc-tag__review {
        color: #144E81;
        background-color: #D2E2F1;
    }
    &.acc-tag__reject {
        color: #942514;
        background-color: #F6D7D2;
    }
    &.acc-tag__withdrawn {
        color: #383F43;
        background-color: #EEEFEF;
    }
    &.acc-tag__draft {
        color: #594D00;
        background-color: #FFF7BF;
    }
}

/*
    additional styles for application round 4
*/
.left-action1{
  margin-right: 30px;
}

div.action-bar1{
  margin-top: 50px;
}

/*
    END additional styles for application round 4
*/

.mast-subData {
    span {
        &.deadline {
            color: #d4351c;
            font-weight: 700;
        }
    }
}

/*
    Right aligned buttons on account screens
*/

.mast-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

@media (min-width: 40.0625em) {
    .mast-buttons {
        button {
            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
}

/*
------------------------------------------------------------
ACCOUNT VIEWS
------------------------------------------------------------
*/

ul.table-actions-list {
    list-style-type: none;
}

h2.table-title-number {
    span {
        font-weight: 400 !important;
    }
}

/* Used to create left and right positioning of sort and action buttons */
div.action-bar {
    display: flex;

    .left-action {

    }
    .centre-action {
        flex-grow: 1;
    }
    .right-action {

    }
}

/*
------------------------------------------------------------
PERSONAL STATEMENT
------------------------------------------------------------
*/

ul.personal-statement {
    margin:0;
    padding: 0;
    list-style-type: none;

    li {
        margin-bottom: 10px;
        font-size: 1.1875rem;
        line-height: 1.31579;

        &:last-child {
            margin-bottom: 0;
        }

        .document-link {
            background-image: url(/public/images/hsjan20/icon-document.svg);
            background-repeat: no-repeat;
            background-size:20px 18px;
            background-position: 0 50%;
            padding-left: 25px;
        }
    }
}

/*
------------------------------------------------------------
DASHBOARD TABLE ACTION BUTTONS (00-acc-applicants)
------------------------------------------------------------
*/

.moj-action-bar__filter {
    position: relative;
    margin-right: 10px;
    padding-right: 12px;
}
.moj-action-bar__filter::after {
    content: "";
    background-color: #b1b4b6;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
}

// sidebar

.grey-bg-container {
  background:#f3f2f1;
  padding: govuk-spacing(3);
}

// Single application gaps in employment

.employment-break {

  & > .govuk-accordion__section-header {
    display: none;
  }

  .govuk-accordion__section-content {
    padding: 0;
  }

}

// Single application header

.single-application-header__status {
  position: relative;
  display: inline-block;
  margin-left: govuk-spacing(1);
  bottom: 3px;
}

