/*
------------------------------------------------------------
JOB DETAILS - SUBJECT CHECKBOXES
------------------------------------------------------------
*/

.app-c-option-select__filter {
    position: relative;
    background: #ffffff;
    border-left: 5px solid #dee0e2;
    border-right: 5px solid #dee0e2;
    border-top: 5px solid #dee0e2;
    padding: 13px 13px 10px 13px;
}
div.checkboxes-container {
    /* border: 5px solid #dee0e2;*/
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    padding: 5px 15px 5px 15px;
    border-left: 5px solid #dee0e2;
    border-right: 5px solid #dee0e2;
    border-bottom: 5px solid #dee0e2;

    &.subject-b {
        border-top: 5px solid #dee0e2;
    }

    .subject-bold {
        font-weight: 700;
    }
}

/*
------------------------------------------------------------
SIDEBAR STEPS 
------------------------------------------------------------
*/

ol.app-step-nav__steps {

    .app-step-nav__step--active {

        .app-step-nav__circle {
            background-color: #0b0c0c;

            .app-step-nav__circle-background {
                text-shadow: none;
                color: white;
            }
        }

    }

    .app-step-nav__step--visited {

        .app-step-nav__circle {
            background-color: #1d70b8;

            .app-step-nav__circle-background {
                text-shadow: none;
                color: white;
            }
        }

    }

}

/*
------------------------------------------------------------
SECTION NAME
------------------------------------------------------------
*/

/*
------------------------------------------------------------
SECTION NAME
------------------------------------------------------------
*/

/*
------------------------------------------------------------
SECTION NAME
------------------------------------------------------------
*/

/*
------------------------------------------------------------
SECTION NAME
------------------------------------------------------------
*/

/*
------------------------------------------------------------
SECTION NAME
------------------------------------------------------------
*/