
.app-job-listing-card {
  display: block;
  padding: govuk-spacing(3) 0;

  &:not(:first-child) {
    border-top: 1px solid $govuk-border-colour;
  }

  .col {
    width: 100%;
    margin-bottom: govuk-spacing(3);

    span.accepting {
      font-weight: bold;
      // color: $govuk-success-colour;
      color: red;
    }

    span.passed {
      font-weight: bold;
      // color: $govuk-error-colour;
      color: green;
    }

    ul.table-actions-list {
        text-align: right;
    }
  }

  dl {
    margin: 0;
  }

  dd, dt {
    display: inline;
    margin: 0;
  }

  dl div {
    color: $govuk-secondary-text-colour;
  }

  dl div + div {
    margin-top: govuk-spacing(1);
  }

  @include govuk-media-query($from: tablet) {
    display: flex;

    .col {
      width: 50%;
      margin-bottom: 0;
    }
    
    .col:nth-child(2) {
      padding-left: govuk-spacing(4);
    }
  }
  
  @include govuk-media-query($from: desktop) {
    .col {
      width: 33.333%;
    }
  }
}
