
ul.notes-timeline {

    &:before {
        top:13px;
    }

    li.test-timeline__item {

        margin-bottom: 20px;

        h3.test-timeline__title {
            margin-bottom: 20px;
            display: inline-block;
        }

        h4.notes-heading {
            font-size: 19px;
            margin: 0 0 10px 0;
        }
        p.notes-copy {
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0;
            }
            
        }
        
    }

}
