{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Do you have qualified teacher status (QTS)?' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select yes if you have qualified teacher status",
      href: "#profile[qts]"
    },
    {
      text: "Enter the year your QTS was awarded",
      href: "#profile[qtsAwardedYear]"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          Qualified teaching status
        </span>
        {{title}}
      {% endset %}

      <form method="post" novalidate>

        {% set year %}
          {{ govukInput({
            id: "profile[qtsAwardedYear]",
            name: "profile[qtsAwardedYear]",
            label: {
              text: "Year QTS awarded",
              classes: 'govuk-label--s'
            },
            errorMessage: {
              text: "Enter the year your QTS was awarded"
            },
            classes: "govuk-input--width-5",
            value: qtsAwardedYear
          }) }}

        {% endset %}


        {{ govukRadios({
          idPrefix: "profile[qts]",
          name: "profile[qts]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: "Select yes if you have qualified teacher status"
          },
          items: [
            {
              value: options[0].value,
              text: options[0].text,
              checked: options[0].checked,
              conditional: {
                html: year
              }
            },
            {
              value: options[1].value,
              text: options[1].text,
              checked: options[1].checked
            },
            {
              value: options[2].value,
              text: options[2].text,
              checked: options[2].checked
            }
          ]
        }) }}

        {{user | log}}


        {{ govukButton({
          text: "Save and continue"
        }) }}

        <p><a href="/profile">Cancel</a></p>

      </form>

    </div>
  </div>

{% endblock %}
