
{% extends "layout.njk" %}

{% set title = 'Previous account details' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Code matches
          </h3>
        </div>
      </div>
   
      <h1 class="govuk-heading-l">
          {{title}}
      </h1>
    
        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Name
            </dt>
            <dd class="govuk-summary-list__value">
            Sarah Philips
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
            5 January 1978
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Address
            </dt>
            <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Contact details
            </dt>
            <dd class="govuk-summary-list__value">
            <p class="govuk-body">07700 900457</p>
            <p class="govuk-body">sarah.phillips@example.com</p>
            </dd>
        </div>
        </dl>
        
      <p>If these details look familiar, you can import them into your account.</p>

      <form action="import_complete" novalidate>

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Import account
          </button>
          <a class="govuk-link" href="#">Cancel</a>
        </div>

      </form>



      


    </div>
  </div>

{% endblock %}
