
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Your profile' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Your account details have been transferred.
          </h3>
        </div>
      </div>
   
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          {{title}} </h1>
      <p>Schools and trusts can find your profile and invite you to apply for roles.</p>

      <h2 class="govuk-heading-m govuk-!-padding-top-6">Personal details</h2>
    
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Name
            </dt>
            <dd class="govuk-summary-list__value">
            Sarah Philips
            </dd>
                        <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Do you want to provide a phone number?	
            </dt>
            <dd class="govuk-summary-list__value">
            No
            </dd>
                        <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Do you need Skilled Worker visa sponsorship?	
            </dt>
            <dd class="govuk-summary-list__value">
            No, I already have the right to work in the UK	
            </dd>
                        <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m govuk-!-padding-top-6">Job preferences</h2>
    
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Role
            </dt>
            <dd class="govuk-summary-list__value">
              Teacher 
            </dd>
                        <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Education phases	
            </dt>
            <dd class="govuk-summary-list__value">
              Primary
            </dd>
                        <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Key stages	
            </dt>
            <dd class="govuk-summary-list__value">
              Early years (ages 0 to 5), Key stage 1 (ages 5 to 7), Key stage 2 (ages 7 to 11)
            </dd>
                        <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Working pattern	
            </dt>
            <dd class="govuk-summary-list__value">
              Full time
            </dd>
                        <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Locations
            </dt>
            <dd class="govuk-summary-list__value">
              Nottinghamshire (This area only)
            </dd>
                        <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
        </div>
      </dl>

     
      <h2 class="govuk-heading-m govuk-!-padding-top-6">Job alerts</h2>
    
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job alert 1
            </dt>
            <dd class="govuk-summary-list__value">
              Within 20 miles of Sawley, Nottingham NG1 111, <br/>Teaching and leadership roles: Teacher,<br/>Working patterns: Full time 
            </dd>
                        <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job alert 2
            </dt>
            <dd class="govuk-summary-list__value">
              Within 20 miles of Derbyshire, <br/>Teaching and leadership roles: Teacher,<br/>Working patterns: Full time 
            </dd>
                        <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
        </div>
      </dl>
        
     

      </form>


    </div>
  </div>

{% endblock %}
