
{% extends "layout.njk" %}

{% set title = 'Check previous account details' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Code matches
          </h3>
        </div>
      </div>
   
      <h1 class="govuk-heading-l">
          {{title}}
      </h1>

      <h2 class="govuk-heading-m govuk-!-padding-top-6">Personal details</h2>
    
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Name
            </dt>
            <dd class="govuk-summary-list__value">
            Sarah Philips
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Do you want to provide a phone number?	
            </dt>
            <dd class="govuk-summary-list__value">
            No
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Do you need Skilled Worker visa sponsorship?	
            </dt>
            <dd class="govuk-summary-list__value">
            No, I already have the right to work in the UK	
            </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m govuk-!-padding-top-6">Job preferences</h2>
    
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Role
            </dt>
            <dd class="govuk-summary-list__value">
              Teacher 
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Education phases	
            </dt>
            <dd class="govuk-summary-list__value">
              Primary
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Key stages	
            </dt>
            <dd class="govuk-summary-list__value">
              Early years (ages 0 to 5), Key stage 1 (ages 5 to 7), Key stage 2 (ages 7 to 11)
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Working pattern	
            </dt>
            <dd class="govuk-summary-list__value">
              Full time
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Locations
            </dt>
            <dd class="govuk-summary-list__value">
              Nottinghamshire (This area only)
            </dd>
        </div>
      </dl>

     
      <h2 class="govuk-heading-m govuk-!-padding-top-6">Job alerts</h2>
    
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job alert 1
            </dt>
            <dd class="govuk-summary-list__value">
              Within 20 miles of Sawley, Nottingham NG1 111, <br/>Teaching and leadership roles: Teacher,<br/>Working patterns: Full time 
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job alert 2
            </dt>
            <dd class="govuk-summary-list__value">
              Within 20 miles of Derbyshire, <br/>Teaching and leadership roles: Teacher,<br/>Working patterns: Full time 
            </dd>
        </div>
      </dl>
        
      <p>If these details look familiar, you can import them into your account.</p>

      <form action="import_complete" novalidate>

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Import account
          </button>
          <a class="govuk-link" href="#">Cancel</a>
        </div>

      </form>


    </div>
  </div>

{% endblock %}
