
{% extends "layout.njk" %}

{% set title = 'Account found' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>

        <p>We've found a Teaching Vacancies account using this email address.</p>

        <p>Your account information including past applications has been saved.</p>

      <form method="post">

        {{ govukButton({
          text: 'Search for jobs'
        }) }}

    </div>


  </div>

{% endblock %}
