
{% extends "layout.njk" %}

{% set title = 'An account matching your email has been found and your details have been imported' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>

        <p>We've imported the details from your Teaching Vacancies account into your GOV.UK One Login account because you used the same email address.</p>

        <p class="govuk-body">
            You can continue to <a class="govuk-link--no-visited-state" href="/jobs">search and apply for jobs</a>, <a class="govuk-link--no-visited-state" href="/jobs">create job alerts</a> or <a class="govuk-link--no-visited-state" href="#">create a profile</a>.
        </p>

    </div>


  </div>

{% endblock %}
