
{% extends "layout.njk" %}

{% set title = 'Your account information has been saved' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
        <h1 class="govuk-heading-l">
            {{title}}
        </h1>

        <p>We've found a Teaching Vacancies account using the email address on your GOV.UK One Login account and have saved your information.</p>

        <p class="govuk-body">
            You can <a class="govuk-link--no-visited-state" href="/jobs">update your account details</a>, continue to <a class="govuk-link--no-visited-state" href="/jobs">search and apply for jobs</a> or <a class="govuk-link--no-visited-state" href="#">create a job alert</a>.
        </p>

    </div>


  </div>

{% endblock %}
