
{% extends "layout.njk" %}

{% set title = 'Account created' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
          {{title}}
      </h1>
    
        <p class="govuk-body">
            You can now <a class="govuk-link--no-visited-state" href="/jobs">search and apply for jobs</a> or <a class="govuk-link--no-visited-state" href="/profile">create a profile</a>.
        </p>

        <h2 class="govuk-heading-m">
            Import an old account
        </h2>
        
        <p class="govuk-body">
           If you had an old Teaching Vacancies account, you can <a class="govuk-link--no-visited-state" href="import">import your old account information</a> in your account settings.
        </p>

        <h2 class="govuk-heading-m">
            Create a profile
        </h2>
        
       <p>Creating a profile will let you:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
            save your qualifcations and experience 
            </li>
            <li>
            specifiy the types of jobs you're looking for
            </li>
            <li>
            apply for roles quickly by pre-filling your information
            </li>
            <li>
            share your details with schools
            </li>
        </ul>


      <form method="post" novalidate>

        {{ govukButton({
          text: "Create a profile"
        }) }}

      </form>



      


    </div>
  </div>

{% endblock %}
