
{% extends "layout.njk" %}

{% set title = 'You are creating a new Teaching Vacancies account' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
          {{title}}
      </h1>
    
        <p class="govuk-body">
            We could not find an existing Teaching Vacancies account using this email.
        </p>

        <p class="govuk-body">
            If this is correct, you can <a class="govuk-link--no-visited-state" href="/profile">continue to your profile</a>.
        </p>
        
        <p class="govuk-body">
           If you have a Teaching Vacancies account using a different email address, you can <a class="govuk-link--no-visited-state" href="import">transfer your existing account information</a>.
        </p>



      


    </div>
  </div>

{% endblock %}
