
{% extends "layout.njk" %}

{% set title = 'No account found with that email address' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
      <h1 class="govuk-heading-l">
          {{title}}
      </h1>
    
        <p class="govuk-body">
          There was no previous Teaching Vacancies account with the email:
        </p>

        <div class="govuk-inset-text">
           email@email.com
        </div>
        
        
      <form action="import" novalidate>

        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Edit email address
            </button>
            <a class="govuk-link govuk-link--no-visited-state" href="/onelogin/account">Cancel</a>
        </div>

      </form>



      


    </div>
  </div>

{% endblock %}
