
{% extends "layout.njk" %}

{% set title = 'There has been a problem transferring your account details' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            {{title}}
        </h1>

        <p>You can try <a class="govuk-link govuk-link--no-visited-state" href="import">transferring your account details again</a>.</p>

        <p class="govuk-body">
           If the problem keeps happening, you can get <a class="govuk-link govuk-link--no-visited-state" href="https://teaching-vacancies.service.gov.uk/support_request/new">help or report a problem</a> though our support request form.
        </p>

    </div>


  </div>

{% endblock %}
