{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "dashboard",
      serviceName: serviceName,
      serviceUrl: "dashboard",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Manage jobs"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="create-title">
        <h1 class="govuk-heading-m">Create a job listing for Bexley Heath Academy</h1>
        <h5 class="govuk-heading-m">Step 6 of 6</h5>
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Summary</h2>

                <form class="" action="7-review" method="post">

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="summary">
                            Job summary (<span class="text-red">required</span>)
                        </label>
                        <span id="more-detail-hint" class="govuk-hint">
                            Give a brief summary of the job that jobseekers can quickly scan. This will be the first thing they see on the listing or in search engine results.
                        </span>
                        <textarea class="govuk-textarea summary-textarea" id="summary" name="summary" rows="8" aria-describedby="summary" maxlength="1000"></textarea>
                        <p>1000 characters remaining</p>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">Save and continue</button>
                    <p><a href="#">Save and return later</a></p>

                </form>

            </div>
            <!-- Main content END -->

            <!-- Sidebar START -->
            <div class="govuk-grid-column-one-third">
                <!-- STEP HEADER START -->
                <div class="app-step-nav-related app-step-nav-related--singular">
                    <h2 class="app-step-nav-related__heading">
                        <span class="app-step-nav-related__pretitle">Creating a job listing steps</span>
                        <!--
                        <a href="#">
                            Learn to drive a car: step by step
                        </a>
                        -->
                    </h2>
                </div>
                <!-- STEP HEADER END -->
                <div id="step-by-step-navigation" class="app-step-nav app-step-nav--active">
                    <!--
                    <div class="app-step-nav__controls">
                        <button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button" aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all</button>
                    </div>
                    -->
                    <ol class="app-step-nav__steps">
                        <li class="app-step-nav__step js-step" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
                            <div class="app-step-nav__header js-toggle-panel" data-position="1">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                1
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
                                            <span class="js-step-title-text">
                                                Job details
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>
                        <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
                            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                2
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                                            <span class="js-step-title-text">
                                                Pay package
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>

                        <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
                            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                3
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                                            <span class="js-step-title-text">
                                                Important dates and deadlines
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>
                        <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
                            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                4
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                                            <span class="js-step-title-text">
                                                Supporting documents
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>
                        <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
                            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                5
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                                            <span class="js-step-title-text">
                                                Applying for the job
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>
                        <li class="app-step-nav__step js-step app-step-nav__step--active" id="get-a-provisional-licence">
                            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                6
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                                            <span class="js-step-title-text">
                                                Summary
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>

                    </ol>
                </div>
            </div>
            <!-- Sidebar END -->

        </main>
    </div>




{% endblock %}
