.app-action-bar {
  font-size: 0; // Removes white space
  @include govuk-clearfix;
}

.app-action-bar__filter {
  display: inline-block;
  position: relative;

  @include govuk-media-query($until: desktop) {
    float: right;
    width:100%;
    margin-bottom: 10px;
  }

  @include govuk-media-query($from: desktop) {
    display: none;
    width:auto;
    margin-bottom: 0px;
  }
}
