{% extends "layout_tvs.html" %}

{% block pageTitle %}
    Teaching Vacancies Prototype Kit - Templates
{% endblock %}

{% block main %}
<div class="full-BGstrip" style="background-color:#f3f2f1;">
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper govuk-!-padding-0">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% include "includes/misc/tvs-nav-patterns.html" %}
                </div>
            </div>
        </main>
        
    </div>
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">

            <aside class="govuk-grid-column-one-quarter">
                <nav class="app-subnav">
                    <ul class="app-subnav__section">
                        <li class="app-subnav__section-item"><a href="/templates/global" class="app-subnav__link govuk-link--no-visited-state">Global</a></li>
                        <li class="app-subnav__section-item"><a href="/templates/jobseeker" class="app-subnav__link govuk-link--no-visited-state">Jobseeker (Teacher)</a></li>
                        <li class="app-subnav__section-item app-subnav__section-item--current"><a href="/templates/hiring-staff" class="app-subnav__link govuk-link--no-visited-state">Hiring staff (School)</a></li>
                    </ul>
                </nav>
            </aside>

            <div class="govuk-grid-column-three-quarters">

                <span class="govuk-caption-xl">
                    Templates
                </span>
                <h1 class="govuk-heading-xl">Hiring staff</h1>

                <!-- START hiring staff -->
                <h2 class="govuk-heading-m">Dashboard</h2>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Version</th>
                            <th scope="col" class="govuk-table__header">Last update</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-acc-active">Active jobs</a> (aka Published)</th>
                            <td class="govuk-table__cell">2.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-acc-deadline">Deadline passed</a> (aka Expired)</th>
                            <td class="govuk-table__cell">2.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-acc-drafts">Drafts</a></th>
                            <td class="govuk-table__cell">2.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-acc-scheduled">Scheduled</a></th>
                            <td class="govuk-table__cell">2.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                    </tbody>
                </table>
                <!-- END hiring staff -->

                <!-- START hiring staff -->
                <h2 class="govuk-heading-m">Applications</h2>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Version</th>
                            <th scope="col" class="govuk-table__header">Last update</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-acc-applicants">List of applicants</a></th>
                            <td class="govuk-table__cell">1.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-acc-candidate">Application</a></th>
                            <td class="govuk-table__cell">1.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                    </tbody>
                </table>
                <!-- END hiring staff -->

                <!-- START hiring staff -->
                <h2 class="govuk-heading-m">Create a job listing</h2>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Version</th>
                            <th scope="col" class="govuk-table__header">Last update</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-create-step">Create a job listing step layout</a> (Template)</th>
                            <td class="govuk-table__cell">2.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-create-step-jobLocation">Job location</a></th>
                            <td class="govuk-table__cell">2.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-create-step-jobDetails">Job details</a></th>
                            <td class="govuk-table__cell">2.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-create-step-payPackage">Pay package</a></th>
                            <td class="govuk-table__cell">2.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-create-step-dates">Important dates and deadlines</a></th>
                            <td class="govuk-table__cell">2.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-create-step-dates">Supporting documents</a></th>
                            <td class="govuk-table__cell">1.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-create-step-applying">Applying for the job</a></th>
                            <td class="govuk-table__cell">1.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-create-step-summary">Job summary</a></th>
                            <td class="govuk-table__cell">1.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header"><a href="/templates/hiringstaff/00-create-review">Review listing</a></th>
                            <td class="govuk-table__cell">1.0</td>
                            <td class="govuk-table__cell">October 2020</td>
                        </tr>
                    </tbody>
                </table>
                <!-- END hiring staff -->

            </div>

            <aside class="govuk-grid-column-one-quarter">

            </aside>

        </div>
    </main>
</div>

{% endblock %}

{% block content %}





{% endblock %}