{% extends "layout_gds-basic.html" %}

{% block pageTitle %}
    TVS Prototyping templates
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        
        <h1 class="govuk-heading-l">Teaching Vacancies Templates</h1>

        <!-- START public -->
        <h2 class="govuk-heading-m">Public (signed out)</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Last update</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/templates/public/00-common-layout">Common page layout items</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/templates/public/00-service-start">Service start page</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/templates/public/00-search-results">Search results</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/templates/public/00-listing-1">Job listing</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/templates/public/00-js-signin">Sign in (Jobseeker)</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/templates/public/00-js-create-account">Create account (Jobseeker)</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
            </tbody>
        </table>
        <!-- END public -->

        <!-- START jobseeker -->
        <h2 class="govuk-heading-m">Jobseeker</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Last update</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/templates/jobseeker/00-acc-my-applications">Account view - My applications</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/templates/jobseeker/00-acc-application">Application view</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/templates/jobseeker/00-application-start">Application - Before you start</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/templates/jobseeker/00-application-step">Application - Step layout</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/templates/jobseeker/00-application-review">Application - Review</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
            </tbody>
        </table>
        <!-- END jobseeker -->

        <!-- START hiring staff -->
        <h2 class="govuk-heading-m">Hiring staff</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Last update</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="">Template name</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="">Template name</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="">Template name</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
            </tbody>
        </table>
        <!-- END hiring staff -->

        <!-- START components -->
        <h2 class="govuk-heading-m">Bespoke components</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Last update</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/components/alerts">Alerts</a></th>
                    <td class="govuk-table__cell">October 2020</td>
                </tr>
            </tbody>
        </table>
        <!-- END components -->

    </div>

    <aside class="govuk-grid-column-one-quarter">

    </aside>

</div>

{% endblock %}