{% extends "layout_tvs.html" %}

{% block pageTitle %}
    Teaching Vacancies Prototype Kit - Templates
{% endblock %}

{% block main %}
<div class="full-BGstrip" style="background-color:#f3f2f1;">
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper govuk-!-padding-0">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% include "includes/misc/tvs-nav-patterns.html" %}
                </div>
            </div>
        </main>
        
    </div>
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">

            <aside class="govuk-grid-column-one-quarter">
                <nav class="app-subnav">
                    <ul class="app-subnav__section">
                        <li class="app-subnav__section-item"><a href="/templates/global" class="app-subnav__link govuk-link--no-visited-state">Global</a></li>
                        <li class="app-subnav__section-item"><a href="/templates/jobseeker" class="app-subnav__link govuk-link--no-visited-state">Jobseeker (Teacher)</a></li>
                        <li class="app-subnav__section-item"><a href="/templates/hiring-staff" class="app-subnav__link govuk-link--no-visited-state">Hiring staff (School)</a></li>
                    </ul>
                </nav>
            </aside>

            <div class="govuk-grid-column-three-quarters">

                <h1 class="govuk-heading-xl">Templates</h1>

                <p class="govuk-body-l">Introduction to section lorem ipsum dolor sit amet</p>

                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">

                <h3 class="govuk-heading-m">User groups and context</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="/templates/global">Global templates for everyone</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="/templates/jobseeker">Jobseekers - Teachers looking for teaching jobs</a>
                    </li>
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="/templates/hiring-staff">Hiring staff - Recruiment within schools</a>
                    </li>
                    <li>
                        <span class="form-required">TBD</span> <a class="govuk-link" href="#"></a>MAT Hiring staff
                    </li>
                    <li>
                        <span class="form-required">TBD</span> <a class="govuk-link" href="#"></a>DfE Sign-in (External account management for schools suing DfE services)
                    </li>
                    
                </ul>

            </div>

            <aside class="govuk-grid-column-one-quarter">

            </aside>

        </div>
    </main>
</div>

{% endblock %}

{% block content %}





{% endblock %}