{% extends "layout.html" %}

{% set primaryNavActive = "manage jobs" %}
{% set sectionActive = "hiring staff" %}

{% block pageTitle %}
  Job listing name
{% endblock %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
</div>

{% block main %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% block pageContent %}
        {% endblock %}
      </div>
    </div>
  </main>
</div>

{% endblock %}
