{% extends "layout.html" %}

{% set primaryNavActive = "manage jobs" %}
{% set sectionActive = "hiring staff" %}

{% block pageTitle %}
  Lisa Green profile
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div
    class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-3">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Active job seekers </a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Lisa Green</a>
              </li>
 
            </ol>
          </div>

          
          {% set html %}
          <h3 class="govuk-notification-banner__heading">
            You have saved Lisa Green's profile
          </h3>
          <p class="govuk-body">You can <a class="govuk-notification-banner__link" href="#">contact</a> Lisa to discuss an application.</p>
        {% endset %}
        
        {{ govukNotificationBanner({
          html: html,
          type: 'success'
        }) }}
        
      </div>
    </div>
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
          {{ data.jobs[jobId].name }}
        </h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half govuk-!-margin-bottom-1">
 
      </div>
    </div>
  </div>
</div>



<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-padding-top-2">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {# This is the 'successfully shared' notification banner, it fires based on the route from the "share applications" check your answers page #}

        {% set successHtml %}
          {{ query._flash | safe }}
        {% endset %}

        {% if query._flash %}
          {{ govukNotificationBanner({
            html: successHtml,
            type: "success",
            classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-6"
          }) }}
        {% endif %}

        {% include "includes/applications/profile-nav.html" %}

        {% block listingsTabContent %}
        {% endblock %}
      </div>
    </div>
  </main>
</div>

{% endblock %}
