{% extends "layout.html" %}

{% set sectionActive = "job listings" %}

{% block pageTitle %}
  Job listing name
{% endblock %}

{% block header %}
  {% include "includes/applications/primary-header.html" %}
{% endblock %}

{% block main %}

<!-- START BESPOKE MAST 2 -->
<div class="full-BGstrip" style="background-color: #f3f2f1">
  <div class="govuk-width-container">
    <div
      class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-3">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ govukBreadcrumbs({
            items: [
              {
                text: "Passed deadline",
                href: "/prototypes/application/expanded/dashboard/passed-deadline"
              },
              {
                text: data['app2-jobListingName']           
              }
            ]
          }) }}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
            {# {{ data['app2-jobListingName'] }} #}
            {{ data.jobs[jobId].name }}
          </h2>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-1">
          <p class="govuk-body govuk-!-margin-bottom-2 mast-subData">
            <span class="govuk-!-font-weight-bold">Application deadline</span>
            30 June 2021 at 09:00am
          </p>
        </div>
        {# <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-1">
          <section class="data-block bg-review">
            <span class="govuk-heading-xl govuk-!-margin-bottom-1">1</span>
            <h4 class="govuk-!-margin-0">Unread applications</h4>
          </section>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-1">
          <section class="data-block bg-shortlist">
            <span class="govuk-heading-xl govuk-!-margin-bottom-1">0</span>
            <h4 class="govuk-!-margin-0">Shortlisted application</h4>
          </section>
        </div>
        <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-1">
          <section class="data-block bg-reject">
            <span class="govuk-heading-xl govuk-!-margin-bottom-1">1</span>
            <h4 class="govuk-!-margin-0">Rejected application</h4>
          </section>
        </div> #}
      </div>
    </div>
  </div>
</div>
<!-- END BESPOKE MAST 2 -->


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-padding-top-2">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% include "includes/applications/single-job-nav.html" %}

        {% block listingsTabContent %}
        {% endblock %}
      </div>
    </div>
  </main>
</div>

{% endblock %}
