{% extends "layout.html" %}

{% set sectionActive = "job listings" %}

{% block pageTitle %}
  Job listing name
{% endblock %}

{% block header %}
  {% include "includes/applications/primary-header.html" %}
{% endblock %}

{% set name = data.applications[applicationId].firstname + " " + data.applications[applicationId].lastname %}

{% block main %}

<div class="govuk-width-container">
  <div
    class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukBreadcrumbs({
          items: [
            {
              text: "Passed deadline",
              href: "../../passed-deadline"
            },
            {
              text: data.jobs[jobId].name,
              href: "/prototypes/application/expanded/dashboard/job/" + jobId  
            },
            {
              text: name
            }
          ]
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="single-application-header">
          <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-3">
            <span class="govuk-caption-l">{{data.jobs[jobId].name}}</span>
            {{ name }}
            <div class="single-application-header__status">{% include "includes/applications/application-status-tags.html" %}
            </div>
          </h1>
          <a href="./{{ data.applications[applicationId].id }}/contact" class="govuk-body govuk-link govuk-link--no-visited-state">Contact applicant</a>
        </div>
      </div>
    </div>

    {# This is the 'successfully' contacted/invited/rejected notification banner, it fires based on the route from each of the check your answers pages #}
    {% set successContactHtml %}
      <h3 class="govuk-notification-banner__heading">
        {{ name }} emailed
      </h3>
    {% endset %}
    
    {% set successInviteHtml %}
      <h3 class="govuk-notification-banner__heading">
        {{ name }} invited to interview
      </h3>
    {% endset %}
    
    {# {% set successRejectHtml %}
      <h3 class="govuk-notification-banner__heading">
        Applications shared with {{ data.job.sharingRecipientNames }}
      </h3>
    {% endset %} #}
    
    {% if showSuccessContactMessage %}
      {{ govukNotificationBanner({
        html: successContactHtml,
        type: "success",
        classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0"
      }) }}
    {% endif %}
    
    {% if showSuccessInviteHtml %}
      {{ govukNotificationBanner({
        html: successInviteHtml,
        type: "success",
        classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0"
      }) }}
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-top-5">
        {% include "includes/applications/single-application-nav.html" %}
      </div>
    </div>
    
  </div>
</div>

{% block applicationContent %}
{% endblock %}

{% endblock %}
