{% extends "layout.html" %}

{% set sectionActive = "job listings" %}

{% block pageTitle %}
  Job listing name
{% endblock %}

{% block header %}
  {% include "includes/applications/primary-header.html" %}
{% endblock %}

{% set name = data.applications[applicationId].firstname + " " + data.applications[applicationId].lastname %}

{% block main %}

<div class="govuk-width-container">
  <div
    class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-3">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukBreadcrumbs({
          items: [
            {
              text: "Passed deadline",
              href: "/prototypes/application/expanded/dashboard/passed-deadline"
            },
            {
              text: data['app2-jobListingName'],
              href: "../applications"          
            },
            {
              text: name           
            }
          ]
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="single-application-header">
          <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-3">
            <span class="govuk-caption-l">{{data['app2-jobListingName']}}</span>
            {{ name }}
            <div class="single-application-header__status">{% include "includes/applications/application-status-tags.html" %}
            </div>
          </h1>
          <a href="#" class="govuk-body govuk-link">Contact applicant</a>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-!-margin-top-7">
        <div class="flex-header">
          <div class="govuk-button-group">
            {% if data.applications[applicationId].status != 'Reviewed' %}
              {{ govukButton({
                text: "Mark as reviewed",
                classes: "govuk-button--secondary",
                href: "./" + applicationId +  "/mark-reviewed"
              }) }}
            {% endif %}

            {{ govukButton({
              text: "Invite to interview",
              href: "./applicant-01/invite"
            }) }}
            
            {{ govukButton({
              text: "Reject",
              classes: "govuk-button--warning",
                href: "./" + applicationId +  "/reject"
            }) }}
          </div>
          {{ govukButton({
            text: "Download (pdf)",
            classes: "govuk-button--secondary"
          }) }}
        </div>
        <hr class="govuk-section-break govuk-section-break--visible">
      </div>
    </div>
    
  </div>
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-6">
      <div class="govuk-grid-row">
        {% block applicationContent %}
        {% endblock %}
      </div>
    </main>
</div>

{% endblock %}
