{% extends "layout.html" %}

{% set primaryNavActive = "manage jobs" %}
{% set sectionActive = "hiring staff" %}

{% block pageTitle %}
  Job listing name
{% endblock %}

{% block main %}

<div class="govuk-width-container">
  <div
    class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-3">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukBreadcrumbs({
          items: [
            {
              text: "Passed deadline",
              href: "/prototypes/application/expanded/dashboard/passed-deadline"
            },
            {
              text: data.jobs[jobId].name           
            }
          ]
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
          {{ data.jobs[jobId].name }}
        </h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half govuk-!-margin-bottom-1">
        <p class="govuk-body govuk-!-margin-bottom-2 mast-subData">
          <span class="govuk-!-font-weight-bold">Applications closed</span>
          20 October 2021 at 09:00am
        </p>
      </div>
    </div>
  </div>
</div>



<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-padding-top-2">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {# This is the 'successfully shared' notification banner, it fires based on the route from the "share applications" check your answers page #}

        {% set successHtml %}
          {{ query._flash | safe }}
        {% endset %}

        {% if query._flash %}
          {{ govukNotificationBanner({
            html: successHtml,
            type: "success",
            classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-6"
          }) }}
        {% endif %}

        {% include "includes/applications/single-job-nav.html" %}

        {% block listingsTabContent %}
        {% endblock %}
      </div>
    </div>
  </main>
</div>

{% endblock %}
