{% extends "layout.html" %}

{% set sectionActive = "hiring staff" %}
{% set primaryNavActive = "manage jobs" %}
{% set job = data.jobs[jobId] %}
{% set application = data.applications[applicationId] %}
{% set name = data.applications[applicationId].firstname + " " + data.applications[applicationId].lastname %}

{{ data.applications[applicationId] | log }}

{% block pageTitle %}
  Job listing name
{% endblock %}

{# {% block header %}
  {% include "includes/applications/primary-header.html" %}
{% endblock %} #}


{% block main %}

<div class="govuk-width-container">
  <div
    class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukBreadcrumbs({
          items: [
            {
              text: "Passed deadline",
              href: "/prototypes/application/expanded/dashboard/passed-deadline"
            },
            {
              text: data.jobs[jobId].name,
              href: "/prototypes/application/expanded/dashboard/job/" + jobId + "/applications"  
            },
            {
              text: name
            }
          ]
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="single-application-header">
          
          {# This is the 'successfully' contacted/invited/rejected notification banner, it fires based on the route from each of the check your answers pages #}
          {% set successHtml %}
            <h3 class="govuk-notification-banner__heading">
              {{ query._flash | safe }}
            </h3>
          {% endset %}
          
          {% if query._flash %}
            {{ govukNotificationBanner({
              html: successHtml,
              type: "success",
              classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-6"
            }) }}
          {% endif %} 
          
          <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-4">
            <span class="govuk-caption-l">{{data.jobs[jobId].name}}</span>
            {{ name }}
            <div class="single-application-header__status">{% include "includes/applications/application-status-tags.html" %}
            </div>
          </h1>

          {{ govukButton({
            text: "Contact applicant",
            classes: "govuk-button--secondary",
            href: "/prototypes/application/expanded/dashboard/job/" +  job.id + "/applicant/" + application.id + "/contact"
          }) }}

          {# {% include "includes/applications/single-application-actions.html" %} #}
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "includes/applications/single-application-nav.html" %}
      </div>
    </div>
    
  </div>
</div>

{% block applicationContent %}
{% endblock %}

{% endblock %}
