{% extends "layout-js.html" %}

{% block pageTitle %}
    T / JS / My applications
{% endblock %}

<!-- {% set bodyClasses = "bespoke-width" %} -->

{% block main %}

<!-- START SUB-NAVIGATION -->
<div class="full-BGstrip" style="background-color:#f3f2f1;">
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper govuk-!-padding-0">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <!-- START ALERT SUCCESS -->
                    <div class="tvs-alert alert-js-success govuk-!-margin-bottom-0 govuk-!-margin-top-4">
                        <svg class="alert-icon"  width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.9375 0L9.75 12L4.0625 6.4L0 10.4L9.75 20L26 4L21.9375 0Z" fill="#006435"/></svg>
                        <!-- <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Alert title</h4> -->
                        <p class="govuk-body">Thank you for your feedback on applying through Teaching Vacancies</p>
                    </div>
                    <!-- END ALERT SUCCESS -->

                    {% include "includes/applications/acc-applications.html" %}
                </div>
            </div>
        </main>
        
    </div>
</div>
<!-- END SUB-NAVIGATION -->

<!-- START TABLE -->
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">My applications</h2>
                <!-- <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-6" data-module="govuk-button">Show filters</button> -->
            </div>
        </div>

        <!-- START ALERT EMPTY STATE -->
        <div class="tvs-alert alert-js-empty">
            <h4 class="govuk-heading-m govuk-!-margin-bottom-1">You have not applied for any teaching jobs</h4>
            <p class="govuk-body"><a href="#"> Find a teaching job</a> and start applying.</p>
        </div>
        <!-- END ALERT EMPTY STATE -->

        <!-- START JOB LISTINGS TABLE -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-s">Draft applications</h4>
                <table class="govuk-table acc-applications__table">
                    <!-- <caption class="govuk-table__caption">Dates and amounts</caption> -->
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Application status</th>
                            <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state"> Started on</a></th>
                            <th scope="col" class="govuk-table__header">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                This is a job listing Name<br>
                                <span class="name-listing">Bexley Heath Academy</span> <br>
                                <span class="accepting">Still accepting applications</span>
                            </th>
                            <td class="govuk-table__cell">
                                <span class="acc-tag acc-tag__draft">Draft</span>
                            </td>
                            <td class="govuk-table__cell">03 February 2021 at 09:00am</td>
                            <td class="govuk-table__cell">
                                <ul class="table-actions-list govuk-!-margin-0 govuk-!-padding-0">
                                    <li><a href="#">Continue application</a></li>
                                    <li><a href="#">Delete</a></li>
                                </ul> 
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                This is a job listing Name<br>
                                <span class="name-listing">Bexley Heath Academy</span> <br>
                                <span class="accepting">Still accepting applications</span>
                            </th>
                            <td class="govuk-table__cell">
                                <span class="acc-tag acc-tag__draft">Draft</span>
                            </td>
                            <td class="govuk-table__cell">03 February 2021 at 09:00am</td>
                            <td class="govuk-table__cell">
                                <ul class="table-actions-list govuk-!-margin-0 govuk-!-padding-0">
                                    <li><a href="#">Continue application</a></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>  
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
        <!-- END JOB LISTINGS TABLE -->

        <!-- START APPLICANTS TABLE -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-s">Submitted applications</h4>
                <table class="govuk-table acc-applications__table">
                    <!-- <caption class="govuk-table__caption">Dates and amounts</caption> -->
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Application status</th>
                            <th scope="col" class="govuk-table__header"><a href="#" class="govuk-link govuk-link--no-visited-state"> Submitted on</a></th>
                            <th scope="col" class="govuk-table__header">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                This is a job listing Name<br>
                                <span class="name-listing">Bexley Heath Academy</span> <br>
                                <span class="accepting">Still accepting applications</span>
                            </th>
                            <td class="govuk-table__cell">
                                <span class="acc-tag acc-tag__review">In Review</span>
                            </td>
                            <td class="govuk-table__cell">03 February 2021 at 09:00am</td>
                            <td class="govuk-table__cell">
                                <ul class="table-actions-list govuk-!-margin-0 govuk-!-padding-0">
                                    <li><a href="#">Withdraw</a></li>
                                    <li><a href="#">View application</a></li>
                                </ul> 
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">
                                This is a job listing Name<br>
                                <span class="name-listing">Bexley Heath Academy</span> <br>
                                <span class="passed">Deadline passed</span>
                            </th>
                            <td class="govuk-table__cell">
                                <span class="acc-tag acc-tag__review">in Review</span>
                            </td>
                            <td class="govuk-table__cell">03 February 2021 at 09:00am</td>
                            <td class="govuk-table__cell">
                                <ul class="table-actions-list govuk-!-margin-0 govuk-!-padding-0">
                                    <li><a href="#">Withdraw</a></li>
                                    <li><a href="#">View application</a></li>
                                </ul>  
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
        <!-- END APPLICANTS TABLE -->
        
    </main>
</div>
<!-- END TABLE -->

{% endblock %}

{% block content %}

<!-- Removed content from here to create bespoke header, overwrite 'main' block -->

{% endblock %}
