{% extends "templates/profile-template.html" %}

{% set listingTabActive = 'manage listing' %}

{% block listingsTabContent %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  
    {{ govukButton({
      text: "Invite to apply",
      href: "/prototypes/talent-pool/invite-to-apply-max"
    }) }}

    {{ govukButton({
      text: "Remove from favourites",
      href: "/prototypes/talent-pool/unfavourite-max",
      classes: "govuk-button--secondary"
      
    }) }}

    <ol class="app-task-list govuk-!-padding-right-6">
    
      <h1 class="govuk-heading-l">Max Red</h1>
 
    <strong class="govuk-tag govuk-tag--blue align-right"> Favourite </strong>   </br>   </br>
  
    
    <h2 class="govuk-!-font-size-24 govuk-!-margin-top-0">Personal details</h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Location"
          },
          value: {
            text: "London"
          },
          actions: {
            items: [
      
            ]
          }
        },
        {
          key: {
            text: "Phone number"
          },
          value: {
            text: "07637 938 321"
          },
          actions: {
            items: [
         
            ]
          }
        },
        {
          key: {
            text: "Email address"
          },
          value: {
            html: "max.red@gmail.com"
          },
          actions: {
            items: [
         
            ]
          }
        },
        {
          key: {
            text: "Status"
          },
          value: {
            text: "Actively looking for role"
          },
          actions: {
            items: [
        
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-!-font-size-24 govuk-!-margin-top-0">About me</h2>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body">I am Max Red and have just completed PGCE Secondary (Mathematics). I am trained to teach mathematics across the 11 to 16 and 11 to 18 age range. I am well prepared to teach the National Curriculum, GCSE and A-level. I am willing to move for the right role. </p>


    <h2 class="govuk-!-font-size-24 govuk-!-margin-top-0">Education phase</h2>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <p class="govuk-body">Secondary</p>

    <h2 class="govuk-!-font-size-24 govuk-!-margin-top-0">Subjects</h2>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p class="govuk-body">Math</p>

    <h2 class="govuk-!-font-size-24 govuk-!-margin-top-0">Working pattern</h2>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p class="govuk-body">Full time</p>

    <h2 class="govuk-!-font-size-24 govuk-!-margin-top-0">ECT staus</h2>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <p class="govuk-body">Yes</p>

    <h2 class="govuk-!-font-size-24 govuk-!-margin-top-0">Work history</h2>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "School or other organisation"
          },
          value: {
            text: "Westside School"
          }
        },
        {
          key: {
            text: "Dates"
          },
          value: {
            text: "12 February 2020 to present "
          }
        },
        {
          key: {
            text: "Main duties	"
          },
          value: {
            text: "Not provided "
          }
        },
        {
          key: {
            text: "Subjects and key stages taught"
          },
          value: {
            text: "Not provided"
          }
        }
      ]
    }) }}

    <h2 class="govuk-!-font-size-24 govuk-!-margin-top-0">Education and qualifications</h2>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "School, college, or other organisation"
          },
          value: {
            text: "Kings College"
          }
        },
        {
          key: {
            text: "Subjects and grades"
          },
          value: {
            text: "Math - C "
          }
        },
        {
          key: {
            text: "Year qualification(s) was/were awarded	"
          },
          value: {
            text: "2020 "
          }
        },
        {
          key: {
            text: "Activites"
          },
          value: {
            text: "Not provided"
          }
        }
      ]
    }) }}

    </div>

    </ol>

  </div>
</div>

{% endblock %}