

/*
---------- Location/Commute ------------------------------
*/

.govuk-fieldset {

    .commute-input {
        margin-bottom: 10px;
    }

    .commute-inset {
        margin-bottom: 0;
        margin-top: 0;
        display: none;

        .govuk-form-group {

            select {
                width:100%;
            }
        }
    }

}


/*
---------- Filter top/button ------------------------------
*/

.app-c-option-select {
    position: relative;
    padding: 0 0 1px;
    background-color: #dee0e2;
}

.app-c-option-select__button {
    z-index: 100;
    padding-right: 40px;
    width: 100%;
    background: none;
    border: 0;
    text-align: left;
    cursor: pointer;
}
.app-c-option-select__button:hover,
.app-c-option-select__button:hover+.app-c-option-select__selected-counter  {
    background-color: #bfc1c3;
}
.app-c-option-select__button:hover ~ .app-c-option-select__container,
.app-c-option-select__button:hover ~ .app-c-option-select__selected-counter,
.app-c-option-select__button:hover ~ .app-c-option-select__filter {
    border-color: #bfc1c3;
}

.app-c-option-select__button:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
}

.app-c-option-select__button.js-closed {
    //border-bottom: 3px solid #6F777B;
}

/*
.app-c-option-select__button:focus {
    outline: none;
}
*/

.app-c-option-select__title {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    padding: 10px 8px 5px 16px;
    margin: 0;
}

.js-enabled .app-c-option-select__icon--up {
    display: block;
}
.app-c-option-select.js-closed .app-c-option-select__icon--down {
    display: block;
}
.app-c-option-select.js-closed .app-c-option-select__icon--up {
    display: none;
}

.app-c-option-select__icon {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    width: 30px;
    height: 40px;
    fill: currentColor;
}

.app-c-option-select__selected-counter {
    margin-top: -3px;
    padding: 0 8px 3px 18px;
}

@media (min-width: 40.0625em) {
    .app-c-option-select__title {
        font-size: 19px;
        line-height: 1.3157894737;
    }
}

// * For when removing collapse and using standard label */

.mobile-label {
    margin-bottom: 5px;
    display: block;
}

/*
---------- Filters ------------------------------
*/

@media (min-width: 40.0625em) {
.filters-form {
    border: 5px solid #dee0e2;
    padding: 15px;
}
}

/*
@media (max-width: 40.0625em) {
    .filters-form {
        border: none;
        padding: 0;
    }
}
*/

/*
---------- Search box in filter ------------------------------
*/

.app-c-option-select__filter {
    position: relative;
    background: #ffffff;
    border-left: 5px solid #dee0e2;
    border-right: 5px solid #dee0e2;
    padding: 13px 13px 10px 13px;
}
.js-enabled .app-c-option-select__container {
    border: 5px solid #dee0e2;
    /* border-top: 0; */
}

.app-c-option-select__filter-input {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 33px;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'><path d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='currentColor'/></svg>") #fff no-repeat -5px -3px;
}

/*
---------- Filter button/top part ------------------------------
*/

div.filter-radius-container,
div.filter-subject-container,
div.filter-jobtitle-container,
div.filter-pattern-container  {
    // display: none;
}

.app-c-option-select__container.js-closed {
    display: none;
}
.app-c-option-select__filter.js-closed {
    display: none;
}

.app-c-option-select__container {
    position: relative;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 5px solid #dee0e2;
    background-color: #ffffff;
}
.app-c-option-select__container {
    outline: none;
}

.app-c-option-select__container-inner {
    padding: 5px 13px;
}
.app-c-option-select .gem-c-checkboxes,
.app-c-option-select .gem-c-radios {
    margin: 0;
}
.gem-c-checkboxes__list,
.gem-c-radios__list {
    padding-left: 0;
    margin: 0;
}
.gem-c-checkboxes .gem-c-checkboxes__legend--hidden,
.gem-c-radios .gem-c-radios__legend--hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

/*
---------- Mobile filter page ------------------------------
*/

.clear-filters {
    display: block;
    margin-top: 10px;
}

.bg-selected-filters {
    background-color: #DEE0E2;
    padding-top: 20px;

    div.facet-tags__wrapper {
        padding-bottom: 20px;

        .facet-tag {
            background-color: #FFF;
        }

        p {
            //font-weight: 700;
        }
    }
}

.filter-mobile-title {
    position: relative;
    background-color: #005ea5;
    padding-top: 20px;
    color: #FFF;

    h1 {
        display: inline-block;
        margin-bottom: 20px;
        color: #FFF;
    }

    .close-btn {
        display: flex;
        flex-direction: row;
        -webkit-align-items: center; /* Safari 7.0+ */
        align-items: center;
        float: right;
        margin-top:5px;
        // padding-right: 20px;

        a {
            margin-right: 5px;
            color: #FFF;
            font-size: 19px;

            &:selected {
                color:#000;
            }
            &:focus {
                color:#000;
            }
        }

        svg {
            -webkit-transform: scale(1.0);
            -ms-transform: scale(1.0);
            transform: scale(1.0);
            transform-origin: bottom left;
        }
    }
}
.filter-mobile-apply-btn {
    margin-bottom: 0;
}
