
/*
---------- Sidebar filters ------------------------------
*/

@media (min-width: 40.0625em) {
    .sp-form {
        border: 5px solid #dee0e2;
        padding: 15px;
    }
}

.sp-form {

    .govuk-form-group {
        margin-bottom: 15px;
    }
    .govuk-accordion__section-header {

        .govuk-accordion__section-heading {

        }
        .sp-link {

            .govuk-accordion__section-button {
                font-size: 1.2rem;
            }
        }
    }
    .govuk-button {
        margin-bottom: 0;
        width: 100%;
    }


}
.big-container {
    /* Delete as appropriate */
    /* replace with this class app-c-option-select__container */
    border: 5px solid #dee0e2;
    background-color: #ffffff;
    position: relative;
}



.distance-inset {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px 0 15px 15px;

    .govuk-form-group {

        select {
            width:100%;
        }
    }
}
.distance-start {
    margin-bottom: 20px;
    margin-top: 0;
    padding: 15px 0 15px 15px;

    .govuk-form-group {

        label {
            color: white;
        }

        select {
            width:100%;
        }
    }
}