{% extends "layout.njk" %}

{% block pageTitle %}
  Teaching Vacancies prototypes - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Teaching Vacancies prototypes</h1>

      <p class="govuk-body-l">Choose a prototype to open.</p>

      <h2 class="govuk-heading-m">
        <a class="govuk-link" href="/fe">Further Education prototype work</a>
      </h2>
      <p class="govuk-body">Options for merging, separating, or dedicating further education roles.</p>

      <h2 class="govuk-heading-m">
        <a class="govuk-link" href="/home">Find school and college jobs near you</a>
      </h2>
      <p class="govuk-body">The current Teaching Vacancies homepage, search, and job listings.</p>

      <h2 class="govuk-heading-m">
        <a class="govuk-link" href="/documentation">Documentation</a>
      </h2>
      <p class="govuk-body">Tech stack, mock JSON, and page flows.</p>

    </div>
  </div>
{% endblock %}
