
{% extends "layout_tvs.html" %}

{% block pageTitle %}
    Teaching Vacancies Prototype Kit - Prototypes
{% endblock %}

{% block main %}
<div class="full-BGstrip" style="background-color:#f3f2f1;">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-!-padding-0">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% include "includes/misc/tvs-nav-prototypes.html" %}
                </div>
            </div>

        </main>
    </div>
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <aside class="govuk-grid-column-one-quarter">
                <nav class="app-subnav">
                    <ul class="app-subnav__section">
                        <li class="app-subnav__section-item app-subnav__section-item--current"><a href="/prototypes/" class="app-subnav__link govuk-link--no-visited-state">Current research</a></li>
                        <li class="app-subnav__section-item"><a href="/prototypes/archive" class="app-subnav__link govuk-link--no-visited-state">Archive</a></li>
                    </ul>
                </nav>
            </aside>

            <div class="govuk-grid-column-three-quarters">

                <span class="govuk-caption-xl">
                    Prototypes
                </span>
                <h1 class="govuk-heading-xl">Current research</h1>

                <table class="govuk-table">
                    <!-- <caption class="govuk-table__caption">Prototype list</caption> -->
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Date</th>
                            <th scope="col" class="govuk-table__header">Title</th>
                            <th scope="col" class="govuk-table__header">User</th>
                            <th scope="col" class="govuk-table__header">Notes</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">July 2021</th>
                          <td class="govuk-table__cell"><a href="/templates/public/01-service-start">Scope expansion - Education support roles</a> <br>Round 1</td>
                          <td class="govuk-table__cell">Jobseekers</td>
                          <td class="govuk-table__cell">Usability test</td>
                      </tr>
                      
                    </tbody>
                </table>

                <!-- -->

                <h2 class="govuk-heading-m">Connected research</h2>
                <p class="govuk-body">Please <a href="mailto:chris.taylor@digital.education.gov.uk">contact the UX team</a> for more details on research objectives and plans.</p>

                <h2 class="govuk-heading-m">Prototype kit</h2>
                <p class="govuk-body">
                    All protoypes built for Teaching Vacancies are built off the foundation of the <a href="https://design-system.service.gov.uk/get-started/prototyping/"> GOV.UK prototyping kit</a>. All code contained within prototypes are not production ready and are only used for design research purposes in order to identify or validate user needs.
                </p>
                <!--  -->

                <!-- <h2 class="govuk-heading-m">Examples and documentation</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
                    </li>
                    <li>
                        <a href="https://design-system.service.gov.uk">
                            GOV.UK Design System
                        </a>
                    </li>
                </ul> -->

            </div>

            <aside class="govuk-grid-column-one-quarter">

            </aside>

        </div>

    </main>
</div>
{% endblock %}
