{% extends "create-a-job-four-steps.html" %}



{% block createJobcontent %}
<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Create a job listing for Bexleyheath Academy</h1>
<div class="sub-nav govuk-grid-row full-width-bg-white govuk-!-margin-bottom-6 govuk-!-margin-left-0">
 
    <ul class="tabs">
      <li class="active"><a href="0-job-role.html">Step one</a></li>
      <li><a href="3-working-pattern.html">Step two</a></li>
      <li><a href="6-applying">Step three</a></li>
      <li><a href="#">Step four</a></li>
    </ul>

</div>


<div class="govuk-grid-row full-width-bg-white govuk-!-padding-top-8 govuk-!-padding-bottom-4 govuk-!-padding-left-3 govuk-!-padding-right-3 govuk-!-margin-left-0">
  <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Job role</h2>

      <form class="" action="0-job-role-answer" method="post">
        

        {% set teacher %}
          <span class="govuk-!-font-weight-bold">Teacher</span>
        {% endset %}

        {% set leadership %}
          <span class="govuk-!-font-weight-bold">Leadership</span>
          <span class="govuk-hint govuk-checkboxes__hint govuk-!-padding-0 govuk-!-margin-0">Includes Deputy/Assistant Head, Headteacher, and trust-level roles</span>
        {% endset %}

        {% set midLeader %}
          <span class="govuk-!-font-weight-bold">Middle leader</span>
          <span class="govuk-hint govuk-checkboxes__hint govuk-!-padding-0 govuk-!-margin-0">Includes Heads of Year or Department</span>
        {% endset %}

        {% set teacherAssistant %}
          <span class="govuk-!-font-weight-bold">Teaching assistant</span>
        {% endset %}

        {% set edSupport %}
          <span class="govuk-!-font-weight-bold">Education support</span>
          <span class="govuk-hint govuk-checkboxes__hint govuk-!-padding-0 govuk-!-margin-0">Includes learning support and tutors</span>
        {% endset %}

        {% set sendCo %}
          <span class="govuk-!-font-weight-bold">SENDCo</span>
          <span class="govuk-hint govuk-checkboxes__hint govuk-!-padding-0 govuk-!-margin-0">Special educational needs and disabilities coordinator</span>
        {% endset %}

        {% set tellUsMoreTeacher %}
          <form class="" action="0-job-role-details-answer" method="post">
            {{ govukCheckboxes({
              fieldset: {
                legend: {
                  text: "Tell us more about the role (optional)",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: "Select all that apply"
              },
              items: [
                {
                  text: "Suitable for early career teachers"
                },
                {
                  text: "SEND responsibilities (special educational needs and disabilities)"
                }
              ]
            } | decorateAttributes(data, "data.job.teacherRoleDetails")) }}
          </form>
        {% endset -%}

        {% set tellUsMoreLeadership %}
          {{ govukRadios({
            fieldset: {
              legend: {
                text: "Does the role have SEND responsibilities (special educational needs and disabilities)?",
                classes: "govuk-fieldset__legend--s govuk-!-width-two-thirds"
              }
            },
            items: [
              {
                text: "Yes"
              },
              {
                text: "No"
              }
            ]
          } | decorateAttributes(data, "data.job.teacherRoleDetails")) }}
        {% endset -%}
        
      

          <!-- ROLE START -->
          {{ govukRadios({
            idPrefix: "jobRole",
            name: "jobRole",
            fieldset: {
              legend: {
                text: "Select a job role",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                html: teacher,
                value: "teacher",
                conditional: {
                  html: tellUsMoreTeacher
                }
              },
              {
                html: leadership,
                value: "leadership",
                conditional: {
                  html: tellUsMoreLeadership
                }
              },
              {
                html: midLeader,
                value: "middleLeader"
              },
              {
                html: teacherAssistant,
                value: "teacher assistant",
                conditional: {
                  html: tellUsMoreLeadership
                }
              },
              {
                html: edSupport,
                value: "education support",
                conditional: {
                  html: tellUsMoreLeadership
                }
              },
              {
                html: sendCo,
                value: "sendCo"
              }
            ]
          } | decorateAttributes(data, "data.job.role")) }}
          <!-- ROLE END -->

          <!-- <button class="govuk-button" data-module="govuk-button">Continue</button>
          <p><a href="/prototypes/application/expanded/dashboard">Cancel and return to manage jobs</a></p>  -->

      </form>

    </div>
</div>  

  <!-- {# <div class="govuk-grid-column-one-third">
    <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Creating a job listing steps</span>
        </h2>
    </div>
    {% include "includes/hiring-staff/acc-steps.html" %}
  </div> #} -->



<div class="govuk-grid-row full-width-bg-white govuk-!-margin-top-6 govuk-!-padding-top-8 govuk-!-padding-bottom-4 govuk-!-padding-left-3 govuk-!-padding-right-3 govuk-!-margin-left-0">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Job details</h2>

      <form class="" action="3-working-pattern" method="post">
        
        {# Educational phase #}

        {# Setting up come langauge juggling #}
        {% set educationPhaseText %}
          {% if data.job.phase == "Primary" %}
            Primary school
          {% endif %}
          {% if data.job.phase == "Secondary" %}
            Secondary school
          {% endif %}
        {% endset %}

        {% set initialJobPhase %}
          {% if data.job.phaseSetup %}
            {{ data.job.phaseSetup }}
          {% else %}
            {{ data.job.phase }}
          {% endif %}
        {% endset %}

        {% set jobPhaseChangeLink %}
          {% if data.job.phaseSetup %}
            ./2a-education-phase-setup
          {% else %}
            ./2a-education-phase
          {% endif %}
        {% endset %}

        {{ initialJobPhase | log }}

        {% set educationPhaseInsetHtml %}
          {% if data.job.phase != "More than one phase" and data.job.phaseSetup != "More than one phase" %}
            <p class="govuk-body">You are listing a {{ initialJobPhase }} phase role.
          {% elseif data.job.phase != "More than one phase" and data.job.phaseSetup == "More than one phase" %}
            <p class="govuk-body">You are listing a role covering more than one phase.
          {% elseif data.job.phase == "More than one phase" and (data.job.phaseSetup == "Primary" or data.job.phaseSetup == "Secondary" or data.job.phaseSetup == "16 to 19" ) %}
            <p class="govuk-body">You are listing a {{ initialJobPhase }} phase role.
          {% elseif data.job.phase == "More than one phase" %}
            <p class="govuk-body">You are listing a role covering more than one phase.
          {% endif %}
          {# Only show if it is an all-though phase school #}
          {% if data.job.phase == "More than one phase" %}
            <a href="{{ jobPhaseChangeLink }}">Change the education phase</a>.</p>
          {% endif %}
        {% endset %}

        <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Education phase</h2> -->
        
        {{ govukInsetText({
          html: educationPhaseInsetHtml
        }) }}

        {# Job title #}

        {% set jobTitleHintHtml %}
          <ul class="govuk-list govuk-list--bullet">
            <li>Keep it short and simple</li>
            <li>You should include seniority level, subject or key stage</li>
            <li>Avoid start date, salary and responsibilities which will be covered in the job description</li>
          </ul>
        {% endset %}

        {{ govukCharacterCount({
          maxlength: 90,
          rows: "1",
          label: {
            text: "Job title",
            classes: "govuk-label--m"
          },
          hint: {
            html: jobTitleHintHtml
          }
        } | decorateAttributes(data, "data.job.title")) }}

        {% set conditionalContractHtml %}
          
          {{ govukTextarea({
            rows: "1",
            label: {
              text: "Duration of fixed term contract",
              classes: "govuk-label--s"
            },
            hint: {
              text: "Contract length should be more than 12 weeks. Short term cover should not be advertised on Teaching Vacancies."
            }
          }) }}
        {% endset %}

        {% set conditionalMaternityHtml %}
          
          {{ govukTextarea({
            rows: "1",
            label: {
              text: "Duration of fixed term contract",
              classes: "govuk-label--s"
            },
            hint: {
              text: "Contract length should be more than 12 weeks. Short term cover should not be 
              advertised on Teaching Vacancies."
            }
          }) }}
        {% endset %}



        {{ govukRadios({
            fieldset: {
              legend: {
                text: "Contract type",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                text: "Permanent"
              },
              {
                text: "Fixed term",
                conditional: {
                  html: conditionalContractHtml
                }
              },
              {
                text: "Maternity or parental leave cover",
                conditional: {
                  html: conditionalMaternityHtml
                }
              }
            ]
          } | decorateAttributes(data, "data.job.contractType")) }}
                      
          {# Subject #}

          {# Only show this is phase is Primary #}
          {% if data.job.phase == "Primary" or data.job.phaseSetup == "Primary"  %} 

            {% include "includes/hiring-staff/primary-subjects.html" %}
            
          {# Show this is phase is Secondary or 16 to 19 #}
          {% elseif data.job.phase == "Secondary" or data.job.phase == "16 to 19" or data.job.phaseSetup == "Secondary" or data.job.phaseSetup == "16 to 19" %}
              
              {% include "includes/hiring-staff/subject-autocomplete-4.html" %}

          {% else %}

              {% include "includes/hiring-staff/primary-subjects.html" %}
              {% include "includes/hiring-staff/subject-autocomplete-4.html" %}

          {% endif %}

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="#">Save as draft</a>

            <p><a href="/prototypes/application/expanded/dashboard">Cancel and return to manage jobs</a></p>
          </div>

      </form>

  </div>
</div>

{% endblock %}

