{% extends "create-a-job-four-steps.html" %}


{% if data.job.userType == "multiSchoolMat" or data.job.userType == "multiSchoolLa" %}
  {% set activePageNumber = "4" %}
  {% set activePage = "step4" %}
{% else %}
  {% set activePageNumber = "3" %}
  {% set activePage = "step3" %}
{% endif %}

{% block createJobcontent %}
<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Create a job listing for Bexleyheath Academy</h1>
<div class="sub-nav govuk-grid-row full-width-bg-white govuk-!-margin-bottom-6 govuk-!-margin-left-0">
 
  <ul class="tabs">
    <li><a href="0-job-role.html">Step one</a></li>
    <li class="active"><a href="3-working-pattern">Step two</a></li>
    <li><a href="6-applying">Step three</a></li>
    <li><a href="#">Step four</a></li>
  </ul>

</div>


<div class="govuk-grid-row full-width-bg-white govuk-!-padding-top-8 govuk-!-padding-bottom-4 govuk-!-padding-left-3 govuk-!-padding-right-3 govuk-!-margin-left-0">
  <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Working pattern</h2>

      <form class="" action="4-pay-package" method="post">

          {# Working patterns #}
          {{ govukCheckboxes({
            fieldset: {
              legend: {
                text: "",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select all working patterns you will consider for the role"
            },
            items: [
              {
                text: "Full time"
              },
              {
                text: "Part time"
              },
              {
                text: "Flexible"
              },
              {
                text: "Job share"
              },
              {
                text: "Term time"
              }
            ]
          } | decorateAttributes(data, "data.job.workingPattern")) }}


          {{ govukCharacterCount({
            name: "with-hint",
            id: "with-hint",
            maxlength: 200,
            label: {
              text: "How many hours or days does the role cover? (optional)",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            hint: {
              text: "For example, '20 hours a week' or 'Tuesday and Wednesday mornings'"
            }
          }) }}

          {% set hoursDaysLabel %}
            How many hours or days does the role cover? <span class="govuk-!-font-weight-regular">(optional)</span>
          {% endset %}


      </form>

  </div>
</div>

<div class="govuk-grid-row full-width-bg-white govuk-!-margin-top-6 govuk-!-padding-top-8 govuk-!-padding-bottom-4 govuk-!-padding-left-3 govuk-!-padding-right-3 govuk-!-margin-left-0">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Pay package</h2>

      <form class="" action="5-important-dates" method="post">

          {{ govukInput({
            label: {
              text: "Annual or full-time equivalent (FTE) salary",
              classes: "govuk-label--m"
            },
            classes: "govuk-!-width-full"
          } | decorateAttributes(data, "data.job.salary")) }}

          {% if data.job.workingPattern != "Full time" %}
          
            {% set actualSalaryLabel %}
              Actual salary <span class="govuk-!-font-weight-regular">(optional)</span>
            {% endset %}

            {{ govukInput({
              label: {
                html: actualSalaryLabel,
                classes: "govuk-label--m"
              },
              hint: {
                text: "For part-time or term-time roles this is what the candidate will actually be paid"
              },
              classes: "govuk-!-width-three-thirds"
            } | decorateAttributes(data, "data.job.salaryActual")) }}

          {% endif %}

          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="benefits">
                What are the specifics of the working pattern? <span class="govuk-!-font-weight-regular">(optional)</span>
              </h1>
              <div id="with-hint-hint" class="govuk-hint">
                For example, include SEN allowances, special educational needs (SEN) allowances and teaching and learning responsibility (TLR) payments
              </div>
              <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
            </div>
          
            <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 200 characters
            </div>
          </div>


          <div class="govuk-button-group">
            <!-- <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button> -->
      
            <a class="govuk-button" data-module="govuk-button" href="6-applying">Save and continue</a>
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="#">Save as draft</a>

            <p><a href="/prototypes/application/expanded/dashboard">Cancel and return to manage jobs</a></p>
          </div>
      </form>
  </div>
</div>

 
{% endblock %}
