{% extends "create-a-job.html" %}

{% set sectionActive = "hiring staff" %}

{% if data.job.userType == "multiSchoolMat" or data.job.userType == "multiSchoolLa" %}
  {% set activePageNumber = "7" %}
  {% set activePage = "step7" %}
{% else %}
  {% set activePageNumber = "6" %}
  {% set activePage = "step6" %}
{% endif %}

{% block createJobcontent %}
  <!-- Main content START -->
  <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Applying for the job</h2>

      <p class="govuk-body">Candidates can apply using the Teaching Vacancies application form, or you can direct them to another service, like the local authority or a school's website. <a href="https://qa.teaching-vacancies.service.gov.uk/teaching-vacancies-application-form-guide-sept-21.pdf" class="govuk-link">Download more information about the application form (2.73 MB, PDF)</a></p>

      <form class="" action="6-applying-answer" method="post">

        {% if data.job.role != "education support" %}
          {{ govukRadios({
            fieldset: {
              legend: {
                text: "How would you like candidates to apply?",
                classes: "govuk-fieldset__legend--s govuk-!-width-two-thirds"
              }
            },
            items: [
              {
                text: "Use the Teaching Vacancies application form",
                hint: {
                  text: "Receive and manage applications through Teaching Vacancies"
                }
              },
              {
                text: "Use another application process"
              }
            ]
          } | decorateAttributes(data, "data.job.applyProcess")) }}
        {% else %}
          {{ howToApply | safe }}
          {{ linkToApply | safe }}
        {% endif %}

        {{ govukButton({
          text: "Continue"        
        }) }}

        <p><a href="/prototypes/application/expanded/dashboard">Cancel and return to manage jobs</a></p>
      </form>

  </div>

{% endblock %}
