.app-filter {
  background-color: govuk-colour("light-grey");

  &:focus {
    // box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
  }
}


.app-filter__header {
  font-size: 0; // Hide whitespace between elements
  padding: govuk-spacing(2) govuk-spacing(3);
  text-align: justify; // Trick to remove the need for floats
  position: sticky;
  top: 0;
  // background-color: govuk-colour('white');
  z-index: 9;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  [class^=govuk-heading-] {
    margin-bottom: 0;
  }

  @include govuk-media-query($from: desktop) {
    position: static;
  }

}


// JavaScript
.app-filter__legend {
  overflow: visible; // Override govuk to allow for focus style to be seen
  width: 100%;

  button {
    @include govuk-font($size: 24, $weight: bold);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 0;
    border: 0 none;
    cursor: pointer; // Adam would not approve
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-appearance: none;

    // Fix unwanted button padding in Firefox
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &::after {
      background-image: url("/public/images/icon-toggle-plus-minus.svg");
      background-position: 0 0;
      content: "";
      display: block;
      height: 16px;
      margin-top: -8px; // Half the height of the icon
      position: absolute; top: 50%; right: 0;
      width: 16px;
    }

    &[aria-expanded="true"] {
      &::after {
        background-position: 16px 16px;
      }
    }

    &:focus {
      // @include govuk-focusable;
    }

  }

}


.app-filter__header-title,
.app-filter__header-action {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.app-filter__close {
  // @include govuk-focusable;
  color: govuk-colour("black");
  cursor: pointer; // I know Adam won’t like this
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;

  &:focus {
    background-color: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    outline: none;
  }

  // Fix unwanted button padding in Firefox
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &::before {
    background-image: url("/public/images/icon-close-cross-black.svg");
    content: '';
    display: inline-block;
    height: 14px;
    margin-right: govuk-spacing(1);
    position: relative;
    top: -1px; // Alignment tweak
    vertical-align: middle;
    width: 14px;
  }

}


.app-filter__close {
  @include govuk-font(19);
}

.app-filter__selected {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(4) govuk-spacing(3);

  ul:last-of-type {
    margin-bottom: 0; // IE9 +
  }

}

.app-filter__selected-heading {
  font-size: 0; // Hide whitespace between elements
  text-align: justify; // Trick to remove the need for floats

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

}

.app-filter__heading-title,
.app-filter__heading-action {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.app-filter-tags {
  font-size: 0;
  margin-bottom: govuk-spacing(4); // Needs to adjust to 15px on mobile
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: govuk-spacing(1);
  }

}

.app-filter__tag {
  @include govuk-font(16);
  background-color: govuk-colour("white");
  border: 1px solid govuk-colour("black");
  color: govuk-colour("black");
  display: inline-block;
  margin-top: govuk-spacing(1);
  padding: govuk-spacing(1);
  text-decoration: none;

  &:link,
  &:visited {
    color: govuk-colour("black");
  }

  &:focus {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
  }

  &:hover {
    background-color: govuk-colour("black");
    color: govuk-colour("white");
  }

  &:after {
    background-image: url("/public/images/icon-tag-remove-cross.svg");
    content: '';
    display: inline-block;
    font-weight: bold;
    height: 10px;
    margin-left: govuk-spacing(1);
    vertical-align: middle;
    width: 10px;
  }

  &:hover:after {
    background-image: url("/public/images/icon-tag-remove-cross-white.svg");
  }

}

.app-filter__options {
  margin-top: -1px;
  padding: govuk-spacing(4) govuk-spacing(3);

  div:last-of-type {
    margin-bottom: 0; // IE9 +
  }

  .govuk-label{
    font-size: 16px;
  }

  .roles-header{
    font-size: 16px;
  }

}

.app-filter .govuk-checkboxes__label::before {
  background: govuk-colour('white')
}




























.app-c-option-select {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #b1b4b6
}

@media(min-width: 48.0625em) {
  .app-c-option-select ::-webkit-scrollbar {
      -webkit-appearance:none;
      width: 7px
  }

  .app-c-option-select ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.87)
  }
}

.app-c-option-select .gem-c-checkboxes {
  margin: 0
}

.app-c-option-select__title {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0
}

@media print {
  .app-c-option-select__title {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .app-c-option-select__title {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .app-c-option-select__title {
      font-size: 14pt;
      line-height: 1.15
  }
}

.app-c-option-select__button {
  z-index: 1;
  background: none;
  border: 0;
  text-align: left;
  padding: 0;
  cursor: pointer;
  color: #1d70b8;
  font-weight: 700
}

.app-c-option-select__button:hover {
  text-decoration: underline;
  text-underline-offset: .1em
}

.app-c-option-select__button::-moz-focus-inner {
  border: 0
}

.app-c-option-select__button:focus {
  outline: none;
  text-decoration: none;
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.app-c-option-select__button[disabled] {
  background-image: none;
  color: inherit
}

.app-c-option-select__button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2
}

.app-c-option-select__icon {
  display: none;
  position: absolute;
  top: 0;
  left: 2px;
  width: 30px;
  height: 40px;
  fill: #0b0c0c
}

.app-c-option-select__container {
  position: relative
}

.app-c-option-select__container:focus {
  outline: 0
}

ul.gem-c-checkboxes__list {
  padding-inline-start:0}

.app-c-option-select__filter {
  position: relative;
  background: #fff;
  padding: 13px 13px 10px 13px
}

.app-c-option-select__filter-input {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  padding-left: 33px;
  background: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 36 36%27 width=%2740%27 height=%2740%27%3E%3Cpath d=%27M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z%27 fill=%27currentColor%27%3E%3C/path%3E%3C/svg%3E") #fff no-repeat -5px -3px
}

@media print {
  .app-c-option-select__filter-input {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .app-c-option-select__filter-input {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .app-c-option-select__filter-input {
      font-size: 14pt;
      line-height: 1.15
  }
}

@media(min-width: 40.0625em) {
  .app-c-option-select__filter-input {
      font-family:"GDS Transport",arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 14px;
      font-size: .875rem;
      line-height: 1.1428571429
  }
}

@media print and (min-width: 40.0625em) {
  .app-c-option-select__filter-input {
      font-family:sans-serif
  }
}

@media(min-width: 40.0625em)and (min-width: 40.0625em) {
  .app-c-option-select__filter-input {
      font-size:16px;
      font-size: 1rem;
      line-height: 1.25
  }
}

@media print and (min-width: 40.0625em) {
  .app-c-option-select__filter-input {
      font-size:14pt;
      line-height: 1.2
  }
}

.app-c-option-select__heading {
  display: none
}

.js-enabled .app-c-option-select__heading {
  position: relative;
  padding: 10px 8px 0px 35px;
  display: block
}

.js-enabled [aria-expanded=true]~.app-c-option-select__icon--up {
  display: block
}

.js-enabled [aria-expanded=false]~.app-c-option-select__icon--down {
  display: block
}

.js-enabled [data-closed-on-load=true] .app-c-option-select__container {
  display: none
}

.app-c-option-select__selected-counter {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 12px;
  font-size: .75rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin-top: 3px
}

@media print {
  .app-c-option-select__selected-counter {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .app-c-option-select__selected-counter {
      font-size:14px;
      font-size: .875rem;
      line-height: 1.4285714286
  }
}

@media print {
  .app-c-option-select__selected-counter {
      font-size: 12pt;
      line-height: 1.2
  }
}

.app-c-option-select.js-closed .app-c-option-select__filter,.app-c-option-select.js-closed .app-c-option-select__container {
  display: none
}

.app-c-option-select.js-opened .app-c-option-select__filter,.app-c-option-select.js-opened .app-c-option-select__container {
  display: block
}


.govuk-visually-hidden,.js-enabled .app-c-option-select__legend {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important
}

.govuk-visually-hidden-focusable {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important
}

.govuk-visually-hidden-focusable:active,.govuk-visually-hidden-focusable:focus {
  position: static !important;
  width: auto !important;
  height: auto !important;
  margin: inherit !important;
  overflow: visible !important;
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  white-space: inherit !important
}