/*
------------------------------------------------------------
DASHBOARD FILTERS
------------------------------------------------------------
*/

.moj-filter-layout {
    @include govuk-clearfix;
}

.moj-filter-layout__filter {
    box-shadow: inset 0 0 0 1px govuk-colour("light-grey"); // Extends the inset border left full height of the filters on mobile

    @include govuk-media-query(desktop) {
        float: left;
        margin-right: govuk-spacing(7);
        max-width: 380px;
        min-width: 260px;
        width: 100%;
    }
}

.moj-filter-layout__content {
    overflow: hidden;
    overflow-x: auto;
}

.moj-scrollable-pane {
    position: relative;
    overflow: hidden; // Hides the shadow
    clear: both; // Fixes render bug
    // width: 100% // Fixes render bug
}

.moj-scrollable-pane-shadow {

    &:after {
        position: absolute;
        top: 0;
        left: 100%;
        width: 50px;
        height: 100%;
        border-radius: 10px 0 0 10px / 50% 0 0 50%;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
        content: "";
    }
}


.moj-scrollable-pane__wrapper {
    overflow-x: auto;
    width: 100%;

    div.test-divvy {
        width: 1200px;
    }
}

.moj-scrollable-pane > div::-webkit-scrollbar {
    height: 10px; // Match GOVUK spacing units
}

.moj-scrollable-pane > div::-webkit-scrollbar-track {
    background: govuk-colour("light-grey");
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset; // Simulate scrollbar look and feel
}

.moj-scrollable-pane > div::-webkit-scrollbar-thumb {
    background: govuk-colour("dark-grey");
    border-radius: govuk-spacing(1);
}

/*
Action bar
*/

div.moj-action-bar__filter {
    margin-bottom: 10px;

    button,
    a {
        margin-bottom: 0;
    }

    span {
        font-size: 19px;
        line-height: 2.2em;
        margin: 0 0 0 10px;
    }

    a#btn-create {
        float: right;
    }
}

/*
FILTER block header
*/

.moj-filter__header {
    background-color: govuk-colour("mid-grey");
    font-size: 0; // Hide whitespace between elements
    padding: govuk-spacing(2) govuk-spacing(4);
    text-align: justify; // Trick to remove the need for floats

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }

    [class^="govuk-heading-"] {
        margin-bottom: 0;
    }
}

/*
FILTER selected
*/

.moj-filter__selected {
    background-color: govuk-colour("light-grey");
    box-shadow: inset 0 0 0 1px govuk-colour("mid-grey");
    padding: govuk-spacing(4);

    h2,
    h3 {
        font-weight: normal;
    }

    h3 { font-size: 16px;}

    ul:last-of-type {
        margin-bottom: 0; // IE9 +
    }
}
.moj-filter__selected-heading {
    font-size: 0; // Hide whitespace between elements
    text-align: justify; // Trick to remove the need for floats

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}
.moj-filter__heading-title,
.moj-filter__heading-action {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/*
FILTER selected tags
*/

.moj-filter-tags {
    font-size: 0;
    margin-bottom: govuk-spacing(4); // Needs to adjust to 15px on mobile
    padding-left: 0;

    li {
        display: inline-block;
        margin-right: govuk-spacing(2);
    }
}

.moj-filter__tag {
    @include govuk-font(16);
    background-color: govuk-colour("white");
    border: 1px solid govuk-colour("black");
    color: govuk-colour("black");
    display: inline-block;
    margin-top: govuk-spacing(1);
    padding: govuk-spacing(1);
    text-decoration: none;

    &:link,
    &:visited {
        color: govuk-colour("black");
    }

    &:focus {
        color: $govuk-focus-text-colour;
        background-color: $govuk-focus-colour;
    }

    &:hover {
        background-color: govuk-colour("black");
        color: govuk-colour("white");
    }

    &:after {
        background-image: url(../images/mat3/icon-cross.svg);
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        font-weight: bold;
        height: 14px;
        margin-left: govuk-spacing(1);
        vertical-align: middle;
        width: 14px;
    }

    &:hover:after {
        // background-image: url(#{$moj-images-path}icon-tag-remove-cross-white.svg);
    }
}

/*
FILTER options block
*/

.moj-filter__options {
    box-shadow: inset 0 0 0 1px govuk-colour("mid-grey");
    margin-top: -1px;
    padding: govuk-spacing(4);

    div:last-of-type {
        margin-bottom: 0; // IE9 +
    }
}

/*
FILTER search block for checkboxes
*/
.moj-filter__options {

    .dashFilter-container {
      max-height: 175px;
    }

}


/*
------------------------------------------------------------
JOB LISTING
------------------------------------------------------------
*/

div.alert-js-info {
  background: rgba(0, 94, 165, 0.1);
  border: 5px solid #005EA5;
  box-sizing: border-box;
  padding: govuk-spacing(2);
  margin-bottom: govuk-spacing(4);

  svg.moj-banner__icon {
    float: left;
    margin-right: 10px;
  }

  p {
    margin:0;
    padding-left: 35px;

    span {
      font-weight: bold;
    }
  }
}

/*
------------------------------------------------------------
SCHOOLS IN YOUR TRUST
------------------------------------------------------------
*/

li.school-trust {
  border:#DEE0E2 solid 10px;
  padding: govuk-spacing(2);
  margin-bottom: govuk-spacing(4);

  table {
    margin-bottom: 0;
  }

}

h2.mySchools-title {
  border-color: #F47738;
  border-width: 6px;;
  padding-bottom: 5px;
}