<div class="app-job-alert-banner">
  <style>
    .app-job-alert-banner {
      background-color: #f3f2f1;
      border-top: 1px solid #b1b4b6;
    }

    .app-job-alert-banner__inner {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .app-job-alert-banner__logo {
      display: block;
      width: 250px;
      max-width: 100%;
      height: auto;
    }

    .app-job-alert-banner__heading {
      margin-top: 25px;
      margin-bottom: 0;
      max-width: 11em;
    }

    .app-job-alert-banner__photo {
      display: block;
      width: 100%;
      height: auto;
      margin-top: 20px;
    }

    @media (min-width: 40.0625em) {
      .app-job-alert-banner__inner {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      .app-job-alert-banner__row {
        display: flex;
        align-items: center;
      }

      .app-job-alert-banner__photo {
        margin-top: 0;
      }
    }
  </style>

  <div class="govuk-width-container">
    <div class="app-job-alert-banner__inner">
      <div class="govuk-grid-row app-job-alert-banner__row">
        <div class="govuk-grid-column-one-half">
          <img class="app-job-alert-banner__logo" src="/public/images/teaching-vacancies-logo.png" alt="Teaching Vacancies">
          <h2 class="govuk-heading-l app-job-alert-banner__heading">Get jobs sent straight to your inbox</h2>
        </div>
        <div class="govuk-grid-column-one-half">
          <img class="app-job-alert-banner__photo" src="/public/images/job-alert-classroom.jpg" alt="A teacher sitting with pupils in a classroom.">
        </div>
      </div>
    </div>
  </div>
</div>
