<div id="itt-banner" class="itt-banner" style="background-color: #f3f2f1; border-top:1px solid #b1b4b6;">
    <div class="govuk-width-container">
        <div class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full" style="max-width:80%; margin-left:10%;">

                    <h1 class="govuk-heading-xl" style="text-align:center; margin-bottom:30px;" >
                        The ultimate education service built for schools
                    </h1>
                     <p class="govuk-body-l" style="text-align:center;">
                        We know education - our service helps you attract, recruit and hire the high-quality candidates you need to succeed.
                    </p>

                    <div class="govuk-button-group" style="margin:0px auto; display:table;">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            List a job
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            View  features
                        </button>
                    </div>
                </div>
                  
            </div>
        </div>
    </div>
</div>
