
{% extends "layout.njk" %}

{% block pageTitle %}
 240 jobs found sorted by newest job - Find a job in teaching - Teaching Vacancies - GOV.UK
{% endblock %}

{% set primaryNavId = 'jobs' %}


{% block content %}
   <div class="govuk-width-container ">

  <div class="govuk-grid-row old-design">
    <div class="govuk-grid-column-full">
      
      


      

      <div class="app-logo-title">

        
          <div class="app-logo-title__image">
            <img src="https://loremflickr.com/100/100/school">
          </div>
          <div class="app-logo-title__tex">
            

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
      Bus/Coach Driver
    </h1>
    <span class="govuk-caption-l">
      Countryside High School
    </span>
    
  
          </div>
        
      </div>


      <div class="govuk-grid-row banner-buttons  govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-one-third">
          
            <form action="/jobalerts/support">
              <button class="banner-button-component__button icon icon--left icon--alert-blue" type="submit">Get a job alert for similar jobs</button>
            </form>
          
        </div>
        <div class="govuk-grid-column-one-third">
            <button class="banner-button-component__button icon icon--left icon--save" type="submit">Save this job for later</button>
        </div>
      </div>


    </div>

    <div class="govuk-grid-column-one-third">

      
      <div class="timeline-component">

      <h3 class="govuk-heading-s">16 days remaining to apply</h3>

      <ul class="timeline-component__items">
        <li class="timeline-component__item">
          <h4 class="timeline-component__key govuk-heading-s">Closing date</h4>
          <p class="timeline-component__value govuk-body">15 September 2023 at 4pm</p>
        </li>
        <li class="timeline-component__item">
          <h4 class="timeline-component__key govuk-heading-s">Date listed</h4>
          <p class="timeline-component__value govuk-body">1 October 2023</p>
        </li>
      </ul>

      </div>


    </div>

    <div class="govuk-grid-column-two-thirds">


      <h2 class="govuk-heading-l govuk-!-margin-bottom-5">
        Job details
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2">

      </h2>



      

      

      


      

    
      <script>console.log({
	"id": "55023",
	"jobtype": "support",
	"status": "Active",
	"organisation": {
		"id": "v4w5x6y7-z8a9-b0c1-d2e3-f4g5h6i7j8k9",
		"name": "Countryside High School",
		"address": {
			"address1": "22 Country Road",
			"town": "Lincoln",
			"postcode": "LN5 8RQ"
		},
		"type": "High School",
		"phase": "Secondary school",
		"ageGroup": "11 to 18",
		"size": "850",
		"website": "http://countrysidehs.edu.uk",
		"emailAddress": "transport@countrysidehs.org.uk",
		"about": "Countryside High School is committed to providing safe and reliable transportation for our students. We are currently seeking a responsible and experienced Bus/Coach Driver to join our team, ensuring the safe transport of students to and from school and various school events.",
		"safeguardingCommitment": "Our school prioritizes the safety and well-being of our students in every aspect of their educational experience.",
		"logo": "https://loremflickr.com/100/100/school",
		"photo": "https://loremflickr.com/640/320/school"
	},
	"locations": [
		{
			"name": "Countryside High School",
			"address": {
				"address1": "22 Country Road",
				"town": "Lincoln",
				"postcode": "LN5 8RQ"
			}
		}
	],
	"hybrid": "Yes",
	"role": [
		"Catering, cleaning and site management",
		"Other support roles"
	],
	"title": "Bus/Coach Driver",
	"searches": [
		"Bus Driver",
		"Coach Driver",
		"School Bus Driver",
		"Transport Officer",
		"Student Transportation",
		"driver"
	],
	"phase": "Secondary school",
	"workingPatterns": [
		"Part time"
	],
	"salaryDetails": [
		"Hourly wage"
	],
	"actualSalaryDetails": "£12.50 per hour",
	"hasAdditionalAllowances": "No",
	"isUsingApplicationForm": "Yes",
	"offersSchoolVisits": "No",
	"hasContactPhoneNumber": "Yes",
	"contactPhoneNumber": "01522 123 456",
	"skillsAndExperience": "Candidates should possess a valid bus driving license, have experience in driving school buses or coaches, and demonstrate excellent driving skills. Knowledge of safety protocols and a strong commitment to student safety are essential.",
	"whatSchoolOffers": "- A vital role in our school community\n- A supportive working environment\n- Flexible working hours.",
	"hasSafeguardingCommitment": "Yes",
	"safeguardingCommitment": "We ensure a safe and caring environment for our students, including their transportation to and from school.",
	"hasFurtherDetailsAboutTheRole": "Yes",
	"furtherDetailsAboutTheRole": "The role requires a full UK driving license, CPC (Certificate of Professional Competence), and a DBS check.",
	"hasAdditionalDocuments": "No",
	"publishDate": "2023-07-20T09:00:00.000Z",
	"closingDate": "2023-09-15T17:00:00.000Z",
	"closingTime": "4pm",
	"startDate": "2023-10-01T08:00:00.000Z",
	"distance": 2
});</script>

       


  

  

  

  

  

  

  

  

  

  

  

  <dl class="govuk-summary-list">
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Job role
          </dt>
          <dd class="govuk-summary-list__value">
            Catering, cleaning and site management,Other support roles
          </dd>
          
        </div>
      
    
      
    
      
    
      
    
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Working pattern
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
        
                  
                    <li  class="govuk-!-margin-bottom-0" >
                      Part time -
                      
                        
                      
                    </li>
                  
                </ul>
          </dd>
          
        </div>
      
    
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Job start date
          </dt>
          <dd class="govuk-summary-list__value">
            1 October 2023
          </dd>
          
        </div>
      
    
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Actual salary
          </dt>
          <dd class="govuk-summary-list__value">
            £12.50 per hour
          </dd>
          
        </div>
      
    
      
    
  </dl>



      <h2 class="govuk-heading-m">
        What skills and experience we’re looking for
      </h2>

      <div class="app-prose govuk-!-margin-bottom-6">
        <p>Candidates should possess a valid bus driving license, have experience in driving school buses or coaches, and demonstrate excellent driving skills. Knowledge of safety protocols and a strong commitment to student safety are essential.</p>
      </div>

      <h2 class="govuk-heading-m">
        What the school offers its staff
      </h2>

      <div class="app-prose govuk-!-margin-bottom-6">
        <ul>
<li>A vital role in our school community</li>
<li>A supportive working environment</li>
<li>Flexible working hours.</li>
</ul>
      </div>

      


      
        <h2 class="govuk-heading-m">
          Further information about the job
        </h2>

        <div class="app-prose">
          <p>The role requires a full UK driving license, CPC (Certificate of Professional Competence), and a DBS check.</p>
        </div>
      
<div class="govuk-inset-text">Visas cannot be sponsored.</div>
<div class="govuk-body">If you're interested in teaching or training to teach in England as an international citizen, we can <a class="govuk-link" data-controller="tracked-link" data-action="click->tracked-link#track auxclick->tracked-link#track contextmenu->tracked-link#track" data-tracked-link-target="link" data-link-type="international_teacher_advice_link_job_listing" href="https://getintoteaching.education.gov.uk/non-uk-teachers">help you understand your next steps</a>.</div>
       

          <h2 class="govuk-heading-m">
            Applying for the job
          </h2>

          <p class="govuk-body">This job requires you to download an application form, you will be able to upload the application once complete.</p> 
          
          <p class="govuk-body">CV's will not be accepted for this application.</p>
<a href="jobs/55023/apply" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-7" data-module="govuk-button">
  Apply for this job
</a>

              
              

          

        


         


      

      

      

      

      

      
        <h2 class="govuk-heading-l">
          About the school
        </h2>

        


  

  

  

  

  

  

  

  

  

  <dl class="govuk-summary-list">
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Countryside High School
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            22 Country Road
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            High School
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Education phase
          </dt>
          <dd class="govuk-summary-list__value">
            Secondary school
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Age group
          </dt>
          <dd class="govuk-summary-list__value">
            11 to 18
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Size
          </dt>
          <dd class="govuk-summary-list__value">
            850 pupils enrolled
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ofsted report
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="#">View Ofsted report (opens in new tab)</a>
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="transport@countrysidehs.org.uk">transport@countrysidehs.org.uk</a>
          </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Website
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="http://countrysidehs.edu.uk">http://countrysidehs.edu.uk (opens in new tab)</a>
          </dd>
          
        </div>
      
    
  </dl>



      <section>
        <p class="icon icon--left icon--alert-blue govuk-!-margin-top-7" style="background-repeat: no-repeat; padding-left:30px">
        
           <a class="govuk-link" href="/jobalerts/support">Get a job alert</a> when similar jobs are listed
          
      </section>

      

      

      


    </div>
    

  </div>


      </div>
    
{% endblock %}
