
{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Jobs (240)
  </h1>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "includes/jobs-filter-panel.njk" %}
    </div>

    <div class="app-filter-layout__content">
      {% include "includes/jobs-search-form.njk" %}

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      <div>
        <div class="app-jobs">


        {% for job in jobs %}

          {% set address %}
            {% for part, value in job.organisation.address %}
              {{value}}{% if not loop.last %}, {% endif %}
            {% endfor %}
          {% endset %}

          <div class="app-schools__item">
            <h2 class="govuk-heading-m">
              <a href="/jobs/{{job.id}}">{{job.title}}</a>
            </h2>
            <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0">{{address}}</p>
            {{ govukSummaryList({
              classes: 'govuk-summary-list--no-border app-summary-list--compact',
              rows: [
                {
                  key: {
                    text: "Role"
                  },
                  value: {
                    text: job.role
                  }
                },
                {
                  key: {
                    text: "Full-time equivalent salary"
                  },
                  value: {
                    html: job.fullTimeEquivalentSalaryDetails
                  }
                } if job.fullTimeEquivalentSalaryDetails,
                {
                  key: {
                    text: "Actual salary"
                  },
                  value: {
                    html: job.actualSalaryDetails
                  }
                } if job.actualSalaryDetails,
                {

                  key: {
                    text: "Pay scale"
                  },
                  value: {
                    html: job.payScaleDetails
                  }
                } if job.payScaleDetails,
                {
                  key: {
                    text: "Education phase"
                  },
                  value: {
                    text: 'Primary'
                  }
                },
                {
                  key: {
                    text: "Working pattern"
                  },
                  value: {
                    text: job.workingPatterns
                  }
                },
                {
                  key: {
                    text: "Subject"
                  },
                  value: {
                    html: job.subjects | join(', ') | capitalize
                  }
                } if job.subjects
              ]
            }) }}

          </div>
        {% endfor %}
      </div>

      {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              href: "#",
              current: true
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })

    new AppFrontend.CheckboxFilter({
      container: $('#subjects'),
      textBox: {
        label: 'Search for subject'
      }
    })
  </script>
{% endblock %}