
{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}

{% block content %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
    Teacher of Geography
  </h1>

  {% set inset %}
    <p>This job listing ends in 16 days (16 June 2022 at 11:59pm).</p>
    {{ govukButton({
      text: "Apply for job",
      href: '#apply',
      classes: "govuk-!-margin-bottom-0"
    }) }}
    {{ govukButton({
      text: "Save job for later",
      classes: "govuk-button--secondary govuk-!-margin-left-2 govuk-!-margin-bottom-0"
    }) }}
  {% endset %}
  {{ govukInsetText({
    html: inset,
    classes: 'govuk-!-margin-top-4 govuk-!-padding-bottom-4'
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="app-panel">

      {# <h2 class="govuk-heading-m">
        Job details
      </h2> #}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Job role"
            },
            value: {
              html: 'Teacher'
            }
          },
          {
            key: {
              text: "Key stage"
            },
            value: {
              html: 'KS1'
            }
          },
          {
            key: {
              text: "Suitability for early career teachers (ECT)"
            },
            value: {
              html: 'We will consider an ECT'
            }
          },
          {
            key: {
              text: "Working patterns"
            },
            value: {
              html: 'Part time - 3 days a week<br><br>Flexible - you can choose mornings or afternoons'
            }
          },
          {
            key: {
              text: "Contract"
            },
            value: {
              html: 'Permanent'
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              text: "19 October 2022"
            }
          },
          {
            key: {
              text: "Full time equivalent salary"
            },
            value: {
              text: "£25,000 to £35,000"
            }
          },
          {
            key: {
              text: "Actual salary"
            },
            value: {
              text: "£17,000 to £26,000"
            }
          },
          {
            key: {
              text: "Pay scale"
            },
            value: {
              text: "MP1 to MP6"
            }
          }
        ]
      }) }}

      </div>

      <h2 class="govuk-heading-m">
        What skills and experience we’re looking for
      </h2>

      <p>Morbi sodales efficitur ex, ut finibus metus malesuada non. Curabitur suscipit, ante quis pellentesque vehicula.</p>

      <h2 class="govuk-heading-m">
        What the school offers
      </h2>

      <p> Etiam id laoreet odio, a congue mi. Nam et odio diam. Integer eget purus tincidunt odio ullamcorper sagittis id vulputate mauris. Nulla vehicula ex quis ipsum bibendum, ut iaculis diam tristique. Phasellus imperdiet arcu consectetur fermentum finibus. </p>

      <h2 class="govuk-heading-m">
        Further information about the role
      </h2>

      <p> Etiam id laoreet odio, a congue mi. Nam et odio diam. Integer eget purus tincidunt odio ullamcorper sagittis id vulputate mauris. Nulla vehicula ex quis ipsum bibendum, ut iaculis diam tristique. Phasellus imperdiet arcu consectetur fermentum finibus. </p>

      <h2 class="govuk-heading-m">
        Additional documents
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="">Job description (2MB)</a>
        </li>
        <li>
          <a href="">Person specification (8MB)</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        About Swinnow Primary School
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "School type"
            },
            value: {
              text: "Local authority maintained school"
            }
          },
          {
            key: {
              text: "Education phase"
            },
            value: {
              text: "Primary"
            }
          },
          {
            key: {
              text: "School size"
            },
            value: {
              text: "266 pupils enrolled"
            }
          },
          {
            key: {
              text: "Age range"
            },
            value: {
              text: "2 to 11"
            }
          },
          {
            key: {
              text: "Ofsted report"
            },
            value: {
              html: '<a href="">View Ofsted report (opens in new tab)</a>'
            }
          },
          {
            key: {
              text: "Website"
            },
            value: {
              html: '<a href="">https://www.swinnowprimary.com</a>'
            }
          }
        ]
      }) }}

      <p> Etiam id laoreet odio, a congue mi. Nam et odio diam. Integer eget purus tincidunt odio ullamcorper sagittis id vulputate mauris. </p>

      <h2 class="govuk-heading-m">
        Contact the school for questions about the job
      </h3>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              html: '<a href="">recruitment@swinnowprimary.com</a>'
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              html: '<a href="">0207 984 384</a>'
            }
          }
        ]
      }) }}

      {# <ul class="govuk-list govuk-list--bullet">
        <li>
          emailing <a href="">recruitment@swinnowprimary.com</a>
        </li>
        <li>
          phoning <a href="">0207 984 384</a>
        </li>
      </ul> #}

      <h2 class="govuk-heading-m">
        Arranging a visit to Swinnow Primary School
      </h3>

      <p>To arrange a visit and increase the chance of a successful application email <a href="#">	recruitment@swinnowprimary.com</a>.</p>

      <h2 class="govuk-heading-m">
        Location
      </h3>

      <p class="govuk-body-">Swinnow Primary Schools<br> Swinnow Road<br> Leeds<br> West Yorkshire<br> LS13 4PG</p>

      <p><img src="/public/images/map.png" style="max-width: 100%"></p>

      <h2 class="govuk-heading-m">
        Our commitment to safeguarding
      </h2>

      <p> Etiam id laoreet odio, a congue mi. Nam et odio diam. Integer eget purus tincidunt odio ullamcorper sagittis id vulputate mauris. Nulla vehicula ex quis ipsum bibendum, ut iaculis diam tristique.</p>

      <h2 class="govuk-heading-m" id="apply">
        Apply for the job
      </h2>

      <p>Download and send your application form to <a href="#">recruitment@swinnowprimary.com</a>.</p>

      {{ govukButton({
        text: "Application form (PDF), 7MB"
      }) }}


    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Set up a job alert
      </h2>

      <p>You can set up a job alert for similar jobs.</p>

      <p><a href="#">Set up a job alert</a></p>

      <h2 class="govuk-heading-m">
        Similar jobs
      </h2>

      <p>[Something goes here]</p>

    </div>
  </div>

{% endblock %}
