{% extends "layout.html" %}

{% block pageTitle %}
Create a profile
{% endblock %}


<!-- {% set bodyClasses = "bespoke-width" %} -->

{% block main %}

<!-- START BESPOKE HEADER -->
<div class="full-BGstrip">

</div>

<!-- END BESPOKE HEADER -->

<div class="govuk-width-container">
    
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

      {{ govukBackLink({
        text: "Back",
        href: "/templates/public/contact-details"
      }) }}

      <div id="waste-hint" class="govuk-hint"> Creating a profile - Step 1 of 7 </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l"> Professional Status</h1>
        

{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "Do you have qualified teacher status (QTS)?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [


    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  idPrefix: "where-do-you-live",
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "Have you completed your statutory induction year?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [


    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

<h2 class="govuk-heading-m">Teacher reference number  (optional)</h2>
{{ govukInput({
  classes: "govuk-input--width-20",
  id: "width-20",
  name: "width-20"
}) }}
     
          <div class="govuk-button-group">   <a class="govuk-button " data-module="govuk-button" href="/templates/public/roles">Next</a> </button>

            <p><a href="/templates/public/home-profile">Cancel </a></p>
            
          </div>
        

        </div>
      </div>
    </main>
  </div>


{% endblock %}

{% block content %}

<!-- Removed content from here to create bespoke header, overwrite 'main' block -->

{% endblock %}