{% extends "layout.html" %}

{% block pageTitle %}
T / Job listing
{% endblock %}


<!-- {% set bodyClasses = "bespoke-width" %} -->

{% block main %}

<!-- START BESPOKE HEADER -->
<div class="full-BGstrip">

</div>

<!-- END BESPOKE HEADER -->

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Would you like to create a profile?</h1>
          <h1 class="govuk-heading-m">Helping you apply quicker</h1>
          <p class="govuk-body">
            Content
          </p>
        

          
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
           Create job profile
            </button>
        
            <p><a href="#">Complete later and continue with application </a></p>
          </div>
        

        </div>
      </div>
    </main>
  </div>


{% endblock %}

{% block content %}

<!-- Removed content from here to create bespoke header, overwrite 'main' block -->

{% endblock %}