{% extends "layout.html" %}

{% block pageTitle %}
T / Job listing
{% endblock %}


<!-- {% set bodyClasses = "bespoke-width" %} -->

{% block main %}

<!-- START BESPOKE HEADER -->
<div class="full-BGstrip">
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper govuk-!-padding-bottom-6 govuk-!-padding-top-2">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <div class="govuk-breadcrumbs govuk-!-margin-bottom-6">
                        <ol class="govuk-breadcrumbs__list">
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="./01-service-start.html">Home</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                <a class="govuk-breadcrumbs__link" href="./01-search-results.html">Search results</a>
                            </li>
                            <li class="govuk-breadcrumbs__list-item">
                                Primary Teacher
                            </li>
                        </ol>
                    </div>

                    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Bronson Alcott Academy</h1>
                    <h4 class="govuk-caption-l govuk-!-margin-top-0">Bronson Alcott Academy, Stratford, Greater London</h4>

                </div>
            </div>

        </main>

    </div>
</div>


<!-- END BESPOKE HEADER -->

<!-- START CONTENT -->
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-6">
        <div class="govuk-grid-row">

  
            <!-- Sidebar END -->

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">

                <!-- CONTENTS START -->
                <h3 class="govuk-heading-s govuk-!-margin-bottom-3"></h3>
                <div class="govuk-grid-row govuk-!-margin-bottom-6">
                </div>


                <!-- SCHOOL OVERVIEW START -->
                <h3 class="govuk-heading-l section-heading" id="school-overview">About school</h3>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__header">School type</td>
                            <td class="govuk-table__cell">Academy</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__header">Education phase</td>
                            <td class="govuk-table__cell">Primary</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__header">School size</td>
                            <td class="govuk-table__cell">294 pupils</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__header">Age range</td>
                            <td class="govuk-table__cell">5 to 11</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__header">Ofsted report</td>
                            <td class="govuk-table__cell"><a href="#">View ofsted report</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__header">School website</td>
                            <td class="govuk-table__cell"><a href="#">school website link (opens in a new window)</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__header">Contact email</td>
                            <td class="govuk-table__cell"><a href="#">email@bronsonalcottacademy.org.uk</a></td>
                        </tr>
                    </tbody>
                </table>

                <h4 class="govuk-heading-s">About Bronson Alcott Academy</h4>
                <p class="govuk-body">
                    Bronson Alcott Academy is at the heart of a growing family of outstanding schools. This support allows us unique relationships within London, its independent schools and seats of learning. We pride ourselves on:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Our recent OFSTED inspection upgrade to ‘good’ (April 2019). </li>
                    <li>Being an oversubscribed and popular school, located close to the M42 and M6, in easy reach of Coventry, Warwick and Birmingham.</li>
                    <li>Being a highly innovative, driven, inspirational and ambitious organisation with a clear vision for achieving success.</li>
                    <li>Being part of the Springwood Academies Trust and its associated teaching school. This facilitates an opportunity to play to your strengths and provide excellent collaboration between colleagues and leaders, access to effective CPD and the chance to develop professionally. The - Trust is committed to invest in and develop all staff and, most importantly, bring about the best possible outcomes for our students who deserve the very best.</li>
                    <li>Our strong commitment to staff wellbeing and recognition. We can offer you a range of benefits which include cycle to work and childcare voucher schemes, free parking, an employee discount scheme, a laptop and access to the on-site swimming pool.</li>
                </ul>
                <!-- SCHOOL OVERVIEW END -->


                <h4 class="govuk-heading-m">How do we support ECTs?</h4>
                <p class="govuk-body">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                </p>


                <!-- SCHOOL LOCATION START -->
                <h3 class="govuk-heading-l section-heading" id="school-location">School location</h3>
                <p class="govuk-body">
                    Friendship Way, London E15 2JQ
                </p>
                <p><a href="#">Plan your commute (opens in a new window)</a></p>
                <div class="govuk-!-margin-bottom-6">
                    <img src="/public/images/mat2/stratford-desktop-5.png" alt="">
                </div>
                <!-- SCHOOL LOCATION END -->



                <h3 class="govuk-heading-l section-heading" id="supporting-documents">Supporting documents</h3>
                <div class="supporting-docs govuk-!-margin-bottom-6">
                    <ul>
                        <li><a href="#" class="document-link">School brochure</a> 3mb</li>
         
                    </ul>
                </div>
                <!-- SUPPORTING DOCS END -->

            </div>
            <!-- Main content END -->

        </div>
    </main>
</div>
<!-- END CONTENT -->
{% endblock %}

{% block content %}

<!-- Removed content from here to create bespoke header, overwrite 'main' block -->

{% endblock %}