
{% extends "layout.njk" %}

{% block pageTitle %}
 240 jobs found sorted by newest job - Find a job in teaching - Teaching Vacancies - GOV.UK
{% endblock %}

{% set activeNav = 'feonlyjobs' %}

{% block content %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    Further Education prototype work
  </h1>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-6">
    Option A - merging FE into current jobs list
  </h2>

  <p class="govuk-body">Combining FE roles into the current jobs list on the service. So 'merging' the roles alongside teaching and school jobs in one place. This would have to cater the filters to all roles.</p>

  <form action="/jobsfemerge">
    <input class="govuk-input" id="optionPrototype" name="optionPrototype" type="text" value="a" hidden>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      go to Option A concept
    </button>
  </form>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-6">
    Option B - separating FE roles from current jobs list
  </h2>

  <p class="govuk-body">Splitting the current teacher and school roles and new FE roles.  FE roles will only be visible on a specific landing page/results page. This will allow us to provide specific filters to FE.</p>

  <form action="/jobsfe">
    <input class="govuk-input" id="optionPrototype" name="optionPrototype" type="text" value="b" hidden>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      go to Option B concept
    </button>
  </form>

  <form action="/fehome">
    <input class="govuk-input" id="optionPrototype" name="optionPrototype" type="text" value="b" hidden>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      go to Option B home page
    </button>
  </form>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-6">
    Option C - FE roles on a dedicated service
  </h2>

  <p class="govuk-body">Have FE roles on a dedicated service and not on the current TV setup.</p>

  <form action="/jobsfeonly">
    <input class="govuk-input" id="optionPrototype" name="optionPrototype" type="text" value="c" hidden>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      go to Option C concept
    </button>
  </form>

  

{% endblock %}

{% block pageScripts %}

{% endblock %}
