
{% extends "layout.njk" %}

{% block pageTitle %}
 240 jobs found sorted by newest job - Find a job in teaching - Teaching Vacancies - GOV.UK
{% endblock %}

{% set primaryNavId = 'jobs' %}
{% set activeNav = 'fe' %}


{% block content %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    80 further education jobs 
  </h1>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% if data['filtertype'] == '1' %}

        {% include "includes/jobs-filter-panel-collapsible.njk" %}

      {% elseif data['filtertype'] == '2' %}

        {% include "includes/jobs-filter-panel.njk" %}

      {% else %}

        {% include "includes/jobs-filter-panel-fe.njk" %}

      {% endif %}

    </div>


    <div class="app-filter-layout__content">
      {% include "includes/jobs-search-form.njk" %}

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      <div>
        <div class="app-jobs">

          <div class="govuk-grid-column-one-full">
              <div style="float:left;">
                <h2 style="display:inline-block" class="govuk-heading-m govuk-!-margin-bottom-3  govuk-!-margin-top-1">Sorted by newest job </h2><br/>
              </div>
            <div style="display:inline-block; float:right">
              <form id="sortform" action="/jobs/search/postcode">
                <div class="govuk-form-group govuk-!-margin-bottom-4" style="float:right">
                  <label class="govuk-label" for="sort" style="display:inline-block;">
                    Sort by
                  </label>
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="newest" selected>Newest job</option>
                    <option value="closing">Closing date</option>
                    {% if data['location'] %}<option value="distance">Distance</option>{% endif %}
                  </select>
                </div>
              </form>
            </div>

          </div>

          <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
              <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-1">
            </div>
            
          </div>

        {% for job in jobs|sort(attribute='startDate', reverse=false) %}

        {% if job.jobtype in ['Teaching and lecturing','Support','SEN','Leadership','Vocational'] %}
    
            {% set address %}
              {% for part, value in job.organisation.address %}
                {{value}}{% if not loop.last %}, {% endif %}
              {% endfor %}
            {% endset %}

            {% set closingInformation %}
              {{job.closingDate | date}} at {{job.closingTime}}
            {% endset %}

            <div class="app-jobs__item">
              {% if job.organisation.logo != 'Not entered' %}
              <div class="square" style="height: 65px; float: left;/*can be anything*/ width: 65px; /*can be anything*/ display: inline-block; vertical-align: top; /*not required*/ position: relative;  margin-right:10px;">
                <span style="font-family: arial, sans-serif;  position: absolute;  bottom: 0;  left: 0;  right: 0;  text-align: center;  color: white;  background: rgba(0,0,0,0.4);  font-size: 12px;"></span>
                <img src="{{job.organisation.logo}}" style="max-height: 100%;  max-width: 100%;  width: auto;  height: auto;  position: absolute;  top: 0;  bottom: 0;  left: 0;  right: 0;  margin: auto;">
              </div>
              {% endif %}
              <h2 class="govuk-heading-m">
                
                <a class="govuk-link--no-visited-state" href="/jobs/{{job.id}}">{{job.title}}</a>&nbsp;

                {% if job.isUsingApplicationForm == 'Yes' %}
                  {{ govukTag({
                    text: "Quick apply",
                    classes: 'govuk-tag--green'
                  }) }}
                {% endif %}

              </h2>

              <p class="app-jobs__address">{{job.organisation.name}},{{address}}</p>

              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact',
                rows: [
                  {
                    key: {
                      text: "Full-time equivalent salary"
                    },
                    value: {
                      html: job.fullTimeEquivalentSalaryDetails
                    }
                  } if job.fullTimeEquivalentSalaryDetails,
                  {
                    key: {
                      text: "Actual salary"
                    },
                    value: {
                      html: job.actualSalaryDetails
                    }
                  } if job.actualSalaryDetails,
                  {
                    key: {
                      text: "Pay scale"
                    },
                    value: {
                      html: job.payScaleDetails
                    }
                  } if job.payScaleDetails,
                  {
                    key: {
                      text: "School type"
                    },
                    value: {
                      html: job.schoolType
                    }
                  } if job.schoolType,
                  {
                    key: {
                      text: "Education phase"
                    },
                    value: {
                      text: job.phase | capitalize
                    }
                  } if job.phase,
                  {
                    key: {
                      text: "Working pattern"
                    },
                    value: {
                      text: job.workingPatterns | join(', ') | capitalize
                    }
                  },
                  {
                    key: {
                      text: "Subject"
                    },
                    value: {
                      html: job.subjects | join(', ') | capitalize
                    }
                  } if job.subjects.length,
                  {
                    key: {
                      text: "Closing date"
                    },
                    value: {
                      html: closingInformation
                    }
                  } if job.closingDate,
                  {
                    key: {
                      text: "Visa sponsorship"
                    },
                    value: {
                      text: job.sponsorship
                    }
                  } if job.sponsorship
                ]
              }) }}
            </div>

          {% endif %} 
        {% endfor %}
      </div>

      {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              href: "#",
              current: true
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
    </div>
  </div>

  {# {{ govukDetails({
    summaryText: "Jobs by school, role, location and subject",
    text: "Text",
    classes: 'govuk-!-margin-top-8 govuk-!-margin-bottom-0'
  }) }} #}

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })

    new AppFrontend.CheckboxFilter({
      container: $('#subjects'),
      textBox: {
        label: 'Search for subject'
      }
    })
  </script>
{% endblock %}
