
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Accessibility statement' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Accessibility statement 
        </h1>

        <p>
            This statement applies to the Teaching Vacancies website. 
        </p>
        <p>
            Teaching Vacancies is run by the Department for Education. It is designed to be used by as many people as possible. You should be able to: 
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                change colours, contrast levels and fonts 
            </li>
            <li>
                zoom in up to 300% without problems, such as text spilling off the screen 
            </li>
            <li>
                navigate the service using just a keyboard, speech recognition software or a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
            </li> 
        </ul>

        <p>
            We’ve also made the text on the website as simple as possible to understand.
        </p>

        <p class="govuk-body">
            <a class="govuk-link" href="https://mcmw.abilitynet.org.uk">AbilityNet</a> has advice on making your device easier to use if you have a disability.
        </p>

        <h2 class="govuk-heading-m">Feedback and contact information</h2>

        <p class="govuk-body">
            Email <a class="govuk-link" href="mailto:teaching.vacancies@education.gov.uk">teaching.vacancies@education.gov.uk</a> if you need support searching for a job, accessing a PDF or using another part of the Teaching Vacancies website.
        </p>

        <p>
            Contact the school for support finding out about or applying for a particular job. 
        </p>

        <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>

        <p>
            We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email <a class="govuk-link" href="mailto:teaching.vacancies@education.gov.uk">teaching.vacancies@education.gov.uk</a>. 
        </p>

        <h2 class="govuk-heading-m">Enforcement procedure</h2>

        <p class="govuk-body">If you are not happy with our response to a complaint,
            <a class="govuk-link" href="https://www.equalityadvisoryservice.com">contact the Equality Advisory and Support Service (EASS)</a>.
        </p>

        <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>

        <h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>

        <p class="govuk-body">
            The Department for Education is committed to making its services accessible,
            in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations
            2018.
        </p>

        <h3 class="govuk-heading-m">Compliance status</h3>

        <p class="govuk-body">This service is fully compliant with the
            <a class="govuk-link" href="https://www.w3.org/TR/WCAG21">Web Content Accessibility Guidelines version 2.1</a> AA standard.
        </p>

        <h3 class="govuk-heading-m">Non-accessible content</h3>

        <p>
            The following parts of the website are not currently accessible for the reasons listed below.        
        </p>

        <h4 class="govuk-heading-s">Documents uploaded by schools</h4>

        <p>
            Some documents on job listings such as job descriptions or person specifications may not be fully accessible. These types of content are exempt from accessibility regulations, but we are currently working to make this area of the service more accessible.      
        </p>

       
        <h4 class="govuk-heading-s">Uploading files</h4>

        <p>
            Dragon voiceover users may struggle to use file upload buttons. This is a usability issue with Dragon and is being monitored by Alpha Gov. 
        </p>

        <p>
            You can track progress on the <a class="govuk-link" href="https://github.com/alphagov/govuk-frontend/issues/3686">GitHub issue: ‘Upload file component doesn’t respond to ‘click choose file’ due to Dragon / browser bugs’</a>.
        </p>

        <h4 class="govuk-heading-s">Creating a jobseeker profile using iOS voiceover</h4>

        <p>
           On page load, the tab order skips incorrectly when iOS voiceover users add information to their profile. We are monitoring the issue.
        </p>

        <h3 class="govuk-heading-m">What we’re doing to improve accessibility</h3>

        <p>
            We will continue to test the accessibility of this website as it develops. 
        </p>

        <h3 class="govuk-heading-m">Preparation of this accessibility statement</h3>

        <p>
            This statement was prepared on 12 September 2019. It was last updated on 16 July 2024. 
        </p>


    </div>
  </div>

  

{% endblock %}
