
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Jobseeker guides' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Hiring staff guides
      </h1>

      <p>Read expert advice on how to hire excellent staff for your school. Get tips on various aspects of the recruitment process and guidance on how to use the Teaching Vacancies service.</p>


    </div>
  </div>




  <div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

		<div class="govuk-grid-row">
		
			<div class="govuk-grid-column-one-half">
				<div class="hf-card">
					<a href="/guides/get-help-applying-for-your-teaching-role">
					<div class="hf-card-container">
						<img alt="Health and wellbeing thumbnail" class="full-width-image" src="/public/images/hiringguides/advert.jpg">
						<div class="hf-card-details">
							<h3 class="govuk-heading-m">How to create the perfect teacher job advert</h3>
						</div>
					</div></a>
				</div>
			</div>

			<div class="govuk-grid-column-one-half">
				<div class="hf-card">
					<a href="#">
					<div class="hf-card-container">
						<img alt="Health and wellbeing thumbnail" class="full-width-image" src="/public/images/hiringguides/reviewapplications.png">                
						<div class="hf-card-details">
							<h3 class="govuk-heading-m">
								How to accept job applications
							</h3>
						</div>
					</div>
					</a>
				</div>
			</div>

			<div class="govuk-grid-column-one-half">
				<div class="hf-card">
					<a href="#">
					<div class="hf-card-container">
						<img alt="Health and wellbeing thumbnail" class="full-width-image" src="/public/images/hiringguides/signin.png">
						<div class="hf-card-details">
							<h3 class="govuk-heading-m">
								How to approve access for hiring staff
							</h3>
						</div>
					</div>
					</a>
				</div>
			</div>


			<div class="govuk-grid-column-one-half">
			<div class="hf-card">
				<a href="#">
				<div class="hf-card-container">
                    <img alt="Health and wellbeing thumbnail" class="full-width-image" src="/public/images/hiringguides/signin.png">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">
							How to request organisation access
						</h3>
					</div>
				</div>
				</a>
			</div>
		</div>

		<div class="govuk-grid-column-one-half">
			<div class="hf-card">
				<a href="#">
				<div class="hf-card-container">
                    <img alt="Health and wellbeing thumbnail" class="full-width-image" src="/public/images/hiringguides/mat.png">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">
							How multi-academy trusts can use Teaching Vacancies
						</h3>
					</div>
				</div>
				</a>
			</div>
		</div>

		<div class="govuk-grid-column-one-half">
			<div class="hf-card">
				<a href="#">
				<div class="hf-card-container">
                    <img alt="Health and wellbeing thumbnail" class="full-width-image" src="/public/images/hiringguides/non-teaching.jpg">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">
							How to list non-teaching roles
						</h3>
					</div>
				</div>
				</a>
			</div>
		</div>

		</div>
	
	
	</div>


	<div class="govuk-grid-column-one-third">
            <aside class="app-related govuk-!-display-none-print" role="complementary">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="-title">Categories</h2>
              <nav role="navigation" aria-labelledby="-title">
                <ul class="app-related__list">
                  <li class="app-related__list-item">
                      <a class="govuk-link" href="/categories/"><span class="govuk-visually-hidden">view </span>All categories</a>
                  </li>




                        <li class="app-related__list-item">
                            <a class="govuk-link" href="/categories/searching_for_a_job"><span class="govuk-visually-hidden">view posts in the category </span>searching for a job (37)</a>
                        </li>


                        <li class="app-related__list-item">
                            <a class="govuk-link" href="/categories/hiring_staff"><span class="govuk-visually-hidden">view posts in the category </span>hiring staff (24)</a>
                        </li>


                        <li class="app-related__list-item">
                            <a class="govuk-link" href="/categories/general_updates"><span class="govuk-visually-hidden">view posts in the category </span>general updates (18)</a>
                        </li>










                        <li class="app-related__list-item">
                            <a class="govuk-link" href="/categories/candidate_profiles"><span class="govuk-visually-hidden">view posts in the category </span>candidate profiles (14)</a>
                        </li>


                        <li class="app-related__list-item">
                            <a class="govuk-link" href="/categories/school_profiles"><span class="govuk-visually-hidden">view posts in the category </span>school profiles (12)</a>
                        </li>






                        <li class="app-related__list-item">
                            <a class="govuk-link" href="/categories/job_alerts"><span class="govuk-visually-hidden">view posts in the category </span>job alerts (6)</a>
                        </li>
















                </ul>

              </nav>
            </aside>
          </div>

	
	</div>


{% endblock %}
