
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Jobseeker guides' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Jobseeker guides
      </h1>

      <p>Find expert advice on securing your teaching job.</p>


    </div>
  </div>




  <div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/guides/get-help-applying-for-your-teaching-role/">
				<div class="hf-card-container">
					<img alt="Health and wellbeing thumbnail" class="full-width-image" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/write-a-great-teaching-job-application.jpg">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">Return to England after teaching overseas</h3>
					</div>
				</div></a>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/guides/get-help-applying-for-your-teaching-role/return-to-teaching">
				<div class="hf-card-container">
					<img alt="Health and wellbeing thumbnail" class="full-width-image" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/how-to-approach-a-teaching-job-interview-2.jpg">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">Return to teaching</h3>
					</div>
				</div></a>
			</div>
		</div>
{% endblock %}
