{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "/",
      serviceName: serviceName,
      serviceUrl: "index",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Manage jobs"
      },
      {
        href: "#",
        text: "Schools in my trust"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<!-- LISTINGS START -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <!-- <a href="a-results" class="govuk-back-link">Back</a> -->
        <h1 class="govuk-heading-l">Updates</h1>

    </div>
</div>
<!-- LISTINGS END -->

<!-- SCHOOL INFO START -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h2>Description on what "updates" actually are?</h2>
        <ul class="test-timeline notes-timeline">
            <li class="test-timeline__item">
                <h3 class="test-timeline__title govuk-heading-s">
                    03 April 2020
                </h3>
                <!-- <p class="test-timeline__by"> 
                    <a href="release-notes2">Click this to see the notes on a new page</a>
                </p>
                -->
                <p class="test-timeline__by notes-copy">
                    This is a summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra.
                </p>
            </li>
            <li class="test-timeline__item">
                <h3 class="test-timeline__title govuk-heading-s">
                    03 March 2020
                </h3>
                <p class="test-timeline__by notes-copy">
                    This is a summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra.
                </p>
            </li>
            <li class="test-timeline__item">
                <h3 class="test-timeline__title govuk-heading-s">
                    03 February 2020
                </h3>
                <p class="test-timeline__by notes-copy">
                    This is a summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra.
                </p>
            </li>
            <li class="test-timeline__item">
                <h3 class="test-timeline__title govuk-heading-s">
                    03 January 2020
                </h3>
                <p class="test-timeline__by notes-copy">
                    This is a summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra.
                </p>
            </li>
            <li class="test-timeline__item">
                <h3 class="test-timeline__title govuk-heading-s">
                    03 December 2019
                </h3>
                <p class="test-timeline__by notes-copy">
                    This is a summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra.
                </p>
            </li>
            <li class="test-timeline__item">
                <h3 class="test-timeline__title govuk-heading-s">
                    03 November 2019
                </h3>
                <p class="test-timeline__by notes-copy">
                    This is a summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra.
                </p>
            </li>
            <li class="test-timeline__item">
                <h3 class="test-timeline__title govuk-heading-s">
                    03 October 2019
                </h3>
                <p class="test-timeline__by notes-copy">
                    This is a summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet lectus eu porta viverra.
                </p>
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-quarter">
        
    </div>
</div>
<!-- SCHOOL INFO END -->

{% endblock %}
