{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "/",
      serviceName: serviceName,
      serviceUrl: "dashboard",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "dashboard",
        text: "Manage jobs"
      },
      {
        href: "my-schools",
        text: "My schools"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="create-title">
        <h1 class="govuk-heading-m">Create a job listing for {{ data['mat-name'] }}</h1>
    </div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-panel govuk-panel--confirmation">
                    <span class="hod-checkmark move">
                        <svg class="banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 25 25" height="40" width="40">
                            <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/></svg>
                    </span>
                    <h1 class="govuk-panel__title">
                        The job listing has been completed
                    </h1>
                    <div class="govuk-panel__body">

                        <p><a href="#">View your job listing</a></p>
                        <p>You can also view, amend or delete it on <a href="dashboard-created">your school's dashboard</a></p>

                    </div>
                </div>

                <h2 class="govuk-heading-m">What happens next</h2>

                <p class="govuk-body">
                    Your job listing will be posted on 10 March 2020.
                </p>
                <p class="govuk-body">
                    The listing will appear on the service until 29 June 2020 at 09:00 am, after which it will no longer be visible to jobseekers.
                </p>

                <p class="govuk-body">
                    <a href="#" class="govuk-link">What did you think of this service?</a>
                    (takes 30 seconds)
                </p>

            </div>
            <!-- Main content END -->

            <!-- Sidebar START -->
            <div class="govuk-grid-column-one-third">

            </div>
            <!-- Sidebar END -->

        </main>
    </div>




{% endblock %}
