{% extends "layout_gds-basic.html" %}

{% block pageTitle %}
  Prototype start
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Multi-Academy Trust (MAT) Iteration 1</h1>
        <h5 class="govuk-heading-s">Usability test - March 2020</h5>

        <h3 class="govuk-heading-s">Task 1</h3>
        <p>Create a trust level role</p>
        <a href="dashboard" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start prototype
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>

        <!--
        <h3 class="govuk-heading-m">Task 2</h3>
        <p>Arrive from 3rd-party source</p>
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start prototype
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>
        -->

        <h4 class="govuk-heading-s">All pages</h4>
        <!-- <p>Task 1</p> -->
        <ul>
            <li><a href="dashboard">Dashboard (Published tab)</a></li>
            <li><a href="my-schools">My schools</a></li>
            <li><a href="1-mat-a">Trust location (Part 1)</a></li>
            <li><a href="1-mat-b">Trust location (Part 2 - Multiple schools)</a></li>
            <li><a href="2-job-details">Job details</a></li>
            <li><a href="3-pay-package">Pay package</a></li>
            <li><a href="4-important">Important dates and deadlines</a></li>
            <li><a href="5-supporting-1">Supporting documents (Part 1)</a></li>
            <li><a href="5-supporting-2">Supporting documents (Part 2)</a></li>
            <li><a href="5-supporting-3">Supporting documents (Part 3)</a></li>
            <li><a href="6-applying">Applying for the job</a></li>
            <li><a href="7-summary">Summary</a></li>
            <li><a href="8-review">Review the job</a></li>
            <li><a href="preview-trust">Preview - Job Listing (Trust level)</a></li>
            <li><a href="preview-multiple">Preview - Job Listing (Trust level)</a></li>
            <li><a href="9-success">Success</a></li>

            <!--
            <li><a href="results_p_list-1">Postcode input - Search results list</a></li>
            <li><a href="results_p_map-1">Postcode input - Search results map 1</a></li>
            -->
        </ul>
        <!-- <p>Task 2</p> -->

    </div>

    <div class="govuk-grid-column-one-third">


    </div>

</div>

{% endblock %}
