{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "/",
      serviceName: serviceName,
      serviceUrl: "dashboard",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "dashboard",
        text: "Manage jobs"
      },
      {
        href: "my-schools",
        text: "My schools"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back to home</a>

<div class="govuk-grid-row">

    <!-- Main content START -->
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">My schools</h1>
        <p>Your Teaching Vacancies account is associated with the following trust and its schools.</p>

        <h2 class="mySchools-title govuk-heading-m">Trusts (1)</h2>
        <ul class="mySchools">
            <li class="mySchools-item ">
                <h3 class="govuk-heading-s">{{ data['mat-name'] }} <strong class="govuk-tag app-task-list__task-completed authorised" id="">Authorised</strong></h3>
                <table class="govuk-table mySchools-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">102121</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Approver</th>
                            <td class="govuk-table__cell">chris.jennings@svtrust.com, anne.roberts@svtrust.com</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Your role</th>
                            <td class="govuk-table__cell">{{ data['service-access1'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>

        <h2 class="mySchools-title govuk-heading-m">Schools (7)</h2>
        <ul class="mySchools">
            <li class="mySchools-item ">
                <h3 class="govuk-heading-s">{{ data['mat-name2'] }} <strong class="govuk-tag app-task-list__task-completed authorised" id="">Authorised</strong></h3>
                <table class="govuk-table mySchools-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">282727</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name2-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Approver</th>
                            <td class="govuk-table__cell">chris.jennings@svtrust.com</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Your role</th>
                            <td class="govuk-table__cell">{{ data['service-access1'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="mySchools-item">
                <h3 class="govuk-heading-s">{{ data['mat-name3'] }} <strong class="govuk-tag app-task-list__task-completed not-authorised" id="">Not-authorised</strong></h3>
                <table class="govuk-table mySchools-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">453466</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name3-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Approver</th>
                            <td class="govuk-table__cell">chris.jennings@svtrust.com, anne.roberts@svtrust.com</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Your role</th>
                            <td class="govuk-table__cell">{{ data['service-access3'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="mySchools-item ">
                <h3 class="govuk-heading-s">{{ data['mat-name4'] }}<strong class="govuk-tag app-task-list__task-completed authorised" id="">Authorised</strong></h3>
                <table class="govuk-table mySchools-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">634634</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name4-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Approver</th>
                            <td class="govuk-table__cell">anne.roberts@svtrust.com</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Your role</th>
                            <td class="govuk-table__cell">{{ data['service-access1'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="mySchools-item ">
                <h3 class="govuk-heading-s">{{ data['mat-name5'] }}<strong class="govuk-tag app-task-list__task-completed authorised" id="">Authorised</strong></h3>
                <table class="govuk-table mySchools-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">643643</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name5-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Approver</th>
                            <td class="govuk-table__cell">chris.jennings@svtrust.com, anne.roberts@svtrust.com</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Your role</th>
                            <td class="govuk-table__cell">{{ data['service-access1'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="mySchools-item ">
                <h3 class="govuk-heading-s">{{ data['mat-name6'] }}<strong class="govuk-tag app-task-list__task-completed authorised" id="">Authorised</strong></h3>
                <table class="govuk-table mySchools-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">656533</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name6-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Approver</th>
                            <td class="govuk-table__cell">chris.jennings@svtrust.com, anne.roberts@svtrust.com</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Your role</th>
                            <td class="govuk-table__cell">{{ data['service-access1'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="mySchools-item ">
                <h3 class="govuk-heading-s">{{ data['mat-name7'] }}<strong class="govuk-tag app-task-list__task-completed authorised" id="">Authorised</strong></h3>
                <table class="govuk-table mySchools-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">656456</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name7-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Approver</th>
                            <td class="govuk-table__cell">chris.jennings@svtrust.com, anne.roberts@svtrust.com</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Your role</th>
                            <td class="govuk-table__cell">{{ data['service-access1'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>

    </div>
    <!-- Main content END -->

    <!-- Sidebar START -->
    <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Need authorisation for a school?
            </h2>
            <p>You can create and manage jobs at any school you're authorised for. If you need authorisation for a school just contact that school's approver, whose email is provided under each of your schools.</p>
            <p>If you have any problems <a href="#">contact our support team</a>.</p>
        </aside>

    </div>
    <!-- Sidebar END -->

</div>

{% endblock %}
