{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "index",
      serviceName: serviceName,
      serviceUrl: "index",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "c-start",
        text: "Find a teaching job"
      },
      {
        href: "#",
        text: "List a teaching job"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="c-results" class="govuk-back-link">Back</a>
        <div class="listing-title">
            <h1 class="govuk-heading-l">Regional Director Yorkshire and Humber</h1>
            <h4 class="govuk-caption-l">Westerburg Academies Trust, Barnsley, South Yorkshire</h4>
        </div>
    </div>
</div>

<main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

        <!-- Sidebar START -->
        <div class="govuk-grid-column-one-third">

            <aside class="dates">

                <h2 class="govuk-heading-s">32 days remaining to apply</h2>
                <ul class="test-timeline">
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Expected start date
                        </h3>
                        <p class="test-timeline__by">03 September 2020</p>
                    </li>
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Application deadline
                        </h3>
                        <p class="test-timeline__by">30 May 2020 at 23:59 pm</p>
                    </li>
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Date listed
                        </h3>
                        <p class="test-timeline__by">01 February 2020</p>
                    </li>
                </ul>

            </aside>
        </div>
        <!-- Sidebar END -->

        <!-- Main content START -->
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-tabs tvs-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#job">
                            Job details
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#trust">
                            Trust overview
                        </a>
                    </li>
                </ul>

                <!-- JOB SECTION END -->
                <section class="govuk-tabs__panel" id="job">

                    <h3 class="govuk-heading-m">Job details</h3>
                    <table class="govuk-table govuk-table-bespoke">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Role</td>
                                <td class="govuk-table__cell">Leadership</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Subject</td>
                                <td class="govuk-table__cell">Leadership</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Working pattern</td>
                                <td class="govuk-table__cell">Full time</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Salary</td>
                                <td class="govuk-table__cell">L8-L21</td>
                            </tr>
                        </tbody>
                    </table>

                    <h4 class="govuk-heading-s">Job summary</h4>
                    <p class="govuk-body">
                        Our national network is served by an exceptionally high-performing team of Regional Directors, and we now have a fantastic opportunity in the Yorkshire and Humber region to join this team and perform a role which is exciting, visible and rewarding. We're looking for people whose track record lives up to our high expectations: likely to have held more than one headship, and able to demonstrate sustained impact, you will have an unusually broad and nuanced perspective on how schools thrive and improve, as well as a strong preference for variety and challenge. 
                    </p>
                    <p class="govuk-body">
                        The sheer breadth and interest of working across a group of schools leadership teams and communities is one of the role's most attractive features; but the reward of playing your part in the steady improvement of outcomes for nearly 7,000 learners per region is just as powerful. We want to hear from experienced school leaders who will relish the opportunity to work at every level with and within their portfolio of schools: from chairing strategic progress meetings, to sharing best practice across the Trust, to walking the playground at breaktime, and everything in between.
                    </p>
                    <p class="govuk-body">
                        You'll be ready to take accountability at a significant level. This role will be part of the national SAT leadership team, and we're looking for candidates who combine evidence-based decision-making with professional ownership. Optimistic, pragmatic and passionate about the potential of our schools to change lives, you'll be a flexible self-starter who can work supportively and positively as we constantly challenge ourselves to get better.
                    </p>

                    <h4 class="govuk-heading-s">Applying for the role</h4>
                    <p class="govuk-body">
                        Please visit our website to complete an online
                    </p>
                    <a href="#" class="govuk-button">More on how to apply</a>

                    <h4 class="govuk-heading-s">Supporting documents</h4>
                    <div class="supporting-docs">
                        <ul>
                            <li><a href="#" class="document-link">application-pack.doc</a> 3mb</li>
                            <li><a href="#" class="document-link">job-specification.pdf</a> 3mb</li>
                        </ul>
                    </div>


                </section>
                <!-- JOB SECTION END -->
                <!-- TRUST SECTION START -->
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="trust">

                    <h3 class="govuk-heading-m">Trust overview</h3>
                    <table class="govuk-table govuk-table-bespoke">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Trust type</td>
                                <td class="govuk-table__cell">Multi-Academy Trust</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Schools</td>
                                <td class="govuk-table__cell">16 schools are within this trust. <br>See the <a href="#">Get information about schools</a> service for more details.</td>
                            </tr>
                            <!--  
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Education phase</td>
                                <td class="govuk-table__cell">Primary, Secondary</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">School size</td>
                                <td class="govuk-table__cell">2000 to 2500 pupils</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Age range</td>
                                <td class="govuk-table__cell">8 to 18</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Ofsted report</td>
                                <td class="govuk-table__cell"><a href="#">View ofsted report</a></td>
                            </tr>
                            -->
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Website</td>
                                <td class="govuk-table__cell"><a href="#">Trust website link  (opens in a new window)</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Contact email</td>
                                <td class="govuk-table__cell"><a href="#">info@westerburgacademiestrust.org.uk</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <h4 class="govuk-heading-s">About Westerburg Academies Trust</h4>
                    <p class="govuk-body">
                        Westerburg Academies Trust is a high performing chain of primary and secondary academies in England. Our core belief is that children come first, and that every child, irrespective of their background has the right to an outstanding education. We are seeking to employ self-motivated individuals who gain pleasure in the achievements of the children in their class - teachers who have the passion and drive to do whatever it takes for the children they teach to make consistently good progress.
                    </p>
                    <!--
                    <h4 class="govuk-heading-s">Arranging a visit to Bexley Heath School</h4>
                    <p class="govuk-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    -->
                    <h4 class="govuk-heading-s">Head office location</h4>
                    <p class="govuk-body">
                        Derby Rd, Barnsley, South Yorkshire S40 2EU
                    </p>
                    <p><a href="#">Plan your commute (opens in a new window)</a></p>
                    <div class="">
                        <img src="/public/images/mat2/sheffield-desktop-3.png" alt="">
                    </div>

                </section>
                <!-- TRUST SECTION END -->
            </div>

        </div>
        <!-- Main content END -->
    </div>
</main>

{% endblock %}
