{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "index",
      serviceName: serviceName,
      serviceUrl: "index",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "c-start",
        text: "Find a teaching job"
      },
      {
        href: "#",
        text: "List a teaching job"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="c-results" class="govuk-back-link">Back</a>
        <div class="listing-title">
            <h1 class="govuk-heading-l">Assistant Headteacher with Mathematics</h1>
            <h4 class="govuk-caption-l">Multiple locations for Ridgemont Academies Trust</h4>
        </div>
    </div>
</div>

<main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

        <!-- Sidebar START -->
        <div class="govuk-grid-column-one-third">

            <aside class="dates">

                <h2 class="govuk-heading-s">32 days remaining to apply</h2>
                <ul class="test-timeline">
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Expected start date
                        </h3>
                        <p class="test-timeline__by">03 September 2020</p>
                    </li>
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Application deadline
                        </h3>
                        <p class="test-timeline__by">30 May 2020 at 12:00pm</p>
                    </li>
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Date listed
                        </h3>
                        <p class="test-timeline__by">05 February 2020</p>
                    </li>
                </ul>

            </aside>
        </div>
        <!-- Sidebar END -->

        <!-- Main content START -->
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-tabs tvs-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#job">
                            Job details
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#trust">
                            Trust overview
                        </a>
                    </li>
                </ul>

                <!-- JOB SECTION END -->
                <section class="govuk-tabs__panel" id="job">

                    <h3 class="govuk-heading-m">Job details</h3>
                    <table class="govuk-table govuk-table-bespoke">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Role</td>
                                <td class="govuk-table__cell">Leadership</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Location of the role</td>
                                <td class="govuk-table__cell">This role could potentially be at one or more teaching locations <a href="#trust">specified here</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Subject</td>
                                <td class="govuk-table__cell">Leadership, Science</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Working pattern</td>
                                <td class="govuk-table__cell">Full time</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Salary</td>
                                <td class="govuk-table__cell">L10-L12</td>
                            </tr>
                        </tbody>
                    </table>

                    <h4 class="govuk-heading-s">Job summary</h4>
                    <p class="govuk-body">
                        We believe that our children deserve only the best quality staff so recruit carefully and invest in training to ensure continues improvement and an excellent quality of education.
                    </p>
                    <p class="govuk-body">
                        We are looking for an ambitious and experienced middle leader and teacher of science who:
                    </p>
                    <ul>
                        <li>has successful experience of leading whole school improvement initiatives specifically in one of the following areas: teaching and learning, behaviour, achievement and personal development and ethos.</li>
                        <li>has successful experience of working collaboratively</li>
                        <li>has a passion for education and a deep-felt desire to make a difference for young people.</li>
                    </ul>
                    <p class="govuk-body">
                        The post involves teaching across the year groups and ability ranges at two schools located within one mile of each other. A commitment to excellent pastoral care, enriching co-curricular activities and outreach activities is expected.
                    </p>

                    <h4 class="govuk-heading-s">Applying for the role</h4>
                    <p class="govuk-body">
                        Please visit our website to complete an online application
                    </p>
                    <a href="#" class="govuk-button">More on how to apply</a>

                    <h4 class="govuk-heading-s">Supporting documents</h4>
                    <div class="supporting-docs">
                        <ul>
                            <li><a href="#" class="document-link">application-pack.doc</a> 3mb</li>
                            <li><a href="#" class="document-link">job-specification.pdf</a> 3mb</li>
                        </ul>
                    </div>


                </section>
                <!-- JOB SECTION END -->
                <!-- TRUST SECTION START -->
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="trust">

                    <h3 class="govuk-heading-m">Trust overview</h3>
                    <table class="govuk-table govuk-table-bespoke">
                        <tbody class="govuk-table__body">
                            
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Trust type</td>
                                <td class="govuk-table__cell">Multi-Academy Trust</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Schools</td>
                                <td class="govuk-table__cell">42 schools are within this trust <br>See the <a href="#">Get information about schools</a> service for more details.</td>
                            </tr>
                            <!--  
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Education phase</td>
                                <td class="govuk-table__cell">Primary, Secondary</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">School size</td>
                                <td class="govuk-table__cell">2000 to 2500 pupils</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Age range</td>
                                <td class="govuk-table__cell">8 to 18</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Ofsted report</td>
                                <td class="govuk-table__cell"><a href="#">View ofsted report</a></td>
                            </tr>
                            -->
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Website</td>
                                <td class="govuk-table__cell"><a href="#">Trust website link  (opens in a new window)</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Contact email</td>
                                <td class="govuk-table__cell"><a href="#">info@ridgemontacademiestrust.org.uk</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <h4 class="govuk-heading-s">About Ridgemont Academies Trust</h4>
                    <p class="govuk-body">
                        Ridgemont Academies Trust is a partnership of 42 schools across England. We are committed to our vision: ‘The best for everyone, the best from everyone’. Everything that we do is underpinned by our commitment and values of community, integrity and passion. We never forget that we are here in the service of children, families and communities. In order to get the best from our young people we need to invest in our workforce providing opportunities for people to work collaboratively, to share good practice, and to be supportive, challenging and fair to one another whilst recognising that we are always learning.
                    </p>
                    
                    <h4 class="govuk-heading-s">Potential locations for the role</h4>
                    <!-- Accordion START -->
                    <div class="govuk-accordion accordion-schools" data-module="govuk-accordion" id="accordion-default">
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                        Highland Park Academy
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                <table class="govuk-table govuk-table-bespoke">
                                    <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">School type</td>
                                            <td class="govuk-table__cell">Academy</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">Education phase</td>
                                            <td class="govuk-table__cell">Secondary</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">School size</td>
                                            <td class="govuk-table__cell">277 pupils</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">Age range</td>
                                            <td class="govuk-table__cell">12 to 18</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">Ofsted report</td>
                                            <td class="govuk-table__cell"><a href="#">View ofsted report</a></td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">Address</td>
                                            <td class="govuk-table__cell">Naylor Rd, Oughtibridge, Sheffield S35 0HG</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                        North Shore Academy
                                    </span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                <table class="govuk-table govuk-table-bespoke">
                                    <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">School type</td>
                                            <td class="govuk-table__cell">Academy</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">Education phase</td>
                                            <td class="govuk-table__cell">Secondary</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">School size</td>
                                            <td class="govuk-table__cell">291 pupils</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">Age range</td>
                                            <td class="govuk-table__cell">12 to 18</td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">Ofsted report</td>
                                            <td class="govuk-table__cell"><a href="#">View ofsted report</a></td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td scope="row" class="govuk-table__header">Address</td>
                                            <td class="govuk-table__cell">Church St, Oughtibridge, Sheffield S35 0FU</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion END -->

                    <div class="">
                        <img src="/public/images/mat2/sheffield-desktop-2.png" alt="">
                    </div>

                </section>
                <!-- TRUST SECTION END -->
            </div>

        </div>
        <!-- Main content END -->
    </div>
</main>

{% endblock %}
