{% extends "layout_gds-basic.html" %}

{% block pageTitle %}
  Prototype start
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Multi-Academy Trust</h1>
        <h5 class="govuk-heading-m">Usability test - April 2020</h5>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s">Scenario 1</h3>
                <p>Newly Qualified Teacher (NQT)</p>
                <a href="a-start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start prototype
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
                    </svg>
                </a>
                <h4 class="govuk-heading-s">All pages</h4>
                <!-- <p>Task 1</p> -->
                <ul>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s">Scenario 2</h3>
                <p>Class Teacher</p>
                <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start prototype
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
                    </svg>
                </a>
                <h4 class="govuk-heading-s">All pages</h4>
                <!-- <p>Task 1</p> -->
                <ul>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s">Scenario 3</h3>
                <p>Leadership</p>
                <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start prototype
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
                    </svg>
                </a>
                <h4 class="govuk-heading-s">All pages</h4>
                <!-- <p>Task 1</p> -->
                <ul>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="govuk-grid-column-one-third">


    </div>

</div>

{% endblock %}
