{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Do you want to provide a phone number?' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Personal details
      </span>
      {% set h1 %}
        {{title}}
      {% endset %}


      <form method="post" id="phone-form" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
            <h1 tabindex="0" class="govuk-fieldset__heading"><legend class="govuk-fieldset__legend govuk-fieldset__legend--l">Do you want to provide a phone number?</legend></h1><legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input aria-controls="conditional-profile[providePhoneNumber]" aria-expanded="false" class="govuk-radios__input" id="profile[providePhoneNumber]" name="profile[providePhoneNumber]" type="radio" value="Yes"> <label class="govuk-label govuk-radios__label" for="profile[providePhoneNumber]">Yes</label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-profile[providePhoneNumber]">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="profile[phoneNumber]">Phone number</label> <input autocomplete="tel" class="govuk-input govuk-input--width-20" id="profile[phoneNumber]" name="profile[phoneNumber]" type="tel">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="profile[providePhoneNumber]-2" name="profile[providePhoneNumber]" type="radio" value="No"> <label class="govuk-label govuk-radios__label" for="profile[providePhoneNumber]-2">No</label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button" id="formButton" tabindex="-1">
          Save and continue
        </button>

        <p><a href="/profile">Cancel</a></p>

      </form>

    </div>
  </div>

{% endblock %}
