
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Teaching status
      </h1>

      {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Do you have qualified teaching status (QTS)?"
              },
              value: {
                html: profile.qts
              },
              actions: {
                items: [
                  {
                    href: "/profile/teaching-status/qts",
                    text: "Change",
                    visuallyHiddenText: "if you have qualified teaching status (QTS)"
                  }
                ]
              }
            },
            {
              key: {
                text: "Year QTS awarded"
              },
              value: {
                text: profile.qtsAwardedYear
              },
              actions: {
                items: [
                  {
                    href: "/profile/teaching-status/qts",
                    text: "Change",
                    visuallyHiddenText: "Year QTS awarded"
                  }
                ]
              }
            } if profile.qtsAwardedYear,
            {
              key: {
                text: "Teacher reference number (TRN)"
              },
              value: {
                text: profile.TRN
              },
              actions: {
                items: [
                  {
                    href: "/profile/teaching-status/trn",
                    text: "Change",
                    visuallyHiddenText: "Teacher reference number (TRN)"
                  }
                ]
              }
            } if profile.TRN
          ]
        }) }}

      {{ govukButton({
        text: "Return to profile",
        href: "/profile"
      }) }}

    </div>
  </div>

{% endblock %}
