{% extends "layout_gds-basic.html" %}

{% block pageTitle %}
  Prototype start
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Commute prototype</h1>
        <h5 class="govuk-heading-s">Usability test - November 2019</h5>

        <h3 class="govuk-heading-m">Task 1</h3>
        <p>End to end service journey</p>
        <a href="start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start prototype
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>

        <!--
        <h3 class="govuk-heading-m">Task 2</h3>
        <p>Arrive from 3rd-party source</p>
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start prototype
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>
        -->

        <h4 class="govuk-heading-m">All pages</h4>
        <p>Task 1</p>
        <ul>
            <li><a href="start">Start page</a></li>
            <li><a href="results_p_list-1">Postcode input - Search results list</a></li>
            <li><a href="results_p_map-1">Postcode input - Search results map 1</a></li>
            <li><a href="results_p_map-2">Postcode input - Search results map 2</a></li>
            <li><a href="results_g_list-1">Location input - Search results list</a></li>
            <li><a href="results_g_map-1">Location input - Search results map 1</a></li>
            <li><a href="results_g_map-2">Location input - Search results map 2</a></li>
            <li><a href="listing_p_job-1">Job listing (Job details / Postcode)</a></li>
            <li><a href="listing_school-1">Job listing (School overview / Postcode)</a></li>
            <li><a href="listing_g_job-1">Job listing (Job details / Location)</a></li>
            <li><a href="listing_g_school-1">Job listing (School overview / Location)</a></li>
        </ul>
        <!-- <p>Task 2</p> -->

    </div>

    <div class="govuk-grid-column-one-third">


    </div>

</div>

{% endblock %}
