
{% extends "layout.njk" %}

{% set title = 'Application' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">Teacher at Weydon Multi Academy Trust</span>
            {{title}}
        </h1>

        <h2 class="govuk-heading-l">
            Religious information
        </h2>

        <form action="religion2">


        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="religion-question-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    What religious information can you provide?
                </legend>
                <div id="contact-hint" class="govuk-hint">
                    The school has asked to provide this information where possible. Select all options that are relevant to you, or, select 'I am not religious'.
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="religion-question" name="religion-question" type="checkbox" value="Religious denomination or faith">
                        <label class="govuk-label govuk-checkboxes__label" for="religion-question">
                            Religious denomination or faith
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="religion-question-2" name="religion-question" type="checkbox" value="Address of place of worship">
                        <label class="govuk-label govuk-checkboxes__label" for="religion-question-2">
                            Address of place of worship
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="religion-question-3" name="religion-question" type="checkbox" value="Religious referee">
                        <label class="govuk-label govuk-checkboxes__label" for="religion-question-3">
                            Religious referee
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="religion-question-4" name="religion-question" type="checkbox" value="Baptism certificate">
                        <label class="govuk-label govuk-checkboxes__label" for="religion-question-4">
                            Baptism certificate
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="religion-question-4" name="religion-question" type="checkbox" value="Baptism certificate">
                        <label class="govuk-label govuk-checkboxes__label" for="religion-question-4">
                            Address and date of baptism
                        </label>
                    </div>
                    <div class="govuk-checkboxes__divider">or</div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="religion-question-6" name="religion-question" type="checkbox" value="none" data-behaviour="exclusive">
                        <label class="govuk-label govuk-checkboxes__label" for="religion-question-6">
                            I am not religious
                        </label>
                    </div>
                </div>
            </fieldset>
            </div>

           
               
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
            </div>

            <p><a href="#">Cancel</a></p>

        </form>

    </div>
  </div>

{% endblock %}
