
{% extends "layout.njk" %}

{% set title = 'About your application' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
      <h1 class="govuk-heading-xl">
          <span class="govuk-caption-l">Level 2 teaching assistant at Trent school</span>
          {{title}}
      </h1>

      <div class="govuk-warning-text">
			  <span aria-hidden="true" class="govuk-warning-text__icon">!</span> <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>This job cannot offer a skilled worker visa sponsorship to non-UK citizens.</strong>
      </div>
      
      <p class="govuk-body">According to your profile, you currently do not have the right to work in the UK. You should look for jobs that can offer a skilled worker visa sponsorship.</p>
      
      <form action="/search/applications?filter-role=_unchecked&filter-phase=_unchecked&filter-subjects=_unchecked&filter-international=_unchecked&filter-suitability=_unchecked&filter-keyStages=_unchecked&filter-workingPatterns=_unchecked&filter-quick=_unchecked&filter-international=International">
        <button class="govuk-button" data-module="govuk-button">Show jobs that offer visa sponsorship</button>
      </form>
      
      <p class="govuk-body">If you have the right to work in the UK, you can update your answer to the <a href="/profile/personal-details/work">right to work question on your profile</a>.</p>

      <h2 class="govuk-heading-s">
          If you want to apply for the role     
      </h2>

      <p class="govuk-body">You can still apply for this role, however it is unlikely you will be considered for this role as this role is not offering a skilled worker visa sponsorship.</p>

      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Continue application
      </button>

    </div>
  </div>

{% endblock %}
