
{% extends "layout_email.njk" %}

{% set title = 'Teaching Vacancies accounts are changing in 10 days' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <p class="govuk-body">We are replacing Teaching Vacancies accounts with GOV.UK One Login.</p>
      <p class="govuk-body">You can find out more about <a class="govuk-notification-banner__link" href="onelogin/advice_before">how to prepare your Teaching Vacancies account for the GOV.UK One Login</a>.</p>

    </div>
  

  </div>

{% endblock %}
