{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set job = data.jobs[jobId] %}

<div class="app-applicant-card">
    <div class="col">
      {% if application.status != 'Withdrawn' %}
        <a href="/prototypes/application/expanded/dashboard/job/{{ job.id }}/applicant/{{ application.id }}" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link--no-visited-state"> <span class="govuk-visually-hidden">View application for</span>{{ application.firstname }} {{ application.lastname }} </a>
        {% else %}
        <span class="app-withdrawn-applicant govuk-!-font-weight-bold govuk-!-font-size-24">{{ application.firstname }} {{ application.lastname }} </span>
      {% endif %}
    </div>
    <div class="col">
      {% include "includes/applications/application-status-tags.html" %}
      {% if application.status %}
        <dl class="govuk-!-font-size-16 govuk-!-margin-top-1">
          <div>
            <dt>
              <span class="govuk-!-font-weight-bold">Received on:</span>
            </dt>
            <dd>{{ application.receivedDateTime }}</dd>
          </div>
        </dl>
      {% else %}
      <dl class="govuk-!-font-size-16 govuk-!-margin-top-1 govuk-!-margin-bottom-5">
        <dt>
          <span class="govuk-!-font-weight-bold">Received on:</span>
        </dt>
        <dd>{{ application.receivedDateTime }}</dd>
        </dl>
      {% endif %}
    </div>
    <div class="col">
        {% if application.status != 'Withdrawn' %}
        <div class="app-applicant-actions">
          <ul>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{ job.id }}/applicant/{{ application.id }}/contact">Contact <span class="govuk-visually-hidden"> {{ application.firstname }} {{ application.lastname }}</span></a>
            </li>
           {% if application.status == 'Received' or application.status == 'Invited to interview' or application.status == 'Reviewed' %}
            {% if application.status != 'Invited to interview' %}
              <li>
                <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{ job.id }}/applicant/{{ application.id }}/invite">Invite <span class="govuk-visually-hidden"> {{ application.firstname }} {{ application.lastname }}</span> to interview</a>
              </li>
            {% endif %}
                <li>
                  <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{ job.id }}/applicant/{{ application.id }}/reject">Mark <span class="govuk-visually-hidden"> {{ application.firstname }} {{ application.lastname }} </span> as unsuccessful</a>
                </li>
              {% endif %}
            <ul>
          </div>
        {% endif %}
    </div>

</div>
{# <div class="app-applicant-card">
  {% for item in params.items %}
    <div class="col">
        <a href="{{ item.applicationUrl }}" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold"> <span class="govuk-visually-hidden">View application for</span>{{ item.applicantName }}</a>
    </div>
    <div class="col">
      {% if item.applicationStatus == 'Unread' %}
        {{govukTag({
          text: item.applicationStatus,
          classes: "govuk-tag--blue"
        })}}
      {% endif %}
      {% if item.applicationStatus == 'Withdrawn' %}
        {{govukTag({
          text: item.applicationStatus,
          classes: "govuk-tag--yellow"
        })}}
      {% endif %}
      {% if item.applicationStatus == 'Rejected' %}
        {{govukTag({
          text: item.applicationStatus,
          classes: "govuk-tag--red"
        })}}
      {% endif %}
      {% if item.applicationStatus == 'Invited to interview' %}
        {{govukTag({
          text: item.applicationStatus,
          classes: "govuk-tag--green"
        })}}
      {% endif %}
      <dl class="govuk-!-font-size-16 govuk-!-margin-top-1">
        <div>
          <dt>
            <span class="govuk-!-font-weight-bold">Received on:</span>
          </dt>
          <dd>{{ item.applicationReceivedDate }}</dd>
        </div>
      </dl>
    </div>
    <div class="col">
      <div class="applicant-actions">
        <a class="govuk-link" href="">Shortlist<span class="govuk-visually-hidden"> {{ item.applicantName }}</span></a>
        <a class="govuk-link" href="">Reject<span class="govuk-visually-hidden"> {{ item.applicantName }}</span></a>
      </div>
    </div>
  {% endfor %}

</div> #}