
{% extends "layout.njk" %}

{% set title = 'Create your job alert' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}
      </h1>

      <p>
        You can change your search criteria by amending the keywords, location or filters before creating your alert.
      </p>

      <form method="post">

        <div class="subscription-criteria">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="jobseekers-subscription-form-keyword-field">Keywords</label><input class="govuk-input" id="jobseekers-subscription-form-keyword-field" name="jobseekers_subscription_form[keyword]" type="text">
            </div>
            <div class="autocomplete" data-controller="autocomplete" data-source="getLocationSuggestions">
                <div class="govuk-form-group location-finder__input govuk-!-margin-bottom-0">
                    <label class="govuk-label govuk-label--s" for="jobseekers-subscription-form-location-field">City, county or postcode (in England)</label>
                </div>
                <div class="autocomplete__suggestions govuk-body">
                    <div class="autocomplete__wrapper">
                        <div style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
                            <div aria-atomic="true" aria-live="polite" id="jobseekers-subscription-form-location-field__status--A" role="status"></div>
                            <div aria-atomic="true" aria-live="polite" id="jobseekers-subscription-form-location-field__status--B" role="status"></div>
                        </div><input aria-autocomplete="list" aria-describedby="jobseekers-subscription-form-location-field__assistiveHint" aria-expanded="false" aria-owns="jobseekers-subscription-form-location-field__listbox" autocomplete="off" class="autocomplete__input autocomplete__input--default" id="jobseekers-subscription-form-location-field" name="jobseekers_subscription_form[location]" placeholder="" role="combobox" type="text">
                        <ul class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--hidden" id="jobseekers-subscription-form-location-field__listbox" role="listbox"></ul><span id="jobseekers-subscription-form-location-field__assistiveHint" style="display: none;">When autocomplete results are available use up and down arrows to review and enter to select. Touch device users, explore by touch or with swipe gestures.</span>
                        <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                    </div>
                </div>
            </div>
            
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="jobseekers-subscription-form-radius-field">Search radius</label><select class="govuk-select" data-change-submit="false" id="jobseekers-subscription-form-radius-field" name="jobseekers_subscription_form[radius]">
                    <option selected="selected" value="0">
                        This area only
                    </option>
                    <option value="1">
                        1 mile
                    </option>
                    <option value="5">
                        5 miles
                    </option>
                    <option value="10">
                        10 miles
                    </option>
                    <option value="15">
                        15 miles
                    </option>
                    <option value="20">
                        20 miles
                    </option>
                    <option value="25">
                        25 miles
                    </option>
                    <option value="50">
                        50 miles
                    </option>
                    <option value="100">
                        100 miles
                    </option>
                    <option value="200">
                        200 miles
                    </option>
                </select>
            </div>

            <div class="divider-bottom govuk-!-margin-bottom-6"><hr class="govuk-section-break govuk-section-break--visible"></div>


            <div class="filters-component__groups__group" data-filters-target="group" data-group="education_phase">
                <div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"></legend>
                            <h3 class="govuk-fieldset__heading"><legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Education phase</legend></h3>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <input autocomplete="off" name="jobseekers_subscription_form[phases][]" type="hidden" value="">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-phases-nursery-field" name="jobseekers_subscription_form[phases][]" type="checkbox" value="nursery"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-phases-nursery-field">Nursery</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-phases-primary-field" name="jobseekers_subscription_form[phases][]" type="checkbox" value="primary"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-phases-primary-field">Primary school</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-phases-middle-field" name="jobseekers_subscription_form[phases][]" type="checkbox" value="middle"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-phases-middle-field">Middle school</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-phases-secondary-field" name="jobseekers_subscription_form[phases][]" type="checkbox" value="secondary"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-phases-secondary-field">Secondary school</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-phases-sixth-form-or-college-field" name="jobseekers_subscription_form[phases][]" type="checkbox" value="sixth_form_or_college"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-phases-sixth-form-or-college-field">Sixth form</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-phases-through-field" name="jobseekers_subscription_form[phases][]" type="checkbox" value="through"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-phases-through-field">Through school</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-phases-through-field" name="jobseekers_subscription_form[phases][]" type="checkbox" value="furthereducation"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-phases-through-field">Further education or college</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="filters-component__groups__group" data-filters-target="group" data-group="working_patterns">
                <div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"></legend>
                            <h3 class="govuk-fieldset__heading"><legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Working pattern</legend></h3>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <input autocomplete="off" name="jobseekers_subscription_form[working_patterns][]" type="hidden" value="">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-working-patterns-full-time-field" name="jobseekers_subscription_form[working_patterns][]" type="checkbox" value="full_time"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-working-patterns-full-time-field">Full time</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-working-patterns-part-time-field" name="jobseekers_subscription_form[working_patterns][]" type="checkbox" value="part_time"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-working-patterns-part-time-field">Part time</label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-working-patterns-part-time-field" name="jobseekers_subscription_form[working_patterns][]" type="checkbox" value="part_time"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-working-patterns-part-time-field">Job share</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="filters-component__groups__group" data-filters-target="group" data-group="ect_statuses">
                <div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"></legend>
                            <h3 class="govuk-fieldset__heading"><legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Suitable for early career teachers</legend></h3>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <input autocomplete="off" name="jobseekers_subscription_form[ect_statuses][]" type="hidden" value="">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-ect-statuses-ect-suitable-field" name="jobseekers_subscription_form[ect_statuses][]" type="checkbox" value="ect_suitable"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-ect-statuses-ect-suitable-field">Suitable for early career teachers</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="filters-component__groups__group" data-filters-target="group" data-group="international">
                <div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"></legend>
                            <h3 class="govuk-fieldset__heading"><legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Visa sponsorship</legend></h3>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <input autocomplete="off" name="jobseekers_subscription_form[international][]" type="hidden" value="">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-ect-statuses-ect-suitable-field" name="jobseekers_subscription_form[international][]" type="checkbox" value="ect_suitable"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-ect-statuses-ect-suitable-field">Only send alerts for jobs with visa sponsorship</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="filters-component__groups__group" data-filters-target="group" data-group="teaching_job_roles">
                <div>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text"><span aria-label="Teaching and leadership job roles" title="Teaching and leadership roles">Teaching and leadership</span></span>
                        </summary>
                        <div class="govuk-details__text">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-govuk-checkboxes-init="" data-module="govuk-checkboxes">
                                        <input autocomplete="off" name="jobseekers_subscription_form[teaching_job_roles][]" type="hidden" value="">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-teaching-job-roles-teacher-field" name="jobseekers_subscription_form[teaching_job_roles][]" type="checkbox" value="teacher"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-teaching-job-roles-teacher-field">Teacher or lecturer</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-teaching-job-roles-head-of-year-or-phase-field" name="jobseekers_subscription_form[teaching_job_roles][]" type="checkbox" value="head_of_year_or_phase"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-teaching-job-roles-head-of-year-or-phase-field">Head of year or phase</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-teaching-job-roles-head-of-department-or-curriculum-field" name="jobseekers_subscription_form[teaching_job_roles][]" type="checkbox" value="head_of_department_or_curriculum"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-teaching-job-roles-head-of-department-or-curriculum-field">Head of department or curriculum</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-teaching-job-roles-assistant-headteacher-field" name="jobseekers_subscription_form[teaching_job_roles][]" type="checkbox" value="assistant_headteacher"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-teaching-job-roles-assistant-headteacher-field">Assistant headteacher</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-teaching-job-roles-deputy-headteacher-field" name="jobseekers_subscription_form[teaching_job_roles][]" type="checkbox" value="deputy_headteacher"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-teaching-job-roles-deputy-headteacher-field">Deputy headteacher</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-teaching-job-roles-headteacher-field" name="jobseekers_subscription_form[teaching_job_roles][]" type="checkbox" value="headteacher"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-teaching-job-roles-headteacher-field">Headteacher</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-teaching-job-roles-sendco-field" name="jobseekers_subscription_form[teaching_job_roles][]" type="checkbox" value="sendco"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-teaching-job-roles-sendco-field">SENDCo (special educational needs and disabilities coordinator)</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-teaching-job-roles-other-leadership-field" name="jobseekers_subscription_form[teaching_job_roles][]" type="checkbox" value="other_leadership"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-teaching-job-roles-other-leadership-field">Other leadership roles</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </details>
                </div>
            </div>

            <div class="filters-component__groups__group" data-filters-target="group" data-group="support_job_roles">
                <div>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text"><span aria-label="Support job roles" title="Support roles">Support</span></span>
                        </summary>
                        <div class="govuk-details__text">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-govuk-checkboxes-init="" data-module="govuk-checkboxes">
                                        <input autocomplete="off" name="jobseekers_subscription_form[support_job_roles][]" type="hidden" value="">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-support-job-roles-teaching-assistant-field" name="jobseekers_subscription_form[support_job_roles][]" type="checkbox" value="teaching_assistant"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-support-job-roles-teaching-assistant-field">Teaching assistant</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-support-job-roles-higher-level-teaching-assistant-field" name="jobseekers_subscription_form[support_job_roles][]" type="checkbox" value="higher_level_teaching_assistant"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-support-job-roles-higher-level-teaching-assistant-field">HLTA (higher level teaching assistant)</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-support-job-roles-education-support-field" name="jobseekers_subscription_form[support_job_roles][]" type="checkbox" value="education_support"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-support-job-roles-education-support-field">Learning support or cover supervisor</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-support-job-roles-administration-hr-data-and-finance-field" name="jobseekers_subscription_form[support_job_roles][]" type="checkbox" value="administration_hr_data_and_finance"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-support-job-roles-administration-hr-data-and-finance-field">Administration, HR, data and finance</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-support-job-roles-catering-cleaning-and-site-management-field" name="jobseekers_subscription_form[support_job_roles][]" type="checkbox" value="catering_cleaning_and_site_management"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-support-job-roles-catering-cleaning-and-site-management-field">Catering, cleaning and site management</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-support-job-roles-it-support-field" name="jobseekers_subscription_form[support_job_roles][]" type="checkbox" value="it_support"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-support-job-roles-it-support-field">IT support</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-support-job-roles-pastoral-health-and-welfare-field" name="jobseekers_subscription_form[support_job_roles][]" type="checkbox" value="pastoral_health_and_welfare"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-support-job-roles-pastoral-health-and-welfare-field">Pastoral, health and welfare</label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="jobseekers-subscription-form-support-job-roles-other-support-field" name="jobseekers_subscription_form[support_job_roles][]" type="checkbox" value="other_support"><label class="govuk-label govuk-checkboxes__label" for="jobseekers-subscription-form-support-job-roles-other-support-field">Other support roles</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </details>
                </div>
            </div>

            <div class="filters-component__groups__group" data-filters-target="group" data-group="subjects">
                <div>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text"><span aria-label="Subjects" title="Subjects">Subjects</span></span>
                        </summary>
                        <div class="govuk-details__text">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-checkboxes govuk-checkboxes--small" data-govuk-checkboxes-init="" data-module="govuk-checkboxes">
                                        <input autocomplete="off" name="jobseekers_subscription_form[subjects][]" type="hidden" value="">

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Accounting">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Accounting</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">Includes Finance and accounting</div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Accountancy and finance">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Accountancy and finance</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Aeronautical engineering">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Aeronautical engineering</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Agriculture/horticulture/land-based studies">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Agriculture/horticulture/land-based studies</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Animal care">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Animal care</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Art">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Art</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Art and design">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Art and design</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Art history">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Art history</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Biochemistry">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Biochemistry</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Biology">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Biology</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="British sign language">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">British sign language</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Building and construction">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Building and construction</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Business studies">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Business studies</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Catering">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Catering</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Chemistry">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Chemistry</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Children's development and learning">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Children's development and learning</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Citizenship">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Citizenship</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Civil engineering">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Civil engineering</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Classics">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Classics</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">Includes Latin</div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Computing">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Computing</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">Includes Computer science, Information technology, and ICT</div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Computer science">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Computer science</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Counselling">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Counselling</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Creative arts">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Creative arts</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Criminology">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Criminology</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Customer service">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Customer service</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Dance">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Dance</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Dance, Drama and Music">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Dance, Drama and Music</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Design and technology">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Design and technology</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">Includes Product design, Textiles and Systems and control</div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Drama">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Drama</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">Includes Theatre studies and Performing arts</div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Early years">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Early years</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Early years care and education">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Early years care and education</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Economics">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Economics</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Economics and Business Studies">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Economics and Business Studies</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Education">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Education</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Electrical engineering">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Electrical engineering</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Electrical installation">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Electrical installation</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Electronics">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Electronics</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Employability">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Employability</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Engineering">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Engineering</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Engineering and technology">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Engineering and technology</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="English">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">English</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">Includes English language and literature</div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="English and Media Studies">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">English and Media Studies</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="English as a foreign language">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">English as a foreign language</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="English as a second or other language">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">English as a second or other language</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Esports">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Esports</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Fabrication and welding">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Fabrication and welding</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Farming">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Farming</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Food Technology">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Food Technology</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">Includes Hospitality and catering</div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Food technology">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Food technology</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Foreign Languages">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Foreign Languages</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Foundation studies">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Foundation studies</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="French">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">French</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Functional skills">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Functional skills</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Games design">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Games design</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="General studies">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">General studies</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Geography">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Geography</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="German">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">German</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Graphic design">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Graphic design</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Hair and beauty">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Hair and beauty</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Health and social care">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Health and social care</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Health and Social Care">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Health and Social Care</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="History">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">History</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Hotel, catering and travel">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Hotel, catering and travel</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Humanities">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Humanities</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="ICT">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">ICT</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="ICT and Computer Science">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">ICT and Computer Science</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Land and property management">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Land and property management</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Languages">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Languages</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Law">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Law</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Leadership and management">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Leadership and management</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Learning and development">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Learning and development</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Literacy">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Literacy</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Logistics">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Logistics</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Mandarin">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Mandarin</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Maths">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Maths</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Mathematics">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Mathematics</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Mechanical engineering">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Mechanical engineering</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Media studies">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Media studies</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Modern foreign languages">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Modern foreign languages</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Motor vehicle">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Motor vehicle</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Music">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Music</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="People management">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">People management</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Performing arts">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Performing arts</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Personal, social and health education">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Personal, social and health education</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Philosophy">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Philosophy</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Photography">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Photography</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Physical Education">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Physical Education</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Physical education">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Physical education</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Physics">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Physics</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Plumbing and heating">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Plumbing and heating</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Politics">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Politics</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Politics, Humanities and Social Sciences">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Politics, Humanities and Social Sciences</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Psychology">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Psychology</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Psychology, Sociology and RE">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Psychology, Sociology and RE</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Public services">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Public services</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Religious education">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Religious education</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint">Includes religious studies</div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Relationships and sex education">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Relationships and sex education</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Science">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Science</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="SEN">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">SEN</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Social sciences">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Social sciences</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Sociology">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Sociology</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Spanish">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Spanish</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Sport and leisure">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Sport and leisure</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Sports science">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Sports science</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Statistics">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Statistics</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Tourism">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Tourism</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="subjects-" name="filters[subjects]" type="checkbox" value="Woodworking, joinery and carpentry">
                                            <label class="govuk-label govuk-checkboxes__label" for="subjects-">Woodworking, joinery and carpentry</label>
                                            <div class="govuk-hint govuk-checkboxes__hint" id="subjects--hint"></div>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </details>
                </div>
            </div>
            
            <div class="divider-bottom govuk-!-margin-bottom-6"><hr class="govuk-section-break govuk-section-break--visible"></div>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="jobseekers-subscription-form-email-field">Email address</label>
                <div class="govuk-hint" id="jobseekers-subscription-form-email-hint">
                    Enter your email address.
                </div><input aria-describedby="jobseekers-subscription-form-email-hint" class="govuk-input" id="jobseekers-subscription-form-email-field" name="jobseekers_subscription_form[email]" required="required" type="email">
            </div>
            <div class="govuk-checkboxes govuk-!-margin-bottom-4" data-module="govuk-checkboxes">
      
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="updates-3" name="updates" type="checkbox" value="marketingYes">
                    <label class="govuk-label govuk-checkboxes__label" for="updates-3">
                        I am interested in receiving emails about the latest Teaching Vacancies news and features
                    </label>
                </div>
                
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"></legend>
                    <h3 class="govuk-fieldset__heading"><legend class="govuk-fieldset__legend govuk-fieldset__legend--s">When do you want to receive alerts?</legend></h3><input autocomplete="off" id="jobseekers_subscription_form_frequency" name="jobseekers_subscription_form[frequency]" type="hidden" value="">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="jobseekers-subscription-form-frequency-daily-field" name="jobseekers_subscription_form[frequency]" type="radio" value="daily"><label class="govuk-label govuk-radios__label" for="jobseekers-subscription-form-frequency-daily-field">Daily, at around 3 pm</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="jobseekers-subscription-form-frequency-weekly-field" name="jobseekers_subscription_form[frequency]" type="radio" value="weekly"><label class="govuk-label govuk-radios__label" for="jobseekers-subscription-form-frequency-weekly-field">Weekly (Friday evening at around 6 pm)</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            
            

        </div>

        


    {{ govukButton({
        text: 'Subscribe'
    }) }}


    </form>




    </div>
  </div>

{% endblock %}
