{% extends "layout.html" %}

{% set activePage = "step1" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}
  {{ govukHeader({
      homepageUrl: "dashboard",
      serviceName: serviceName,
      serviceUrl: "dashboard",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Manage jobs"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

    <div class="create-title">
        <h1 class="govuk-heading-m">Create a job listing for Bexley Heath Academy</h1>
        <h5 class="govuk-heading-m">Step 1 of 8</h5>
        <a href="javascript:history.back()" class="govuk-back-link">Go back to previous step</a>
    </div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Job details</h2>

                <form class="" action="2-job-details" method="post">

                    {% set insetHtml %}
                      <p class="govuk-body">You are listing a role in a Primary school. <a href="">Change the education phase</a>.</p>
                    {% endset %}

                    <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Education phase</h2>

                    {{ govukInsetText({
                      html: insetHtml
                    }) }}

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="job-title">
                            Job title
                        </label>
                        <span id="job-title-hint" class="govuk-hint">
                            For secondary school roles include subject and, if relevant, level of seniority (‘Subject leader for science’, for example).
                        </span>
                        <input class="govuk-input govuk-!-width-full" id="job-title" name="job-title" type="text" aria-describedby="job-title">
                    </div>

                    <!-- ROLE START -->
                    {{ govukCheckboxes({
                      fieldset: {
                        legend: {
                          text: "Job role",
                          classes: "govuk-fieldset__legend--s"
                        }
                      },
                      hint: {
                        text: "Select all that describe the role"
                      },
                      items: [
                        {
                          text: "Education support"
                        },
                        {
                          text: "Teacher"
                        },
                        {
                          text: "Leadership"
                        },
                        {
                          text: "SEN specialist"
                        }
                      ]
                    } | decorateAttributes(data, "data.job.role")) }}
                    <!-- ROLE END -->

                    {{ govukRadios({
                      fieldset: {
                        legend: {
                          text: "Is this job suitable for NQTs?",
                          classes: "govuk-fieldset__legend--s"
                        }
                      },
                      items: [
                        {
                          text: "Yes"
                        },
                        {
                          text: "No"
                        }
                      ]
                    } | decorateAttributes(data, "data.job.suitability")) }} 

                    <!-- SUBJECT START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="subject">
                            Subject
                        </label>
                        <span id="subject-hint" class="govuk-hint">
                            What subject(s) will the teacher focus on?
                        </span>
                        <div class="app-c-option-select__filter">
                            <label for="input-ee7cd429" class="govuk-label govuk-visually-hidden">
                                Filter Show only
                            </label>
                            <input name="option-select-filter" id="input-ee7cd429" class="app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-604a86d4-count" aria-controls="checkboxes-604a86d4">
                        </div>
                        <div class="checkboxes-container">

                            <div class="govuk-!-margin-bottom-6">
                              <div class="searchable-collection-component">
                                <div class="searchable-collection-component--border searchable-collection-component--scrollable">
                                  {# <div class="searchable-collection-component__search"><input aria-label="search subjects"
                                      class="govuk-input searchable-collection-component__search-input icon icon--left icon--search js-action"
                                      placeholder="Search"></div> #}
                                  <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                      <div class="govuk-checkboxes govuk-checkboxes--small checkbox-label__bold" data-module="govuk-checkboxes">
                                        <input type="hidden" name="publishers_job_listing_job_details_form[subjects][]" value="">
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-accounting-field" class="govuk-checkboxes__input"
                                            aria-describedby="publishers-job-listing-job-details-form-subjects-accounting-hint" type="checkbox"
                                            value="Accounting" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-accounting-field"
                                            class="govuk-label govuk-checkboxes__label">Accounting</label><span
                                            class="govuk-hint govuk-checkboxes__hint"
                                            id="publishers-job-listing-job-details-form-subjects-accounting-hint">includes Finance and
                                            accounting</span></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-art-and-design-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="Art and design"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-art-and-design-field"
                                            class="govuk-label govuk-checkboxes__label">Art and design</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-bengali-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Bengali" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-bengali-field"
                                            class="govuk-label govuk-checkboxes__label">Bengali</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-biology-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Biology" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-biology-field"
                                            class="govuk-label govuk-checkboxes__label">Biology</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-business-studies-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="Business studies"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-business-studies-field"
                                            class="govuk-label govuk-checkboxes__label">Business studies</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-chemistry-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Chemistry" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-chemistry-field"
                                            class="govuk-label govuk-checkboxes__label">Chemistry</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-citizenship-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Citizenship" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-citizenship-field"
                                            class="govuk-label govuk-checkboxes__label">Citizenship</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-classics-field" class="govuk-checkboxes__input"
                                            aria-describedby="publishers-job-listing-job-details-form-subjects-classics-hint" type="checkbox"
                                            value="Classics" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-classics-field"
                                            class="govuk-label govuk-checkboxes__label">Classics</label><span
                                            class="govuk-hint govuk-checkboxes__hint"
                                            id="publishers-job-listing-job-details-form-subjects-classics-hint">includes Latin</span></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-computing-field" class="govuk-checkboxes__input"
                                            aria-describedby="publishers-job-listing-job-details-form-subjects-computing-hint" type="checkbox"
                                            value="Computing" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-computing-field"
                                            class="govuk-label govuk-checkboxes__label">Computing</label><span
                                            class="govuk-hint govuk-checkboxes__hint"
                                            id="publishers-job-listing-job-details-form-subjects-computing-hint">includes Computer science,
                                            Information technology, and ICT</span></div>
                                        <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-dance-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="Dance"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-dance-field"
                                            class="govuk-label govuk-checkboxes__label">Dance</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-design-and-technology-field"
                                            class="govuk-checkboxes__input"
                                            aria-describedby="publishers-job-listing-job-details-form-subjects-design-and-technology-hint"
                                            type="checkbox" value="Design and technology"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-design-and-technology-field"
                                            class="govuk-label govuk-checkboxes__label">Design and technology</label><span
                                            class="govuk-hint govuk-checkboxes__hint"
                                            id="publishers-job-listing-job-details-form-subjects-design-and-technology-hint">includes Product
                                            design, Textiles and Systems and control</span></div>
                                        <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-drama-field"
                                            class="govuk-checkboxes__input"
                                            aria-describedby="publishers-job-listing-job-details-form-subjects-drama-hint" type="checkbox"
                                            value="Drama" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-drama-field"
                                            class="govuk-label govuk-checkboxes__label">Drama</label><span class="govuk-hint govuk-checkboxes__hint"
                                            id="publishers-job-listing-job-details-form-subjects-drama-hint">includes Theatre studies and Performing
                                            arts</span></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-early-years-field" class="govuk-checkboxes__input"
                                            aria-describedby="publishers-job-listing-job-details-form-subjects-early-years-hint" type="checkbox"
                                            value="Early years" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-early-years-field"
                                            class="govuk-label govuk-checkboxes__label">Early years</label><span
                                            class="govuk-hint govuk-checkboxes__hint"
                                            id="publishers-job-listing-job-details-form-subjects-early-years-hint">includes EYFS</span></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-economics-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Economics" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-economics-field"
                                            class="govuk-label govuk-checkboxes__label">Economics</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-engineering-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Engineering" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-engineering-field"
                                            class="govuk-label govuk-checkboxes__label">Engineering</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-english-field" class="govuk-checkboxes__input"
                                            aria-describedby="publishers-job-listing-job-details-form-subjects-english-hint" type="checkbox"
                                            value="English" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-english-field"
                                            class="govuk-label govuk-checkboxes__label">English</label><span
                                            class="govuk-hint govuk-checkboxes__hint"
                                            id="publishers-job-listing-job-details-form-subjects-english-hint">includes English language and
                                            literature</span></div>
                                        <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-food-field"
                                            class="govuk-checkboxes__input"
                                            aria-describedby="publishers-job-listing-job-details-form-subjects-food-hint" type="checkbox"
                                            value="Food" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-food-field"
                                            class="govuk-label govuk-checkboxes__label">Food</label><span class="govuk-hint govuk-checkboxes__hint"
                                            id="publishers-job-listing-job-details-form-subjects-food-hint">includes Hospitality and catering</span>
                                        </div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-french-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="French" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-french-field"
                                            class="govuk-label govuk-checkboxes__label">French</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-geography-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Geography" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-geography-field"
                                            class="govuk-label govuk-checkboxes__label">Geography</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-german-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="German" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-german-field"
                                            class="govuk-label govuk-checkboxes__label">German</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-health-and-social-care-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="Health and social care"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-health-and-social-care-field"
                                            class="govuk-label govuk-checkboxes__label">Health and social care</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-history-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="History" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-history-field"
                                            class="govuk-label govuk-checkboxes__label">History</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-humanities-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Humanities" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-humanities-field"
                                            class="govuk-label govuk-checkboxes__label">Humanities</label></div>
                                        <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-ict-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="ICT"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-ict-field"
                                            class="govuk-label govuk-checkboxes__label">ICT</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-italian-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Italian" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-italian-field"
                                            class="govuk-label govuk-checkboxes__label">Italian</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-japanese-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Japanese" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-japanese-field"
                                            class="govuk-label govuk-checkboxes__label">Japanese</label></div>
                                        <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-ks1-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="KS1"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-ks1-field"
                                            class="govuk-label govuk-checkboxes__label">KS1</label></div>
                                        <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-ks2-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="KS2"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-ks2-field"
                                            class="govuk-label govuk-checkboxes__label">KS2</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-languages-field" class="govuk-checkboxes__input"
                                            aria-describedby="publishers-job-listing-job-details-form-subjects-languages-hint" type="checkbox"
                                            value="Languages" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-languages-field"
                                            class="govuk-label govuk-checkboxes__label">Languages</label><span
                                            class="govuk-hint govuk-checkboxes__hint"
                                            id="publishers-job-listing-job-details-form-subjects-languages-hint">includes MFL (Modern Foreign
                                            Languages)</span></div>
                                        <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-law-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="Law"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-law-field"
                                            class="govuk-label govuk-checkboxes__label">Law</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-mandarin-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Mandarin" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-mandarin-field"
                                            class="govuk-label govuk-checkboxes__label">Mandarin</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-mathematics-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Mathematics" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-mathematics-field"
                                            class="govuk-label govuk-checkboxes__label">Mathematics</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-media-studies-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="Media studies"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-media-studies-field"
                                            class="govuk-label govuk-checkboxes__label">Media studies</label></div>
                                        <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-music-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="Music"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-music-field"
                                            class="govuk-label govuk-checkboxes__label">Music</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-philosophy-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Philosophy" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-philosophy-field"
                                            class="govuk-label govuk-checkboxes__label">Philosophy</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-physical-education-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="Physical education"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-physical-education-field"
                                            class="govuk-label govuk-checkboxes__label">Physical education</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-physics-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Physics" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-physics-field"
                                            class="govuk-label govuk-checkboxes__label">Physics</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-politics-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Politics" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-politics-field"
                                            class="govuk-label govuk-checkboxes__label">Politics</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-primary-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Primary" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-primary-field"
                                            class="govuk-label govuk-checkboxes__label">Primary</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-psychology-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Psychology" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-psychology-field"
                                            class="govuk-label govuk-checkboxes__label">Psychology</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-relationships-and-sex-education-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="Relationships and sex education"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-relationships-and-sex-education-field"
                                            class="govuk-label govuk-checkboxes__label">Relationships and sex education</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-religious-education-field"
                                            class="govuk-checkboxes__input"
                                            aria-describedby="publishers-job-listing-job-details-form-subjects-religious-education-hint"
                                            type="checkbox" value="Religious education"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-religious-education-field"
                                            class="govuk-label govuk-checkboxes__label">Religious education</label><span
                                            class="govuk-hint govuk-checkboxes__hint"
                                            id="publishers-job-listing-job-details-form-subjects-religious-education-hint">includes Religious
                                            studies</span></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-russian-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Russian" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-russian-field"
                                            class="govuk-label govuk-checkboxes__label">Russian</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-science-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Science" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-science-field"
                                            class="govuk-label govuk-checkboxes__label">Science</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-social-sciences-field"
                                            class="govuk-checkboxes__input" type="checkbox" value="Social sciences"
                                            name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-social-sciences-field"
                                            class="govuk-label govuk-checkboxes__label">Social sciences</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-sociology-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Sociology" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-sociology-field"
                                            class="govuk-label govuk-checkboxes__label">Sociology</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-spanish-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Spanish" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-spanish-field"
                                            class="govuk-label govuk-checkboxes__label">Spanish</label></div>
                                        <div class="govuk-checkboxes__item"><input
                                            id="publishers-job-listing-job-details-form-subjects-statistics-field" class="govuk-checkboxes__input"
                                            type="checkbox" value="Statistics" name="publishers_job_listing_job_details_form[subjects][]"><label
                                            for="publishers-job-listing-job-details-form-subjects-statistics-field"
                                            class="govuk-label govuk-checkboxes__label">Statistics</label></div>
                                      </div>
                                    </fieldset>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Subject END -->

                    <!-- SUBJECT START -->
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="pattern">
                            Working pattern
                        </label>
                        <span id="pattern-hint" class="govuk-hint">
                          Select all working patterns you will consider for the role. Flexible working options may attract more candidates.
                        </span>
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="full-time" name="pattern" type="checkbox" value="Full-time" {{ checked("pattern", "Full-time") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="full-time">
                                    Full-time
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="part-time" name="pattern" type="checkbox" value="Part-time" {{ checked("pattern", "Part-time") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="part-time">
                                    Part-time
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="share" name="pattern" type="checkbox" value="Job share" {{ checked("pattern", "Job share") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="share">
                                    Job share
                                </label>
                            </div>
                            <!--
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="compressed" name="pattern" type="checkbox" value="Compressed hours" {{ checked("pattern", "Compressed hours") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="compressed">
                                    Compressed hours
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="staggered" name="pattern" type="checkbox" value="Staggered hours" {{ checked("pattern", "Staggered hours") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="staggered">
                                    Staggered hours
                                </label>
                            </div>
                            -->
                        </div>
                    </div>

                    <!-- Subject END -->

                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                    <p><a href="dashboard-drafts">Save and return later</a></p>
                </form>

            </div>
            <!-- Main content END -->

            <!-- Sidebar START -->
            <div class="govuk-grid-column-one-third">
                <!-- STEP HEADER START -->
                <div class="app-step-nav-related app-step-nav-related--singular">
                    <h2 class="app-step-nav-related__heading">
                        <span class="app-step-nav-related__pretitle">Creating a job listing steps</span>
                        <!--
                        <a href="#">
                            Learn to drive a car: step by step
                        </a>
                        -->
                    </h2>
                </div>
                <!-- STEP HEADER END -->
                
                {% include "includes/hiring-staff/acc-steps.html" %}

            </div>
            <!-- Sidebar END -->

        </main>
    </div>

{% endblock %}
