{% extends "layout.html" %}

{% set activePage = "step2" %}

{% set roles = data.job.role | toArray %}

{% if data.job.userType == "multiSchoolMat" or data.job.userType == "multiSchoolLa" %}
  {% set isMultiSchool = "true" %}
{% endif %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}
  {{ govukHeader({
      homepageUrl: "dashboard",
      serviceName: serviceName,
      serviceUrl: "dashboard",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Manage jobs"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="create-title">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Create a job listing for []</h1>
        {% if isMultiSchool == "true" %}multiSchool{% endif %}
        <h5 class="govuk-heading-m">{% if isMultiSchool == "true" %}Step 3 of 8{% else %}Step 2 of 8{% endif %}</h5></h5>
        <a href="javascript:history.back()" class="govuk-back-link">Go back to previous step</a>
    </div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Job details</h2>

                <form class="" action="2-job-details-answer" method="post">
                  
                  {# Educational phase #}

                  {# Setting up come langauge juggling #}
                  {% set educationPhaseText %}
                    {% if data.job.phase == "Primary" %}
                      Primary school
                    {% endif %}
                    {% if data.job.phase == "Secondary" %}
                      Secondary school
                    {% endif %}
                  {% endset %}

                  {# Only show Education phase if the role isnt only "Business manager"#}
                  {% if ('Business manager' not in roles) or (roles | length > 1) %}    

                    {% set educationPhaseInsetHtml %}
                      <p class="govuk-body">You are listing a role in a {{ educationPhaseText }}. <a href="./2a-education-phase">Change the education phase</a>.</p>
                    {% endset %}

                    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Education phase</h2>
                    {{ govukInsetText({
                      html: educationPhaseInsetHtml
                    }) }}

                  {% endif %}

                  {# Job title #}

                  {% set jobTitleHintHtml %}
                    {# If just Business manager we dont care about phase #}
                    {% if 'Business manager' in roles and roles | length == 1 %}
                      Include whether the role is at a school or a trust.
                    {# {% endif %} #}
                    {% elseif data.job.phase == "Primary" %}
                      Include Key Stage if relevant.
                    {# {% endif %} #}
                    {% elseif data.job.phase == "Secondary" %}
                      Include subject and level of seniority, if relevant. For example, ‘Subject leader for science’.
                    {% endif %}
                  {% endset %}

                  {{ govukInput({
                    label: {
                      text: "Job title",
                      classes: "govuk-label--m"
                    },
                    hint: {
                      html: jobTitleHintHtml
                    }
                  } | decorateAttributes(data, "data.job.title")) }}
                  
                  {% if ('Business manager' not in roles) or (roles | length > 1) %}                  
                  
                    {# Suitability #}

                    {{ govukRadios({
                      fieldset: {
                        legend: {
                          text: "Is this job suitable for NQTs?",
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      items: [
                        {
                          text: "Yes"
                        },
                        {
                          text: "No"
                        }
                      ]
                    } | decorateAttributes(data, "data.job.suitability")) }}
                    
                    {# Subject #}

                    {# Only show this is phase is Primary #}
                    {% if data.job.phase == "Primary" %} 
                      <!-- Primary subject -->
                      {{ govukCheckboxes({
                        fieldset: {
                          legend: {
                            text: "Key stage",
                            classes: "govuk-fieldset__legend--m"
                          }
                        },
                        hint: {
                          text: "What key stage(s) will the teacher focus on?"
                        },
                        items: [
                          {
                            text: "Early years"
                          },
                          {
                            text: "KS1"
                          },
                          {
                            text: "KS2"
                          }
                        ]
                      } | decorateAttributes(data, "data.job.keyStage")) }}
                      {# Show this is phase is Secondary #}
                      {# TODO Make this test more specific #}
                      {% else %}
                        <!-- Secondary subject -->
                        <div class="govuk-form-group">
                          {% include "includes/hiring-staff/subject-autocomplete.html" %}
                        </div>
                      {% endif %}

                    {% endif %}

                    {# Working patterns #}
                    {{ govukCheckboxes({
                      fieldset: {
                        legend: {
                          text: "Working patterns",
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      hint: {
                        text: "Select all working patterns you will consider for the role. Flexible working options may attract more candidates."
                      },
                      items: [
                        {
                          text: "Full-time"
                        },
                        {
                          text: "Part-time"
                        },
                        {
                          text: "Term-time"
                        },
                        {
                          text: "Job share"
                        }
                      ]
                    } | decorateAttributes(data, "data.job.workingPattern")) }}

                    <!-- working pattern END -->

                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                    <p><a href="dashboard-drafts">Save and return later</a></p>
                </form>

            </div>
            <!-- Main content END -->

            <!-- Sidebar START -->
            <div class="govuk-grid-column-one-third">
                <!-- STEP HEADER START -->
                <div class="app-step-nav-related app-step-nav-related--singular">
                    <h2 class="app-step-nav-related__heading">
                        <span class="app-step-nav-related__pretitle">Creating a job listing steps</span>
                        <!--
                        <a href="#">
                            Learn to drive a car: step by step
                        </a>
                        -->
                    </h2>
                </div>
                <!-- STEP HEADER END -->
                
                {% include "includes/hiring-staff/acc-steps.html" %}

            </div>
            <!-- Sidebar END -->

        </main>
    </div>

{% endblock %}
