{% extends "create-a-job.html" %}

{% set sectionActive = "job listings" %}
{% set activePageNumber = "2" %}
{% set activePage = "step2" %}

{% block createJobcontent %}
  <div class="govuk-grid-column-two-thirds">
      <form class="" action="2-job-details" method="post">

      <h2 class="govuk-heading-l">Job details</h2>

          {# TODO - these are all the education phases 
          All
          16 plus
          All-through
          Middle deemed primary
          Middle deemed secondary
          Not applicable
          Not recorded
          Nursery
          Primary
          Secondary #}

          {{ govukRadios({
              fieldset: {
                legend: {
                  text: "What education phase will the role be covering?",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  text: "All-through"
                },
                {
                  text: "Primary"
                },
                {
                  text: "Secondary"
                },
                {
                  text: "16 to 19"
                }
              ]
            } | decorateAttributes(data, "data.job.phase")) }}

          <button class="govuk-button" data-module="govuk-button">Continue</button>
          <p><a href="./2-job-details">Cancel</a></p> 

      </form>

  </div>

{% endblock %}
