{% extends "layout.html" %}

{% set activePage = "step2" %}

{% set roles = data.job.role | toArray %}

{% if data.job.userType == "multiSchoolMat" or data.job.userType == "multiSchoolLa" %}
  {% set isMultiSchool = "true" %}
{% endif %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}
  {{ govukHeader({
      homepageUrl: "dashboard",
      serviceName: serviceName,
      serviceUrl: "dashboard",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Manage jobs"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="create-title">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Create a job listing for []</h1>
        {% if isMultiSchool == "true" %}multiSchool{% endif %}
        <h5 class="govuk-heading-m">{% if isMultiSchool == "true" %}Step 3 of 8{% else %}Step 2 of 8{% endif %}</h5></h5>
        <a href="javascript:history.back()" class="govuk-back-link">Go back to previous step</a>
    </div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Job details</h2>

                <form class="" action="3-pay-package" method="post">

                  {{ govukInput({
                    label: {
                      text: "How many hours or days does the role cover?",
                      classes: "govuk-label--m"
                    },
                    hint: {
                      text: "For example, '20 hours a week' or 'Tuesday and Wednesday mornings'"
                    },
                    classes: "govuk-!-width-two-thirds"
                  } | decorateAttributes(data, "data.job.hoursDays")) }}

                  <button class="govuk-button" data-module="govuk-button">Continue</button>
                  <p><a href="./2-job-details">Cancel</a></p> 

                </form>

            </div>
            <!-- Main content END -->

            <!-- Sidebar START -->
            <div class="govuk-grid-column-one-third">
                <!-- STEP HEADER START -->
                <div class="app-step-nav-related app-step-nav-related--singular">
                    <h2 class="app-step-nav-related__heading">
                        <span class="app-step-nav-related__pretitle">Creating a job listing steps</span>
                        <!--
                        <a href="#">
                            Learn to drive a car: step by step
                        </a>
                        -->
                    </h2>
                </div>
                <!-- STEP HEADER END -->
                
                {% include "includes/hiring-staff/acc-steps.html" %}

            </div>
            <!-- Sidebar END -->

        </main>
    </div>

{% endblock %}
