{% extends "create-a-job.html" %}

{% set sectionActive = "job listings" %}
{% set activePageNumber = "5" %}
{% set activePage = "step5" %}

{% block createJobcontent %}
  <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Important dates and deadlines</h2>

      <form class="" action="6-applying" method="post">
        
        {% set conditionalListingDate %}
          {{ govukDateInput({
              fieldset: {
                legend: {
                  text: "What date will the job be listed?",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: "For example, 01 01 2021"
              }
            } | decorateAttributes(data, "data.job.listingDateCustom")) }}
        {% endset %}
        
        {{ govukRadios({
            fieldset: {
              legend: {
                text: "Listing date",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                text: "Today"
              },
              {
                text: "Tomorrow"
              },
              {
                text: "On another day",
                conditional: {
                  html: conditionalListingDate
                }
              }
            ]
          } | decorateAttributes(data, "data.job.listingDate")) }}

        {{ govukDateInput({
            fieldset: {
              legend: {
                text: "Closing date",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 01 05 2021"
            }
        } | decorateAttributes(data, "data.job.listingClosingDate")) }}

        {{ govukRadios({
          fieldset: {
            legend: {
              text: "Time application is due",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              text: "7am"
            },
            {
              text: "8am"
            },
            {
              text: "9am"
            },
            {
              text: "10am"
            },
            {
              text: "11am"
            },
            {
              text: "Midday"
            },
            {
              text: "1pm"
            },
            {
              text: "2pm"
            },
            {
              text: "3pm"
            },
            {
              text: "4pm"
            },
            {
              text: "5pm"
            },
            {
              text: "11:59pm"
            }
          ]
        } | decorateAttributes(data, "data.job.listingDueDate")) }}

        {% set listingStartDateHtml %}
          Closing date <span class="govuk-!-font-weight-regular">(optional)</span>
        {% endset %}

        {{ govukDateInput({
            fieldset: {
              legend: {
                html: listingStartDateHtml, 
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 01 05 2021"
            }
        } | decorateAttributes(data, "data.job.listingStartDate")) }}

        <p class="govuk-body" style="margin-top: -10px">
          or
        <p>

        {{ govukCheckboxes({
            
            items: [
              {
                text: "As soon as possible"
              }
            ]
          } | decorateAttributes(data, "data.job.asSoonAsPossible")) }}

          <button class="govuk-button" data-module="govuk-button">Continue</button>
          <p><a href="/prototypes/application/journey/job-listings/">Save and return later</a></p>
      </form>

  </div>

{% endblock %}
