{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Equal opportunities and recruitment monitoring
      </span>

      <form method="post" novalidate>

        {{ govukRadios({
          id: "profile[gender]",
          name: "profile[gender]",
          fieldset: {
            legend: {
              text: "How would you describe your gender?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If the options below do not reflect how you identify, select ‘Other gender identity’."
          },
          items: [{
            value: options[0].value,
            text: options[0].text,
            checked: options[0].checked
          },
          {
            value: options[1].value,
            text: options[1].text,
            checked: options[1].checked
          },
          {
            value: options[2].value,
            text: options[2].text,
            checked: options[2].checked
          },
          {
            divider: "or"
          },
          {
            value: options[3].value,
            text: options[3].text,
            checked: options[3].checked
          }]
        }) }}


        {{ govukButton({
          text: "Save and continue"
        }) }}

        <p><a href="/profile">Cancel</a></p>

      </form>

    </div>
  </div>

{% endblock %}
