<ul class="acc-navigation__list">
    <li class="acc-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state" href="/">Get started</a>
    </li>
    <li class="acc-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/">Prototypes</a>
    </li>
    <li class="acc-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state" href="/templates/">Patterns</a>
    </li>
    <li class="acc-navigation__list-item app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state" href="/components/">Components</a>
    </li>
</ul>