<ul class="acc-navigation__list">
    <li class="acc-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state" href="/">Home</a>
    </li>
    <li class="acc-navigation__list-item app-navigation__list-item--current">
        <a class="govuk-link govuk-link--no-visited-state" href="/prototypes">Prototype archive</a>
    </li>
    <li class="acc-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state" href="/admin">Admin settings</a>
    </li>
</ul>