
{% extends "layout.njk" %}

{% block pageTitle %}
 240 jobs found sorted by newest job - Find a job in teaching - Teaching Vacancies - GOV.UK
{% endblock %}

{% set primaryNavId = 'jobs' %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your application has been submitted
          </h1>
          <div class="govuk-panel__body">
          We have sent an email confirmation to joe.bloggs@example.co.uk.
          </div>
        </div>
        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
If you are shortlisted for an interview, Countryside High School will be in touch to let you know.Your application information will be saved so that you can use it when you next apply for a role. It will also be saved into your profile if you chose to update it.
        </p>

      </div>
    </div>
    
{% endblock %}
