
{% extends "layout_landingpages_leadership.njk" %}

{% block pageTitle %}
 240 jobs found sorted by newest job - Find a job in teaching - Teaching Vacancies - GOV.UK
{% endblock %}

{% set primaryNavId = 'jobs' %}


{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-l">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
             <p class="govuk-body-l">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Related links</h2>
            <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Write a great teaching job application in 5 steps</a>
  </li>
  <br>
  <li>
    <a class="govuk-link" href="#">How to approach a teaching job interview</a>
  </li>
  <br>
  <li>
    <a class="govuk-link" href="#">3 quick ways to find the right teaching job for you</a>
  </li>
  <br>
  <li>
    <a class="govuk-link" href="#">See more job guides</a>
  </li>
</ul>
        </div>
    </div>
</div>



{% endblock %}
