{% extends "create-a-job.html" %}

{% set sectionActive = "hiring staff" %}
{% set activePageNumber = "2" %}
{% set activePage = "step2" %}

{% block createJobcontent %}
  <div class="govuk-grid-column-two-thirds">
      <form class="" action="1a-job-location-details-answer" method="post">

      <h2 class="govuk-heading-l">Job location</h2>

        {% set school1 %}
          <span class="govuk-!-font-weight-bold">Farnham Heath End</span>
          <span class="govuk-hint govuk-radios__hint govuk-!-padding-0 govuk-!-margin-0">Hale Reeds, Farnham, Surrey, GU9 9BN</span>
        {% endset %}
        
        {% set school2 %}
          <span class="govuk-!-font-weight-bold">Rodborough</span>
          <span class="govuk-hint govuk-radios__hint govuk-!-padding-0 govuk-!-margin-0">Rake Lane, Godalming, Surrey, GU8 5BZ</span>
        {% endset %}
        
        {% set school3 %}
          <span class="govuk-!-font-weight-bold">The Abbey School</span>
          <span class="govuk-hint govuk-radios__hint govuk-!-padding-0 govuk-!-margin-0">Menin Way, Farnham, Surrey, GU9 8DY</span>
        {% endset %}

          {{ govukRadios({
              fieldset: {
                legend: {
                  text: "In which school will the job be based?",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "Farnham Heath End",
                  html: school1
                },
                {
                  value: "Rodborough",
                  html: school2
                },
                {
                  value: "The Abbey School",
                  html: school3
                }
              ]
            } | decorateAttributes(data, "data.job.locationSingle")) }}

          <button class="govuk-button" data-module="govuk-button">Continue</button>
          <p><a href="./0-job-location">Cancel</a></p> 

      </form>

  </div>
  {# <div class="govuk-grid-column-one-third">
    <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Creating a job listing steps</span>
        </h2>
    </div>
    {% include "includes/hiring-staff/acc-steps.html" %}
  </div> #}

{% endblock %}
