{% extends "create-a-job.html" %}

{% set sectionActive = "hiring staff" %}
{% set activePageNumber = "8" %}
{% set activePage = "step8" %}

{% block createJobcontent %}
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Job summary</h2>

        <form class="" action="9-review" method="post">

            <div class="govuk-form-group">
                  {{ govukTextarea({
                    name: "summary",
                    id: "summary",
                    rows: 10,
                    label: {
                      text: "Job advert",
                      classes: "govuk-label--s"
                    },
                    hint: {
                      text: "Get jobseekers interested in the role by providing a brief summary of around 400 words. You should cover what the role is and who you're looking to recruit. The first 20 to 40 words will be shown in search results, so make them stand out."
                    }
                  } | decorateAttributes(data, "data.job.summary")) }}

                  {{ govukTextarea({
                    name: "summary",
                    id: "summary",
                    rows: 10,
                    label: {
                      text: "About the school",
                      classes: "govuk-label--s"
                    },
                    hint: {
                      text: "This will appear next to the job details under ‘School overview’. Feel free to adapt this text"
                    }
                  } | decorateAttributes(data, "data.job.aboutSchool")) }}

            </div>

            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <p><a href="#">Cancel and return to manage jobs</a></p>

        </form>

    </div>
{% endblock %}
