{% extends "templates/form-template.html" %}

{% set sectionActive = "job listings" %}
{% set formAction = "./copy-job-missing-details" %}

{% block formContent %}
  <div class="create-title" style="margin-top: -20px">
    <h1 class="govuk-heading-m govuk-!-margin-bottom-5">Copy a job listing</h1>
  </div>

  <h2 class="govuk-heading-l">Select a job</h2>
  <p class="govuk-body">Content from the job listing will be copied. You will be able to check all details are correct before publishing this job listing.</p>

  {% set job1 %}
    <span class="govuk-!-font-weight-bold">Games Design Tutor</span>
    <span class="govuk-hint govuk-!-margin-bottom-0">Closing date: 21 October 2021</span>
    <span class="govuk-hint govuk-!-margin-bottom-0">Bexleyheath Academy</span>
  {% endset %}
  
  {% set job2 %}
    <span class="govuk-!-font-weight-bold">Tutor of PE</span>
    <span class="govuk-hint govuk-!-margin-bottom-0">Closing date: 10 August 2021</span>
    <span class="govuk-hint govuk-!-margin-bottom-0">Farnham Heath End</span>
  {% endset %}

  {% set job3 %}
    <span class="govuk-!-font-weight-bold">PROGRESS LEADER (HEAD OF DEPARTMENT) FOR RS, PSHE, RSE AND CITIZENSHIP EDUCATION WITH TLR 2 £6698</span>
    <span class="govuk-hint govuk-!-margin-bottom-0">Closing date: 15 December 2020</span>
    <span class="govuk-hint govuk-!-margin-bottom-0">Woolmer Hill School</span>
  {% endset %}

  {% if data.job.numberOfJobsListed == "Less than or equal to 20" %}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Select a job listing to copy",
          classes: "govuk-fieldset__legend--s govuk-visually-hidden"
        }
      },
      items: [
        {
          html: job1,
          value: "Games Design Tutor"
        },
        {
          html: job2,
          value: "Tutor of PE"
        },
        {
          html: job3,
          value: "PROGRESS LEADER (HEAD OF DEPARTMENT) FOR RS, PSHE, RSE AND CITIZENSHIP EDUCATION WITH TLR 2 £6698"
        }
      ]
    } | decorateAttributes(data, "data.job.copyExistingJob")) }}
  
  {% else %}
  {# Has more than 20 jobs show the autocomplete instead #}

    <div class="body-text">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Select a job listing</h2>
      <span class="">Search by job title</span>
      <div id="tt-default" class="autocomplete-wrapper govuk-!-width-two-thirds govuk-!-margin-bottom-6"></div>
    </div>

    <script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>

    <script type="text/javascript">
      var providers = [
        "<span class='job-title'>Games Design Tutor</span><span class='govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-16'>Closing date: 21 October 2021</span><span class='govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-16'>Bexleyheath Academy</span>",
        "<span class='job-title'>Tutor of PE</span><span class='govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-16'>Closing date: 10 August 2021</span><span class='govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-16'>Farnham Heath End</span>",
        "<span class='job-title'>PROGRESS TUTOR (HEAD OF DEPARTMENT) FOR RS, PSHE, RSE AND CITIZENSHIP EDUCATION WITH TLR 2 £6698</span><span class='govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-16'>Closing date: 15 December 2020</span><span class='govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-16'>Bexleyheath Academy</span>"
      ]
    </script>

    <script type="text/javascript">
      var element = document.querySelector('#tt-default')
      var id = 'autocomplete-default'
      accessibleAutocomplete({
        element: element,
        id: id,
        source: providers,
        name: "jobsList"
      })
    </script>

  {% endif %}

  <button class="govuk-button" data-module="govuk-button">Continue</button>
  <p><a href="/prototypes/application/expanded/dashboard">Cancel and return to manage jobs</a></p>

{% endblock %}