{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Work history' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "/profile"
  }) }}
{% endblock %}

{% block content %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash and flash.length }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      {{ govukButton({
        text: "Add role",
        classes: 'govuk-button--secondary',
        href: '/profile/work-history'
      }) }}

      <div class="app-list">

        {% for id, role in profile.workHistory %}
          <div class="app-list__item">

            {{appPageHeader({
              classes: 'govuk-!-margin-bottom-0',
              heading: {
                level: 2,
                text: role.employer,
                classes: 'govuk-heading-s'
              },
              items: [{
                text: 'Change',
                href: "/profile/work-history/"+id+"/edit",
                type: 'link'
              }, {
                text: 'Delete',
                href: "/profile/work-history/"+id+"/delete",
                type: 'link'
              }]
            })}}

            <p class="govuk-!-margin-bottom-0 govuk-!-margin-top0">{{role.role}}</p>
            <p class="govuk-caption-m govuk-!-margin-bottom-0">
              {{role.startDate | monthAndYearOnly}}
              to
              {% if role.endDate %}
                {{role.endDate | monthAndYearOnly}}
              {% else %}
                present
              {% endif %}
            </p>
            <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">{{role.description | nl2br }}</p>
          </div>
        {% endfor %}
      </div>

      {{ govukButton({
        text: "Return to profile",
        href: '/profile'
      }) }}

    </div>
  </div>

{% endblock %}
