{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "dashboard",
      serviceName: serviceName,
      serviceUrl: "dashboard",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Manage jobs"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="create-title">
        <h1 class="govuk-heading-m">Create a job listing for Bexley Heath Academy</h1>
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Review the job</h2>
                <p>Review the job details and make any necessary changes before submitting it for publication below.</p>

                <ol class="app-task-list">
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">1.
                            </span>
                            <a href="1-job-details">Job details</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <!--
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a href="#" aria-describedby="eligibility-completed">
                                        Check eligibility
                                    </a>
                                </span>
                                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
                            </li>
                            -->
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Job title</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['job-title'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Job role</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['job-role'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Subject</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['subject'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Working pattern</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['pattern'] }}</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">2.
                            </span>
                            <a href="2-pay-package">Pay package</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Salary</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['salary'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Employee benefits</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['benefits'] }}</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">3.
                            </span>
                            <a href="4-important">Important dates and deadlines</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Date job will be listed</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>29 January 2020</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Application deadline</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>30 March 2020 at 9:00 am</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Date job starts</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>2 September 2020</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">4.
                            </span>
                            <a href="5-supporting-1">Supporting documents</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Document 1</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>application-pack.doc</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Document 2</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>job-specification.pdf</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">5.
                            </span>
                            <a href="3-applying">Applying for the job</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Job contact email</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['email'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>School visits</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['visits'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>How to apply</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['apply'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Link to online application</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['link'] }}</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">6.
                            </span>
                            <a href="6-summary">Summary</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Job summary</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['summary'] }}</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ol>

                <h3>Submit this listing for publication on 2 February 2020</h3>
                <p>By publishing this job you agree to our <a href="#">terms and conditions</a> for schools and confirm that the details you have provided are, to the best of your knowledge, correct.</p>

                <a class="govuk-button" href="8-success">Confirm and submit job</a>
                <a href="job-listing" class="govuk-button govuk-button--secondary preview-btn">Preview job listing</a>
                <p><a href="#">Save and return later</a></p>

            </div>
            <!-- Main content END -->

            <!-- Sidebar START -->
            <div class="govuk-grid-column-one-third">

            </div>
            <!-- Sidebar END -->

        </main>
    </div>




{% endblock %}
