{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "start",
    serviceName: serviceName,
    serviceUrl: "start",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Manage jobs"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="create-title">
        <h1 class="govuk-heading-m">Create a job listing for Bexley Heath Academy</h1>
        <h5 class="govuk-heading-m">Step 2 of 3</h5>
    </div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Supporting documents</h2>

                <form class="" action="index.html" method="post">
                    <!-- alert banner START -->
                    <div class="banner banner--success">
                        <svg class="banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 25 25" height="25" width="25">
                            <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"/></svg>
                        <div class="banner__message">
                            <span class="banner__assistive">Success</span>
                            document.doc was removed
                            <a href="#">Dismiss</a>
                        </div>

                    </div>
                    <!-- alert banner END -->

                    <div class="govuk-form-group upload-group">
                        <fieldset class="govuk-fieldset" aria-describedby="upload-supporting-documents">

                            <label class="govuk-label govuk-label--m" for="file-upload">
                                Upload files
                            </label>
                            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="file-upload">
                                Select a file
                            </button>
                        </fieldset>
                    </div>

                    <p>No files chosen</p>
                </form>

                <a href="4-applying" class="govuk-button">Save and continue</a>

            </div>
            <!-- Main content END -->

            <!-- Sidebar START -->
            <div class="govuk-grid-column-one-third">
            </div>
            <!-- Sidebar END -->

        </main>
    </div>




{% endblock %}
