{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% if user.profile.hiddenPlaces | length %}
  {% set question = 'Do you want to add another school?' %}
{% else %}
  {% set question = 'Do you want to add a school?' %}
{% endif %}


{% set title = "Your school cannot be found" %}

{% set countOfSchool = 1 %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "/profile"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <p>
        If you cannot find a school to hide your profile from, it may be because:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>it is a private school</li>
        <li>the school is not registered in the UK</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>

      <p>
       This means they cannot view your profile on this service.
      </p>

      <form method="post" novalidate>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Search for another school",
            classes: "govuk-button--secondary",
            href: '/profile/hide-profile/add'
          }) }}

          {{ govukButton({
            text: "Return to profile",
            href: '/profile'
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
