
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Confirm that you want to delete this school' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">
        Delete school
      </span>
      <h1 class="govuk-heading-xl">
        {{title}}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "School"
            },
            value: {
              text: data['hide-school']
            }
          }
        ]
      }) }}

      <form method="post" novalidate>

        {{ govukButton({
          text: "Delete school"
        }) }}

        <p><a href="/profile">Cancel</a></p>
      </form>

    </div>
  </div>

{% endblock %}
