{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "start",
    serviceName: serviceName,
    serviceUrl: "start",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Manage jobs"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="create-title">
        <h1 class="govuk-heading-m">Create a job listing for Bexley Heath Academy</h1>
        <h5 class="govuk-heading-m">Step 2 of 3</h5>
    </div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Supporting documents</h2>

                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There were problems with the file upload
                    </h2>
                    <div class="govuk-error-summary__body">
                        <p class="file-error-title">File: document-1.doc</p>
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#">The selected file could not be uploaded – try again</a>
                            </li>
                            <li>
                                <a href="#">The selected file must be a [list of file types]</a>
                            </li>
                            <li>
                                <a href="#">The selected file must be smaller than [largest file size]</a>
                            </li>
                            <li>
                                <a href="#">The selected file contains a virus</a>
                            </li>
                            <li>
                                <a href="#">The selected file is password protected</a>
                            </li>
                        </ul>
                        <p class="file-error-title">File: document-2.doc</p>
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#">The selected file could not be uploaded – try again</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <form class="" action="index.html" method="post">
                    <div class="govuk-form-group upload-group govuk-form-group--error">
                        <fieldset class="govuk-fieldset" aria-describedby="upload-supporting-documents">

                            <label class="govuk-label govuk-label--m" for="file-upload">
                                Upload files
                            </label>
                            <span id="file-upload-1-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Error message
                            </span>
                            <button class="govuk-button govuk-button--secondary govuk-file-upload--error" data-module="govuk-button" id="file-upload">
                                Select a file
                            </button>
                        </fieldset>
                    </div>

                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">File name</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                                <th scope="col" class="govuk-table__header">File size</th>
                                <th scope="col" class="govuk-table__header">Action</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header"><a href="#">document.doc</a></th>
                                <td class="govuk-table__cell">Uploaded</td>
                                <td class="govuk-table__cell">2.3mb</td>
                                <td class="govuk-table__cell"><a href="#">Remove</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">document.doc</th>
                                <td class="govuk-table__cell">34% uploaded...</td>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell"><a href="#">Cancel</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">document.doc</th>
                                <td class="govuk-table__cell">10% uploaded...</td>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell"><a href="#">Cancel</a></td>
                            </tr>
                        </tbody>
                    </table>

                </form>

                <a href="4-applying" class="govuk-button">Save and continue</a>

            </div>
            <!-- Main content END -->

            <!-- Sidebar START -->
            <div class="govuk-grid-column-one-third">

            </div>
            <!-- Sidebar END -->

        </main>
    </div>




{% endblock %}
