
{% extends "layout.njk" %}

{% set title = 'Heading' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form method="post" action="calculator2" novalidate>

        
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Where do you work?
                    </h1>
                </legend>
                
                <div class="govuk-radios" data-module="govuk-radios">

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-work" name="where-do-you-work" type="radio" value="Inner London" aria-describedby="innerlondon-hint">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-work">
                            Inner London
                        </label>
                        
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-work-2" name="where-do-you-work" type="radio" value="Outer London" aria-describedby="outerlondon-hint">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-work-2">
                            Outer London
                        </label>
                        
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-work-3" name="where-do-you-work" type="radio" value="Fringe of London" aria-describedby="fringe-hint">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-work-3">
                            Fringe of London
                        </label>
                    </div>
                    <div class="govuk-radios__divider">or</div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-work-4" name="where-do-you-work" type="radio" value="Rest of England">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-work-4">
                            Rest of England
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>



        {{ govukButton({
          text: 'Calculate pay'
        }) }}
      </form>




    </div>
  </div>

{% endblock %}
