
{% extends "layout.njk" %}

{% set title = 'Heading' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}
      </h1>


      <form method="post" action="result" novalidate>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="payband">
                What is your pay band?
            </label>
            <select class="govuk-select" id="payband" name="payband">
                <option value="choose" selected>Choose a pay band</option>
                <option value="Unqualified Teacher 1 (UnQ1)">Unqualified Teacher 1 (UnQ1)</option>
                <option value="Unqualified Teacher 2 (UnQ2)">Unqualified Teacher 2 (UnQ2)</option>
                <option value="Unqualified Teacher 3 (UnQ3)">Unqualified Teacher 3 (UnQ3)</option>
                <option value="Unqualified Teacher 4 (UnQ4)">Unqualified Teacher 4 (UnQ4)</option>
                <option value="Unqualified Teacher 5 (UnQ5)">Unqualified Teacher 5 (UnQ5)</option>
                <option value="Unqualified Teacher 6 (UnQ6)">Unqualified Teacher 6 (UnQ6)</option>
                <option value="Main Pay Range 1 (M1)">Main Pay Range 1 (M1)</option>
                <option value="Main Pay Range 2 (M2)">Main Pay Range 2 (M2)</option>
                <option value="Main Pay Range 3 (M3)">Main Pay Range 3 (M3)</option>
                <option value="Main Pay Range 4 (M4)">Main Pay Range 4 (M4)</option>
                <option value="Main Pay Range 5 (M5)">Main Pay Range 5 (M5)</option>
                <option value="Main Pay Range 6 (M6)">Main Pay Range 6 (M6)</option>
                <option value="Upper Pay 1 (U1)">Upper Pay 1 (U1)</option>
                <option value="Upper Pay 2 (U2)">Upper Pay 2 (U2)</option>
                <option value="Upper Pay 3 (U3)">Upper Pay 3 (U3)</option>
                <option value="Leading Practitioner">Leading Practitioner</option>
                <option value="Leadership">Leadership</option>
            </select>
        </div>

        <!--
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-label--s">
                    Do you expect your pay band to increase after the completion of your current appraisal cycle?
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="appraisal" name="appraisal" type="radio" value="Yes" data-aria-controls="conditional-appraisal">
                        <label class="govuk-label govuk-radios__label" for="appraisal">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-appraisal">
                        
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="new-payband">
                                What do you expect your new pay band to be?
                            </label>
                            <select class="govuk-select" id="new-payband" name="new-payband">
                                <option value="choose" selected>Choose a pay band</option>
                                <option value="Unqualified Teacher 1 (UnQ1)">Unqualified Teacher 1 (UnQ1)</option>
                                <option value="Unqualified Teacher 2 (UnQ2)">Unqualified Teacher 2 (UnQ2)</option>
                                <option value="Unqualified Teacher 3 (UnQ3)">Unqualified Teacher 3 (UnQ3)</option>
                                <option value="Unqualified Teacher 4 (UnQ4)">Unqualified Teacher 4 (UnQ4)</option>
                                <option value="Unqualified Teacher 5 (UnQ5)">Unqualified Teacher 5 (UnQ5)</option>
                                <option value="Unqualified Teacher 6 (UnQ6)">Unqualified Teacher 6 (UnQ6)</option>
                                <option value="Main Pay Range 1 (M1)">Main Pay Range 1 (M1)</option>
                                <option value="Main Pay Range 2 (M2)">Main Pay Range 2 (M2)</option>
                                <option value="Main Pay Range 3 (M3)">Main Pay Range 3 (M3)</option>
                                <option value="Main Pay Range 4 (M4)">Main Pay Range 4 (M4)</option>
                                <option value="Main Pay Range 5 (M5)">Main Pay Range 5 (M5)</option>
                                <option value="Main Pay Range 6 (M6)">Main Pay Range 6 (M6)</option>
                                <option value="Upper Pay 1 (U1)">Upper Pay 1 (U1)</option>
                                <option value="Upper Pay 2 (U2)">Upper Pay 2 (U2)</option>
                                <option value="Upper Pay 3 (U3)">Upper Pay 3 (U3)</option>
                                <option value="Leading Practitioner">Leading Practitioner</option>
                                <option value="Leadership">Leadership</option>
                            </select>
                        </div>

                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="appraisal-2" name="appraisal" type="radio" value="No" data-aria-controls="conditional-appraisal-2">
                        <label class="govuk-label govuk-radios__label" for="appraisal-2">
                            No
                        </label>
                    </div>
                    
                </div>
            </fieldset>
        </div>
        -->
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-label--s">
                    Where do you work?
                </legend>
                 <div id="dob-hint" class="govuk-hint">
                    If you're unsure, check your pay slip or ask your school
                </div>
                <div class="govuk-radios" data-module="govuk-radios">

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-work" name="where-do-you-work" type="radio" value="Inner London" aria-describedby="innerlondon-hint">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-work">
                            Inner London
                        </label>
                        
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-work-2" name="where-do-you-work" type="radio" value="Outer London" aria-describedby="outerlondon-hint">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-work-2">
                            Outer London
                        </label>
                        
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-work-3" name="where-do-you-work" type="radio" value="Fringe of London" aria-describedby="fringe-hint">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-work-3">
                            Fringe of London
                        </label>
                    </div>
                    <div class="govuk-radios__divider">or</div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="where-do-you-work-4" name="where-do-you-work" type="radio" value="Rest of England">
                        <label class="govuk-label govuk-radios__label" for="where-do-you-work-4">
                            Rest of England
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>



        {{ govukButton({
          text: 'Calculate pay'
        }) }}
      </form>




    </div>
  </div>

{% endblock %}
