
{% extends "layout.njk" %}

{% set title = 'Start page' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            {{title}}
        </h1>

        <p>The government announced a <a href="#" class="govuk-link">pay award for school teachers and leaders on 30 June 2023</a>, following School Teachers’ Review Body’s pay recommendations.</p>

        <p>If you're a school teacher or leader in England, use this service to see how salaries could change following the pay award.</p>

        <p>The pay award takes effect from 1 September 2023.</p>

        <p>You may start receiving your new salary after this date but it will be backdated.</p>

        <p><a href="calculator" class="gem-c-button govuk-button" role="button" data-module="govuk-button" draggable="false" href="https://gov.uk/random" data-govuk-button-module-started="true">Calculate your pay</a></p>

        
        <div class="govuk-inset-text">
            This calculator is indicative only. The new pay framework is subject to a statutory consultation period and your school can choose how to implement it.
        </div>
        
        <p>Academies may choose to follow the pay framework.</p>

        <p>The pay framework does not apply in further education or early years.</p>





    </div>
  </div>

{% endblock %}
