{% extends "layout.html" %}

{% set activePage = "step2" %}

{% set roles = data.job.role | toArray %}

{% if data.job.userType == "multiSchoolMat" or data.job.userType == "multiSchoolLa" %}
  {% set isMultiSchool = "true" %}
{% endif %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}
  {{ govukHeader({
      homepageUrl: "dashboard",
      serviceName: serviceName,
      serviceUrl: "dashboard",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Manage jobs"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="create-title">

        {% set SchoolName %}
          {% if data.job.userType == "singleSchool" %}
            {{ data.job.defaultSchoolName }}
          {% elseif data.job.locationSingle %}
            {{ data.job.locationSingle }}
          {% elseif (data.job.locationMat == "At more than one school in the trust") or (data.job.locationLa == "At more than one school") %}
            multiple schools
          {% endif %}
        {% endset %}

        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Create a job listing for {{ SchoolName }}</h1>
        <h5 class="govuk-heading-m">{% if isMultiSchool == "true" %}Step 3 of 8{% else %}Step 2 of 8{% endif %}</h5></h5>
        <a href="javascript:history.back()" class="govuk-back-link">Go back to previous step</a>
    </div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Job details</h2>

                <form class="" action="3-pay-package" method="post">

                  {# Job title #}

                  {{ govukInput({
                    label: {
                      text: "Job title",
                      classes: "govuk-label--m"
                    },
                    hint: {
                      html: jobTitleHintHtml
                    }
                  } | decorateAttributes(data, "data.job.title")) }}
                                  
                    {# Suitability #}

                    {{ govukRadios({
                      fieldset: {
                        legend: {
                          text: "Is this job suitable for NQTs?",
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      items: [
                        {
                          text: "Yes"
                        },
                        {
                          text: "No"
                        }
                      ]
                    } | decorateAttributes(data, "data.job.suitability")) }}
                    
                    {# Subject #}
                    
                    <!-- Secondary subject -->
                    <div class="govuk-form-group">
                      {% include "includes/hiring-staff/subject-autocomplete.html" %}
                    </div>

                    {# Working patterns #}
                    {{ govukCheckboxes({
                      fieldset: {
                        legend: {
                          text: "Working patterns",
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      hint: {
                        text: "Select all working patterns you will consider for the role. Flexible working options may attract more candidates."
                      },
                      items: [
                        {
                          text: "Full time"
                        },
                        {
                          text: "Part time"
                        },
                        {
                          text: "Term time"
                        },
                        {
                          text: "Job share"
                        }
                      ]
                    } | decorateAttributes(data, "data.job.workingPattern")) }}

                    {# Days/hours #}

                    {{ govukInput({
                    label: {
                      text: "How many hours or days does the role cover?",
                      classes: "govuk-label--m"
                    },
                    hint: {
                      text: "For example, '20 hours a week' or 'Tuesday and Wednesday mornings'"
                    },
                    classes: "govuk-!-width-two-thirds"
                  } | decorateAttributes(data, "data.job.hoursDays")) }}

                    <!-- working pattern END -->

                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                    <p><a href="dashboard-drafts">Save and return later</a></p>
                </form>

            </div>
            <!-- Main content END -->

            <!-- Sidebar START -->
            <div class="govuk-grid-column-one-third">
                <!-- STEP HEADER START -->
                <div class="app-step-nav-related app-step-nav-related--singular">
                    <h2 class="app-step-nav-related__heading">
                        <span class="app-step-nav-related__pretitle">Creating a job listing steps</span>
                        <!--
                        <a href="#">
                            Learn to drive a car: step by step
                        </a>
                        -->
                    </h2>
                </div>
                <!-- STEP HEADER END -->
                
                {% include "includes/hiring-staff/acc-steps.html" %}

            </div>
            <!-- Sidebar END -->

        </main>
    </div>

{% endblock %}
