
{% extends "layout.njk" %}

{% set primaryNavId = 'schools' %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Schools (1025)
  </h1>

    <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "includes/schools-filter-panel.njk" %}
    </div>

    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      <div class="app-schools">

        {% for school in schools %}
          <div class="app-schools__item">
            <h2 class="govuk-heading-m">
              <a href="/schools/show">{{school.name}}</a>
            </h2>
            <p>
              {% for part, value in school.address %}
                {{value}}{% if not loop.last %}, {% endif %}
              {% endfor %}
            </p>
            {{ govukSummaryList({
              classes: 'govuk-summary-list--no-border',
              rows: [
                {
                  key: {
                    text: "Type"
                  },
                  value: {
                    text: "Academy"
                  }
                },
                {
                  key: {
                    text: "Age group"
                  },
                  value: {
                    text: school.ageGroup
                  }
                },
                {
                  key: {
                    text: "Live jobs"
                  },
                  value: {
                    text: [1, 2, 3, 4] | random
                  }
                }
              ]
            }) }}

          </div>
        {% endfor %}

      </div>
      {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              href: "#",
              current: true
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>
{% endblock %}