
{% extends "layout.njk" %}

{% set primaryNavId = 'schools' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
        Bronson Alcott Academy
      </h1>

      <p>Friendship Way, London E15 2JQ</p>

      {{ govukButton({
        text: "Send profile to school",
        href: '/schools/send-profile'
      }) }}

      {{ govukButton({
        text: "Add school to favourites",
        href: '/schools/save-school',
        classes: 'govuk-!-margin-left-2 govuk-button--secondary'
      }) }}

      <h2 class="govuk-heading-l">2 jobs available</h3>

      {# <p><a href="/jobs">2 jobs at Bronson Alcott Academy</a></p> #}

      <p>
        Job 1 etc
      </p>
      <p>
        Job 2 etc
      </p>

      <h2 class="govuk-heading-l">About</h3>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">School type</td>
                <td class="govuk-table__cell">Academy</td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Education phase</td>
                <td class="govuk-table__cell">Primary school</td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">School size</td>
                <td class="govuk-table__cell">294 pupils</td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Age range</td>
                <td class="govuk-table__cell">5 to 11</td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Ofsted report</td>
                <td class="govuk-table__cell"><a href="#">View ofsted report</a></td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">School website</td>
                <td class="govuk-table__cell"><a href="#">school website link (opens in a new window)</a></td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Contact email</td>
                <td class="govuk-table__cell"><a href="#">email@bronsonalcottacademy.org.uk</a></td>
            </tr>
        </tbody>
      </table>

      <p class="govuk-body">
          Bronson Alcott Academy is at the heart of a growing family of outstanding schools. This support allows us unique relationships within London, its independent schools and seats of learning. We pride ourselves on:
      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>our recent OFSTED inspection upgrade to ‘good’ (April 2019). </li>
          <li>being an oversubscribed and popular school, located close to the M42 and M6, in easy reach of Coventry, Warwick and Birmingham.</li>
          <li>being a highly innovative, driven, inspirational and ambitious organisation with a clear vision for achieving success.</li>
          <li>being part of the Springwood Academies Trust and its associated teaching school. This facilitates an opportunity to play to your strengths and provide excellent collaboration between colleagues and leaders, access to effective CPD and the chance to develop professionally. The - Trust is committed to invest in and develop all staff and, most importantly, bring about the best possible outcomes for our students who deserve the very best.</li>
          <li>our strong commitment to staff wellbeing and recognition. We can offer you a range of benefits which include cycle to work and childcare voucher schemes, free parking, an employee discount scheme, a laptop and access to the on-site swimming pool.</li>
      </ul>

      <h2 class="govuk-heading-l">How early career teachers are supported</h2>
      <p class="govuk-body">
        Information goes here about how early career teachers are supported.
      </p>

      <h2 class="govuk-heading-l">Location</h3>
      <p class="govuk-body">
        Friendship Way, London E15 2JQ
      </p>
      <div class="govuk-!-margin-bottom-6">
        <img src="/public/images/map2.png" width="100%">
      </div>




      <h2 class="govuk-heading-l">Additional documents</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#" class="document-link">School brochure (PDF, 3MB)</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
