
{% extends "layout.njk" %}

{% set primaryNavId = 'schools' %}

{% block content %}

  <div class="app-logo-title govuk-!-margin-bottom-7">
    <img src="/public/images/logos/courtland.png" width="80" style="float: left; margin-right: 15px;">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      Bronson Alcott Academy
    </h1>
    <p>Friendship Way, London E15 2JQ</p>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <img src="/public/images/photos/courtland.jpeg" width="100%" class="govuk-!-margin-bottom-6">


      <div class="app-panel">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Address"
              },
              value: {
                text: "Friendship Way, London E15 2JQ"
              }
            } if 1 == 2,
            {
              key: {
                text: "Type"
              },
              value: {
                text: "Academy"
              }
            },
            {
              key: {
                text: "Education phase"
              },
              value: {
                text: "Primary school"
              }
            },
            {
              key: {
                text: "School size"
              },
              value: {
                text: "294 pupils"
              }
            },
            {
              key: {
                text: "Age range"
              },
              value: {
                text: "5 to 11"
              }
            },
            {
              key: {
                text: "Website"
              },
              value: {
                html: '<a href="#">https://bronson.school (opens in new tab)</a>'
              }
            },
            {
              key: {
                text: "Ofsted report"
              },
              value: {
                html: '<a href="#">View ofsted report</a>'
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                html: '<a href="#">	email@bronsonalcottacademy.org.uk</a>'
              }
            }
          ]
        }) }}

      </div>

      <p class="govuk-body">
          Bronson Alcott Academy is at the heart of a growing family of outstanding schools. This support allows us unique relationships within London, its independent schools and seats of learning. We pride ourselves on:
      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>our recent OFSTED inspection upgrade to ‘good’ (April 2019). </li>
          <li>being an oversubscribed and popular school, located close to the M42 and M6, in easy reach of Coventry, Warwick and Birmingham.</li>
          <li>being a highly innovative, driven, inspirational and ambitious organisation with a clear vision for achieving success.</li>
          <li>being part of the Springwood Academies Trust and its associated teaching school. This facilitates an opportunity to play to your strengths and provide excellent collaboration between colleagues and leaders, access to effective CPD and the chance to develop professionally. The - Trust is committed to invest in and develop all staff and, most importantly, bring about the best possible outcomes for our students who deserve the very best.</li>
          <li>our strong commitment to staff wellbeing and recognition. We can offer you a range of benefits which include cycle to work and childcare voucher schemes, free parking, an employee discount scheme, a laptop and access to the on-site swimming pool.</li>
      </ul>

      <h2 class="govuk-heading-l">What we offer our employees</h2>
      <p class="govuk-body">
        Information goes here about how we support our employees.
      </p>

      <h2 class="govuk-heading-l">Location</h3>
      <p class="govuk-body">
        Friendship Way, London E15 2JQ
      </p>
      <div class="govuk-!-margin-bottom-6">
        <img src="/public/images/map2.png" width="100%">
      </div>

      <h2 class="govuk-heading-l">Current jobs</h3>

      {% for job in currentJobs %}
          <div class="app-schools__item">
            <h2 class="govuk-heading-m">
              <a href="/jobs/show">{{job.title}}</a>
            </h2>
            {# <p>
              {{job.location.name}},
              {% for part, value in job.location.address %}
                {{value}}{% if not loop.last %}, {% endif %}
              {% endfor %}
            </p> #}
            {{ govukSummaryList({
              classes: 'govuk-summary-list--no-border',
              rows: [
                {
                  key: {
                    text: "Role"
                  },
                  value: {
                    text: job.role
                  }
                },
                {
                  key: {
                    text: "Full time equivalent salary"
                  },
                  value: {
                    text: job.salary.fullTimeEquivalentSalary
                  }
                },
                {
                  key: {
                    text: "Phase of education"
                  },
                  value: {
                    text: 'Primary'
                  }
                },
                {
                  key: {
                    text: "Working pattern"
                  },
                  value: {
                    text: job.workingPatterns
                  }
                }
              ]
            }) }}

          </div>
        {% endfor %}

    </div>
  </div>

{% endblock %}
