<h2 class="govuk-heading-s govuk-!-padding-top-4 govuk-!-margin-bottom-2 acc-username">Joanna Bloggs - <span>Bexley Heath Academy</span></h2>
<ul class="acc-navigation__list">
  <li class="acc-navigation__list-item">
    <a class="govuk-link govuk-link--no-visited-state" href="#">Active jobs</a>
  </li>
  <li class="acc-navigation__list-item">
    <a class="govuk-link govuk-link--no-visited-state" href="#">Passed deadline</a>
  </li>
  <li class="acc-navigation__list-item app-navigation__list-item--current">
    <a class="govuk-link govuk-link--no-visited-state" href="#">Draft jobs</a>
  </li>
  <li class="acc-navigation__list-item">
    <a class="govuk-link govuk-link--no-visited-state" href="#">Scheduled jobs</a>
  </li>
</ul>