{# is it multi-school or single school? #}

{% if data.job.userType == "multiSchoolMat" or data.job.userType == "multiSchoolLa" %}
  {% set isMultiSchool = "true" %}
{% endif %}

{% if isMultiSchool == "true" %}
  <div id="step-by-step-navigation" class="app-step-nav app-step-nav--active">
    <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step0' }} {{ 'app-step-nav__step--visited' if activePage == 'step1' or activePage == 'step2' or activePage == 'step3' or activePage == 'step4' or activePage == 'step5' or activePage == 'step6' or activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                1
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
                            <span class="js-step-title-text">
                                Job role
                            </span>
                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                        </button>
                    </span>
                </h3>
            </div>
        </li>
        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step2' }} {{ 'app-step-nav__step--visited' if activePage == 'step3' or activePage == 'step4' or activePage == 'step5' or activePage == 'step6' or activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Stepwork</span>
                                2
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
                            <span class="js-step-title-text">
                                Job location
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>
        
        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step3' }} {{ 'app-step-nav__step--visited' if activePage == 'step4' or activePage == 'step5' or activePage == 'step6' or activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                3
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
                            <span class="js-step-title-text">
                                Job details
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>
        
        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step4' }} {{ 'app-step-nav__step--visited' if activePage == 'step5' or activePage == 'step6' or activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                4
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
                            <span class="js-step-title-text">
                                Working pattern details
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>

        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step5' }} {{ 'app-step-nav__step--visited' if activePage == 'step6' or activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}5{% else %}4{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Pay package
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>

        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step6' }} {{ 'app-step-nav__step--visited' if activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                6
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Important dates and deadlines
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>

        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step7' }} {{ 'app-step-nav__step--visited' if activePage == 'step8' or activePage == 'step9'  }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                7
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Applying for the job
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>

        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step8' }} {{ 'app-step-nav__step--visited' if activePage == 'step9' or activePage == 'step10'  }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}8{% else %}7{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Supporting documents
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>

        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step9' }} {{ 'app-step-nav__step--visited' if activePage == 'step10' }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}9{% else %}8{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Job summary
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>
        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step10' }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}10{% else %}9{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Review the job listing
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>
    </ol>
  </div>
{% else %}
  <div id="step-by-step-navigation" class="app-step-nav app-step-nav--active">
    <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step0' }} {{ 'app-step-nav__step--visited' if activePage == 'step1' or activePage == 'step2' or activePage == 'step3' or activePage == 'step4' or activePage == 'step5' or activePage == 'step6' or activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                1
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
                            <span class="js-step-title-text">
                                Job role
                            </span>
                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                        </button>
                    </span>
                </h3>
            </div>
        </li>
        
        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step2' }} {{ 'app-step-nav__step--visited' if activePage == 'step3' or activePage == 'step4' or activePage == 'step5' or activePage == 'step6' or activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}3{% else %}2{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
                            <span class="js-step-title-text">
                                Job details
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>
        
        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step3' }} {{ 'app-step-nav__step--visited' if activePage == 'step4' or activePage == 'step5' or activePage == 'step6' or activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}4{% else %}3{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
                            <span class="js-step-title-text">
                                Working pattern details
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>

        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step4' }} {{ 'app-step-nav__step--visited' if activePage == 'step5' or activePage == 'step6' or activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}5{% else %}4{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Pay package
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>

        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step5' }} {{ 'app-step-nav__step--visited' if activePage == 'step6' or activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}6{% else %}5{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Important dates and deadlines
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>

        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step6' }} {{ 'app-step-nav__step--visited' if activePage == 'step7' or activePage == 'step8' or activePage == 'step9'  }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}7{% else %}6{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Applying for the job
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>

        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step7' }} {{ 'app-step-nav__step--visited' if activePage == 'step8' or activePage == 'step9'  }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}8{% else %}7{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Supporting documents
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>

        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step8' }} {{ 'app-step-nav__step--visited' if activePage == 'step9' }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}9{% else %}8{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Job summary
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>
        <li class="app-step-nav__step js-step {{ 'app-step-nav__step--active' if activePage == 'step9' }}" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                            <span class="app-step-nav__circle-background">
                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                {% if isMultiSchool == "true" %}10{% else %}9{% endif %}
                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                            </span>
                        </span>
                    </span>

                    <span class="js-step-title">
                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                            <span class="js-step-title-text">
                                Review the job listing
                            </span>
                        </button>
                    </span>
                </h3>
            </div>
        </li>
    </ol>
  </div>
{% endif %}