{% set primaryLabel %}
  Key stage <span class="govuk-!-font-weight-regular">(optional)</span>
{% endset %}

<!-- Primary subject -->
{{ govukCheckboxes({
  fieldset: {
    legend: {
      html: primaryLabel,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "What key stage(s) will the role focus on?"
  },
  items: [
    {
      text: "Early years"
    },
    {
      text: "KS1"
    },
    {
      text: "KS2"
    }
  ]
} | decorateAttributes(data, "data.job.keyStage")) }}