<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="subject">
    Subject <span class="govuk-!-font-weight-regular">(optional)</span>
  </label>
  <span id="subject-hint" class="govuk-hint">
      What subject(s) will the role focus on?
  </span>
  <div class="app-c-option-select__filter">
      <label for="input-ee7cd429" class="govuk-label govuk-visually-hidden">
          Filter Show only
      </label>
      <input name="option-select-filter" id="input-ee7cd429" class="app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-604a86d4-count" aria-controls="checkboxes-604a86d4">
  </div>
  <div class="checkboxes-container">

      <div class="govuk-!-margin-bottom-6">
        <div class="searchable-collection-component">
          <div class="searchable-collection-component--border searchable-collection-component--scrollable">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes--small checkbox-label__bold" data-module="govuk-checkboxes">
                  <input type="hidden" name="publishers_job_listing_job_details_form[subjects][]" value="">
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-accounting-field" class="govuk-checkboxes__input"
                      aria-describedby="publishers-job-listing-job-details-form-subjects-accounting-hint" type="checkbox"
                      value="Accounting" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-accounting-field"
                      class="govuk-label govuk-checkboxes__label">Accounting</label><span
                      class="govuk-hint govuk-checkboxes__hint"
                      id="publishers-job-listing-job-details-form-subjects-accounting-hint">includes Finance and
                      accounting</span></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-art-and-design-field"
                      class="govuk-checkboxes__input" type="checkbox" value="Art and design"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-art-and-design-field"
                      class="govuk-label govuk-checkboxes__label">Art and design</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-bengali-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Bengali" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-bengali-field"
                      class="govuk-label govuk-checkboxes__label">Bengali</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-biology-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Biology" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-biology-field"
                      class="govuk-label govuk-checkboxes__label">Biology</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-business-studies-field"
                      class="govuk-checkboxes__input" type="checkbox" value="Business studies"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-business-studies-field"
                      class="govuk-label govuk-checkboxes__label">Business studies</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-chemistry-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Chemistry" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-chemistry-field"
                      class="govuk-label govuk-checkboxes__label">Chemistry</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-citizenship-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Citizenship" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-citizenship-field"
                      class="govuk-label govuk-checkboxes__label">Citizenship</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-classics-field" class="govuk-checkboxes__input"
                      aria-describedby="publishers-job-listing-job-details-form-subjects-classics-hint" type="checkbox"
                      value="Classics" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-classics-field"
                      class="govuk-label govuk-checkboxes__label">Classics</label><span
                      class="govuk-hint govuk-checkboxes__hint"
                      id="publishers-job-listing-job-details-form-subjects-classics-hint">includes Latin</span></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-computing-field" class="govuk-checkboxes__input"
                      aria-describedby="publishers-job-listing-job-details-form-subjects-computing-hint" type="checkbox"
                      value="Computing" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-computing-field"
                      class="govuk-label govuk-checkboxes__label">Computing</label><span
                      class="govuk-hint govuk-checkboxes__hint"
                      id="publishers-job-listing-job-details-form-subjects-computing-hint">includes Computer science,
                      Information technology, and ICT</span></div>
                  <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-dance-field"
                      class="govuk-checkboxes__input" type="checkbox" value="Dance"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-dance-field"
                      class="govuk-label govuk-checkboxes__label">Dance</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-design-and-technology-field"
                      class="govuk-checkboxes__input"
                      aria-describedby="publishers-job-listing-job-details-form-subjects-design-and-technology-hint"
                      type="checkbox" value="Design and technology"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-design-and-technology-field"
                      class="govuk-label govuk-checkboxes__label">Design and technology</label><span
                      class="govuk-hint govuk-checkboxes__hint"
                      id="publishers-job-listing-job-details-form-subjects-design-and-technology-hint">includes Product
                      design, Textiles and Systems and control</span></div>
                  <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-drama-field"
                      class="govuk-checkboxes__input"
                      aria-describedby="publishers-job-listing-job-details-form-subjects-drama-hint" type="checkbox"
                      value="Drama" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-drama-field"
                      class="govuk-label govuk-checkboxes__label">Drama</label><span class="govuk-hint govuk-checkboxes__hint"
                      id="publishers-job-listing-job-details-form-subjects-drama-hint">includes Theatre studies and Performing
                      arts</span></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-early-years-field" class="govuk-checkboxes__input"
                      aria-describedby="publishers-job-listing-job-details-form-subjects-early-years-hint" type="checkbox"
                      value="Early years" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-early-years-field"
                      class="govuk-label govuk-checkboxes__label">Early years</label><span
                      class="govuk-hint govuk-checkboxes__hint"
                      id="publishers-job-listing-job-details-form-subjects-early-years-hint">includes EYFS</span></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-economics-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Economics" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-economics-field"
                      class="govuk-label govuk-checkboxes__label">Economics</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-engineering-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Engineering" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-engineering-field"
                      class="govuk-label govuk-checkboxes__label">Engineering</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-english-field" class="govuk-checkboxes__input"
                      aria-describedby="publishers-job-listing-job-details-form-subjects-english-hint" type="checkbox"
                      value="English" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-english-field"
                      class="govuk-label govuk-checkboxes__label">English</label><span
                      class="govuk-hint govuk-checkboxes__hint"
                      id="publishers-job-listing-job-details-form-subjects-english-hint">includes English language and
                      literature</span></div>
                  <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-food-field"
                      class="govuk-checkboxes__input"
                      aria-describedby="publishers-job-listing-job-details-form-subjects-food-hint" type="checkbox"
                      value="Food" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-food-field"
                      class="govuk-label govuk-checkboxes__label">Food</label><span class="govuk-hint govuk-checkboxes__hint"
                      id="publishers-job-listing-job-details-form-subjects-food-hint">includes Hospitality and catering</span>
                  </div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-french-field" class="govuk-checkboxes__input"
                      type="checkbox" value="French" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-french-field"
                      class="govuk-label govuk-checkboxes__label">French</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-geography-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Geography" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-geography-field"
                      class="govuk-label govuk-checkboxes__label">Geography</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-german-field" class="govuk-checkboxes__input"
                      type="checkbox" value="German" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-german-field"
                      class="govuk-label govuk-checkboxes__label">German</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-health-and-social-care-field"
                      class="govuk-checkboxes__input" type="checkbox" value="Health and social care"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-health-and-social-care-field"
                      class="govuk-label govuk-checkboxes__label">Health and social care</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-history-field" class="govuk-checkboxes__input"
                      type="checkbox" value="History" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-history-field"
                      class="govuk-label govuk-checkboxes__label">History</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-humanities-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Humanities" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-humanities-field"
                      class="govuk-label govuk-checkboxes__label">Humanities</label></div>
                  <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-ict-field"
                      class="govuk-checkboxes__input" type="checkbox" value="ICT"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-ict-field"
                      class="govuk-label govuk-checkboxes__label">ICT</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-italian-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Italian" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-italian-field"
                      class="govuk-label govuk-checkboxes__label">Italian</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-japanese-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Japanese" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-japanese-field"
                      class="govuk-label govuk-checkboxes__label">Japanese</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-languages-field" class="govuk-checkboxes__input"
                      aria-describedby="publishers-job-listing-job-details-form-subjects-languages-hint" type="checkbox"
                      value="Languages" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-languages-field"
                      class="govuk-label govuk-checkboxes__label">Languages</label><span
                      class="govuk-hint govuk-checkboxes__hint"
                      id="publishers-job-listing-job-details-form-subjects-languages-hint">includes MFL (Modern Foreign
                      Languages)</span></div>
                  <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-law-field"
                      class="govuk-checkboxes__input" type="checkbox" value="Law"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-law-field"
                      class="govuk-label govuk-checkboxes__label">Law</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-mandarin-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Mandarin" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-mandarin-field"
                      class="govuk-label govuk-checkboxes__label">Mandarin</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-mathematics-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Mathematics" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-mathematics-field"
                      class="govuk-label govuk-checkboxes__label">Mathematics</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-media-studies-field"
                      class="govuk-checkboxes__input" type="checkbox" value="Media studies"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-media-studies-field"
                      class="govuk-label govuk-checkboxes__label">Media studies</label></div>
                  <div class="govuk-checkboxes__item"><input id="publishers-job-listing-job-details-form-subjects-music-field"
                      class="govuk-checkboxes__input" type="checkbox" value="Music"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-music-field"
                      class="govuk-label govuk-checkboxes__label">Music</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-philosophy-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Philosophy" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-philosophy-field"
                      class="govuk-label govuk-checkboxes__label">Philosophy</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-physical-education-field"
                      class="govuk-checkboxes__input" type="checkbox" value="Physical education"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-physical-education-field"
                      class="govuk-label govuk-checkboxes__label">Physical education</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-physics-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Physics" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-physics-field"
                      class="govuk-label govuk-checkboxes__label">Physics</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-politics-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Politics" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-politics-field"
                      class="govuk-label govuk-checkboxes__label">Politics</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-psychology-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Psychology" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-psychology-field"
                      class="govuk-label govuk-checkboxes__label">Psychology</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-relationships-and-sex-education-field"
                      class="govuk-checkboxes__input" type="checkbox" value="Relationships and sex education"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-relationships-and-sex-education-field"
                      class="govuk-label govuk-checkboxes__label">Relationships and sex education</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-religious-education-field"
                      class="govuk-checkboxes__input"
                      aria-describedby="publishers-job-listing-job-details-form-subjects-religious-education-hint"
                      type="checkbox" value="Religious education"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-religious-education-field"
                      class="govuk-label govuk-checkboxes__label">Religious education</label><span
                      class="govuk-hint govuk-checkboxes__hint"
                      id="publishers-job-listing-job-details-form-subjects-religious-education-hint">includes Religious
                      studies</span></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-russian-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Russian" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-russian-field"
                      class="govuk-label govuk-checkboxes__label">Russian</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-science-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Science" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-science-field"
                      class="govuk-label govuk-checkboxes__label">Science</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-social-sciences-field"
                      class="govuk-checkboxes__input" type="checkbox" value="Social sciences"
                      name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-social-sciences-field"
                      class="govuk-label govuk-checkboxes__label">Social sciences</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-sociology-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Sociology" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-sociology-field"
                      class="govuk-label govuk-checkboxes__label">Sociology</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-spanish-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Spanish" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-spanish-field"
                      class="govuk-label govuk-checkboxes__label">Spanish</label></div>
                  <div class="govuk-checkboxes__item"><input
                      id="publishers-job-listing-job-details-form-subjects-statistics-field" class="govuk-checkboxes__input"
                      type="checkbox" value="Statistics" name="publishers_job_listing_job_details_form[subjects][]"><label
                      for="publishers-job-listing-job-details-form-subjects-statistics-field"
                      class="govuk-label govuk-checkboxes__label">Statistics</label></div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      
  </div>
</div>