<div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="subject">
    Search job listings 
  </label>
  <span id="subject-hint" class="govuk-hint">
    Search by job title
  </span>
  <div class="app-c-option-select__filter">
      <label for="input-ee7cd429" class="govuk-label govuk-visually-hidden">
          Filter Show only
      </label>
      <input name="option-select-filter" id="input-ee7cd429" class="app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-604a86d4-count" aria-controls="checkboxes-604a86d4">
  </div>
  <div class="checkboxes-container">

      <div class="govuk-!-margin-bottom-6">
        <div class="searchable-collection-component">
          <div class="searchable-collection-component--border searchable-collection-component--scrollable">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes--small checkbox-label__bold" data-module="govuk-checkboxes">
                  <input type="hidden" name="publishers_job_listing_job_details_form[subjects][]" value="">

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item govuk-radios--small">
                            <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                            <label class="govuk-label govuk-radios__label" for="sign-in">
                            Tutor of PE
                            </label>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Closing date: 10 March 2021
                            </div>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Bexleyheath Academy
                        </div>
                    </div>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item govuk-radios--small">
                            <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                            <label class="govuk-label govuk-radios__label" for="sign-in">
                            PROGRESS LEADER (HEAD OF DEPARTMENT) FOR RS, PSHE, RSE AND CITIZENSHIP EDUCATION WITH TLR 2 £6698
                            </label>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Closing date: 10 March 2021
                            </div>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Bexleyheath Academy
                        </div>
                    </div>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item govuk-radios--small">
                            <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                            <label class="govuk-label govuk-radios__label" for="sign-in">
                            Teacher of Science
                            </label>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Closing date: 11 November 2021
                            </div>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Bexleyheath Academy
                        </div>
                    </div>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item govuk-radios--small">
                            <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                            <label class="govuk-label govuk-radios__label" for="sign-in">
                            ECT Computing / ICT Teacher
                            </label>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Closing date: 04 October 2021
                            </div>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Bexleyheath Academy
                        </div>
                    </div>
                
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      
  </div>
</div>