{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "/",
      serviceName: serviceName,
      serviceUrl: "dashboard",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "dashboard",
        text: "Manage jobs"
      },
      {
        href: "my-schools",
        text: "Schools in your trust"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="create-title">
        <h1 class="govuk-heading-m">Create a job listing for {{ data['mat-name'] }}</h1>
        <h5 class="govuk-heading-m">Step 8 of 8</h5>
        <a href="javascript:history.back()" class="govuk-back-link">Back</a>
    </div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Review the job listing</h2>
                <p>Review the job details and make any necessary changes before submitting it for publication below</p>

                

                <ol class="app-task-list">
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">1.
                            </span>
                            Job location
                            <a href="1-location-a">Change</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4 id="location-trigger">{{ data['trust-location'] }}</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p id="trustz"> 
                                            {{ data['mat-name'] }}<br>{{ data['mat-address'] }}
                                        </p>
                                        <p id="schoolz">
                                            {{ data['school'] }}
                                        </p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">2.
                            </span>
                            Job details
                            <a href="2-job-details">Change</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Job title</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['job-title'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Job role</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['job-role'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Subject</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['subject'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Working pattern</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['pattern'] }}</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">3.
                            </span>
                            Pay package
                            <a href="3-pay-package">Change</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Salary</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['salary'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Employee benefits</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['benefits'] }}</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">4.
                            </span>
                            Important dates and deadlines
                            <a href="4-important">Change</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Date job will be listed</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>13 July 2020</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Application deadline</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>30 July 2020 at 9:00 am</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Date job starts</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>2 September 2020</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">5.
                            </span>
                            Supporting documents
                            <a href="5-supporting-1">Change</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Document 1</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>application-pack.doc</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Document 2</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>job-specification.pdf</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">6.
                            </span>
                            Applying for the job
                            <a href="6-applying">Change</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Contact email</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['email'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>School visit instructions</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['visits'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Application instructions</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['apply'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Link to online application</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['link'] }}</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">7.
                            </span>
                            Job summary
                            <a href="7-summary">Change</a>
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>Job summary</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['summary'] }}</p>
                                    </dd>
                                </div>
                            </li>
                            <li class="app-task-list__item">
                                <div class="app-check-your-answers__contents">
                                    <dt class="app-check-your-answers__question">
                                        <h4>About {{ data['mat-name'] }} and/or specific school</h4>
                                    </dt>
                                    <dd class="app-check-your-answers__answer">
                                        <p>{{ data['trust-summary'] }}</p>
                                    </dd>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ol>

                <h3>Preview this job listing</h3>
                <p>See how this job listing will appear to jobseekers on Teaching Vacancies</p>
                <a class="govuk-button" href="preview-trust" id="p-trust">Preview job listing</a>
                <a class="govuk-button" href="preview-multiple" id="p-multiple">Preview job listing</a>
                <h3>Submit this listing for publication on 30 June 2020</h3>
                <p>By publishing this job you agree to our <a href="#">terms and conditions</a> for schools and confirm that the details you have provided are, to the best of your knowledge, correct</p>
                <a href="9-success" class="govuk-button govuk-button--secondary">Confirm and submit job</a>
                <p><a href="#">Save and return later</a></p>

            </div>
            <!-- Main content END -->

            <!-- Sidebar START -->
            <div class="govuk-grid-column-one-third">
                <!-- STEP HEADER START -->
                <div class="app-step-nav-related app-step-nav-related--singular">
                    <h2 class="app-step-nav-related__heading">
                        <span class="app-step-nav-related__pretitle">Creating a job listing steps</span>
                        <!--
                        <a href="#">
                            Learn to drive a car: step by step
                        </a>
                        -->
                    </h2>
                </div>
                <!-- STEP HEADER END -->
                <div id="step-by-step-navigation" class="app-step-nav app-step-nav--active">
                    <!--
                    <div class="app-step-nav__controls">
                        <button aria-expanded="false" class="app-step-nav__button app-step-nav__button--controls js-step-controls-button" aria-controls="step-panel-check-youre-allowed-to-drive-1">Show all</button>
                    </div>
                    -->
                    <ol class="app-step-nav__steps">
                        <li class="app-step-nav__step js-step app-step-nav__step--visited" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
                            <div class="app-step-nav__header js-toggle-panel" data-position="1">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                1
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
                                            <span class="js-step-title-text">
                                                Job location
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>
                        <li class="app-step-nav__step js-step app-step-nav__step--visited" aria-current="step" data-show="" id="check-youre-allowed-to-drive">
                            <div class="app-step-nav__header js-toggle-panel" data-position="1">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                2
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-youre-allowed-to-drive-1">
                                            <span class="js-step-title-text">
                                                Job details
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>
                        <li class="app-step-nav__step js-step app-step-nav__step--visited" id="get-a-provisional-licence">
                            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                3
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                                            <span class="js-step-title-text">
                                                Pay package
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>

                        <li class="app-step-nav__step js-step app-step-nav__step--visited" id="get-a-provisional-licence">
                            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                4
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                                            <span class="js-step-title-text">
                                                Important dates and deadlines
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>
                        <li class="app-step-nav__step js-step app-step-nav__step--visited" id="get-a-provisional-licence">
                            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                5
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                                            <span class="js-step-title-text">
                                                Supporting documents
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>
                        <li class="app-step-nav__step js-step app-step-nav__step--visited" id="get-a-provisional-licence">
                            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                6
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                                            <span class="js-step-title-text">
                                                Applying for the job
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>
                        <li class="app-step-nav__step js-step app-step-nav__step--visited" id="get-a-provisional-licence">
                            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                7
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                                            <span class="js-step-title-text">
                                                Job summary
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>
                        <li class="app-step-nav__step js-step app-step-nav__step--active" id="get-a-provisional-licence">
                            <div class="app-step-nav__header js-toggle-panel" data-position="2">
                                <h3 class="app-step-nav__title">
                                    <span class="app-step-nav__circle app-step-nav__circle--number">
                                        <span class="app-step-nav__circle-inner">
                                            <span class="app-step-nav__circle-background">
                                                <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span>
                                                8
                                                <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="js-step-title">
                                        <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
                                            <span class="js-step-title-text">
                                                Review the job listing
                                            </span>
                                            <!-- <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span> -->
                                        </button>
                                    </span>
                                </h3>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- Sidebar END -->

        </main>
    </div>

{% endblock %}
