{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% set bodyClasses = "bespoke-width" %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "/",
      serviceName: serviceName,
      serviceUrl: "index",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "dashboard",
        text: "Manage jobs"
      },
      {
        href: "my-schools",
        text: "Schools in your trust"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<!-- LISTINGS START -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


        <h1 class="govuk-heading-l">Jobs at {{ data['mat-name'] }}</h1>

        <div class="moj-filter-layout">

            <!-- START Filter panel -->
            <div class="moj-filter-layout__filter" id="filterID" style="display: none;">
                <div class="moj-filter" tabindex="-1">

                    <div class="moj-filter__header">
                        <div class="moj-filter__header-title">
                            <h2 class="govuk-heading-s">Job filters</h2>
                        </div>
                    </div>
        
                    <div class="moj-filter__content">
                        <!-- START Selected block -->
                        <!--  
                        <div class="moj-filter__selected">
                            <div class="moj-filter__selected-heading">
                                <div class="moj-filter__heading-title">
                                    <h2 class="govuk-heading-s">Selected filters</h2>
                                </div>
                                <div class="moj-filter__heading-action">
                                    <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                                </div>
                            </div>
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Locations</h3>
                            <ul class="moj-filter-tags">
                                <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>{{ data['mat-name3'] }}</a></li>
                                <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>{{ data['mat-name5'] }}</a></li>
                                <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>{{ data['mat-name6'] }}</a></li>
                            </ul>
                        </div>
                        -->
                        <!-- END Selected block -->
        
                        <div class="moj-filter__options">
                            <a href="dashboard-applied" class="govuk-button">Apply filters</a>

                            <!-- START Form group -->
                            <!--  
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">

                                </fieldset>
                            </div>
                            -->
                            <!-- END Form group -->

                            <!-- LOCATIONS START -->
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="locations">
                                    Locations
                                </label>
                                <!--  
                                <span id="subject-hint" class="govuk-hint">
                                    What subject(s) will the teacher focus on?
                                </span>
                                -->
                                <div class="app-c-option-select__filter">
                                    <label for="input-ee7cd429" class="govuk-label govuk-visually-hidden">
                                        Filter Show only
                                    </label>
                                    <input name="option-select-filter" id="input-ee7cd429" class="app-c-option-select__filter-input govuk-input" type="text" aria-describedby="checkboxes-604a86d4-count" aria-controls="checkboxes-604a86d4">
                                </div>
                                
                                <div class="checkboxes-container dashFilter-container">
                                    <!-- LOCATION checkstart -->
                                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="location1" name="locations" type="checkbox" value="Location 1">
                                            <label class="govuk-label govuk-checkboxes__label" for="location1">
                                                {{ data['mat-name'] }} (Trust head office) (0)<br>
                                                <!-- <span class="subject-hint">applies to examples such as primary school roles.</span> -->
                                            </label>
                                        </div>
                                    </div>
                                    <!-- LOCATION check end -->
                                    <!-- LOCATION checkstart -->
                                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="location2" name="locations" type="checkbox" value="Location 2">
                                            <label class="govuk-label govuk-checkboxes__label" for="location2">
                                                {{ data['mat-name2'] }} (2)<br>
                                                <!-- <span class="subject-hint">applies to examples such as primary school roles.</span> -->
                                            </label>
                                        </div>
                                    </div>
                                    <!-- LOCATION check end -->
                                    <!-- LOCATION checkstart -->
                                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="location3" name="locations" type="checkbox" value="Location 3">
                                            <label class="govuk-label govuk-checkboxes__label" for="location3">
                                                {{ data['mat-name3'] }} (0)<br>
                                                <!-- <span class="subject-hint">applies to examples such as primary school roles.</span> -->
                                            </label>
                                        </div>
                                    </div>
                                    <!-- LOCATION check end -->
                                    <!-- LOCATION checkstart -->
                                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="location4" name="locations" type="checkbox" value="Location 4">
                                            <label class="govuk-label govuk-checkboxes__label" for="location4">
                                                {{ data['mat-name4'] }} (2)<br>
                                                <!-- <span class="subject-hint">applies to examples such as primary school roles.</span> -->
                                            </label>
                                        </div>
                                    </div>
                                    <!-- LOCATION check end -->
                                    <!-- LOCATION checkstart -->
                                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="location5" name="locations" type="checkbox" value="Location 5">
                                            <label class="govuk-label govuk-checkboxes__label" for="location5">
                                                {{ data['mat-name5'] }} (1)<br>
                                                <!-- <span class="subject-hint">applies to examples such as primary school roles.</span> -->
                                            </label>
                                        </div>
                                    </div>
                                    <!-- LOCATION check end -->
                                    <!-- LOCATION checkstart -->
                                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="location6" name="locations" type="checkbox" value="Location 6">
                                            <label class="govuk-label govuk-checkboxes__label" for="location6">
                                                {{ data['mat-name6'] }} (3)<br>
                                                <!-- <span class="subject-hint">applies to examples such as primary school roles.</span> -->
                                            </label>
                                        </div>
                                    </div>
                                    <!-- LOCATION check end -->
                                    <!-- LOCATION checkstart -->
                                    <div class="govuk-checkboxes govuk-checkboxes--small ">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="location7" name="locations" type="checkbox" value="Location 7">
                                            <label class="govuk-label govuk-checkboxes__label" for="location7">
                                                {{ data['mat-name7'] }} (3)<br>
                                                <!-- <span class="subject-hint">applies to examples such as primary school roles.</span> -->
                                            </label>
                                        </div>
                                    </div>
                                    <!-- LOCATION check end -->
                                </div>
                                
                            </div>
                            <!-- LOCATIONS END -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- END Filter panel -->

            <!-- START Tabs content -->
            <div class="moj-filter-layout__content">

                <!-- START moj-action-bar -->
                <div class="moj-action-bar">
                    <div class="moj-action-bar__filter">
                        <button class="govuk-button govuk-button--secondary" id="toggle-filter">
                            Show filters
                        </button>
                        <span>Showing all jobs</span>
                        <a href="1-location-a" class="govuk-button" id="btn-create">Create a job listing</a>
                    </div>
                </div>
                <!-- END moj-action-bar -->
                
                <!-- START moj-scrollable-pane -->
                <div class="moj-scrollable-pane">
                    <div class="moj-scrollable-pane__wrapper">

                        <div class="test-divvy">
                            <div class="govuk-tabs">
                                <h2 class="govuk-tabs__title">
                                    <span class="translation_missing" title="translation missing: en.aria_labels.content">Content</span>
                                </h2>
                                <ul class="govuk-!-margin-top-6 govuk-tabs__list tab-list">
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                        <a class="govuk-tabs__tab" href="dashboard">Published jobs</a>
                                    </li>
                                    <li class="govuk-tabs__list-item ">
                                        <a class="govuk-tabs__tab" href="#">Scheduled jobs</a>
                                    </li>
                                    <li class="govuk-tabs__list-item ">
                                        <a class="govuk-tabs__tab" href="#">Draft jobs</a>
                                    </li>
                                    <li class="govuk-tabs__list-item ">
                                        <a class="govuk-tabs__tab" href="#">Expired jobs</a>
                                    </li>
                                    <li class="govuk-tabs__list-item ">
                                        <a class="govuk-tabs__tab" href="#">Jobs awaiting feedback
                                            <!-- <span class="notification" data-test="expired-vacancies-with-feedback-outstanding">8</span>  -->
                                        </a>
                                    </li>
                                </ul>
                                <section class="govuk-tabs__panel">

                                    <h2 class="govuk-heading-m">12 Published jobs</h2>

                                    <!-- TABLE start -->
                                    <table class="vacancies govuk-table govuk-!-margin-top-4">
                                        <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                                <th class="govuk-table__header">
                                                    Job title
                                                </th>
                                                <th class="govuk-table__header">
                                                    <a class="govuk-link sortable-link sortby--asc" aria-label="Sort jobs by Date posted in ascending order" href="#">Location</a>
                                                </th>
                                                <th class="govuk-table__header">
                                                    <a class="govuk-link sortable-link sortby--asc" aria-label="Sort jobs by Date posted in ascending order" href="#">Created by</a>
                                                </th>
                                                <th class="govuk-table__header">
                                                    <a class="govuk-link sortable-link sortby--asc" aria-label="Sort jobs by Date posted in ascending order" href="#">Date posted</a>
                                                </th>
                                                <th class="govuk-table__header">
                                                    <a class="govuk-link sortable-link sortby--desc active" aria-label="Sort jobs by Closing date in descending order" href="#">Closing date</a>
                                                </th>
                                                <th class="govuk-table__header">
                                                    <a class="govuk-link sortable-link sortby--asc" aria-label="Sort jobs by Total views in ascending order" href="#">Total views</a>
                                                </th>
                                                <th class="govuk-table__header" colspan="3">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Teacher of Maths</a>
                                                </td>
                                                <td class="govuk-table__cell">{{ data['mat-name2'] }}</td>
                                                <td class="govuk-table__cell">Rebecca Stevenson</td>
                                                <td class="govuk-table__cell">1 March 2020</td>
                                                <td class="govuk-table__cell">1 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Key Stage 2 Teacher with English Specialism</a>
                                                </td>
                                                <td class="govuk-table__cell">{{ data['mat-name2'] }}</td>
                                                <td class="govuk-table__cell">Anne Roberts</td>
                                                <td class="govuk-table__cell">1 March 2020</td>
                                                <td class="govuk-table__cell">1 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Deputy Headteacher</a>
                                                </td>
                                                <td class="govuk-table__cell">{{ data['mat-name7'] }}</td>
                                                <td class="govuk-table__cell">Rebecca Stevenson</td>
                                                <td class="govuk-table__cell">19 February 2020</td>
                                                <td class="govuk-table__cell">1 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Director of Performance</a>
                                                </td>
                                                <td class="govuk-table__cell">{{ data['mat-name'] }}</td>
                                                <td class="govuk-table__cell">Anne Roberts</td>
                                                <td class="govuk-table__cell">19 February 2020</td>
                                                <td class="govuk-table__cell">19 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Teacher of Drama</a>
                                                </td>
                                                <td class="govuk-table__cell">{{ data['mat-name5'] }}</td>
                                                <td class="govuk-table__cell">Rebecca Stevenson</td>
                                                <td class="govuk-table__cell">12 February 2020</td>
                                                <td class="govuk-table__cell">12 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Principal</a>
                                                </td>
                                                <td class="govuk-table__cell">More than one school</td>
                                                <td class="govuk-table__cell">Anne Roberts</td>
                                                <td class="govuk-table__cell">5 February 2020</td>
                                                <td class="govuk-table__cell">5 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Head of Humanities</a>
                                                </td>
                                                <td class="govuk-table__cell">More than one school</td>
                                                <td class="govuk-table__cell">Anne Roberts</td>
                                                <td class="govuk-table__cell">5 February 2020</td>
                                                <td class="govuk-table__cell">5 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Teacher of Ethical Studies</a>
                                                </td>
                                                <td class="govuk-table__cell">More than one school</td>
                                                <td class="govuk-table__cell">Rebecca Stevenson</td>
                                                <td class="govuk-table__cell">13 January 2020</td>
                                                <td class="govuk-table__cell">13 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Director of Music</a>
                                                </td>
                                                <td class="govuk-table__cell">{{ data['mat-name5'] }}</td>
                                                <td class="govuk-table__cell">Chris Jennings</td>
                                                <td class="govuk-table__cell">13 January 2020</td>
                                                <td class="govuk-table__cell">13 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Teacher of Maths</a>
                                                </td>
                                                <td class="govuk-table__cell">{{ data['mat-name6'] }}</td>
                                                <td class="govuk-table__cell">Jamal Smith</td>
                                                <td class="govuk-table__cell">10 December 2019</td>
                                                <td class="govuk-table__cell">10 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Primary ICT Technician</a>
                                                </td>
                                                <td class="govuk-table__cell">{{ data['mat-name'] }}</td>
                                                <td class="govuk-table__cell">Jamal Smith</td>
                                                <td class="govuk-table__cell">10 December 2019</td>
                                                <td class="govuk-table__cell">10 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row school_vacancy_presenter vacancy">
                                                <td class="govuk-table__cell">
                                                    <a class="govuk-link view-vacancy-link" href="job-listing">Head of Careers</a>
                                                </td>
                                                <td class="govuk-table__cell">{{ data['mat-name'] }}</td>
                                                <td class="govuk-table__cell">Chris Jennings</td>
                                                <td class="govuk-table__cell">10 December 2019</td>
                                                <td class="govuk-table__cell">10 July 2020</td>
                                                <td class="govuk-table__cell">0</td>
                                                <td class="govuk-table__cell action-links">
                                                    <a class="govuk-link" href="#">Edit</a>
                                                    <a class="govuk-link" href="#">Copy</a>
                                                    <a class="govuk-link" href="#">Delete</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- TABLE end -->
                                
                                </section>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END moj-scrollable-pane -->

            </div>
            <!-- END Tabs content -->

        </div>

    </div>
</div>
<!-- LISTINGS END -->

{% endblock %}
