{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% set bodyClasses = "bespoke-width" %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "/",
      serviceName: serviceName,
      serviceUrl: "index",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "dashboard",
        text: "Manage jobs"
      },
      {
        href: "my-schools",
        text: "Schools in your trust"
      },
      {
        href: "#",
        text: "View public jobs"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<!-- <a href="javascript:history.back()" class="govuk-back-link">Back to home</a> -->

<div class="govuk-grid-row">

    <!-- Main content START -->
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Schools in your trust</h1>
        <p class="govuk-body-l">Jobseekers will see this information in job listings about the schools and job locations within the trust</p>

        <ul class="mySchools">
            <li class="">
                <h3 class="govuk-heading-l">{{ data['mat-name'] }}</h3>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Description</th>
                            <td class="govuk-table__cell">Trust head office <br>Sweet Valley Trust is a busy and vibrant multi-academy trust situated right in the heart of Sheffield’s, culturally diverse... <br><a href="#">View more or change</a> </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Trust address</th>
                            <td class="govuk-table__cell">{{ data['mat-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Trust type</th>
                            <td class="govuk-table__cell">Multi-academy trust</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">UID</th>
                            <td class="govuk-table__cell">102121</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>

        <h2 class="mySchools-title govuk-heading-l">Schools (6)</h2>
        <ul class="mySchools">
            <!-- SCHOOL start -->
            <li class="school-trust">
                <h3 class="govuk-heading-m">{{ data['mat-name2'] }}</h3>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Description</th>
                            <td class="govuk-table__cell">Working at Heartford High: Ofsted awarded the school an outstanding grade... <br><a href="#">View more or change</a> </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name2-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School age</th>
                            <td class="govuk-table__cell">11 to 18</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School type</th>
                            <td class="govuk-table__cell">Multi-academy trust</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">282727</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <!-- SCHOOL end -->
            <!-- SCHOOL start -->
            <li class="school-trust">
                <h3 class="govuk-heading-m">{{ data['mat-name3'] }}</h3>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Description</th>
                            <td class="govuk-table__cell">Working at Degrassi High School: Ofsted awarded the school an outstanding grade.... <br><a href="#">View more or change</a> </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name3-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School age</th>
                            <td class="govuk-table__cell">11 to 18</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School type</th>
                            <td class="govuk-table__cell">Multi-academy trust</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">282727</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <!-- SCHOOL end -->
            <!-- SCHOOL start -->
            <li class="school-trust">
                <h3 class="govuk-heading-m">{{ data['mat-name4'] }}</h3>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Description</th>
                            <td class="govuk-table__cell">Working at Bayside High School: Ofsted awarded the school an outstanding grade... <br><a href="#">View more or change</a> </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name4-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School age</th>
                            <td class="govuk-table__cell">11 to 18</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School type</th>
                            <td class="govuk-table__cell">Multi-academy trust</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">282727</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <!-- SCHOOL end -->
            <!-- SCHOOL start -->
            <li class="school-trust">
                <h3 class="govuk-heading-m">{{ data['mat-name5'] }}</h3>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Description</th>
                            <td class="govuk-table__cell">Working at Rydell High: Ofsted awarded the school an outstanding grade... <br><a href="#">View more or change</a> </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name5-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School age</th>
                            <td class="govuk-table__cell">11 to 18</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School type</th>
                            <td class="govuk-table__cell">Multi-academy trust</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">282727</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <!-- SCHOOL end -->
            <!-- SCHOOL start -->
            <li class="school-trust">
                <h3 class="govuk-heading-m">{{ data['mat-name6'] }}</h3>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Description</th>
                            <td class="govuk-table__cell">Working at Shermer High School: Ofsted awarded the school an outstanding grade... <br><a href="#">View more or change</a> </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name6-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School age</th>
                            <td class="govuk-table__cell">11 to 18</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School type</th>
                            <td class="govuk-table__cell">Multi-academy trust</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">282727</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <!-- SCHOOL end -->
            <!-- SCHOOL start -->
            <li class="school-trust">
                <h3 class="govuk-heading-m">{{ data['mat-name7'] }}</h3>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Description</th>
                            <td class="govuk-table__cell">Working at North Shore High School: Ofsted awarded the school an outstanding grade... <br><a href="#">View more or change</a> </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School address</th>
                            <td class="govuk-table__cell">{{ data['mat-name7-address'] }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School age</th>
                            <td class="govuk-table__cell">11 to 18</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">School type</th>
                            <td class="govuk-table__cell">Multi-academy trust</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">URN</th>
                            <td class="govuk-table__cell">282727</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <!-- SCHOOL end -->
        </ul>

    </div>
    <!-- Main content END -->

    <!-- Sidebar START -->
    <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Is information missing or incorrect?
            </h2>
            <p>If a school in your trust is missing from this list, or the information isn't correct, please <a href="#">contact our support team</a>.</p>
        </aside>

    </div>
    <!-- Sidebar END -->

</div>

{% endblock %}
