{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "dashboard",
      serviceName: serviceName,
      serviceUrl: "dashboard",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "#",
        text: "Find a teaching job"
      },
      {
        href: "#",
        text: "List a teaching job"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-info-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-info-summary__title" id="error-summary-title">
            Preview of "{{ data['job-title'] }}"
        </h2>
        <div class="govuk-info-summary__body">
            <p>This is how your job listing will appear to jobseekers visiting Teaching Vacancies. You can make changes or, if you are happy with it and agree to our <a href="#">terms and conditions</a>, you can submit it for publication on 13 July 2020</p>
            <a href="9-success" class="govuk-button">Submit for publication</a>
            <a href="8-review" class="govuk-button govuk-button--secondary">Make changes</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="listing-title">
                <h1 class="govuk-heading-l">{{ data['job-title'] }}</h1>
                <h4 class="govuk-caption-l">{{ data['mat-name'] }}, {{ data['mat-address'] }}</h4>
            </div>
        </div>
    </div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <!-- Sidebar START -->
            <div class="govuk-grid-column-one-third">
                <aside class="dates">
                    <h2 class="govuk-heading-s">36 days remaining to apply</h2>
                    <ul class="test-timeline">
                        <li class="test-timeline__item">
                            <h3 class="test-timeline__title govuk-heading-s">
                                Expected start date
                            </h3>
                            <p class="test-timeline__by">02 September 2020</p>
                        </li>
                        <li class="test-timeline__item">
                            <h3 class="test-timeline__title govuk-heading-s">
                                Application deadline
                            </h3>
                            <p class="test-timeline__by">30 July 2020 at 09:00 am</p>
                        </li>
                        <li class="test-timeline__item">
                            <h3 class="test-timeline__title govuk-heading-s">
                                Date listed
                            </h3>
                            <p class="test-timeline__by">30 June 2020</p>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- Sidebar END -->

            <!-- Main content START -->
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-tabs tvs-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        Contents
                    </h2>
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#past-day">
                                Job details
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#past-week">
                                Trust overview
                            </a>
                        </li>
                    </ul>

                    <!-- JOB SECTION END -->
                    <section class="govuk-tabs__panel" id="past-day">

                        <h3 class="govuk-heading-m">Job details</h3>
                        <table class="govuk-table govuk-table-bespoke">
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__header govuk-!-width-one-third">Role</td>
                                    <td class="govuk-table__cell">{{ data['job-role'] }}</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__header">Subject</td>
                                    <td class="govuk-table__cell">{{ data['subject'] }}</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__header">Working pattern</td>
                                    <td class="govuk-table__cell">{{ data['pattern'] }}</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__header">Salary</td>
                                    <td class="govuk-table__cell">{{ data['salary'] }}</td>
                                </tr>
                                <!--
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__header">Payscale range [If selected]</td>
                                    <td class="govuk-table__cell">[Payscale]</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__header">Newly qualified teacher (NQT) [If selected]</td>
                                    <td class="govuk-table__cell">Yes</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__header">Leadership level [If selected]</td>
                                    <td class="govuk-table__cell">[Leadership level]</td>
                                </tr>
                                -->
                            </tbody>
                        </table>

                        <h4 class="govuk-heading-s">Job summary</h4>
                        <p class="govuk-body">
                            {{ data['summary'] }}
                        </p>
                        <h4 class="govuk-heading-s">Financial benefits</h4>
                        <p class="govuk-body">
                            {{ data['benefits'] }}
                        </p>
                        <h4 class="govuk-heading-s">Applying for the role</h4>
                        <p class="govuk-body">
                            {{ data['apply'] }}
                        </p>
                        <a href="#" class="govuk-button">More on how to apply</a>
                        <h4 class="govuk-heading-s">Supporting documents</h4>
                        <div class="supporting-docs">
                            <ul>
                                <li><a href="#" class="document-link">application-pack.doc</a> 3mb</li>
                                <li><a href="#" class="document-link">job-specification.pdf</a> 3mb</li>
                            </ul>
                        </div>


                    </section>
                    <!-- JOB SECTION END -->
                    <!-- SCHOOL SECTION START -->
                    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">

                        <h3 class="govuk-heading-m">Trust overview</h3>
                        <table class="govuk-table govuk-table-bespoke">
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__header">Trust type</td>
                                    <td class="govuk-table__cell">Multi-academy trust</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__header">Trust website</td>
                                    <td class="govuk-table__cell"><a href="#">Trust website link  (opens in a new window)</a></td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td scope="row" class="govuk-table__header">Contact email</td>
                                    <td class="govuk-table__cell"><a href="#">email@email.com</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <h4 class="govuk-heading-s">About {{ data['mat-name'] }}</h4>
                        <p class="govuk-body">{{ data['trust-summary'] }}</p>
                        <h4 class="govuk-heading-s">Arranging a visit to {{ data['mat-name'] }}</h4>
                        <p class="govuk-body">Please contact Mrs Clare Skelland on the email address above or by calling (0117) 928 2590</p>
                        <h4 class="govuk-heading-s">Trust location</h4>
                        <p class="govuk-body">
                            {{ data['mat-address'] }}
                        </p>
                        <!-- <p><a href="#">Plan your commute (opens in a new window)</a></p> -->
                        <div class="">
                            <img src="/public/images/hsjan20/map.png" alt="">
                        </div>



                    </section>
                    <!-- SCHOOL SECTION END -->
                </div>



            </div>
            <!-- Main content END -->

        </main>
    </div>




{% endblock %}
