{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "index",
      serviceName: serviceName,
      serviceUrl: "index",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "a-start",
        text: "Find a teaching job"
      },
      {
        href: "#",
        text: "List a teaching job"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Manage your job alert</h1>
    </div>
</div>

<div class="govuk-grid-row">

    <!-- Main content START -->
    <div class="govuk-grid-column-three-quarters">

        <p class="govuk-body-l">You currently receive an alert for any new jobs that match the following criteria:</p>
        <section class="criteria-highlight govuk-!-margin-bottom-6 govuk-!-padding-3">
            <ul class="govuk-!-margin-0 govuk-!-padding-0">
                <li class="govuk-!-font-size-19"><span>Keywords:</span> Primary teacher</li>
                <li class="govuk-!-font-size-19"><span>Location:</span> Stratford, London</li>
            </ul>
        </section>

        <!-- FORM Start -->
        <form class="" action="manage-success-email" method="post">

            <!-- METHOD start -->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="job-title">
                    How would you like to receive an alert? (<span class="text-red">required</span>)
                </label>
                <span id="job-title-hint" class="govuk-hint">
                    We'll only use it to send you job alerts
                </span>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <!-- RADIO item start -->
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional" checked="checked">
                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                            receive alerts by email
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="contact-by-email">
                            Email address
                            </label>
                            <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" placeholder="this-is-my-email@gmail.com">
                        </div>
                    </div>
                    <!-- RADIO item end -->
                    <!-- RADIO item start -->
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio" value="text" data-aria-controls="conditional-how-contacted-conditional-3">
                        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                            receive alerts by text message
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="contact-by-text">
                            Mobile phone number
                            </label>
                            <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-text" name="contact-by-text" type="tel">
                        </div>
                    </div>
                    <!-- RADIO item end -->
                </div>
            </div>
            <!-- METHOD end -->

            <!-- DELIVERY start -->
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="job-title">
                    When do you want to receive alerts? (<span class="text-red">required</span>)
                </label>
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="alert-delivery1" name="alert-delivery" type="radio" value="daily" checked="checked" {{ checked("alert-delivery", "daily") }}>
                        <label class="govuk-label govuk-radios__label" for="alert-delivery1">
                            Daily, at the end of the day (at approx 9pm)
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="alert-delivery2" name="alert-delivery" type="radio" value="weekly" {{ checked("alert-delivery", "weekly") }}>
                        <label class="govuk-label govuk-radios__label" for="alert-delivery2">
                            Weekly (Monday morning at approx 9 am)
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="alert-delivery3" name="alert-delivery" type="radio" value="asap" {{ checked("alert-delivery", "asap") }}>
                        <label class="govuk-label govuk-radios__label" for="alert-delivery3">
                            As soon as they are listed on Teaching Vacancies
                        </label>
                    </div>
                </div>
            </div>
            <!-- DELIVERY end -->

            <div class="alert-js-info">
                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path  fill-rule="evenodd" clip-rule="evenodd" d="M25 12.5C25 19.4009 19.4009 25 12.5 25C5.59911 25 0 19.4009 0 12.5C0 5.59911 5.59911 0 12.5 0C19.4009 0 25 5.59911 25 12.5ZM13.9403 7.39912V4.4643H10.7144V7.39912H13.9403ZM10.7144 21.0152V8.84999H13.9403V21.0152H10.7144Z"></path></svg>
                <p>You can unsubscribe at any time by following the simple instructions at the bottom of the alert</p>
            </div>

            <button class="govuk-button" data-module="govuk-button">Update alert</button>
            <br>
            <a href="#">Cancel</a>

        </form>
        <!-- FORM End -->

    </div>
    <!-- Main content END -->

    <!-- Sidebar START -->
    <div class="govuk-grid-column-one-quarter">

    </div>
    <!-- Sidebar END -->

</div>

{% endblock %}
