{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

<!-- {% set bodyClasses = "bespoke-width" %} -->

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "index",
    serviceName: serviceName,
    serviceUrl: "index",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "a-start",
        text: "Find a teaching job"
      },
      {
        href: "#",
        text: "List a teaching job"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!-- Search form - START -->
        <form class="start-search" autocomplete="off" >

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading govuk-heading-m">Find a job in teaching</h1>
                </legend>

                <div class="govuk-form-group">
                    <label class="govuk-label label-blue" for="keywords">Keywords</label>
                    <input class="govuk-input" id="keywords" name="keywords" type="text" placeholder="Job title or subject, for example">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label label-blue" for="location">Enter a location</label>
                    <div class="autocomplete">
                        <input class="govuk-input location" id="location" name="location" type="text" placeholder="City, town or postcode, for example">
                    </div>
                    <p>or <a href="#">use current location</a></p>
                </div>
                <!--  
                <div class="govuk-inset-text distance-start">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="sort">
                            Radius
                        </label>
                        <select class="govuk-select" id="sort" name="sort">
                            <option value="">Within 5 miles</option>
                            <option value="">Within 10 miles</option>
                            <option value="" selected="selected">Within 20 miles</option>
                            <option value="">Within 30 miles</option>
                            <option value="">Within 40 miles</option>
                            <option value="">Within 50 miles</option>
                        </select>
                    </div>
                </div>
                -->

                <button type="submit" class="govuk-button start-search" formaction="search-results">Search</button>
                <!-- <a href="#" class="govuk-button">Search</a> -->

            </fieldset>
        </form>
        <!-- Search form - END -->
    </div>

    <div class="govuk-grid-column-one-third">
        <!-- List - START -->
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">List a teaching job</h2>
            <p>You must sign in to your Teaching Vacancies account to list a job at your school.</p>
            <button type="submit" class="govuk-button">Sign in</button>
            <p>Don't have an account? Find out <a href="#">how to get one</a> if your school is eligible.</p>
        </aside>
        <!-- List - END -->
    </div>

</div>

<!-- Regions list START -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Explore teaching jobs by location</h2>
        <h3>English counties</h3>
        <ul class="four-column-list">
            <li><a href="#"><strong>Bedfordshire</strong></a> </li>
            <li><a href="#"><strong>Berkshire</strong></a> </li>
            <li><a href="#"><strong>Bristol</strong></a></li>
            <li><a href="#"><strong>Buckinghamshire</strong></a> </li>
            <li><a href="#"><strong>Cambridgeshire</strong></a> </li>
            <li><a href="#"><strong>Cheshire<em></em></strong></a> </li>
            <li><a href="#"><strong>Cornwall</strong></a> </li>
            <li><a href="#"><strong>County Durham</strong></a> </li>
            <li><a href="#"><strong>Cumberland</strong></a> </li>
            <li><a href="#"><strong>Derbyshire</strong></a> </li>
            <li><a href="#"><strong>Devon</strong></a> </li>
            <li><a href="#"><strong>Dorset</strong></a> </li>
            <li><a href="#"><strong>Essex</strong></a>  </li>
            <li><a href="#"><strong>Gloucestershire</strong></a> </li>
            <li><a href="#"><strong>Hampshire</strong></a> </li>
            <li><a href="#"><strong>Herefordshire</strong></a></li>
            <li><a href="#"><strong>Hertfordshire</strong></a> </li>
            <li><a href="#"><strong>Huntingdonshire</strong></a> </li>
            <li><a href="#"><strong>Kent</strong></a> </li>
            <li><a href="#"><strong>Lancashire</strong></a></li>
            <li><a href="#"><strong>Leicestershire</strong></a> </li>
            <li><a href="#"><strong>Lincolnshire</strong></a> </li>
            <li><a href="#"><strong>Middlesex</strong></a> </li>
            <li><a href="#"><strong>Norfolk</strong></a> </li>
            <li><a href="#"><strong>Northamptonshire</strong></a> </li>
            <li><a href="#"><strong>Northumberland</strong></a> </li>
            <li><a href="#"><strong>Nottinghamshire</strong></a> </li>
            <li><a href="#"><strong>Oxfordshire</strong></a> </li>
            <li><a href="#"><strong>Shropshire</strong></a></li>
            <li><a href="#"><strong>Somerset</strong></a> </li>
            <li><a href="#"><strong>Staffordshire</strong></a> </li>
            <li><a href="#"><strong>Suffolk</strong></a> </li>
            <li><a href="#"><strong>Surrey</strong></a></li>
            <li><a href="#"><strong>Sussex</strong></a></li>
            <li><a href="#"><strong>Warwickshire</strong></a> </li>
            <li><a href="#"><strong>Wiltshire</strong></a> </li>
            <li><a href="#"><strong>Worcestershire</strong></a></li>
            <li><a href="#"><strong>Yorkshire</strong></a> </li>
        </ul>
    </div>
</div>
<!-- Regions list END -->

{% endblock %}
