
{% extends "layout.njk" %}

{% set primaryNavId = 'account' %}
{% set title = 'Your account' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}
      </h1>

      <p><a href="#">Delete account</a></p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              text: user.emailAddress
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          } if user.emailAddress,
          {
            key: {
              text: "Email address"
            },
            value: {
              text: faker.email
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          } if user.emailAddress == '',
          {
            key: {
              text: "Password"
            },
            value: {
              text: '*************'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Password"
                }
              ]
            }
          },
          {
            key: {
              text: "Account type"
            },
            value: {
              text: user.accountType
            },
            actions: {
              items: [
                {
                  href: "/account/type",
                  text: "Change",
                  visuallyHiddenText: "account type"
                }
              ]
            }
          },
          {
            key: {
              text: "Marketing preferences"
            },
            value: {
              text: user.marketingPreferences
            },
            actions: {
              items: [
                {
                  href: "/account/marketing",
                  text: "Change",
                  visuallyHiddenText: "marketing preferences"
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
