
{% extends "layout.njk" %}

{% set primaryNavId = 'account' %}
{% set title = 'Your account' %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full"> 

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            How you log in to Teaching Vacancies is changing
          </h3>
          <p class="govuk-body">We are replacing Teaching Vacancies accounts with GOV.UK One Login. Ensure the email address on your account is the one you will use for logging into government services.</p>

          <p class="govuk-body">You can find out more about <a target="_blank" href="https://www.gov.uk/using-your-gov-uk-one-login">using a GOV.UK One Login</a>.</p>
        </div>
      </div>

    </div>
  
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{title}}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Email address"
            },
            value: {
              text: user.emailAddress
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          } if user.emailAddress,
          {
            key: {
              text: "Email address"
            },
            value: {
              text: faker.email
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          } if user.emailAddress == '',
          {
            key: {
              text: "Password"
            },
            value: {
              text: '*************'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Password"
                }
              ]
            }
          }
        ]

      }) }}

      <h2 class="govuk-heading-m">
        Import an old Teaching Vacancies account
      </h2>

      <p>If you had an old Teaching Vacancies account you want to import data from. You can request an import by selecting import account.</p>

      <p><a class="govuk-link--no-visited-state" href="/onelogin/journey/import">Import account</a></p>

      <h2 class="govuk-heading-m">
       Delete account
      </h2>

      <p>Select delete account to remove all your data and your account on Teaching Vacancies.</p>

      <p><a class="govuk-link--no-visited-state" href="#">Delete account</a></p>

    </div>
  </div>

{% endblock %}
