
{% extends "layout.njk" %}

{% set title = 'User profile' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        {{title}}
      {% endset %}

      <form method="post">

        {% if returnUrl %}
          <input type="hidden" name="returnUrl" value="{{returnUrl}}">
        {% endif %}

        {{ govukRadios({
          idPrefix: "emailAddress",
          name: "emailAddress",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: options
        }) }}



        {# {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--m"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "password",
          name: "password",
          label: {
            text: "Password",
            classes: "govuk-label--m"
          },
          type: "password"
        }) }} #}

        {{ govukButton({
          text: 'Sign in'
        }) }}
      </form>




    </div>
  </div>

{% endblock %}
