
{% extends "layout.njk" %}

{% set title = 'Activate your account' %}

{% block content %}
  <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukNotificationBanner({
                html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
                type: "success",
                icon: false
            }) if flash and flash.length }}

            <h1 class="govuk-heading-xl">
                {{title}}
            </h1>

            <h2 class="govuk-heading-m">
               How to activate your account
            </h2>

            <p>An email has been sent to the email address:</p>

            {{ govukInsetText({
                text: "alex.lee@education.gov.uk"
            }) }}

            <p>Click the link in the email to finish setting up your account. This link will expire in 24 hours.</p>

            <h2 class="govuk-heading-m">
               What to do if you cannot find the email or the link in the email has expired
            </h2>

            <p>Check your spam folder if you cannot find the email, or if your email link has expired, you can resend the email.</p>
            
            <form method="post" novalidate>

                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Resend email
                </button>

            </form>

            <p><a href="confirmation" class="govuk-link">Skip this step in prototype</a></p>

        </div>
  </div>

{% endblock %}

