
{% extends "layout.njk" %}

{% set title = 'Activate your account' %}

{% block content %}
  <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ govukNotificationBanner({
                html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
                type: "success",
                icon: false
            }) if flash and flash.length }}

            <h1 class="govuk-heading-xl">
                {{title}}
            </h1>

            <h2 class="govuk-heading-m">
               How to activate your account
            </h2>

            <p>You need to select the link in the email to activate your account. The link will expire in 24 hours.</p>

            <p>We have sent an email to this address:</p>

            {{ govukInsetText({
                text: "alex.lee@education.gov.uk"
            }) }}

            <p>If you cannot find the email check you junk or spam folder.</p>

            <h2 class="govuk-heading-m">
               What to do if the link has expired
            </h2>

            <p>If the link in your email has expired we can resend it.</p>
            
            <form method="post" novalidate>

                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Resend email
                </button>

            </form>

            <p><a href="confirmation" class="govuk-link">Skip this step in prototype</a></p>

        </div>
  </div>

{% endblock %}

