
{% extends "layout.njk" %}

{% set title = 'Account created' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
      <h1 class="govuk-heading-xl">
          {{title}}
      </h1>

      <p class="govuk-body">
        You can now <a href="/jobs">search and apply for teaching jobs</a> or <a href="#">create a profile</a>.
      </p>

      <p>A profile will let you:</p>

      {% for user in users %}

          <form method="post" action="/account/sign-in">

            {% if returnUrl %}
              <input type="hidden" name="returnUrl" value="{{query.returnUrl}}">
            {% endif %}

            <input type="hidden" name="emailAddress" value="{{user.emailAddress}}">

            <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
              {{user.emailAddress}}
            </h2>

            <div class="govuk-!-margin-bottom-3">
              {% if user.profile.status %}
                {{ govukTag({
                  text: user.profile.status,
                  classes: 'govuk-tag--blue'
                }) }}
              {% else %}
                {{ govukTag({
                  text: 'Not activated yet',
                  classes: 'govuk-tag--red'
                }) }}

              {% endif %}
            </div>

            {{ govukButton({
              text: 'Sign in'
            }) }}
          </form>

      {% endfor %}

      <ul class="govuk-list govuk-list--bullet">
        <li>
          share your qualifcations and experience with schools
        </li>
        <li>
          specifiy the types of teaching jobs you're looking for
        </li>
         <li>
          apply for roles more quickly by pre-filling your information
        </li>
      </ul>


      <p class="govuk-body">
        When you turn on your profile it will only be visible to hiring staff in schools and trusts. They can contact you by email to invite you to apply for roles.
      </p>

      <form method="post" novalidate>

        {{ govukButton({
          text: "Create a profile"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
