{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "index",
      serviceName: serviceName,
      serviceUrl: "index",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "a-start",
        text: "Find a teaching job"
      },
      {
        href: "#",
        text: "List a teaching job"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="b-results" class="govuk-back-link">Back</a>
        <div class="listing-title">
            <h1 class="govuk-heading-l">Classroom Teacher</h1>
            <h4 class="govuk-caption-l">Westerburg Academies Trust, Coventry, West Midlands</h4>
        </div>
    </div>
</div>

<main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

        <!-- Sidebar START -->
        <div class="govuk-grid-column-one-third">

            <aside class="dates">

                <h2 class="govuk-heading-s">22 days remaining to apply</h2>
                <ul class="test-timeline">
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Expected start date
                        </h3>
                        <p class="test-timeline__by">03 September 2020</p>
                    </li>
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Application deadline
                        </h3>
                        <p class="test-timeline__by">30 March 2020 at 23:59pm</p>
                    </li>
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Date listed
                        </h3>
                        <p class="test-timeline__by">01 February 2020</p>
                    </li>
                </ul>

            </aside>
        </div>
        <!-- Sidebar END -->

        <!-- Main content START -->
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-tabs tvs-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#job">
                            Job details
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#trust">
                            Trust overview
                        </a>
                    </li>
                </ul>

                <!-- JOB SECTION END -->
                <section class="govuk-tabs__panel" id="job">

                    <h3 class="govuk-heading-m">Job details</h3>
                    <table class="govuk-table govuk-table-bespoke">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Role</td>
                                <td class="govuk-table__cell">Teacher</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Subject</td>
                                <td class="govuk-table__cell">Maths and Science</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Working pattern</td>
                                <td class="govuk-table__cell">AZ</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Salary</td>
                                <td class="govuk-table__cell">M1-U3 + TLR</td>
                            </tr>
                        </tbody>
                    </table>

                    <h4 class="govuk-heading-s">Job summary</h4>
                    <p class="govuk-body">
                        Westerburg Academies Trust is a growing multi-academy trust with opportunities across our academies. We seek excellent teachers to join our strong and highly motivated team. Teachers joining our schools benefit from:
                    </p>
                    <ul>
                        <li>fantastic ongoing development and support through our designated national Teaching School and Maths Hub </li>
                        <li>a structured induction programme (three paid weeks of induction in July for all NQTs starting in September, plus a further ten full days of training  during the first year of teaching)</li>
                        <li>weekly INSET sessions and time with a dedicated in-school mentor</li>
                        <li>many opportunities for progression within each school and across our trust.  </li>
                    </ul>
                    <p class="govuk-body">
                        This is an exciting time for us and we want the best people to join us as we grow.  We offer excellent professional development and career opportunities. To find the best teachers, we keep recruitment open all year. Join us:
                    </p>
                    <p class="govuk-body">To grow:</p>
                    <ul>
                        <li>A commitment to recruit, retain and develop excellent staff</li>
                        <li>An entitlement to high quality training and support</li>
                        <li>A supportive working culture, with ongoing guidance and mentoring</li>
                    </ul>
                    <p class="govuk-body">To shine:</p>
                    <ul>
                        <li>Excellent professional development at all levels</li>
                        <li>Opportunities to work across our trust</li>
                        <li>Opportunities to lead projects and undertake research</li>
                    </ul>
                    <p class="govuk-body">To make a difference:</p>
                    <ul>
                        <li>An ambitions, fast growing trust with exciting potential</li>
                        <li>A relentless drive for improvement, excellence and equality</li>
                        <li>A focus on excellent pedagogy, positive learning behaviour and high expectations for all</li>
                    </ul>
                    

                    <h4 class="govuk-heading-s">Applying for the role</h4>
                    <p class="govuk-body">
                        Please visit our website to complete an online application
                    </p>
                    <a href="#" class="govuk-button">More on how to apply</a>

                    <h4 class="govuk-heading-s">Supporting documents</h4>
                    <div class="supporting-docs">
                        <ul>
                            <li><a href="#" class="document-link">application-pack.doc</a> 3mb</li>
                            <li><a href="#" class="document-link">job-specification.pdf</a> 3mb</li>
                        </ul>
                    </div>


                </section>
                <!-- JOB SECTION END -->
                <!-- TRUST SECTION START -->
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="trust">

                    <h3 class="govuk-heading-m">Trust overview</h3>
                    <table class="govuk-table govuk-table-bespoke">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Trust type</td>
                                <td class="govuk-table__cell">Multi-Academy Trust</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Schools</td>
                                <td class="govuk-table__cell">16 schools are within this trust. <br>See the <a href="#">Get information about schools</a> service for more details.</td>
                            </tr>
                            <!--  
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Education phase</td>
                                <td class="govuk-table__cell">Primary, Secondary</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">School size</td>
                                <td class="govuk-table__cell">2000 to 2500 pupils</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Age range</td>
                                <td class="govuk-table__cell">8 to 18</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Ofsted report</td>
                                <td class="govuk-table__cell"><a href="#">View ofsted report</a></td>
                            </tr>
                            -->
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Website</td>
                                <td class="govuk-table__cell"><a href="#">Trust website link  (opens in a new window)</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Contact email</td>
                                <td class="govuk-table__cell"><a href="#">info@westerburgacademiestrust.org.uk</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <h4 class="govuk-heading-s">About Westerburg Academies Trust</h4>
                    <p class="govuk-body">
                        Westerburg Academies Trust is a high performing chain of primary and secondary academies in England. Our core belief is that children come first, and that every child, irrespective of their background has the right to an outstanding education. We are seeking to employ self-motivated individuals who gain pleasure in the achievements of the children in their class - teachers who have the passion and drive to do whatever it takes for the children they teach to make consistently good progress.
                    </p>
                    <!--
                    <h4 class="govuk-heading-s">Arranging a visit to Bexley Heath School</h4>
                    <p class="govuk-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    -->
                    <h4 class="govuk-heading-s">Head office location</h4>
                    <p class="govuk-body">
                        Bush Cl, Coventry CV4 9QT
                    </p>
                    <p><a href="#">Plan your commute (opens in a new window)</a></p>
                    <div class="">
                        <img src="/public/images/mat2/coventry-desktop-4.png" alt="">
                    </div>

                </section>
                <!-- TRUST SECTION END -->
            </div>

        </div>
        <!-- Main content END -->
    </div>
</main>

{% endblock %}
