{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block header %}

  {# Set serviceName in config.js. #}
  {{ govukHeader({
      homepageUrl: "index",
      serviceName: serviceName,
      serviceUrl: "index",
      containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "a-start",
        text: "Find a teaching job"
      },
      {
        href: "#",
        text: "List a teaching job"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="b-results" class="govuk-back-link">Back</a>
        <div class="listing-title">
            <h1 class="govuk-heading-l">Maths Teacher</h1>
            <h4 class="govuk-caption-l">Bronson Alcott Academy, Coventry, West Midlands</h4>
        </div>
    </div>
</div>

<main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

        <!-- Sidebar START -->
        <div class="govuk-grid-column-one-third">

            <aside class="dates">

                <h2 class="govuk-heading-s">22 days remaining to apply</h2>
                <ul class="test-timeline">
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Expected start date
                        </h3>
                        <p class="test-timeline__by">02 September 2020</p>
                    </li>
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Application deadline
                        </h3>
                        <p class="test-timeline__by">31 May 2020 at 09:00 am</p>
                    </li>
                    <li class="test-timeline__item">
                        <h3 class="test-timeline__title govuk-heading-s">
                            Date listed
                        </h3>
                        <p class="test-timeline__by">28 February 2020</p>
                    </li>
                </ul>

            </aside>
        </div>
        <!-- Sidebar END -->

        <!-- Main content START -->
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-tabs tvs-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#past-day">
                            Job details
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#past-week">
                            School overview
                        </a>
                    </li>
                </ul>

                <!-- JOB SECTION END -->
                <section class="govuk-tabs__panel" id="past-day">

                    <h3 class="govuk-heading-m">Job details</h3>
                    <table class="govuk-table govuk-table-bespoke">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header govuk-!-width-one-third">Role</td>
                                <td class="govuk-table__cell">Teacher</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Subject</td>
                                <td class="govuk-table__cell">Maths</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Working pattern</td>
                                <td class="govuk-table__cell">Full time</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Salary</td>
                                <td class="govuk-table__cell">M1-U3 + TLR</td>
                            </tr>
                        </tbody>
                    </table>

                    <h4 class="govuk-heading-s">Job summary</h4>
                    <p class="govuk-body">
                        This is a fantastic opportunity for an enthusiastic and motivated professional to join our Maths faculty at one of the highest achieving schools in Coventry. This position would suit a professional at any stage of their teaching career, including newly qualified teachers.    
                    </p>
                    <p class="govuk-body">
                        Our Mathematics team is committed to consistently doing their best for our students, by raising standards and offering tailored enrichment experiences to give them exceptional life chances. 
                    </p>


                    <h4 class="govuk-heading-s">Applying for the role</h4>
                    <p class="govuk-body">
                        Please visit our website to complete an online application
                    </p>
                    <a href="#" class="govuk-button">More on how to apply</a>

                    <h4 class="govuk-heading-s">Supporting documents</h4>
                    <div class="supporting-docs">
                        <ul>
                            <li><a href="#" class="document-link">application-pack.doc</a> 3mb</li>
                            <li><a href="#" class="document-link">job-specification.pdf</a> 3mb</li>
                        </ul>
                    </div>


                </section>
                <!-- JOB SECTION END -->
                <!-- SCHOOL SECTION START -->
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">

                    <h3 class="govuk-heading-m">School overview</h3>
                    <table class="govuk-table govuk-table-bespoke">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">School type</td>
                                <td class="govuk-table__cell">Academy</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Education phase</td>
                                <td class="govuk-table__cell">Secondary</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">School size</td>
                                <td class="govuk-table__cell">964 pupils</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Age range</td>
                                <td class="govuk-table__cell">12 to 18</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Ofsted report</td>
                                <td class="govuk-table__cell"><a href="#">View ofsted report</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">School website</td>
                                <td class="govuk-table__cell"><a href="#">school website link  (opens in a new window)</a></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__header">Contact email</td>
                                <td class="govuk-table__cell"><a href="#">email@email.com</a></td>
                            </tr>
                        </tbody>
                    </table>

                    <h4 class="govuk-heading-s">About Bronson Alcott Academy</h4>
                    <p class="govuk-body">
                        Bronson Alcott Academy is at the heart of a growing family of outstanding schools. This support allows us unique relationships within Coventry, its independent schools and seats of learning. We pride ourselves on:
                    </p>
                    <ul>
                        <li>Our recent OFSTED inspection upgrade to ‘good’ (April 2019). </li>
                        <li>Being an oversubscribed and popular school, located close to the M42 and M6, in easy reach of Coventry, Warwick and Birmingham.</li>
                        <li>Being a highly innovative, driven, inspirational and ambitious organisation with a clear vision for achieving success.</li>
                        <li>Being part of the Springwood Academies Trust and its associated teaching school. This facilitates an opportunity to play to your strengths and provide excellent collaboration between colleagues and leaders, access to effective CPD and the chance to develop professionally. The - Trust is committed to invest in and develop all staff and, most importantly, bring about the best possible outcomes for our students who deserve the very best.</li>
                        <li>Our strong commitment to staff wellbeing and recognition.  We can offer you a range of benefits which include cycle to work and childcare voucher schemes, free parking, an employee discount scheme, a laptop and access to the on-site swimming pool.</li>
                    </ul>

                    <h4 class="govuk-heading-s">School location</h4>
                    <p class="govuk-body">
                        Ulverscroft Rd, Coventry CV3 5EZ
                    </p>
                    <p><a href="#">Plan your commute (opens in a new window)</a></p>
                    <div class="">
                        <img src="/public/images/mat2/coventry-desktop-5.png" alt="">
                    </div>

                </section>
                <!-- SCHOOL SECTION END -->
            </div>

        </div>
        <!-- Main content END -->
    </div>

</main>

{% endblock %}
