{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Do you have qualified teacher status (QTS)?' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          Qualified teaching status
        </span>
        {{title}}
      {% endset %}

      <form method="post" novalidate>

        {% set year %}
          {{ govukInput({
            id: "profile[qtsAwardedYear]",
            name: "profile[qtsAwardedYear]",
            label: {
              text: "Year QTS awarded",
              classes: 'govuk-label--s'
            },
            classes: "govuk-input--width-5",
            value: qtsAwardedYear
          }) }}

        {% endset %}

        {% set qtsHint %}

          <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-7">
            <p class="govuk-body">You're unlikely to get a teaching job in England unless you have QTS. You can check if you're able to <a class="govuk-link--no-visited-state" target="_blank" href="https://apply-for-qts-in-england.education.gov.uk/eligibility/start">apply for QTS <span class="govuk-visually-hidden">(opens in new tab)</span></a> or <a class="govuk-link--no-visited-state" target="_blank" href="https://apply-for-qts-in-england.education.gov.uk/eligibility/start">teach in England if you trained overseas<span class="govuk-visually-hidden">(opens in new tab) </span></a>.</p>
          </div>
                
        {% endset %}

        {{ govukRadios({
          idPrefix: "profile[qts]",
          name: "profile[qts]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: qtsHint
          },
          items: [
            {
              value: options[0].value,
              text: options[0].text,
              checked: options[0].checked,
              conditional: {
                html: year
              }
            },
            {
              value: options[1].value,
              text: options[1].text,
              checked: options[1].checked
            },
            {
              value: options[2].value,
              text: options[2].text,
              checked: options[2].checked
            }
          ]
        }) }}

        {{user | log}}


        {{ govukButton({
          text: "Save and continue"
        }) }}

        <p><a href="/profile">Cancel</a></p>

      </form>

    </div>
  </div>

{% endblock %}
