{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'What is your Teacher reference number (TRN)?' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There’s a problem",
        errorList: errorList
      }) if errorList.length }}

      <span class="govuk-caption-l">
        Teaching status
      </span>
      {% set h1 %}
        {{title}}
      {% endset %}

      <form method="post" novalidate>

        <div class="govuk-form-group {% if errorList.length %} govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{title}}
              </h1>
            </legend>

            <div class="govuk-inset-text">
              Your Teacher reference number (TRN) will not be visible on your profile. Schools can only see it if you apply for a role. You can locate a lost TRN using the <a href="#">Find a lost TRN</a> service.
            </div>

            

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="profile[TRN]">Teacher reference number (TRN)</label> 
              {% if errorList.length %} 
                <p id="passport-issued-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ errorList[0].text }}
                </p>
              {% endif %}
              <input class="govuk-input govuk-input--width-20" id="profile[TRN]" name="profile[TRN]" type="text">
            </div>

         
          </fieldset>
        </div>


        {{ govukButton({
          text: "Save and continue"
        }) }}

        <p><a href="/profile">Cancel</a></p>

      </form>

    </div>
  </div>

{% endblock %}
