
{% extends "layout.njk" %}

{% set title = 'Your account details have been transferred' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Transfer complete
          </h3>
        </div>
      </div>

        <h1 class="govuk-heading-l">
            {{title}}
        </h1>

        <p class="govuk-body">
            You can <a class="govuk-link--no-visited-state" href="/profile">update your profile details</a>, continue to <a class="govuk-link--no-visited-state" href="/jobs">search and apply for jobs</a> or <a class="govuk-link--no-visited-state" href="#">create a job alert</a>.
        </p>

    </div>


  </div>

{% endblock %}
