{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'References' %}

{% block beforeContent %}
   {{ govukBackLink({
    text: "Back",
    href: "/profile"
  }) }}
{% endblock %}

{% block content %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash and flash.length }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <p>
        References must include your current or recent employer. If you have recently left school or further education, this must be your headteacher or course leader. You do not need to provide more than two references.
      </p>

      {% if (user.profile.references | length) >= 2 %}

      {% else %}

        {{ govukButton({
          text: "Add reference",
          classes: 'govuk-button--secondary',
          href: '/profile/references/second-reference'
        }) }}

      {% endif %}

      <div class="app-list">

        {% for id, reference in profile.references %}

          {% set rowloop = loop %}

          <div class="app-list__item">

            {{appPageHeader({
              classes: 'govuk-!-margin-bottom-0',
              heading: {
                level: 2,
                text: reference.referenceName,
                classes: 'govuk-heading-s'
              },
              items: [{
                text: 'Change',
                href: "/profile/references/"+id+"/edit"+loop.index,
                type: 'link'
              }, {
                text: 'Delete',
                href: "/profile/references/"+id+"/delete",
                type: 'link'
              }]
            })}}

            <p class="govuk-!-margin-bottom-0 govuk-!-margin-top0">{{reference.referenceTitle}}</p>
            <p class="govuk-!-margin-bottom-0 govuk-!-margin-top0">{{reference.referenceOrganisation}}</p>
            <p class="govuk-!-margin-bottom-0 govuk-!-margin-top0">{{reference.referenceEmail}}</p>
            {% if reference.referenceNumber | length %} <p class="govuk-!-margin-bottom-0 govuk-!-margin-top0">{{reference.referenceNumber}}</p> {% endif %}
          </div>
        {% endfor %}
      </div>

      {{ govukButton({
        text: "Return to profile",
        href: '/profile'
      }) }}

    </div>
  </div>

{% endblock %}
