.app-default-header {
  
  .govuk-header__navigation  {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .govuk-header__navigation-item:nth-child(1) {
    float: left;
  }
  
  .govuk-header__navigation-item:nth-child(2) {
    margin-left: auto;
  }
}

.app-alt-header__on {
  .app-alt-header {
    // border-bottom: 10px solid #f47738;
    border-bottom: 10px solid govuk-colour("blue");
  }
}

.app-primary-nav__on {
  .govuk-phase-banner {
    border: 0;
  }

  .govuk-phase-banner--has-border {
    border-bottom: 1px solid $govuk-border-colour;
  }
  
}

.app-alt-header__on.app-primary-nav__on {
  .govuk-phase-banner {
    border: 0;
  }

  .govuk-phase-banner--has-border {
    border-bottom: 1px solid $govuk-border-colour;
  }
  
}

.app-alt-header-container {
  margin-bottom: 0;
  border: none;

  .govuk-header__logo {
    @include mq ($from: desktop) {
      width: 50%;
    }
  }

  .govuk-header__content {
    @include mq ($from: desktop) {
      width: 50%;
      float: right;
    }
  }

  .govuk-header nav {
    display: inline-block;
    float: right;
  }

  .govuk-header__navigation {
    padding-top: 0;
  }

}