
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Jobseeker guides' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Jobseeker guides
      </h1>

      <p>Looking for your next teaching job, or another role within a school? Take a look at our expert advice covering applications, interviews, and more to help you in your job search.</p>


    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="grid-container">

        <div class="card">
          <div class="card-container">
            <img alt="" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/find-a-teaching-job.jpg" title="">
            <h2 class="govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state card-link--header" href="#">How to write a teacher personal statement</a></h2>
          </div>
        </div>

        <div class="card">
          <div class="card-container">
            <img alt="" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/write-a-great-teaching-job-application-900x600.jpg" title="">
            <h2 class="govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state card-link--header" href="#">Write a great teaching job application in 5 steps</a></h2>
          </div>
        </div>

        <div class="card">
          <div class="card-container">
            <img alt="" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/prepare-for-a-teaching-interview-lesson.jpg" title="">
            <h2 class="govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state card-link--header" href="#">How to approach a teaching job interview</a></h2>
          </div>
        </div>

        <div class="card">
          <div class="card-container">
            <img alt="" src="https://teaching-vacancies.campaign.gov.uk/wp-content/uploads/sites/158/2023/07/how-to-write-a-teacher-personal-statement.jpg" title="">
            <h2 class="govuk-heading-s"><a class="govuk-link govuk-link--no-visited-state card-link--header" href="#">Prepare for a teaching interview lesson</a></h2>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="govuk-grid-row" style="margin-top:200px;">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Jobseeker guides
      </h1>

      <p>Looking for your next teaching job, or another role within a school? Take a look at our expert advice covering applications, interviews, and more to help you in your job search.</p>


    </div>
  </div>


  <div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/support-for-practitioners">
				<div class="hf-card-container">
					<img alt="Support for practitioners thumbnail" class="full-width-image" src="//images.ctfassets.net/dvmeh832nmjc/5sW9P68x6Q8BA3TRRzjOtK/603a8b4db2d708c7af68be872f47904b/support-for-practioners-min.jpg" title="A group of female early years practitioners have a coffee break">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">How to write a teacher personal statement</h3>
						<p class="govuk-body">Your personal statement is your first opportunity to show the school you’re a great fit for the job.</p>
					</div>
				</div></a>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/areas-of-learning">
				<div class="hf-card-container">
					<img alt="Areas of learning thumbnail" class="full-width-image" src="//images.ctfassets.net/dvmeh832nmjc/x3e8mUHVTBwHFhA6mEhyQ/a8c6d347c834cf37e3fc2e256b80f548/areas-of-learning-min.jpg" title="Male practitioner holding toddler's hand on play equipment">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">Write a great teaching job application in 5 steps</h3>
						<p class="govuk-body">Make a great first impression and get an interview for the job you want with this advice from teaching staff.</p>
					</div>
				</div></a>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/health-and-wellbeing">
				<div class="hf-card-container">
					<img alt="Health and wellbeing thumbnail" class="full-width-image" src="//images.ctfassets.net/dvmeh832nmjc/7BlCGkpJWFbM3y7AiuqFZD/fc9883be4ca0cab3b65dd4e36b53dbf8/wellbeing-enrichment-min.jpg" title="A young child is washing her hands whilst being supervised">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">How to approach a teaching job interview</h3>
						<p class="govuk-body">Congratulations, you’ve been invited to an interview for a teaching job! What’s next?</p>
					</div>
				</div></a>
			</div>
		</div>
    <div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/health-and-wellbeing">
				<div class="hf-card-container">
					<img alt="Health and wellbeing thumbnail" class="full-width-image" src="//images.ctfassets.net/dvmeh832nmjc/7BlCGkpJWFbM3y7AiuqFZD/fc9883be4ca0cab3b65dd4e36b53dbf8/wellbeing-enrichment-min.jpg" title="A young child is washing her hands whilst being supervised">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">Prepare for a teaching interview lesson</h3>
						<p class="govuk-body">The interview lesson is an opportunity to demonstrate your teaching ability so it’s important to be prepared.</p>
					</div>
				</div></a>
			</div>
		</div>
	</div>



  <div class="govuk-grid-row" style="margin-top:200px;">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Jobseeker guides
      </h1>

      <p>Looking for your next teaching job, or another role within a school? Take a look at our expert advice covering applications, interviews, and more to help you in your job search.</p>


    </div>
  </div>


  <div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/support-for-practitioners">
				<div class="hf-card-container">
					<img alt="Support for practitioners thumbnail" class="full-width-image" src="//images.ctfassets.net/dvmeh832nmjc/5sW9P68x6Q8BA3TRRzjOtK/603a8b4db2d708c7af68be872f47904b/support-for-practioners-min.jpg" title="A group of female early years practitioners have a coffee break">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">How to write a teacher personal statement</h3>
					</div>
				</div></a>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/areas-of-learning">
				<div class="hf-card-container">
					<img alt="Areas of learning thumbnail" class="full-width-image" src="//images.ctfassets.net/dvmeh832nmjc/x3e8mUHVTBwHFhA6mEhyQ/a8c6d347c834cf37e3fc2e256b80f548/areas-of-learning-min.jpg" title="Male practitioner holding toddler's hand on play equipment">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">Write a great teaching job application in 5 steps</h3>
					</div>
				</div></a>
			</div>
		</div>
		<div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/health-and-wellbeing">
				<div class="hf-card-container">
					<img alt="Health and wellbeing thumbnail" class="full-width-image" src="//images.ctfassets.net/dvmeh832nmjc/7BlCGkpJWFbM3y7AiuqFZD/fc9883be4ca0cab3b65dd4e36b53dbf8/wellbeing-enrichment-min.jpg" title="A young child is washing her hands whilst being supervised">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">How to approach a teaching job interview</h3>
					</div>
				</div></a>
			</div>
		</div>
    <div class="govuk-grid-column-one-third">
			<div class="hf-card">
				<a href="/health-and-wellbeing">
				<div class="hf-card-container">
					<img alt="Health and wellbeing thumbnail" class="full-width-image" src="//images.ctfassets.net/dvmeh832nmjc/7BlCGkpJWFbM3y7AiuqFZD/fc9883be4ca0cab3b65dd4e36b53dbf8/wellbeing-enrichment-min.jpg" title="A young child is washing her hands whilst being supervised">
					<div class="hf-card-details">
						<h3 class="govuk-heading-m">Prepare for a teaching interview lesson</h3>
					</div>
				</div></a>
			</div>
		</div>
	</div>
{% endblock %}
