{% extends "layout.html" %}

{% block pageTitle %}
  We haven't built this yet
{% endblock %}

{% block content %}


<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <!-- Main content START -->
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, we haven't built this yet.</h1>
        <a href="javascript:history.back()" class="govuk-back-link">Go back to previous step</a>
    </div>
    <!-- Main content END -->
  </div>

</main>

{% endblock %}
