
{% extends "layout.html" %}

{% set pageHeading = 'Prototype settings' %}

{% block main %}
{# {{super()}} #}

<div class="full-BGstrip" style="background-color:#f3f2f1;">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-!-padding-0">
            
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <ul class="acc-navigation__list">
                      <li class="acc-navigation__list-item">
                          <a class="govuk-link govuk-link--no-visited-state" href="/">Home</a>
                      </li>
                      <li class="acc-navigation__list-item">
                          <a class="govuk-link govuk-link--no-visited-state" href="/prototypes">Prototype archive</a>
                      </li>
                      <li class="acc-navigation__list-item app-navigation__list-item--current">
                          <a class="govuk-link govuk-link--no-visited-state" href="/admin">Admin settings</a>
                      </li>
                  </ul>
                </div>
            </div>

        </main>
    </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        
        <form action="" method="post">

          <h2 class="govuk-heading-m">Headings and navigation</h2>

          {{ govukCheckboxes({
            items: [
              {
                value: "true",
                text: "Use alternative header"
              }
            ]
          } | decorateAttributes(data, "data.settings.useAltHeader")) }}
          
          {{ govukCheckboxes({
            items: [
              {
                value: 'true',
                text: "Show primary navigation"
              }
            ]
          } | decorateAttributes(data, "data.settings.showPrimaryNav")) }}

          {{ govukRadios({
            fieldset: {
              legend: {
                text: "User type",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "The early steps in the create a job flow vary depending on the user type"
            },
            items: [
              {
                value: "singleSchool",
                text: "Single school"
              },
              {
                value: "multiSchoolMat",
                text: "MAT"
              },
              {
                value: "multiSchoolLa",
                text: "LA"
              }
            ]
          } | decorateAttributes(data, "data.job.userType")) }}
          
          {{ govukRadios({
            fieldset: {
              legend: {
                text: "Education phase",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "The job details step in the create a job flow varies based on education phase"
            },
            items: [
              {
                text: "More than one phase"
              },
              {
                text: "Primary"
              },
              {
                text: "Secondary"
              },
              {
                text: "16 to 19"
              }
            ]
          } | decorateAttributes(data, "data.job.phase")) }}

          {{ govukRadios({
            fieldset: {
              legend: {
                text: "Number of jobs a school has listed",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "When copying jobs, there are two states depending on how many jobs a school has"
            },
            items: [
              {
                text: "Less than or equal to 20"
              },
              {
                text: "More than 20"
              }
            ]
          } | decorateAttributes(data, "data.job.numberOfJobsListed")) }}

          {{ govukButton({
            "text": "Update"
          }) }}

        </form>

      </div>

    </div>
  </div>
</div>

{% endblock %}
