
{% extends "layout.html" %}

{% set pageHeading = 'Prototype settings' %}

{% block content %}
{{super()}}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>
    
    <form action="" method="post">

      <h2 class="govuk-heading-m">Headings and navigation</h2>

      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Use alternative header"
          }
        ]
      } | decorateAttributes(data, "data.settings.useAltHeader")) }}
      
      {{ govukCheckboxes({
        items: [
          {
            value: 'true',
            text: "Show primary navigation"
          }
        ]
      } | decorateAttributes(data, "data.settings.showPrimaryNav")) }}

      {# user types #}

      {{ govukRadios({
        fieldset: {
          legend: {
            text: "User type",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "singleSchool",
            text: "Single school"
          },
          {
            value: "multiSchoolMat",
            text: "MAT"
          },
          {
            value: "multiSchoolLa",
            text: "LA"
          }
        ]
      } | decorateAttributes(data, "data.job.userType")) }}
      
      {# Education Phase #}

      {{ govukRadios({
        fieldset: {
          legend: {
            text: "Education phase",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            text: "All-through"
          },
          {
            text: "Primary"
          },
          {
            text: "Secondary"
          },
          {
            text: "16 to 19"
          }
        ]
      } | decorateAttributes(data, "data.job.phase")) }}

      {{ govukButton({
        "text": "Update"
      }) }}

    </form>

  </div>

</div>

{% endblock %}
