{% extends "layout.html" %}


{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block main %}

<div class="govuk-width-container">

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper govuk-!-padding-top-2">
    <div class="create-title">
      {% set SchoolName %}
        {% if data.job.userType == "singleSchool" %}
          for {{ data.job.defaultSchoolName }}
        {% elseif data.job.locationSingle %}
          for {{ data.job.locationSingle }}
        {% elseif (data.job.locationMat == "At more than one school in the trust") or (data.job.locationLa == "At more than one school") %}
          for multiple schools
        {% endif %}
      {% endset %}

      <!-- <span class="govuk-caption-m govuk-!-margin-bottom-0">{% if isMultiSchool == "true" %}Step {{ activePageNumber }} of 10{% else %}Step {{ activePageNumber }} of 9{% endif %}</span> -->
      <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Create a job listing for Bexleyheath Academy</h1> -->
    </div>

    

  {% block createJobcontent %}
  {% endblock %}

  

  </main>

</div>


<script>
  // const body = document.querySelector('body.govuk-template__body');
  const body = document.querySelector('body.govuk-template__body');

  // body.setAttribute('style', 'background-color: #F2F2F2;');
  body.style.backgroundColor = '#F2F2F2';
</script>


{% endblock %}
