{% extends "layout.html" %}

{% if data.job.userType == "multiSchoolMat" or data.job.userType == "multiSchoolLa" %}
  {% set isMultiSchool = "true" %}
{% endif %}
{% set sectionActive = "hiring staff" %}
{% set primaryNavActive = "manage jobs" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block main %}

<div class="govuk-width-container">

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">
    <div class="create-title">
      {% set SchoolName %}
        {% if data.job.userType == "singleSchool" %}
          for {{ data.job.defaultSchoolName }}
        {% elseif data.job.locationSingle %}
          for {{ data.job.locationSingle }}
        {% elseif (data.job.locationMat == "At more than one school in the trust") or (data.job.locationLa == "At more than one school") %}
          for multiple schools
        {% endif %}
      {% endset %}

      <span class="govuk-caption-m govuk-!-margin-bottom-0">{% if isMultiSchool == "true" %}Step {{ activePageNumber }} of 10{% else %}Step {{ activePageNumber }} of 9{% endif %}</span>
      <h1 class="govuk-heading-m govuk-!-margin-bottom-5">Create a job listing {{ SchoolName }}</h1>
    </div>

    <div class="govuk-grid-row">

      {% block createJobcontent %}
      {% endblock %}

      <div class="govuk-grid-column-one-third">

        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Creating a job listing steps</span>
            </h2>
        </div>
        {% include "includes/hiring-staff/acc-steps.html" %}
      </div>

    </div>
  </main>

</div>


{% endblock %}
