
{% extends "layout_tvs.html" %}

{% block pageTitle %}
    Teaching Vacancies Prototype Kit - Prototypes
{% endblock %}

{% block main %}
<div class="full-BGstrip" style="background-color:#f3f2f1;">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-!-padding-0">
            
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% include "includes/misc/tvs-nav-started.html" %}
                </div>
            </div>

        </main>
    </div>
</div>

<!-- START BESPOKE MAST 2-->
<div class="bg-full-blue">
    <div class="govuk-width-container">

        <!-- START Breadcrumbs + Back -->
        <!-- 
        <a class="govuk-back-link govuk-!-margin-top-3" href="/url/of/previous/page">Back</a>
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">GOV.UK Prototype Kit</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/examples">Examples</a>
                </li>
            </ol>
        </div> 
        -->
        <!-- END Breadcrumbs + Back -->

        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-xl govuk-!-margin-bottom-2">Prototype using service relevant templates, patterns and components</h2>
                    <span class="govuk-caption-l govuk-!-margin-bottom-0">Use this design system to generate prototypes based on the bespoke elements used within the Teaching Vacancies service. All template and atom elements are built on the combined research and design of the overarching <a href="https://design-system.service.gov.uk/" style="color: white;">GOV.UK design system</a>.</span>
                </div>
            </div>
        </main>
        
    </div>
</div>
<!-- END BESPOKE MAST 2 -->

<div class="govuk-width-container">
    <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-l govuk-!-font-weight-bold">Prototypes</h2>
                <p class="govuk-body">Current and archived prototypes used in Teaching Vacancies research sessions.</p>
                <p class="govuk-body govuk-!-margin-bottom-0"><a href="/prototypes/" class="govuk-link govuk-!-font-weight-bold">Browse prototypes</a></p>
            </div>
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-l">Templates</h2>
                <p class="govuk-body">Common templates used within Teaching Vacancies prototypes.</p>
                <p class="govuk-body govuk-!-margin-bottom-0"><a href="/templates/" class="govuk-link govuk-!-font-weight-bold">Browse templates</a></p>
            </div>
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-l">Patterns</h2>
                <p class="govuk-body">User validated interaction patterns bespoke within Teaching Vacancies.</p>
                <p class="govuk-body govuk-!-margin-bottom-0"><a href="/patterns/" class="govuk-link govuk-!-font-weight-bold">Browse patterns</a></p>
            </div>



            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
            </div>

            <!-- <div class="govuk-grid-column-one-third">
                <h2 id="community" class="govuk-heading-m">Prototype kit</h2>
                <p class="govuk-body">
                    All protoypes built for Teaching Vacancies are built off the foundation of the <a href="https://design-system.service.gov.uk/get-started/prototyping/"> GOV.UK prototyping kit</a>. All code contained within prototypes are not production ready and are only used for design research purposes in order to identify or validate user needs.
                </p>

            </div> -->

            <div class="govuk-grid-column-one-third">
                <h2 id="support" class="govuk-heading-m">Support</h2>
                <p class="govuk-body">
                    The Teaching Vacancies Design System is maintained by the Teaching Vacancies team at the Department for Education (DfE).
                    <!-- If you’ve got a question, idea or suggestion you can: -->
                </p>
                <!-- <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                    <li>
                        email
                        <a href="mailto:govuk-design-system-support@digital.cabinet-office.gov.uk" class="govuk-link" data-hsupport="email">
                            govuk-design-system-support@digital.cabinet-office.gov.uk
                        </a>
                    </li>
                    <li>
                        get in touch using the
                        <a href="https://ukgovernmentdigital.slack.com/app_redirect?channel=govuk-design-system" class="govuk-link" data-hsupport="slack">
                            #govuk-design-system channel on cross-government Slack</a>
                    </li>
                </ul> -->
                <p><a href="mailto:chris.taylor@digital.education.gov.uk">Contact the UX team</a></p>
            </div>

            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Roadmap</h2>
                <p class="govuk-body">
                    See what the Teaching Vacancies team is planning to work on over the next 12 months in the our product roadmap.
                </p>
                <p><a href="#"></a>Link TBD</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}
