
{% extends "layout.html" %}

{% block pageTitle %}
    Teaching Vacancies Prototype Kit - Prototypes
{% endblock %}

{% block main %}
<div class="full-BGstrip" style="background-color:#f3f2f1;">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-!-padding-0">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% include "includes/misc/tvs-nav-started.html" %}
                </div>
            </div>

        </main>
    </div>
</div>

<div class="govuk-width-container">
    <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Prototype sections</h2>
            <p class="govuk-body">The sections of Teaching Vacncies that have functional prototypes.</p>
            <h2 class="govuk-heading-m">Public facing (logged out)</h2>
            <ul class="govuk-list">
              <li>
                <a href="/templates/public/01-service-start" class="govuk-link">Service start page</a>
              </li>
              <li>
                <a href="/templates/public/01-search-results" class="govuk-link">Search results</a>
              </li>
              <li>
                <a href="/templates/public/01-listing-1.html" class="govuk-link">Single job listing</a>
              </li>
              <li>
                <a href="/prototypes/application/expanded/sign-in" class="govuk-link">Sign in flow</a>
              </li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
            <h2 class="govuk-heading-m">Hiring staff (logged in)</h2>
            <ul class="govuk-list">
              <li>
                <a href="/prototypes/application/expanded/dashboard" class="govuk-link">Manage jobs dashboard</a>
              </li>
              <li>
                <a href="/prototypes/create-a-job/new-or-copy-job" class="govuk-link">Create a job flow</a>
              </li>
            </ul>
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Notes on prototyping</h2>
            <p classs="govuk-body"></p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Where possible prototype full flows and join them up to existing flows.</li>
              <li>Avoid isolated, static screens. If you do need to create them, include links to the list on this screen so it's easy for everyone to find them.</li>
              <li>If you do need to create a dead end, add a hash to the anchor to alert the user. Example: <a href="#">This link will notify the user that they can't go any further</a></li>
              <li>Avoid versioning your prototypes, this leads to unnecessary duplicition of code. You'll never go back to an earlier version, trust me.</li>
            </ul>
          </div>
        </div>
    </div>
</div>
{% endblock %}
