
{% extends "layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l"> Jobs by type of school and role </h1>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">Job roles</h2>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a href="/teacher-jobs">Teacher<span class="govuk-visually-hidden">jobs</span> (1264)</a>
          </li>
        <li>
          <a href="/senior-leader-jobs">Deputy or assistant headteacher<span class="govuk-visually-hidden">jobs</span> (116)</a>
        </li>
        <li>
          <a href="/senior-leader-jobs">Headteacher<span class="govuk-visually-hidden">jobs</span> (116)</a>
        </li>
        <li>
          <a href="/middle-leader-jobs">Head of year, department, curriculum or phase<span class="govuk-visually-hidden">jobs</span> (152)</a>
        </li>
        <li>
          <a href="/higher-level-teaching-assistant-jobs">HLTA (higher level teaching assistant)<span class="govuk-visually-hidden">jobs</span> (0)</a>
        </li>
        <li>
          <a href="/teaching-assistant-jobs">Teaching assistant<span class="govuk-visually-hidden">jobs</span> (327)</a>
        </li>
        <li>
          <a href="/sendco-jobs">SENDCo (special educational needs and disabilities coordinator)<span class="govuk-visually-hidden">jobs</span> (29)</a>
        </li>
        <li>
          <a href="/education-support-jobs">Learning support, cover supervisor or tutor<span class="govuk-visually-hidden">jobs</span> (302)</a>
        </li>
        <li>
          <a href="/send-responsible-jobs">SEND responsibilities<span class="govuk-visually-hidden">jobs</span> (56)</a>
        </li>
        <li>
          <a href="/ect-suitable-jobs">Suitable for early career teachers<span class="govuk-visually-hidden">jobs</span> (1000)</a>
        </li></ul>
        </div>
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-s">School phases</h2>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a href="/nursery-jobs">Nursery<span class="govuk-visually-hidden">jobs</span> (20)</a>
          </li>
        <li>
          <a href="/primary-school-jobs">Primary<span class="govuk-visually-hidden">jobs</span> (789)</a>
        </li>
        <li>
          <a href="/middle-school-jobs">Middle<span class="govuk-visually-hidden">jobs</span> (45)</a>
        </li>
        <li>
          <a href="/secondary-school-jobs">Secondary<span class="govuk-visually-hidden">jobs</span> (1324)</a>
        </li>
        <li>
          <a href="/sixth-form-or-college-jobs">Sixth form and college<span class="govuk-visually-hidden">jobs</span> (26)</a>
        </li>
        <li>
          <a href="/through-school-jobs">Through school<span class="govuk-visually-hidden">jobs</span> (157)</a>
        </li></ul>
        </div>
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-s">Working patterns</h2>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a href="/full-time-school-jobs">Full time<span class="govuk-visually-hidden">jobs</span> (1681)</a>
          </li>
        <li>
          <a href="/part-time-school-jobs">Part time<span class="govuk-visually-hidden">jobs</span> (638)</a>
        </li>
        <li>
          <a href="/flexible-working-jobs-in-schools">Flexible working<span class="govuk-visually-hidden">jobs</span> (3)</a>
        </li>
        <li>
          <a href="/school-job-shares">Job share<span class="govuk-visually-hidden">jobs</span> (1)</a>
        </li>
        <li>
          <a href="/school-term-time-jobs">Term time<span class="govuk-visually-hidden">jobs</span> (4)</a>
        </li></ul>
        </div>
        </div>



    </div>
  </div>

{% endblock %}
