{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}

{# Custom components #}
{% from "govuk/components/header/macro.njk"           import govukHeader %}
{% from "components/listing-card/macro.njk"           import appJobListingCard %}
{% from "components/applicant-card/macro.njk"         import appApplicantCard %}
{% from "components/search-result/macro.njk"          import appSearchResult %}

{# MOJ components #}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% if data.settings.useAltHeader and not data.settings.showPrimaryNav  %}
  {% set bodyClasses = "govuk-width-container-ls app-alt-header__on" %}
{% elseif data.settings.showPrimaryNav and not data.settings.useAltHeader %}
  {% set bodyClasses = "govuk-width-container-ls app-primary-nav__on" %}
{% elseif data.settings.useAltHeader and data.settings.showPrimaryNav %}
  {% set bodyClasses = "govuk-width-container-ls app-alt-header__on app-primary-nav__on" %}
{% endif %}

{% block header %}

{% if data.settings.useAltHeader %}
  {# Show the alternative header #}
  {{ govukHeader({
    "classes": "app-alt-header",
    "containerClasses": "app-alt-header-container govuk-width-container",
    "navigationClasses": "govuk-header__navigation--end",
    "productName": serviceName,
    navigation: [
      {
        href: "#",
        text: "Create a job alert",
        active: true if (navActive == "job-alert")
      } if sectionActive == "public service",
      {
        href: "/prototypes/application/expanded/sign-in",
        text: "Sign in",
        active: true if (navActive == "sign-in")
      } if sectionActive == "public service",
      {
        href: "#",
        text: "My account",
        active: true if (navActive == "my-acccount")
      } if sectionActive == "hiring staff",
      {
        href: "#",
        text: "Sign out"      
      } if sectionActive == "hiring staff"
    ]
  }) }}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "prototype"
      },
      html: 'This is a new service - <a class="govuk-link" href="#">your feedback</a> will help us to improve it.'
    }) }}
  </div>

{% else %}
  {# Show the original header #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    "classes": "app-default-header",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "/templates/public/01-service-start",
        text: "Find a teaching job",
        active: true if navActive == "start"
      } if not hideNav,
      {
        href: "/prototypes/application/expanded/sign-in",
        text: "Sign in",
        active: true if navActive == "sign-in"
      } if not hideNav
    ]
  }) }}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "prototype"
      },
      html: 'This is a new service - <a class="govuk-link" href="#">your feedback</a> will help us to improve it.'
    }) }}
    {% if not hideNav %}
      {% if backLink %}
        {{ govukBackLink({
          text: backText,
          href: backLink,
          classes: "govuk-!-margin-top-3"
        }) }}
      {% endif %}
    {% endif %}
  </div>
  
{% endif %}

{# Set primary nav items #}
{% set navItems = [{
    text: 'Find a teaching job',
    href: 'templates/public/01-service-start',
    active: true if navActive == 'start'
  },
  {
    text: 'Link name',
    href: '#',
    active: true if navActive == 'records'
  },
  {
    text: 'Link name',
    href: '#',
    active: true if navActive == 'bulk'
  }
] %}

{# Show primary nav if enabled #}
{% if data.settings.showPrimaryNav %}
  {% if sectionActive == "hiring staff" %}
    <div class="moj-primary-navigation">
      <div class="govuk-width-container">
        <div class="moj-primary-navigation__container">
          <div class="moj-primary-navigation__nav">
            <nav class="moj-primary-navigation" aria-label="Primary navigation">
              <ul class="moj-primary-navigation__list">
                  <li class="moj-primary-navigation__item">
                    <a class="moj-primary-navigation__link" href="/prototypes/application/expanded/dashboard" {{'aria-current="page"' if primaryNavActive == 'manage jobs'}}>Manage jobs</a>
                  </li>
                  <li class="moj-primary-navigation__item">
                    <a class="moj-primary-navigation__link" href="/prototypes/application/expanded/dashboard/manage-settings" {{'aria-current="page"' if primaryNavActive == 'manage settings'}}>Manage settings</a>
                  </li>
                  <li class="moj-primary-navigation__item">
                    <a class="moj-primary-navigation__link" href="#" {{'aria-current="page"' if primaryNavActive == 'notifications'}}>Notifications
                    <span class="app-notification-number">2</span>
                    </a>
                  </li>
                </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if sectionActive == "public service" %}
    <div class="moj-primary-navigation">
      <div class="govuk-width-container">
        <div class="moj-primary-navigation__container">
          <div class="moj-primary-navigation__nav">
            <nav class="moj-primary-navigation" aria-label="Primary navigation">
              <ul class="moj-primary-navigation__list">
                  <li class="moj-primary-navigation__item">
                    <a class="moj-primary-navigation__link" href="/templates/public/01-service-start" {{'aria-current="page"' if primaryNavActive == 'service start'}}>Find a teaching job</a>
                  </li>
                  <li class="moj-primary-navigation__item">
                    <a class="moj-primary-navigation__link" href="#">Resources</a>
                  </li>
                </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-width-container">
      {% if backLink %}
        {{ govukBackLink({
          text: backText,
          href: backLink,
          classes: "govuk-!-margin-top-3"
        }) }}
      {% endif %}
    </div>
  {% endif %}

{% endif %}

{% endblock %}

{% block beforeContent %}
  {# Show phase banner if not alt header #}
  {# {% if not data.settings.useAltHeader %}
    {{ govukPhaseBanner({
      tag: {
        text: "prototype"
      },
      html: 'This is a new service - <a class="govuk-link" href="/feedback/new">your feedback</a> will help us to improve it.'
    }) }}
  {% endif %} #}
  
  {# {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }} #}

{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/admin",
            text: "Admin settings"
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      },

      navigation: [
          {
            title: "For job seekers",
            columns: 1,
            items: [
              {
                href: "#1",
                text: "Search teaching vacancies"
              }
            ]
          },
          {
            title: "For schools",
            columns: 1,
            items: [
              {
                href: "#1",
                text: "List a teaching job"
              }
            ]
          },
          {
            title: "Service support",
            columns: 1,
            items: [
              {
                href: "#1",
                text: "Report problems via email"
              },
              {
                href: "#2",
                text: "Feedback about the service"
              },
              {
                href: "#3",
                text: "Cookies"
              },
              {
                href: "#4",
                text: "Privacy"
              },
              {
                href: "#5",
                text: "Terms and conditions"
              }
            ]
          }
      ]
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
