
/*
------------------------------------------------------------
CREATE AN ALERT
------------------------------------------------------------
*/

section.criteria-highlight {

    border: 5px solid #bfc1c3;
    box-sizing: border-box;

    ul {
        list-style: none;

        li {
            span {
                font-weight: bold;
            }
        }
    }
}

/*
------------------------------------------------------------
EMAILs
------------------------------------------------------------
*/

.email-width {
    .govuk-width-container {
        max-width: 600px;
    }
}

.email-section {

    border-bottom: 1px #6F777B solid;

    &:first-of-type {
        border-top: 1px #6F777B solid;
    }

    &:last-of-type {
        border-bottom: none;
    }
}

/*
------------------------------------------------------------
Edit alert criteria
------------------------------------------------------------
*/

.options-container-noSearch {
    border: 5px solid #dee0e2;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    padding: 5px 15px 5px 15px;
    border-left: 5px solid #dee0e2;
    border-right: 5px solid #dee0e2;
    border-bottom: 5px solid #dee0e2;
}