
/*
-----------------------------------------------
GENERAL
-----------------------------------------------
*/

.create-title {
    h1 {
        margin-bottom: 0;
    }
    h5 {
        font-weight: 500;
    }
    .govuk-back-link {
      margin-top: -30px;
    }
}

.text-red {
    color: #d4351c;
}
div.add-colon-positioned-next-to-element:after {
    content: ":";
    position: absolute;
    right: -13px;
    bottom: 10px;
    font-size: 21px;
    font-weight: 700;
}
.preview-btn {
    margin-left: 10px;
}

/*
-----------------------------------------------
DASHBOARD
-----------------------------------------------
*/

.dash-title {
    margin-top: 0;
}

/*
-----------------------------------------------
OVERVIEW
-----------------------------------------------
*/

div.govuk-accordion {
    background-color: #FFFFFF;
    border-bottom:0;
    padding: 0;

    .govuk-accordion__section {
        border-bottom: 1px solid #b1b4b6;
    }
}


li.app-step-nav__step {

    div.app-step-nav__header {
        padding-top: 15px;
        padding-bottom: 5px;
        cursor: default;

        &:hover {

            .app-step-nav__circle {
                color: #0b0c0c;
                cursor:default;
            }
            .js-step-title {

                .app-step-nav__button {
                    color: #0b0c0c;
                    cursor:default;
                }
            }
        }

        .app-step-nav__title {

            .app-step-nav__circle {

                .app-step-nav__circle-inner {

                    .app-step-nav__circle-background {

                    }
                }
            }
            .js-step-title {

                .app-step-nav__button {

                    .js-step-title-text {

                    }
                }
            }
        }
    }

    p.app-step-nav__paragraph {
        padding-bottom: 15px;
    }

    .app-step-nav__circle {
        top: 16px;
    }

}


/*
-----------------------------------------------
6 - SUMMARY
-----------------------------------------------
*/
textarea.summary-textarea {
    margin-bottom: 5px;
}
/*
-----------------------------------------------
REVIEW
-----------------------------------------------
*/

.app-task-list__section {

    a {
        margin-left: 20px;
            font-size: 19px;
    }

}

.app-check-your-answers__contents {
    display: table-row;

    .app-check-your-answers__question {
        width: 180px;
        display: table-cell;
        margin-right: 10px;

        h4 {
            margin:0 20px 0 0;
        }
    }
    .app-check-your-answers__answer {
        display: table-cell;

        p {
            display: inline-block;
            float: left;
        }

        p:last-child {
            margin-bottom: 0;
        }

        strong {
            
        }

    }

}

/*
-----------------------------------------------
8 - SUCCESS
-----------------------------------------------
*/

.govuk-panel__body {

    p {
        color: #FFFFFF;

        a {
            color: #FFFFFF;
        }
    }
}
.govuk-panel--confirmation {
    .hod-checkmark {
        font-size: 35px;
        color: #FFF;
        display: block;
        margin: 15px auto;
        position: relative;
        background: rgba(255, 255, 255, 0.1);
        width: 70px;
        height: 70px;
        border-radius: 50%;

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        + .govuk-heading-l {
          margin-top: 0;
        }
      }
}




/*
-----------------------------------------------
2 - PAY PACKAGE
-----------------------------------------------
*/

/*
-----------------------------------------------
5 - UPLOAD DOCUMENTS
-----------------------------------------------
*/

div.upload-group {


    .govuk-button {
        margin-bottom: 0;
    }
}
p.file-error-title {
    margin-bottom: 0;
}

.banner {
    border: 5px solid #1d70b8;
    color: #1d70b8;

    margin-bottom: 30px;
    padding: 10px;

    &.banner--success {
        border-color: #00703c;
        color: #00703c;
    }
    svg.banner__icon {
        fill: currentColor;
        float: left;
        margin-right: 10px;
    }


    div.banner__message {
        color: #0b0c0c;
        display: block;
        overflow: hidden;
        font-weight: 400;
        line-height: 1.31579;
        font-size: 19px;

        a {
            float: right;
        }


        .banner__assistive {
            position: absolute !important;
            width: 1px !important;
            height: 1px !important;
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden !important;
            clip: rect(0 0 0 0) !important;
            -webkit-clip-path: inset(50%) !important;
            clip-path: inset(50%) !important;
            border: 0 !important;
            white-space: nowrap !important;
        }
    }
}

/* remove modal */

.gem-c-modal-dialogue {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    outline:0;

    .gem-c-modal-dialogue__overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .8;
        background: #0b0c0c;
        pointer-events: none;
        touch-action: none;
    }
    .gem-c-modal-dialogue__box {
        display: block;
        background: #ffffff;
        padding: 0;
        overflow-y: auto;
        color: #0b0c0c;

        position: relative;
        top: inherit;
        right: inherit;
        bottom: inherit;
        left: inherit;
        width: auto;
        max-width: 640px;
        height: auto;
        margin: 50px auto;
        border: 2px solid #0b0c0c;

        .gem-c-modal-dialogue__header {
            padding: 9px 15px 10px;
            color: #ffffff;
            background: #0b0c0c;
        }
        .gem-c-modal-dialogue__content {
            padding: 20px;
            background: #ffffff;

            .cancel-link {
                display: inline-block;
                padding: 8px;
                margin-bottom: 0;
            }

            button {
                margin-bottom: 0;
            }
        }
        .gem-c-modal-dialogue__close-button {
            position: absolute;
            top: 0;
            right: 0;
            width: 44px;
            height: 44px;
            border: 0;
            color: #000000;
            background: none;

            font-size: 2.25rem;
            line-height: 1.3;
        }
    }

}

/*
-----------------------------------------------
JOB LISTING
-----------------------------------------------
*/

/* rgb(243, 242, 241) */

div.listing-title {
    h1 {
        margin-bottom: 10px;
    }
    h4.govuk-caption-l {
        margin-top: 0;
    }
}

table.govuk-table-bespoke {

    @media (min-width: 40.0625em) {
        td.govuk-table__header {

            width: 33%;
        }
    }

}

div.tvs-tabs {

    section.govuk-tabs__panel {
        padding: 20px 0 0 0;
        border: 0;
        margin-bottom: 20px;
    }

    h2.govuk-tabs__title {
        margin-top: 30px;
    }

    a.tab-override {

    }

    .govuk-tabs__list-item--selected {

        a.govuk-tabs__tab:link,
        .govuk-tabs__tab:visited,
        a.js-enabled .govuk-tabs__tab:link,
        a.js-enabled .govuk-tabs__tab:visited {
            color: #0b0c0c;
        }
    }

    a.govuk-tabs__tab:link,
    .govuk-tabs__tab:visited,
    a.js-enabled .govuk-tabs__tab:link,
    a.js-enabled .govuk-tabs__tab:visited {
        color: rgb(29, 112, 184);
    }

    @media (min-width: 40.0625em) {
        a.govuk-tabs__tab {
            font-size: 20px;
        }
    }

}


