/*
---------- Start page ------------------------------
*/

/* Hide lust teaching job section on mobile */
@media (max-width: 40.0625em) {
    aside.app-related-items {
        display: none;
    }

    .four-column-list {
        column-count: 2;

        li {
            font-size: 16px;
        }
        
    }

}

/*
---------- Results ------------------------------
*/
// .govuk-back-link {
//     margin-top: 0;
// }

.heading-results  {

    h1 {
        span {
            font-weight: 300;
        }
    }
}

.alert-badge {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 12px;
    font-size: 0.9rem;
    line-height: 1.25;
    padding: 0 5px;
    display: inline-block;
    border: 2px solid #00703c;
    color: #00703c;
    text-transform: uppercase;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: -2px;
    margin-right: 5px;
}

ul.vacancies {

    li {

    
    &.interuption-msg {
        padding: 15px 0 30px 0;
    }
}

}



@media (max-width: 40.0625em) {

    .heading-results  {

        p.govuk-body {
            margin-bottom: 20px;
        }
        
    }

    .sp-form {
        border: 5px solid #dee0e2;
        padding: 15px;
        margin-bottom: 20px;

        div.distance-inset {
            margin-bottom: 0;
        }
    }

    div.results-top {

        p {
            float: left;
            margin-bottom: 0;
        }

    }

    ul.vacancies {
        li {
            padding-bottom: 0;

            &.interuption-msg {
                // padding-bottom: 15px;
            }

            dl {
                dt {
                    width: 34%;
                }
                dd.double {
                    width: 55%;
                    margin-inline-start: 20px;
                }
            }
        }
    }

}