/*
---------- Structure overrides ------------------------------
*/

.bespoke-width {
    .govuk-width-container {
        max-width: 1200px;
    }
}
/*
---------- Dashboard ------------------------------
*/

@media (min-width: 40.0625em) {
    table.vacancies {
        font-size: 16px;
    }
}

.mat-select {
    margin-bottom: 20px;

    label {
        display: inline-block;
        margin-right: 5px;
    }
    select {

    }
}

td.action-links {
    width: 140px;
    a {
        margin-right: 5px;
    }
}

/*
---------- My Schools ------------------------------
*/
h2.mySchools-title {
    border-bottom: 5px solid #005EA5;
}

ul.mySchools {
    list-style-type: none;
    padding: 0;

    li.mySchools-item {
        border-bottom: 1px solid #BFC1C3;
        padding-bottom: 10px;
        margin-bottom: 20px;

        h3 {
            margin-bottom: 5px;

            strong.authorised {
                background-color: #006435;
                font-size: 14px;
            }
            strong.not-authorised {
                background-color: #B10E1E;
                font-size: 14px;
            }
        }
        div.meta-box {
            border: 1px solid #BFC1C3;
            padding: 10px;
        }
        ul.mySchools-meta {
            list-style-type: none;
            padding: 0;
            font-size: 16px;
            //border: 1px solid #BFC1C3;
            //padding: 10px;

            li {
                margin-bottom:5px;

                strong {
                    color: #626a6e;
                }
            }
        }

        table.mySchools-table {
            font-size: 16px;
            margin-bottom: 0;
            tbody {
                tr {
                    th.govuk-table__header {
                        border: none;
                        padding: 0;
                    }
                    td.govuk-table__cell {
                        border: none;
                        padding: 0;
                    }
                }
            }
        }
    }
}

/*
---------- Review job listing------------------------------
*/

dt.app-check-your-answers__question {
    vertical-align: top;
}
/*
---------- Preview ------------------------------
*/

.govuk-info-summary {
    color: #0b0c0c;
    padding: 15px;
    margin-bottom: 30px;
    border: 5px solid #005EA5;

    .govuk-info-summary__title {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .govuk-info-summary__body {

        a {
            margin-bottom: 0;
            margin-right: 5px;
        }

    }
}

div.accordion-schools {
    .govuk-accordion__section {
        .govuk-accordion__section-header {
            h2.govuk-accordion__section-heading {
                font-size: 19px;
                .govuk-accordion__section-button {
                    font-size: 19px;
                }
            }
        }
    }
}
