
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/profile"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Activate profile
      </span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Confirm that you want to activate your profile
      </h1>

      <p>When you activate your profile, schools will be able to find your profile.</p>

      <form method="post">

        {{ govukButton({
          text: "Activate profile"
        }) }}
      </form>
      <p><a href="/profile">Cancel</a></p>

    </div>
  </div>

{% endblock %}
