
{% extends "layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = 'Your profile' %}

{% block content %}

  {{user | log}}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash and flash.length }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        {{title}}
        {{govukTag({
          text: user.profile.status,
          classes: 'govuk-tag--green'
        }) if user.profile.status == 'Active'}}
      </h1>

      <p>Your profile allows schools to find and invite you to apply for their jobs.</p>
      <p>

      {% if user.profile.status %}
        {% if user.profile.status == 'Active' %}
          <a class="govuk-!-margin-right-2" href="/profile/deactivate">Turn off profile</a>
        {% else %}
          <a class="govuk-!-margin-right-2" href="/profile/activate">Turn on profile</a>
        {% endif %}
      {% endif %}

      <a href="/profile/preview">Preview profile</a></p>


      <div class="app-profile__section">

        <h2 class="govuk-heading-m govuk-!-font-size-27">
          Personal details
        </h2>

        {% if user.profile.firstName and user.profile.providePhoneNumber %}

          {% set emailAddress %}
            <p>{{user.username}}</p>

            {{ govukInsetText({
              classes: 'govuk-!-margin-top-3',
              html: 'Change your email address from within your <a href="#">account</a>.'
            }) }}

          {% endset %}

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "First name"
                },
                value: {
                  text: user.profile.firstName
                },
                actions: {
                  items: [
                    {
                      href: "/profile/personal-details/name",
                      text: "Change",
                      visuallyHiddenText: "First name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Last name"
                },
                value: {
                  text: user.profile.lastName
                },
                actions: {
                  items: [
                    {
                      href: "/profile/personal-details/name",
                      text: "Change",
                      visuallyHiddenText: "Last name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Email address"
                },
                value: {
                  html: emailAddress
                }
              },
              {
                key: {
                  text: "Do you want to provide a phone number?"
                },
                value: {
                  text: user.profile.providePhoneNumber
                },
                actions: {
                  items: [
                    {
                      href: "/profile/personal-details/phone-number",
                      text: "Change",
                      visuallyHiddenText: "Phone number"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Phone number"
                },
                value: {
                  text: user.profile.phoneNumber
                },
                actions: {
                  items: [
                    {
                      href: "/profile/personal-details/phone-number",
                      text: "Change",
                      visuallyHiddenText: "Phone number"
                    }
                  ]
                }
              } if user.profile.providePhoneNumber == 'Yes'
            ]
          }) }}
        {% else %}
          {# <p>Name and contact details.</p> #}
          {# {{ govukButton({
            text: "Add personal details",
            classes: 'govuk-button--secondar govuk-!-margin-bottom-2',
            href: '/profile/personal-details/name'
          }) }} #}
          <p><a href="/profile/personal-details/name">Add personal details</a></p>
        {% endif %}


      </div>
      <div class="app-profile__section">

        <h2 class="govuk-heading-m govuk-!-font-size-27">
          Job preferences
        </h2>

        {% if user.profile.roles and user.profile.phases and user.profile.workingPatterns %}
          {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Roles"
              },
              value: {
                html: user.profile.roles | join('<br><br>')
              },
              actions: {
                items: [
                  {
                    href: "/profile/job-preferences/roles",
                    text: "Change",
                    visuallyHiddenText: "Roles"
                  }
                ]
              }
            },
             {
                  key: {
                    text: "Phases"
                  },
                  value: {
                    text: user.profile.phases | join(', ')
                  },
                  actions: {
                    items: [
                      {
                        href: "/profile/job-preferences/education-phases",
                        text: "Change",
                        visuallyHiddenText: "Education phases"
                      }
                    ]
                  }
                } if user.profile.phases,
                {
                  key: {
                    text: "Key stages"
                  },
                  value: {
                    text: user.profile.keyStages | join(', ')
                  },
                  actions: {
                    items: [
                      {
                        href: "/profile/job-preferences/key-stages",
                        text: "Change",
                        visuallyHiddenText: "Key stages"
                      }
                    ]
                  }
                } if user.profile.keyStages,
                {
                  key: {
                    text: "Subjects"
                  },
                  value: {
                    html: user.profile.subjects | join(', ')
                  },
                  actions: {
                    items: [
                      {
                        href: "/profile/job-preferences/subjects",
                        text: "Change",
                        visuallyHiddenText: "Subjects"
                      }
                    ]
                  }
                } if user.profile.subjects,
                {
                key: {
                  text: "Working patterns"
                },
                value: {
                  text: user.profile.workingPatterns | join(', ')
                },
                actions: {
                  items: [
                    {
                      href: "/profile/job-preferences/working-patterns",
                      text: "Change",
                      visuallyHiddenText: "Working patterns"
                    }
                  ]
                }
              }
          ]
        }) }}
      {% else %}
        {# {{ govukButton({
          text: "Add job preferences",
          classes: 'govuk-button--secondar govuk-!-margin-bottom-2',
          href: '/profile/job-preferences/roles'
        }) }} #}
        <p><a href="/profile/job-preferences/roles">Add job preferences</a></p>
      {% endif %}
      </div>

      <div class="app-profile__section">


        <h2 class="govuk-heading-m govuk-!-font-size-27">
          Teaching status
        </h2>

        {% if user.profile.qts %}
          {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Do you have qualified teaching status (QTS)?"
              },
              value: {
                html: user.profile.qts
              },
              actions: {
                items: [
                  {
                    href: "/profile/teaching-status/qts",
                    text: "Change",
                    visuallyHiddenText: "if you have qualified teaching status (QTS)"
                  }
                ]
              }
            },
            {
              key: {
                text: "Year QTS awarded"
              },
              value: {
                text: user.profile.qtsAwardedYear
              },
              actions: {
                items: [
                  {
                    href: "/profile/teaching-status/qts",
                    text: "Change",
                    visuallyHiddenText: "Year QTS awarded"
                  }
                ]
              }
            } if user.profile.qtsAwardedYear,
            {
              key: {
                text: "Are you an early career teacher (ECT)?"
              },
              value: {
                text: user.profile.ect
              },
              actions: {
                items: [
                  {
                    href: "/profile/teaching-status/ect",
                    text: "Change",
                    visuallyHiddenText: "if you are an early career teacher (ECT)"
                  }
                ]
              }
            } if user.profile.ect
          ]
        }) }}
        {% else %}
          {# <p>Qualified teaching status (QTS).</p> #}
          {# {{ govukButton({
            text: "Add teaching status",
            classes: 'govuk-button--secondar govuk-!-margin-bottom-2',
            href: '/profile/teaching-status/qts'
          }) }} #}

          <p><a href="/profile/teaching-status/qts">Add teaching status</a></p>
        {% endif %}
      </div>
      <div class="app-profile__section">

        <h2 class="govuk-heading-m govuk-!-font-size-27">
          Qualifications
        </h2>

        {% if user.profile.qualifications | length > 0 %}
          {% set classes = 'govuk-button--secondar govuk-!-margin-bottom-6' %}
        {% else %}
          {% set classes = 'govuk-button--secondar govuk-!-margin-bottom-2' %}
        {% endif %}


        {# {{ govukButton({
          text: 'Add other qualifications',
          classes: classes,
          href: '/profile/qualifications/type'
        }) }} #}

        <p><a href="/profile/qualifications/type">Add qualifications</a></p>

        {% for id, qualification in user.profile.qualifications %}

          {{appPageHeader({
            classes: 'govuk-!-margin-bottom-1',
            heading: {
              level: 2,
              text: qualification.subject,
              classes: 'govuk-heading-m'
            },
            items: [{
              text: 'Delete qualification',
              href: "profile/qualifications/"+id+"/delete",
              type: 'link'
            }]
          })}}

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Type"
                },
                value: {
                  text: qualification.type
                },
                actions: {
                  items: [
                    {
                      href: "/profile/qualifications/"+id+"/type/",
                      text: "Change",
                      visuallyHiddenText: "Type"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Subject"
                },
                value: {
                  text: qualification.subject
                },
                actions: {
                  items: [
                    {
                      href: "/profile/qualifications/"+id+"/details/",
                      text: "Change",
                      visuallyHiddenText: "Item label"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Grade (optional)"
                },
                value: {
                  text: qualification.grade or 'Not entered'
                },
                actions: {
                  items: [
                    {
                      href: "/profile/qualifications/"+id+"/details/",
                      text: "Change",
                      visuallyHiddenText: "Item label"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Year awarded"
                },
                value: {
                  text: qualification.year or 'Not entered'
                },
                actions: {
                  items: [
                    {
                      href: "/profile/qualifications/"+id+"/details/",
                      text: "Change",
                      visuallyHiddenText: "Item label"
                    }
                  ]
                }
              }
            ]
          }) }}
        {% endfor %}
      </div>
      <div class="app-profile__section">

        <h2 class="govuk-heading-m govuk-!-font-size-27">
          Work history
        </h2>

        {# {{ govukButton({
          text: "Add work experience",
          classes: 'govuk-button--secondar govuk-!-margin-bottom-2',
          href: '#'
        }) }} #}

        <p><a href="/profile/work-history">Add roles</a></p>

        {% for id, role in user.profile.workHistory %}

        {{appPageHeader({
          classes: 'govuk-!-margin-bottom-1',
          heading: {
            level: 2,
            text: role.role,
            classes: 'govuk-heading-m'
          },
          items: [{
            text: 'Delete role',
            href: "profile/work-history/"+id+"/delete",
            type: 'link'
          }]
        })}}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Name of school or employer"
              },
              value: {
                text: role.employer
              },
              actions: {
                items: [
                  {
                    href: "/profile/work-history/"+id+"/edit",
                    text: "Change",
                    visuallyHiddenText: "Employer"
                  }
                ]
              }
            },
            {
              key: {
                text: "Role"
              },
              value: {
                text: role.role
              },
              actions: {
                items: [
                  {
                    href: "/profile/work-history/"+id+"/edit",
                    text: "Change",
                    visuallyHiddenText: "Role"
                  }
                ]
              }
            },
            {
              key: {
                text: "Start date"
              },
              value: {
                text: role.startDate | monthAndYearOnly
              },
              actions: {
                items: [
                  {
                    href: "/profile/work-history/"+id+"/edit",
                    text: "Change",
                    visuallyHiddenText: "Start date"
                  }
                ]
              }
            },
            {
              key: {
                text: "End date"
              },
              value: {
                text: role.endDate | monthAndYearOnly
              },
              actions: {
                items: [
                  {
                    href: "/profile/work-history/"+id+"/edit",
                    text: "Change",
                    visuallyHiddenText: "Start date"
                  }
                ]
              }
            } if role.endDate,
            {
              key: {
                text: "Are you still working in this role?"
              },
              value: {
                text: role.currentRole
              },
              actions: {
                items: [
                  {
                    href: "/profile/work-history/"+id+"/edit",
                    text: "Change",
                    visuallyHiddenText: "if you are still working in this role?"
                  }
                ]
              }
            } if not role.endDate
          ]
        }) }}
      {% endfor %}
      </div>
      <div class="app-profile__section">

        <h2 class="govuk-heading-m govuk-!-font-size-27">
          About you
        </h2>

        {% if user.profile.about %}
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "About you and your experience"
                },
                value: {
                  html: user.profile.about | nl2br
                },
                actions: {
                  items: [
                    {
                      href: "/profile/about",
                      text: "Change",
                      visuallyHiddenText: "About you"
                    }
                  ]
                }
              }
            ]
          }) }}
        {% else %}
          {# <p>Skills and experience.</p> #}
          {# {{ govukButton({
            text: "Add skills and experience",
            classes: 'govuk-button--secondar govuk-!-margin-bottom-2',
            href: '/profile/about'
          }) }} #}

          <p><a href="/profile/about">Add details about you</a></p>

        {% endif %}
      </div>

      {# <div class="app-profile__section">
        <h2 class="govuk-heading-m govuk-!-font-size-27">
          Job search status
        </h2>

        {% if user.profile.status %}
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Job search status"
                },
                value: {
                  html: user.profile.status
                },
                actions: {
                  items: [
                    {
                      href: "/profile/status",
                      text: "Change",
                      visuallyHiddenText: "Status"
                    }
                  ]
                }
              }
            ]
          }) }}
        {% else %}
          <p><a href="/profile/status">Add job search status</a></p>
        {% endif %}
      </div> #}

      {% if not user.profile.status %}
        <div class="app-profile__section">
          <h2 class="govuk-heading-m govuk-!-font-size-27">
            Turn on profile
          </h2>

          <p>When you turn on your profile, it’ll be visible to hiring staff.</p>

          <form method="post">

            {{ govukButton({
              text: "Turn on profile"
            }) }}
          </form>
        </div>

      {% endif %}



    </div>
  </div>

{% endblock %}
