
{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Complete your profile from a previous application</h1>

      <p class="govuk-body">
        Because you have already submitted an application, some of your information can be used to automatically complete your profile. This includes:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your personal information</li>
        <li>your qualifications</li>
        <li>your work history</li>
      </ul>

      <form method="post" action="">

        {{ govukButton({
          text: "Populate profile"
        }) }}

      </form>

      <p class="govuk-body">
        <a href="/profile/profile-manual">Create profile manually</a>
      </p>

    </div>
  </div>

{% endblock %}
