
{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Populate your profile</h1>

      <p class="govuk-body">
        As you have made an application on the Teacher Vacancies service already with the email {{user.emailAddress}}, your information can be used to populate your profile automatically.
      </p>

      <form method="post" action="">

        {{ govukButton({
          text: "Populate profile with previous application data"
        }) }}

      </form>

      <p class="govuk-body">
        <a href="/profile/profile-manual">Create profile manually</a>
      </p>

    </div>
  </div>

{% endblock %}
