
{% extends "layout.njk" %}

{% set title = 'Application' %}

{% if data['religion-question'] %}  {% set religionQuestons %} {{data['religion-question'] }} {% endset %} {% endif %}

{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quaters">
   
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">Teacher at Weydon Multi Academy Trust</span>
            {{title}}
        </h1>

        <h2 class="govuk-heading-l">
            Religious information
        </h2>

        <form action="/jobs">

            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="event-name">
                    What is your religious denomination or faith?
                </label>
                <div id="event-name-hint" class="govuk-hint">
                    For example, Christian. 
                </div>
                <input class="govuk-input" id="religion-name" name="religionName" type="text" aria-describedby="religion-name-hint">
            </div> 
        
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="address">
                    Address of place of worship (optional)
                </label>
                <div id="event-name-hint" class="govuk-hint">
                    For example, Westminster Abbey, Dean's Yard, London.
                </div>
                <textarea class="govuk-textarea" id="placeofworship" name="placeofworship" rows="5" autocomplete="street-address"></textarea>
            </div>
 
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h3 class="govuk-fieldset__heading">
                        Can you provide a religious referee?
                    </h3>
                    </legend>
                    <div id="contact-hint" class="govuk-hint">
                    A religious referee is...
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                        <label class="govuk-label govuk-radios__label" for="contact">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="referee-name">
                            Religous referee name
                            </label>
                            <input class="govuk-input" id="referee-name" name="referee-name" type="text">
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="address">
                                Religous referee address
                            </label>
                            <textarea class="govuk-textarea" id="address" name="address" rows="5" autocomplete="street-address"></textarea>
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="referee-name">
                                Religous referee role
                            </label>
                            <input class="govuk-input" id="referee-name" name="referee-name" type="text">
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="referee-name">
                                Religous referee email address
                            </label>
                            <input class="govuk-input" id="referee-name" name="referee-name" type="text">
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="referee-name">
                                Religous referee phone number (optional)
                            </label>
                            <div class="govuk-hint" id="jobseekers-job-application-details-reference-form-phone-number-hint">Only give a phone number that your referee is happy to be contacted on.</div>
                            <input class="govuk-input" id="referee-name" name="referee-name" type="text">
                        </div>
                    </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone">
                                <label class="govuk-label govuk-radios__label" for="contact-2">
                                    No
                                </label>
                            </div>
                         
                </fieldset>
            </div>

        
    
        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </div>

        <p><a href="#">Cancel</a></p>

        </form>

    </div>
  </div>

{% endblock %}
