{% extends "templates/form-template.html" %}

{% set sectionActive = "hiring staff" %}

{% block formContent %}

  {{ govukPanel({
    titleText: "The job listing has been completed"
  }) }}

  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">Your job listing will be posted on 8 December 2021.</p>
  <p class="govuk-body">The job listing will appear on the service until 12 December 2021 at 8:00am, after which it will no longer be visible to jobseekers.</p>

  <div class="govuk-button-group">

    {{ govukButton({
      text: "View your job listings",
      classes: "govuk-button--secondary"
    }) }}
    
    {{ govukButton({
      text: "Create another job listing",
      classes: "govuk-button--secondary",
      href: "/prototypes/create-a-job/new-or-copy-job"
    }) }}
  </div>

  <hr class="govuk-section-break govuk-section-break--visible">

  {% set insetHtml %}
     <h2 class="govuk-heading-m">Share this job</h2>
     <p>https://qa.teaching-vacancies.service.gov.uk/jobs/test-copy</p>
     {{ govukButton({
      text: "Copy URL",
      classes: "govuk-button--secondary"
    }) }}

  {% endset %}

  {{ govukInsetText({
    html: insetHtml
  }) }}

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4">
  
  <h2 class="govuk-heading-m">Have time to share some feedback?</h2>

  <p class="govuk-body">Your feedback can help us improve the service to better support you as well as schools around England.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you need to report a problem, or request support with using Teaching Vacancies?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No"
      }
    ]
  } | decorateAttributes(data, "data.job.reportAProblem")) }}
  
  {{ govukRadios({
    fieldset: {
      legend: {
        text: "How satisfied are you with the job listing process on Teaching Vacancies?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        text: "Highly satisfied"
      },
      {
        text: "Somewhat satisfied"
      },
      {
        text: "Neither satisfied nor dissatisfied"
      },
      {
        text: "Somewhat dissatisfied"
      },
      {
        text: "Highly dissatisfied"
      }
    ]
  } | decorateAttributes(data, "data.job.reportAProblem")) }}

  {{ govukTextarea({
    label: {
      text: "Do you have any suggestions on how we should improve the service? (optional)",
      classes: "govuk-label--s"
    }
  } | decorateAttributes(data, "data.job.suggestionsForImprovement")) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Would you like to participate in our research?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No"
      }
    ]
  } | decorateAttributes(data, "data.job.participate in our research")) }}

  {{ govukButton({
    text: "Submit feedback"
  }) }}

</div>

{% endblock %}
