{% extends "templates/form-template-4.html" %}

{% set formAction = "./copy-or-new-job-answer" %}

{% block formContent %}


  
  {# <div class="create-title">
    <h1 class="govuk-heading-m govuk-!-margin-bottom-5">Create a job listing</h1>
  </div> #}

  <!-- {{ govukRadios({
    fieldset: {
      legend: {
        text: "What do you want to do?",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    },
    items: [
      {
        text: "Bexleyheath Academy (Open)"
      },
      {
        text: "WEYDON MULTI ACADEMY TRUST (Open)"
      }
    ]
  } | decorateAttributes(data, "data.job.newOrCopyExistingJob")) }} -->

 

  {{ govukRadios({
    idPrefix: "sign-in",
    name: "sign-in",
    fieldset: {
      legend: {
        text: "Select your organisation",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: ""
    },
    items: [
      {
        value: "government-gateway",
        text: "Bexleyheath Academy (Open)",
        hint: {
          text: "URN: 137138, UKPRN: 10034964"
        }
      },
      {
        value: "govuk-verify",
        text: "WEYDON MULTI ACADEMY TRUST (Open)",
        hint: {
          text: "UID: 16644, UKPRN: 10058582"
        }
      }
    ]
  }) }}

  <button class="govuk-button" data-module="govuk-button">Continue</button>
  <p><a href="/prototypes/application/expanded/dashboard">Cancel and return to manage jobs</a></p>

{% endblock %}