<h2 class="govuk-heading-s govuk-!-padding-top-4 govuk-!-margin-bottom-2 acc-username"><span>Joanna Bloggs - </span>email@email-address.com</h2>
<ul class="acc-navigation__list">
  <li class="acc-navigation__list-item">
    <a class="govuk-link govuk-link--no-visited-state" href="#">My applications</a>
  </li>
  <li class="acc-navigation__list-item">
    <a class="govuk-link govuk-link--no-visited-state" href="#">Saved jobs</a>
  </li>
  <li class="acc-navigation__list-item app-navigation__list-item--current">
    <a class="govuk-link govuk-link--no-visited-state" href="#">Job alerts</a>
  </li>
  <li class="acc-navigation__list-item">
    <a class="govuk-link govuk-link--no-visited-state" href="#">Account details</a>
  </li>
</ul>