{% if application.status == 'Received' %}
  {{govukTag({
    text: "Received",
    classes: "govuk-tag--blue"
  })}}
{# {% endif %} #}
{% elseif application.status == 'Withdrawn' or data.applications[applicationId].status == 'Withdrawn' %}
  {{govukTag({
    text: "Withdrawn",
    classes: "govuk-tag--yellow"
  })}}
{# {% endif %} #}
{% elseif application.status == 'Unsuccessful' or data.applications[applicationId].status == 'Unsuccessful' %}
  {{govukTag({
    text: "Unsuccessful",
    classes: "govuk-tag--red"
  })}}
{# {% endif %} #}
{% elseif application.status == 'Invited to interview' or data.applications[applicationId].status == 'Invited to interview' %}
  {{govukTag({
    text: "Invited to interview",
    classes: "govuk-tag--green"
  })}}
{# {% endif %} #}
{% elseif application.status == 'Reviewed' or data.applications[applicationId].status == 'Reviewed' %}
  {{govukTag({
    text: "Reviewed",
    classes: "govuk-tag--purple"
  })}}
{% endif %}