
  {{ govukHeader({
    homepageUrl: "/templates/public/01-service-start",
    serviceName: serviceName,
    serviceUrl: "/templates/public/01-service-start",
    containerClasses: "govuk-width-container",
    navigation: [
      {
        href: "/prototypes/application/journey/job-listings/",
        text: "Manage job listings",
        active: true if sectionActive == "job listings"
      },
      {
        href: "/templates/public/01-service-start",
        text: "View public jobs"
      },
      {
        href: "/templates/public/01-service-start",
        text: "Sign out"
      }
    ]
  }) }}

  <div class="govuk-width-container">

    {{ govukPhaseBanner({
      tag: {
        text: "prototype"
      },
      classes: 'govuk-!-margin-top-1',
      html: 'This is a new service - <a class="govuk-link" href="/feedback/new">your feedback</a> will help us to improve it.'
    }) }}

  </div>

