<ul class="acc-navigation__list acc-navigation__list--has-border acc-navigation__list govuk-!-margin-bottom-7">
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if listingTabActive == 'manage listing' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="">Profile
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if listingTabActive == 'notes' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="#">Notes</a>
  </li>

  
</ul>
