<!-- START SUB-NAVIGATION -->
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper govuk-!-padding-0">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-6 govuk-!-margin-top-7">
                  <span class="govuk-caption-l">{{ data.job.defaultSchoolName }}</span>
                  Manage jobs
                </h1>
              </div>
            </div>
            <div class="govuk-grid-row">
							<div class="govuk-grid-column-full">
                <ul class="acc-navigation__list acc-navigation__list--has-border">
                  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if navActive == 'active jobs' }}">
                    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard">Open jobs</a>
                  </li>
                  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if navActive == 'passed deadline' }} ">
                    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/passed-deadline">Closed jobs</a>
                  </li>
                  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if navActive == 'scheduled jobs' }}">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">Scheduled jobs</a>
                  </li>
                  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if navActive == 'draft jobs' }}">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">Draft jobs</a>
                  </li>
                  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if navActive == 'awaiting feedback' }}">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">Jobs awaiting feedback</a>
                  </li>
                </ul>
              </div>
            </div>
        </main>

    </div>
<!-- END SUB-NAVIGATION -->
