<ul class="acc-navigation__list acc-navigation__list--has-border acc-navigation__list govuk-!-margin-bottom-7">
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if listingTabActive == 'applications' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}/applications">Applications ({{ data.jobs[jobId].applicationCount }})</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if listingTabActive == 'interviews' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}/interviews">Interview schedule</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if listingTabActive == 'manage listing' }}">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}">Manage listing</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if listingTabActive == 'statistics' }}">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}/statistics">Statistics</a>
  </li>
</ul>
