<ul class="acc-navigation__list acc-navigation__list--has-border acc-navigation__list govuk-!-margin-bottom-7">
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if listingTabActive == 'manage listing' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}">Manage job listing  
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if listingTabActive == 'applications' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}/applications">Applications</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if listingTabActive == 'invites' }}">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}/invites">Invites</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if listingTabActive == 'statistics' }}">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}/statistics">Statistics</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if listingTabActive == 'activity' }}">
    <a class="govuk-link govuk-link--no-visited-state" href="#">Activity log</a>
  </li>
</ul>
