<div class="app-single-job-action-bar">
  <div>
    {{ govukButton({
      text: "Edit listing",
      classes: "govuk-button--secondary govuk-!-margin-right-1",
      href: "#" 
    }) }}
    {{ govukButton({
      text: "End listing early",
      classes: "govuk-button--secondary govuk-!-margin-right-1",
      href: "#" 
    }) }}
    {{ govukButton({
      text: "Copy listing",
      classes: "govuk-button--secondary govuk-!-margin-right-1",
      href: "#" 
    }) }}
    {{ govukButton({
      text: "Export applications",
      classes: "govuk-button--secondary govuk-!-margin-right-1",
      href: "#" 
    }) }}
  <div>
</div>
