<div class="govuk-button-group">
  {% if data.applications[applicationId].status != 'Rejected' %}

    {% if not data.applications[applicationId].interviewDate %}
    
      {{ govukButton({
        text: "Invite to interview",
        href: "/prototypes/application/expanded/dashboard/job/1/applicant/" + applicationId +  "/invite"
      }) }}

    {% endif %}
    
    {{ govukButton({
      text: "Reject",
      classes: "govuk-button--warning",
        href: "/prototypes/application/expanded/dashboard/job/1/applicant/" + applicationId +  "/reject"
    }) }}

    {{ govukButton({
      text: "Request references",
      classes: "govuk-button--secondary",
      href: "/prototypes/application/expanded/dashboard/job/1/applicant/" + applicationId +  "/references"
    }) }}

  {% endif %}

  {{ govukButton({
    text: "Contact applicant",
    classes: "govuk-button--secondary",
    href: "/prototypes/application/expanded/dashboard/job/" +  job.id + "/applicant/" + application.id + "/contact"
  }) }}

</div>