<h3 id="personal_details" class="govuk-heading-m">Personal details</h3>
<div class="review-component__body">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">First name</dt>
      <dd class="govuk-summary-list__value">{{ data.applications[applicationId].firstname }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Last name</dt>
      <dd class="govuk-summary-list__value">{{ data.applications[applicationId].lastname }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Previous names</dt>
      <dd class="govuk-summary-list__value"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Your address</dt>
      <dd class="govuk-summary-list__value">
        <div class="govuk-body">6289 Rose Radial</div>
        <div class="govuk-body">Lake Rana</div>
        <div class="govuk-body">78421</div>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Phone number</dt>
      <dd class="govuk-summary-list__value">01234 567890</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Email address</dt>
      <dd class="govuk-summary-list__value">
        <a class="govuk-link" href="mailto:felica@schoen-wiegand.info">felica@schoen-wiegand.info</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Teacher reference number (TRN)</dt>
      <dd class="govuk-summary-list__value">1234567</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">National Insurance number</dt>
      <dd class="govuk-summary-list__value">QQ 12 34 56 C</dd>
    </div>
  </dl>
</div>
<div class="review-component" id="professional_status_summary">
  <div class="review-component__heading">
    <div class="review-component__heading__title">
      <h3 class="govuk-heading-m">Professional status</h3>
    </div>
    <div class="review-component__heading__status"></div>
  </div>
  <div class="review-component__body">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Do you have qualified teacher status (QTS)?</dt>
        <dd class="govuk-summary-list__value">
          <span class="govuk-body" id="qualified_teacher_status">Yes, awarded in </span>
          <span class="govuk-body" id="qualified_teacher_status_year">1990</span>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Have you completed your statutory induction year?</dt>
        <dd class="govuk-summary-list__value">Yes</dd>
      </div>
    </dl>
  </div>
</div>
<div class="review-component" id="qualifications_summary">
  <div class="review-component__heading">
    <div class="review-component__heading__title">
      <h3 class="govuk-heading-m">Education and qualifications</h3>
    </div>
    <div class="review-component__heading__status"></div>
  </div>
  <div class="review-component__body">
    <div class="govuk-accordion" data-module="govuk-accordion">
      <div class="govuk-accordion__controls">
        <button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all <span class="govuk-visually-hidden"> sections</span>
        </button>
      </div>
      <div id="degree-section" class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <button type="button" id="gcses" aria-controls="gcses-content" class="govuk-accordion__section-button" aria-expanded="false">Bachelor of Arts (BA) <span class="govuk-accordion__icon" aria-hidden="true"></span>
            </button>
          </h2>
        </div>
        <div id="degree-content" class="govuk-accordion__section-content" aria-labelledby="gcses">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Subjects and grades</dt>
              <dd class="govuk-summary-list__value">
                <div>English Literature - 2:1</div>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">School, college, or other organisation</dt>
              <dd class="govuk-summary-list__value">Leeds University</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Year qualification(s) was/were awarded</dt>
              <dd class="govuk-summary-list__value">2021</dd>
            </div>
          </dl>
        </div>
      </div>
      <div id="gcses-section" class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <button type="button" id="gcses" aria-controls="gcses-content" class="govuk-accordion__section-button" aria-expanded="false">A Levels <span class="govuk-accordion__icon" aria-hidden="true"></span>
            </button>
          </h2>
        </div>
        <div id="gcses-content" class="govuk-accordion__section-content" aria-labelledby="gcses">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Subjects and grades</dt>
              <dd class="govuk-summary-list__value">
                <div>English - B</div>
                <div>Maths - A</div>
                <div>Science - B</div>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">School, college, or other organisation</dt>
              <dd class="govuk-summary-list__value">Marblewald Secondary College</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Year qualification(s) was/were awarded</dt>
              <dd class="govuk-summary-list__value">2017</dd>
            </div>
          </dl>
        </div>
      </div>
      <div id="bachelor-of-biomedical-science-section" class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <button type="button" id="bachelor-of-biomedical-science" aria-controls="bachelor-of-biomedical-science-content" class="govuk-accordion__section-button" aria-expanded="false">GCSEs<span class="govuk-accordion__icon" aria-hidden="true"></span>
            </button>
          </h2>
        </div>
        <div id="bachelor-of-biomedical-science-content" class="govuk-accordion__section-content" aria-labelledby="bachelor-of-biomedical-science">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Subjects and grades</dt>
              <dd class="govuk-summary-list__value">
                <div>Design - A</div>
                <div>Applied Science (Psychology) - B</div>
                <div>Business - A</div>
                <div>Art - B</div>
                <div>History - C</div>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">School, college, or other organisation</dt>
              <dd class="govuk-summary-list__value">Falconholt Secondary College</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Year qualification(s) was/were awarded</dt>
              <dd class="govuk-summary-list__value">2011</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="review-component" id="employment_history_summary">
  <div class="review-component__heading">
    <div class="review-component__heading__title">
      <h3 class="govuk-heading-m">Current role and employment history</h3>
    </div>
    <div class="review-component__heading__status"></div>
  </div>
  <div class="review-component__body">
    <div class="govuk-accordion govuk-!-margin-bottom-2" data-module="govuk-accordion">
      <div class="govuk-accordion__controls">
        <button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all <span class="govuk-visually-hidden"> sections</span>
        </button>
      </div>
      <div id="Teacher-0" class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <button type="button" id="teacher" aria-controls="teacher-content" class="govuk-accordion__section-button" aria-expanded="false">Teacher <span class="govuk-accordion__icon" aria-hidden="true"></span>
            </button>
          </h2>
        </div>
        <div id="teacher-content" class="govuk-accordion__section-content" aria-labelledby="teacher">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">School or other organisation</dt>
              <dd class="govuk-summary-list__value">Brookville High</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Salary</dt>
              <dd class="govuk-summary-list__value">Pay scale level 3</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Subjects and key stages taught</dt>
              <dd class="govuk-summary-list__value">Applied Science (Psychology)</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Main duties</dt>
              <dd class="govuk-summary-list__value">Pariatur qui illum. Est modi voluptas.</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Start date</dt>
              <dd class="govuk-summary-list__value">January 2016</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Is this your current role?</dt>
              <dd class="govuk-summary-list__value">No</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">End date</dt>
              <dd class="govuk-summary-list__value">January 2018</dd>
            </div>
          </dl>
        </div>
      </div>
      <div id="Teacher-1" class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <button type="button" id="teacher" aria-controls="teacher-content" class="govuk-accordion__section-button" aria-expanded="false">Teacher <span class="govuk-accordion__icon" aria-hidden="true"></span>
            </button>
          </h2>
        </div>
        <div id="teacher-content" class="govuk-accordion__section-content" aria-labelledby="teacher">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">School or other organisation</dt>
              <dd class="govuk-summary-list__value">Marblewald High School</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Salary</dt>
              <dd class="govuk-summary-list__value">Pay scale level 3</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Subjects and key stages taught</dt>
              <dd class="govuk-summary-list__value">Teaching</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Main duties</dt>
              <dd class="govuk-summary-list__value">Qui voluptas veniam. Vel nihil iure.</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Start date</dt>
              <dd class="govuk-summary-list__value">March 2016</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Is this your current role?</dt>
              <dd class="govuk-summary-list__value">No</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">End date</dt>
              <dd class="govuk-summary-list__value">December 2018</dd>
            </div>
          </dl>
        </div>
      </div>
      <div id="Teacher-2" class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <button type="button" id="teacher" aria-controls="teacher-content" class="govuk-accordion__section-button" aria-expanded="false">Teacher <span class="govuk-accordion__icon" aria-hidden="true"></span>
            </button>
          </h2>
        </div>
        <div id="teacher-content" class="govuk-accordion__section-content" aria-labelledby="teacher">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">School or other organisation</dt>
              <dd class="govuk-summary-list__value">Ironbarrow Secondary College</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Salary</dt>
              <dd class="govuk-summary-list__value">Pay scale level 3</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Subjects and key stages taught</dt>
              <dd class="govuk-summary-list__value">Commerce</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Main duties</dt>
              <dd class="govuk-summary-list__value">Ullam aliquam voluptatem. Tenetur quod ullam.</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Start date</dt>
              <dd class="govuk-summary-list__value">July 2016</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Is this your current role?</dt>
              <dd class="govuk-summary-list__value">No</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">End date</dt>
              <dd class="govuk-summary-list__value">June 2018</dd>
            </div>
          </dl>
        </div>
      </div>
      <div id="employment-break-3" class="govuk-accordion__section--expanded employment-break">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span id="" class="govuk-accordion__section-button" aria-expanded="false" aria-controls="-content"></span>
          </h2>
        </div>
        <div id="-content" class="govuk-accordion__section-content" aria-labelledby="">
          <div class="govuk-inset-text govuk-!-margin-top-3 govuk-!-margin-bottom-3">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Break in work history</h2>
            <p class="govuk-body govuk-!-margin-bottom-0"></p>
            <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-1">December 2016 to September 2018</p>
          </div>
        </div>
      </div>
      <div id="employment-break-3" class="govuk-accordion__section--expanded employment-break">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span id="" class="govuk-accordion__section-button" aria-expanded="false" aria-controls="-content"></span>
          </h2>
        </div>
        <div id="-content" class="govuk-accordion__section-content" aria-labelledby="">
          <div class="govuk-inset-text govuk-!-margin-top-3 govuk-!-margin-bottom-3">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Break in work history</h2>
            <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-1">27 September 2018 to present</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="review-component" id="personal_statement_summary">
  <div class="review-component__heading">
    <div class="review-component__heading__title">
      <h3 class="govuk-heading-m">Personal statement</h3>
    </div>
    <div class="review-component__heading__status"></div>
  </div>
  <div class="review-component__body">
    <p class="govuk-body review-component__body--border govuk-!-padding-bottom-3">Molestiae recusandae sed. Laudantium ut aut. Ut asperiores ratione. Debitis quo fugit. Recusandae suscipit minus. Voluptatem et nam. Dolorem adipisci deleniti. Quia soluta impedit.</p>
  </div>
</div>
<div class="review-component" id="references_summary">
  <div class="review-component__heading">
    <div class="review-component__heading__title">
      <h3 class="govuk-heading-m">References</h3>
    </div>
    <div class="review-component__heading__status"></div>
  </div>
  <div class="review-component__body">
    <div class="govuk-accordion govuk-!-margin-bottom-5" data-module="govuk-accordion">
      <div class="govuk-accordion__controls">
        <button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all <span class="govuk-visually-hidden"> sections</span>
        </button>
      </div>
      <div id="shane-ruecker-section" class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <button type="button" id="shane-ruecker" aria-controls="shane-ruecker-content" class="govuk-accordion__section-button" aria-expanded="false">Shane Ruecker <span class="govuk-accordion__icon" aria-hidden="true"></span>
            </button>
          </h2>
        </div>
        <div id="shane-ruecker-content" class="govuk-accordion__section-content" aria-labelledby="shane-ruecker">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Job title</dt>
              <dd class="govuk-summary-list__value">Head of department</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Organisation</dt>
              <dd class="govuk-summary-list__value">Clearcourt High School</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Relationship to applicant</dt>
              <dd class="govuk-summary-list__value">Line Manager</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Email address</dt>
              <dd class="govuk-summary-list__value">venessa_kihn@herzog.net</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Phone number</dt>
              <dd class="govuk-summary-list__value">01234 567890</dd>
            </div>
          </dl>
        </div>
      </div>
      <div id="franchesca-wyman-section" class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <button type="button" id="franchesca-wyman" aria-controls="franchesca-wyman-content" class="govuk-accordion__section-button" aria-expanded="false">Franchesca Wyman <span class="govuk-accordion__icon" aria-hidden="true"></span>
            </button>
          </h2>
        </div>
        <div id="franchesca-wyman-content" class="govuk-accordion__section-content" aria-labelledby="franchesca-wyman">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Job title</dt>
              <dd class="govuk-summary-list__value">Head teacher</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Organisation</dt>
              <dd class="govuk-summary-list__value">Flowerlake High</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Relationship to applicant</dt>
              <dd class="govuk-summary-list__value">Line Manager</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Email address</dt>
              <dd class="govuk-summary-list__value">carmelo@schiller-ferry.org</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Phone number</dt>
              <dd class="govuk-summary-list__value">01234 567890</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="review-component" id="ask_for_support_summary">
  <div class="review-component__heading">
    <div class="review-component__heading__title">
      <h3 class="govuk-heading-m">Ask for support if you have a disability or other needs</h3>
    </div>
    <div class="review-component__heading__status"></div>
  </div>
  <div class="review-component__body">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Do you want to ask for support so that you can attend an interview?</dt>
        <dd class="govuk-summary-list__value">
          <div class="govuk-body" id="support_needed">Yes</div>
          <p class="govuk-body" id="support_needed_details">Beatae rerum cum. Consectetur laudantium unde.</p>
        </dd>
      </div>
    </dl>
  </div>
</div>
<div class="review-component" id="declarations_summary">
  <div class="review-component__heading">
    <div class="review-component__heading__title">
      <h3 class="govuk-heading-m">Declarations</h3>
    </div>
    <div class="review-component__heading__status"></div>
  </div>
  <div class="review-component__body">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Do you have any family or close relationship with people within Bexleyheath Academy</dt>
        <dd class="govuk-summary-list__value">
          <div class="govuk-body" id="close_relationships">Yes</div>
          <p class="govuk-body" id="close_relationships_details">Esse cupiditate amet.</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Do you have the right to work in the UK?</dt>
        <dd class="govuk-summary-list__value">Yes</dd>
      </div>
    </dl>
  </div>
</div>