<ul class="acc-navigation__list acc-navigation__list--has-border acc-navigation__list govuk-!-margin-bottom-5">
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if applicationTabActive == 'application' }}">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}/applicant/{{data.applications[applicationId].id}}">Application</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if applicationTabActive == 'notes' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}/applicant/{{data.applications[applicationId].id}}/notes">Notes</a>
  </li>
  {# Show the interview tab if there is an interview date set for this applicant #}
  {# {% if data.applications[applicationId].interviewDate %} #}
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if applicationTabActive == 'interview' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}/applicant/{{data.applications[applicationId].id}}/interview">Interview</a>
  </li>
  {# {% endif %} #}
<li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if applicationTabActive == 'references' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}/applicant/{{data.applications[applicationId].id}}/references">References</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if applicationTabActive == 'timeline' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/expanded/dashboard/job/{{data.jobs[jobId].id}}/applicant/{{data.applications[applicationId].id}}/timeline">Activity log</a>
  </li>
</ul>
