<ul class="acc-navigation__list acc-navigation__list--has-border acc-navigation__list govuk-!-margin-bottom-8">
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if navActive == 'active jobs' }}">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/journey/job-listings/">Active jobs</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if navActive == 'passed deadline' }} ">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/journey/job-listings/01-acc-passed-deadline">Passed deadline</a>
  </li>
  <li class="acc-navigation__list-item {{ 'app-navigation__list-item--current' if navActive == 'scheduled jobs' }}">
    <a class="govuk-link govuk-link--no-visited-state" href="/prototypes/application/journey/job-listings/01-acc-scheduled">Scheduled jobs</a>
  </li>
</ul>
