<div class="timeline-component">
  <ul class="timeline-component__items">
    {# <li class="timeline-component__item">
      <h3 class="timeline-component__key govuk-heading-s">Withdrawn</h3>
      <p class="timeline-component__value govuk-body">27 August 2021 at 3:18pm</p>
    </li>
    <li class="timeline-component__item">
      <h3 class="timeline-component__key govuk-heading-s">Rejected</h3>
      <p class="timeline-component__value govuk-body">2 September 2021 at 3:18pm</p>
    </li>
    <li class="timeline-component__item">
      <h3 class="timeline-component__key govuk-heading-s">Shortlisted</h3>
      <p class="timeline-component__value govuk-body">1 September 2021 at 3:18pm</p>
    </li> #}
    <li class="timeline-component__item">
      <h3 class="timeline-component__key govuk-heading-s">Reviewed</h3>
      <p class="timeline-component__value govuk-body">31 August 2021 at 3:18pm</p>
    </li>
    <li class="timeline-component__item">
      <h3 class="timeline-component__key govuk-heading-s">Application submitted</h3>
      <p class="timeline-component__value govuk-body">30 August 2021 at 3:18pm</p>
    </li>
  </ul>
</div>