{% extends "layout.html" %}

{% block pageTitle %}
  Find a job in Teaching
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form class="start-search">

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">Find a teaching job</h1>
                </legend>
                <!--
                <p>This is a search in England for all teaching jobs. Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</p>
                -->
                <!--
                <div class="govuk-form-group">
                    <label class="govuk-label label-blue" for="keyword">Keyword</label>
                    <input class="govuk-input" id="keyword" name="keyword" type="text" placeholder="e.g. Job title or any other keyword">
                </div>
                -->

                <div class="govuk-form-group">
                    <label class="govuk-label label-blue" for="location">Where to search</label>
                    <input class="govuk-input" id="location" name="location" type="text" placeholder="e.g. City, town or postcode">
                    <p>or <a href="#">use current location</a></p>
                </div>

                <!-- START More filters-->
                <div class="start-show-more">
                    <a href="javascript:void(0);" id="toggle">+ Show more search options</a>
                </div>
                <div class="" id="expand">
                    <!-- Filters go here -->
                </div>
                <!-- END More filters-->

                <button type="submit" class="govuk-button" formaction="search-results-1.html">Search</button>

            </fieldset>
        </form>

        <!-- Regions list START -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Explore teaching jobs by region</h3>
                <ul class="regions-list">
                    <li>
                        <a href="">This is a region name 1</a>
                    </li>
                    <li>
                        <a href="">This is a region name 2</a>
                    </li>
                    <li>
                        <a href="">This is a region name 3</a>
                    </li>
                    <li>
                        <a href="">This is a region name 4</a>
                    </li>
                    <li>
                        <a href="">This is a region name 5</a>
                    </li>
                    <li>
                        <a href="">This is a region name 6</a>
                    </li>
                    <li>
                        <a href="">This is a region name 7</a>
                    </li>
                    <li>
                        <a href="">This is a region name 8</a>
                    </li>
                    <li>
                        <a href="">This is a region name 9</a>
                    </li>
                    <li>
                        <a href="">This is a region name 10</a>
                    </li>
                    <li>
                        <a href="">This is a region name 11</a>
                    </li>
                    <li>
                        <a href="">This is a region name 12</a>
                    </li>
                    <li>
                        <a href="">This is a region name 13</a>
                    </li>
                    <li>
                        <a href="">This is a region name 14</a>
                    </li>
                    <li>
                        <a href="">This is a region name 15</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Regions list END -->

    </div>

    <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">List a teaching job</h2>
            <p>To list a job for your school, you must have an account to sign into this service.</p>
            <button type="submit" class="govuk-button">Sign in</button>
            <p>or find out how to <a href="#">register your school</a>.</p>
        </aside>

    </div>

</div>

{% endblock %}
