{% extends "layout_gds-basic.html" %}

{% block pageTitle %}
  Prototype start
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Commute prototype</h1>
        <h5 class="govuk-heading-s">Usability test - November 2019</h5>
        <p>description lorem</p>


        <a href="start.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start prototype
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>

        <h4 class="govuk-heading-m">All pages</h4>
        <ul>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
        </ul>

    </div>

    <div class="govuk-grid-column-one-third">


    </div>

</div>

{% endblock %}
